@font-face {
  font-family: "Poppins";
  src: url(../../Fonts/Poppins/Poppins-Regular.ttf);
}
@font-face {
  font-family: "Alkatra";
  src: url(../../Fonts/Alkatra/Alkatra-VariableFont_wght.ttf);
}
@font-face {
  font-family: "Lora";
  src: url(../../Fonts/Lora/Lora-VariableFont_wght.ttf);
}

.main-content {
  margin: 10vw auto 0 auto;
  width: 100%;
  min-height: 100vh;
  flex: 1;
}

.welcomeText {
  font-size: 36px;
  font-family: "Poppins Black";
  font-style: italic;
  margin-top: 1vw;
}

section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  margin-top: 3vw;
}

.column1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 8px;
}

.card-header {
  background-color: #cee4f2;
}

.card-footer {
  border: none;
  background-color: #ffff;
}

#pieGraph,
#revenueGraphContainer {
  display: block;
  margin: auto;
}

.revenueGraph {
  width: 32vw;
}

/* Tablet portrait */
@media only screen and (min-width: 600px) and (max-width: 1025px) and (orientation: portrait) {
}

/* Tablet landscape */
@media only screen and (min-width: 600px) and (max-width: 1025px) and (orientation: landscape) {
}

/* Phone size */
@media screen and (max-width: 600px) {
}
