@font-face {
  font-family: "Poppins";
  src: url(../../Fonts/Poppins/Poppins-Regular.ttf);
}
@font-face {
  font-family: "Alkatra";
  src: url(../../Fonts/Alkatra/Alkatra-VariableFont_wght.ttf);
}
@font-face {
  font-family: "Lora";
  src: url(../../Fonts/Lora/Lora-VariableFont_wght.ttf);
}

.navbar {
  position: fixed;
  width: 100%;
  top: 0;
}

.navbar.scrolled {
  background-color: white;
}

.navbar.scrolled #logOutBtn {
  color: #000000 !important;
}

.navbar.scrolled .profile-pic {
  border: 2px solid black;
}

.navbar.scrolled .nav-link {
  color: black !important;
  padding: 10px 15px !important;
}

.navbar.scrolled .nav-link:not(.dropdown-toggle):after {
  border-bottom: 4px solid #000000 !important;
}

.nav-item {
  font-family: "Poppins";
  font-weight: lighter;
  font-size: 1.5vw;
  /* margin-left: 3vw; */
}

.nav-link {
  padding: 10px 15px !important;
}
.nav-link,
#logOutBtn {
  text-decoration: none;
  display: inline-block;
  padding: 10px 15px;
  position: relative;
  color: black !important;
  letter-spacing: 0.1em;
}

#profileAndNotif {
  padding: 0.6vw;
}

#logOutBtn {
  font-family: "Poppins";
  font-size: 1.5vw;
  margin-right: 2vw;
  border: none;
}

.nav-link:not(.dropdown-toggle):after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  border-bottom: 4px solid #ffffff !important;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.nav-link:not(.dropdown-toggle):hover:after {
  width: 100%;
  left: 0;
}

.dropdown-menu {
  background-color: rgb(126, 203, 242, 0.5) !important;
}
.nav-item.dropdown:hover .dropdown-menu {
  background-color: black;
  display: block;
}

.dropdown-item:hover {
  background-color: rgb(126, 203, 242, 0.5) !important;
}

.dropdown-item {
  font-size: 1.3vw;
  font-weight: bold;
}

.account-nav {
  margin: 1px;
  margin-left: 1rem;
  border-radius: 50%;
}

.account-nav .profile-pic {
  height: 5vw;
  aspect-ratio: 1;
  border-radius: 50%;
  object-fit: cover;
}

.notification-container {
  margin: 1rem;
}

.notification-container button {
  background-color: transparent;
  border: none;
}

.notificationIcon {
  display: flex;
  align-items: center;
  height: 2.5vw;
  aspect-ratio: 1;
}

#toggledNav {
  position: absolute !important;
  right: 2vw !important;
}

.main-content {
  margin: 10vw auto 0 auto;
  width: 100%;
  min-height: 100vh;
  flex: 1;
}

.welcomeText {
  font-size: 36px;
  font-family: "Poppins Black";
  font-style: italic;
  margin-top: 1vw;
}

section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  margin-top: 3vw;
}

.column1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 8px;
}

.card-header {
  background-color: #cee4f2;
}

.card-footer {
  border: none;
  background-color: #ffff;
}

#pieGraph,
#revenueGraphContainer {
  display: block;
  margin: auto;
}

.revenueGraph {
  width: 32vw;
}

/* Tablet portrait */
@media only screen and (min-width: 600px) and (max-width: 1025px) and (orientation: portrait) {
}

/* Tablet landscape */
@media only screen and (min-width: 600px) and (max-width: 1025px) and (orientation: landscape) {
}

/* Phone size */
@media screen and (max-width: 600px) {
}
