@font-face {
  font-family: "Poppins";
  src: url(../../../Fonts/Poppins/Poppins-Regular.ttf);
}
@font-face {
  font-family: "Plus Jakarta Sans";
  src: url(../../../Fonts/PlusJakartaSans/PlusJakartaSans-VariableFont_wght.ttf);
}
@font-face {
  font-family: "Prata";
  src: url(../../../Fonts/Prata/Prata-Regular.ttf);
}
@font-face {
  font-family: "Agbalumo";
  src: url(../../../Fonts/Agbalumo/Agbalumo-Regular.ttf);
}

.sidebar {
  width: 23vw;
  background-color: #cee4f2;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  overflow-y: auto;
  border-right: 2px solid #cee4f2;
  border-top-right-radius: 30px;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.home {
  /* border: 1px solid red; */
  padding: 2vw;
}

.homeIcon {
  float: right;
}

.sidebar-header {
  color: black !important;
  margin: 1.5rem 0.5rem 1.5rem 0.5rem;
  padding-top: 2rem;
  h5 {
    font-family: "Plus Jakarta Sans" !important;
    margin: 0;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
  }
}

.list-group {
  font-family: "Poppins";
  font-size: 22px;
  border: none;
  list-style: none;
  margin-top: 3vw;

  a {
    text-decoration: none;
    color: rgb(0, 0, 0) !important;
    background-color: #cee4f2;
  }
}
.list-group-item {
  border: none;
  margin-top: 1vw;
}

#paymentBookingHist {
  text-align: center;
  margin-left: -1.5vw;
}
.sidebar li:hover a,
.list-group-item.active {
  color: #0000;
  background-color: rgb(255, 255, 255);
}

#logoutBtn {
  display: flex;
  margin: auto;
  margin-top: 2rem;
  text-align: center;
  color: black;
  padding-top: 10px;
}

#logoutBtn:hover {
  background-color: rgb(219, 53, 69);
  color: white;
}

.sidebar-icon {
  height: 30px;
  padding-right: 1vw;
}

.customer-account-container {
  /* border: 1px solid red; */
  margin-left: 27vw;
  margin-top: 5rem;
  flex-grow: 1;
  padding: 1rem;
  overflow-y: auto;
}

.card {
  font-family: "Poppins";
  width: 95%;
  padding: 1rem;

  border: none;
  border-radius: 2rem;
}

.account-info {
  display: flex;
  align-items: center;
}

.profile-image {
  display: flex;
  flex-direction: column !important;
  align-items: center;
}   

.profile-info {
  display: flex;
  flex-direction: column !important;
  margin-left: 1rem;
  margin-top: -0.5rem;
}

.changePfpBtn {
  font-family: "Lora" !important;
  font-size: 15px;
  border: none;
  padding: 0.5rem;
  border-radius: 0.5rem;
  text-align: center;
  margin-top: 0.5rem;
  /* background-color: rgb(33, 148, 209); */
  color: rgb(255, 255, 255);
  img {
    height: 35px;
  }
}

.btn-close {
  height: 6vh;
  width: 40px;
  border-radius: 3rem;
}

.modal-body {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.modal-header {
  font-family: "Poppins Black";
  border-bottom: none !important;
}

.custom-file-button {
  font-family: "Lora" !important;
  font-size: 18px;
  width: 150px;
  color: black;
}

.modal-button {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 0.5rem;
}

.account-name {
  font-size: 20px !important;
}
.account-contact {
  font-size: 18px !important;
}

.profile-pic {
  height: 9vw !important;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 50%;
}

.customer-details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-top: 2rem;
}

.info {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 1rem;
}

.info input {
  padding: 0.5rem;
  padding-top: 1.5rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  font-size: 18px !important;
  background-color: #fff;
  text-indent: 1rem;
  width: 100%;
  color: black !important;
}

.roleName {
  text-transform: uppercase;
  font-weight: bold;
}

.info label {
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
  color: #aaa;
  pointer-events: none;
  transition: 0.3s ease all;
}

.info input:focus + label,
.info input:not(:placeholder-shown) + label {
  top: 1rem;
  left: 1rem;
  font-size: 15px;
  color: #796565;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  margin-top: 0.5rem;
}

.edit {
  width: 25%;
  padding: 0.5rem;
  font-size: 20px;
  border: none;
  border-radius: 0.5rem;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.edit:hover {
  background-color: #0056b3;
}

.change-info {
  width: 150px;
}

.swal-custom-title {
  font-family: "Poppins";
  font-size: 18px;
  font-weight: bold;
}

.swal-custom-text {
  font-family: "Poppins";
  font-size: 16px;
}

.swal2-actions {
  width: 100% !important;
  display: flex !important;
  justify-content: center !important;
}

.swal2-confirm {
  margin-right: 2vw !important;
}
