@font-face {
  font-family: "Poppins";
  src: url(../../../Fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
  font-family: "Lora";
  src: url(../../../Fonts/Lora/Lora-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Poppins Black";
  src: url(../../../Fonts/Poppins/Poppins-Black.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sidebar {
  width: 23vw;
  background-color: #cee4f2;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  overflow-y: auto;
  border-right: 2px solid #cee4f2;
  border-top-right-radius: 30px;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.home {
  padding: 2vw;
}

.homeIcon {
  float: right;
}

.sidebar-header {
 color: black !important;
 display: flex;
 flex-direction: column;
 margin: 1rem auto;
  /* margin: 1.5rem 0.5rem 1.5rem 0.5rem; */
  padding-top: .5rem;
  h5 {
    font-family: "Lora" !important;
    margin: 0;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
  }
}

.profileImage{
  margin: auto;
  padding: 1rem;
  img{
    height: 100px;
    width: 100px;
    border-radius: 2rem;
  }
}

.list-group {
  font-family: "Poppins";
  font-size: 22px;
  border: none;
  list-style: none;
  margin-top: .5rem;

  a {
    text-decoration: none;
    color: rgb(0, 0, 0) !important;
    background-color: #cee4f2;
  }
}
.list-group-item {
  border: none;
  margin-top: 1vw;
}

#paymentBookingHist {
  text-align: center;
  margin-left: -1.5vw;
}

.sidebar li:hover a,
.list-group-item.active {
  color: #0000;
  background-color: rgb(255, 255, 255);
}

#logoutBtn {
  display: flex;
  margin: auto;
  margin-top: 2rem;
  text-align: center;
  color: black;
  padding-top: 10px;
}

#logoutBtn:hover {
  background-color: rgb(219, 53, 69);
  color: white;
}

.sidebar-icon {
  height: 30px;
  padding-right: 1vw;
}

.bookingHistContainer {
  /* border: 1px solid red; */
  width: 75%;
  margin-left: 24vw;
  margin-top: 3vw;
}

.title {
  text-align: center;
  font-size: 36px;
  font-family: "Poppins";
  font-weight: bold;
  margin-bottom: 2vw;
}

a {
  text-decoration: none;
}

.table-striped {
  text-align: center;
  width: 100%;
  margin: auto;
  margin-top: 3vw !important;
}

th {
  background-color: #cee4f2 !important;
}

th,
td {
  font-size: 18px;
}

.dt-column-title {
  text-align: center;
}

label {
  margin-left: 1vw;
}

#cancel-content {
  padding: 2vw !important;
}

#cancelModalDesc {
  font-size: 18px;
}
#cancelButtonModal {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vw;
  margin-top: 2vw;
}

/* rate modal */

#rate-modal-header {
  display: flex;
  justify-content: center;
}

.rateSubtitle {
  text-align: center;
}

.d-flex {
  justify-content: center;
}
.fa-star {
  font-size: 3vw;
  padding: 10px;
  color: grey;
  cursor: pointer;
}
.fa-star.orange {
  color: orange;
}
/* rate modal */
