@font-face {
  font-family: "Poppins";
  src: url(../../../Fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
  font-family: "Lora";
  src: url(../../../Fonts/Lora/Lora-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Poppins Black";
  src: url(../../../Fonts/Poppins/Poppins-Black.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sidebar {
  width: 23vw;
  background-color: #cee4f2;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  overflow-y: auto;
  border-right: 2px solid #cee4f2;
  border-top-right-radius: 30px;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.home {
  /* border: 1px solid red; */
  padding: 2vw;
}

.homeIcon {
  float: right;
}

.sidebar-header {
  color: black !important;
  margin: 1.5rem 0.5rem 1.5rem 0.5rem;
  padding-top: 2rem;
  h5 {
    font-family: "Plus Jakarta Sans" !important;
    margin: 0;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
  }
}

.list-group {
  font-family: "Poppins";
  font-size: 22px;
  border: none;
  list-style: none;
  margin-top: 3vw;

  a {
    text-decoration: none;
    color: rgb(0, 0, 0) !important;
    background-color: #cee4f2;
  }
}
.list-group-item {
  border: none;
  margin-top: 1vw;
}

.sidebar li:hover a,
.list-group-item.active {
  color: #0000;
  background-color: rgb(255, 255, 255);
}

#logoutBtn {
  display: flex;
  margin: auto;
  margin-top: 2rem;
  text-align: center;
  color: black;
  padding-top: 10px;
}

#logoutBtn:hover {
  background-color: rgb(219, 53, 69);
  color: white;
}

.sidebar-icon {
  height: 30px;
  padding-right: 1vw;
}

.card {
  display: flex;
  font-family: "Poppins";
  width: 60%;
  margin: auto;
  margin-right: 9rem;
  margin-top: 8rem;
  border-radius: 2rem;
  /* border: 2px solid rgb(255, 255, 255);*/
  /* box-shadow: 0 0 8px 8px rgba(0, 0, 0, 0.2); */
  border: none;
  padding: 1rem;
}

.card-header {
  font-family: "Poppins Black";
  font-size: 25px;
  background-color: transparent;
  border: none;
  text-transform: capitalize;
}

.card-text {
  width: 95%;
  margin: auto;
  text-indent: 3rem;
  text-align: justify;
  line-height: 2;
}

.form-container {
  margin-top: 3rem;
  /* border: 1px solid rgb(0, 0, 0); */
  .message-container {
    text-align: center;
    width: 80%;
    margin: auto;
  }
}

.input-box {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-around !important;
  height: 40px;
  width: 80%;
  margin: auto;
  margin-bottom: 1rem;
}

.input-box label {
  /* border: 1px solid rgb(207, 25, 198); */
  width: 20%;
  font-size: 18px;
  height: 40px;
}

.input-box input {
  border: 1px solid rgb(92, 82, 82);
  border-radius: 0.5rem;
  width: 55%;
  color: black !important;
  padding-left: 1rem;
  /* text-align: center; */
}

/* Modal CSS */

.modal-content {
  font-family: "Poppins";
  padding: 1rem;
}

.modal-header {
  border: none;
  border-bottom: 2px solid #dadad6;
  .btn {
    width: 40px;
    height: 40px;
    border-radius: 3rem;
  }
}

.modal-title {
  text-align: center;
  font-size: 16px;
  margin-left: 5rem;
}

.modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  input {
    width: 70%;
    height: 2.5rem;
    border-radius: 0.5rem;
    border: 1px solid rgb(92, 82, 82);
    padding-left: 1rem;
  }
  #togglePassword {
    position: absolute;
    right: 20%;
    top: 45%;
    transform: translateY(-40%);
    font-size: 20px;
  }
  .button-container {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    justify-content: center;
    .btn {
      width: 100px;
    }
  }
}

input[type="password"]::-ms-reveal,
input[type="password"]::-webkit-contacts-auto-fill-button,
input[type="password"]::-webkit-search-cancel-button {
  display: none;
}

#passwordModal {
  color: black;
  .modal-header {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-bottom: 0;
    border: none;
    .modal-title {
      font-family: "Poppins Black";
      font-size: 20px;
      margin-left: 0;
      margin-bottom: 0.5rem;
    }
    .modal-text {
      font-size: 15px;
      line-height: 2;
      text-align: center;
    }
  }

  .modal-body {
    display: flex;
    font-size: 18px;
    padding-top: 0.5rem;
    .input-container {
      /* border: 1px solid red; */
      width: 100%;
      margin: 0.5rem;
      input {
        border: 1px solid rgb(92, 82, 82);
        width: 100%;
        height: 50px !important;
        padding: 10px 40px 10px 10px;
        font-size: 16px;
        border: 2px solid #ccc;
        box-sizing: border-box;
      }
      label {
        font-size: 16px;
      }
    }
    .error {
      text-align: center;
      width: 80%;
      margin: auto;
    }
  }
  .message-container {
    font-size: 16px;
    margin: 0;
  }
}

.password {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.password i {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 20px;
  transition: right 0.3s ease;
}

.errorMsg {
  color: red;
  font-size: 15px;
  padding: 3px;
}

.swal-custom-title {
  font-family: "Poppins";
  font-size: 18px;
  font-weight: bold;
}

.swal-custom-text {
  font-family: "Poppins";
  font-size: 16px;
}
