@font-face {
  font-family: "Poppins";
  src: url(../Fonts/Poppins/Poppins-Regular.ttf);
}
@font-face {
  font-family: "Lora";
  src: url(../Fonts/Lora/Lora-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Alkatra";
  src: url(../Fonts/Alkatra/Alkatra-VariableFont_wght.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
}

/* html,
  body {
    height: 100%;
    margin: 0;
  }
  
  body {
    display: flex;
    flex-direction: column;
  } */

body {
  background-image: url(../Images/AboutImages/aboutbg.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
  overflow-x: hidden;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
  overflow-x: hidden;
  box-sizing: border-box;
}

/* Div for loader */
#loaderOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Gray out effect */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  position: absolute;
  z-index: 5;
  left: 50%;
  top: 50%;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Edit mode CSS */
#saveChangesBtn {
  margin-top: -10vw !important;
  margin-left: 80vw;
  font-size: 1.8vw !important;
  position: fixed;
}

.editable-input {
  background-color: rgba(255, 255, 255, 0) !important;
  border: 1px solid rgb(255, 13, 13) !important;
  padding: 2px;
}

/* modal css */

.modal-dialog {
  max-width: 60% !important;
}
.modal-body {
  max-height: 500px;

  overflow-y: auto !important;
}
.modal-title {
  margin: auto;
  font-size: 2vw;
}

.modal-footer {
  display: flex;
  margin: auto;
}

#declineBtn,
#acceptBtn {
  width: 15vw;
  border-radius: 30px;
}

/*end of modal css */

.services {
  font-size: 1.7vw !important;
  font-weight: 800 !important;
}

.titleContainer {
  /* border: 1px solid red; */
  width: 100%;
  margin-top: 15vw;
}

.white-text {
  color: whitesmoke !important;
}

.title {
  color: #fff;
  text-align: center;
  font-family: "Lora";
  font-size: clamp(3vw, 4vw, 5vw);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.aboutTopContainer {
  /* border: 1px solid red; */
  padding: 5vw;
  display: flex;
  justify-content: center;
  gap: 3vw;
  margin-top: 30vh;
}

.fa-arrow-left {
  font-size: 3vw;
}

.resortPic {
  width: 40vw;
  border-radius: 64px;
}

.hook,
.servicesTitle,
.videoTitle {
  font-family: "Poppins";
  font-size: clamp(2vw, 2.2vw, 2.4vw);
  text-align: center;
  font-weight: bold;
}

.aboutDescription {
  margin-top: 2vw;
  text-align: justify;
  font-style: normal;
}

.aboutDescription,
.servicesDescription {
  font-size: clamp(1.6vw, 1.4vw, 1.8vw);
  font-family: "Poppins";
}

.btn-primary {
  margin-top: 1vw;
  font-size: 1.5vw !important;
}

.indent {
  text-indent: 2vw;
}

.ourServicesContainer {
  /* border: 1px solid red; */
  border-radius: 20px;
  width: 98%;
  margin: 0 auto;
  background: #f5f5f5;
  margin-top: 2vw;
  padding-top: 5vw;
}

.servicesTitleContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 2vw;
  justify-content: center;
  margin: auto;
  width: 70%;
}

.servicesDescription {
  text-align: center;
}

.servicesIconContainer {
  /* border: 1px solid red; */
  margin-top: 3vw;
  display: flex;
  justify-content: center;
  gap: 5vw;
}

.resortContainer,
.eventContainer,
.hotelContainer {
  /* border: 1px solid red; */
  width: 27%;
  text-align: center;
  /* display: flex;
  flex-wrap: wrap; */
}

.resortIcon,
.eventIcon,
.hotelIcon {
  width: 8vw;
}

.resortIconTitle,
.eventIconTitle,
.hotelIconTitle {
  font-weight: bold;
  text-align: center;
  font-size: 32px;
  margin-top: 2.5vw;
}

.resortIconDescription,
.eventIconDescription,
.hotelIconDescription {
  text-align: center;
  font-size: clamp(1.6vw, 1.4vw, 1.2vw);
  margin-top: 2vw;
}

.videoContainer {
  margin-top: 7vw !important;
  background-color: #4a93d4;
  padding: 4vw;
  border-radius: 20px;
  width: 98%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3vw;
}

.videoTextContainer {
  margin-top: 2vw;
  width: 75%;
}

.videoTitle {
  color: #fff;
  font-style: normal;
  text-align: center;
}

.videoDescription {
  margin-top: 2vw;
  text-align: justify;
  font-family: "Poppins";
  font-size: clamp(1.6vw, 1.4vw, 1.2vw);
  font-style: normal;
  color: #fff;
}

.embed-responsive {
  width: 100%;
  max-width: 900px;
  height: auto;
  margin: auto;
}

.embed-responsive video {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.backArrowContainer {
  position: absolute;
  top: 15vh;
  left: 3%;
}
.mamyrHistoryContainer {
  margin-top: 35vh;
}

.firstParagraphContainer {
  padding: 3vw;
  width: 90%;
  margin: auto;
  display: flex;
  gap: 5vw;
}

.thirdParagraphContainer {
  /* border: 1px solid red; */
  padding: 3vw;
  width: 90%;
  margin: auto;
  margin-top: -3.5vw !important;
  display: flex;
  align-items: center;
  gap: 5vw;
}

.firstParagraphPhoto {
  width: 30vw;
  border-radius: 64px;
}

.thirdParagraphPhoto {
  width: 40vw;
  border-radius: 64px;
}

.firstParagraph,
.secondParagraph,
.thirdParagraph,
.fourthParagraph {
  text-align: justify;
  font-size: clamp(1.6vw, 1.4vw, 1.2vw);
}

.firstParagraph,
.secondParagraph {
  margin-top: 2vw;
}

.fourthParagraph {
  text-align: justify;
  margin-top: 2vw;
}

.fourthParagraphContainer {
  /* border: 1px solid red; */
  padding: 0 3vw 0 3vw;
  width: 90%;
  margin: auto;
  margin-top: -3vw !important;
}

.construction-wrapper {
  margin-top: 8vw;
  margin-bottom: 20vw;
}

.construction-header {
  font-size: 2vw;
  font-weight: bold;
}

.construction-text {
  color: #6c757d;
  margin-bottom: 20px;
  text-align: justify;
}

.construction-image {
  width: 40vw;
  height: auto;
}

/* Tablet Portrait */
@media only screen and (min-width: 600px) and (max-width: 1024px) and (orientation: portrait) {
  .backArrowContainer {
    top: 8vh;
  }
  .mamyrHistoryContainer {
    margin-top: 10vh;
  }

  .fa-arrow-left {
    font-size: 5vw;
  }

  .notification-container {
    margin-top: 0.5vw;
  }
  .title {
    font-size: clamp(5vw, 4vw, 3.5vw);
  }
  .aboutTopContainer {
    margin-top: 10vh;
    gap: 4vw;
    flex-wrap: wrap;
  }
  .resortPic {
    width: 60vw;
    border-radius: 60px;
  }

  .thirdParagraphPhoto,
  .firstParagraphPhoto {
    border-radius: 1vw;
  }
  .hook {
    font-size: 30px;
    text-align: center;
  }
  .aboutDescription,
  .servicesDescription {
    font-size: 2.5vw;
  }
  .resortIconDescription,
  .hotelIconDescription,
  .eventIconDescription {
    font-size: 2vw;
  }
  .videoContainer {
    flex-direction: column-reverse;
    margin-top: 5vw !important;
  }
  .videoTitle {
    font-size: 4vw;
    margin-bottom: 2vw;
  }
  .videoDescription {
    font-size: 2.3vw;
  }

  .btn-primary {
    font-size: 3vw !important;
  }

  .firstParagraphContainer {
    display: flex;
    flex-direction: column-reverse;
  }

  .firstImageContainer {
    display: flex;
    justify-content: center;
  }

  .firstParagraphPhoto {
    width: 50vw;
  }

  .firstParagraph,
  .secondParagraph,
  .thirdParagraph,
  .fourthParagraph {
    font-size: 2.4vw;
  }
}

/* Tablet Landscape */
@media only screen and (min-width: 559px) and (max-width: 1024px) and (orientation: landscape) {
  .aboutTopContainer {
    margin-top: 20vh;
    gap: 4vw;
  }
  .fa-arrow-left {
    font-size: 5vw;
  }

  .resortPic {
    width: 50vw;
    border-radius: 60px;
  }
  .hook {
    font-size: 25px;
  }
  .aboutDescription,
  .servicesDescription {
    font-size: 2.5vw;
  }
  .resortIconDescription,
  .hotelIconDescription,
  .eventIconDescription {
    font-size: 2vw;
  }
  .videoTitle {
    font-size: 4vw;
    margin-bottom: 2vw;
  }
  .videoDescription {
    font-size: 2.3vw;
    width: 110%;
  }
  .videoContainer {
    margin-top: 7vw !important;
  }
  .embed-responsive {
    margin-left: 3vw;
  }

  .btn-primary {
    font-size: 3vw !important;
  }

  .firstParagraphContainer {
    display: flex;
    flex-direction: column-reverse;
  }

  .firstImageContainer {
    display: flex;
    justify-content: center;
  }

  .firstParagraphPhoto {
    width: 50vw;
  }

  .firstParagraph,
  .secondParagraph,
  .thirdParagraph,
  .fourthParagraph {
    font-size: 2.4vw;
  }
}

/* Phones */
@media only screen and (max-width: 599px) {
  .aboutTopContainer {
    flex-direction: column;
    margin-top: 7vh;
    gap: 4vw;
  }
  .fa-arrow-left {
    font-size: 5vw;
  }

  .backArrowContainer {
    top: 8vh;
  }
  .mamyrHistoryContainer {
    margin-top: 10vh;
  }

  .resortPic {
    width: 85vw;
    border-radius: 50px;
    margin: 2vw auto;
  }
  .hook {
    font-size: 25px;
    text-align: center;
    margin-bottom: 2vw;
  }
  .servicesTitle {
    font-size: 25px;
  }

  .servicesIconContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .resortIcon,
  .eventIcon,
  .hotelIcon {
    width: 25vw;
  }
  .resortIconTitle,
  .eventIconTitle,
  .hotelIconTitle {
    font-size: 25px;
  }
  .resortContainer,
  .eventContainer,
  .hotelContainer {
    width: 90%;
  }
  .videoContainer {
    flex-direction: column-reverse;
  }
  .videoTitle {
    font-size: 25px;
  }
  .videoDescription {
    font-size: 15px;
  }
  .videoTextContainer {
    width: 95%;
    margin-top: 0;
  }

  .firstParagraphPhoto,
  .thirdParagraphPhoto {
    border-radius: 2vw;
  }

  .resortIconDescription,
  .eventIconDescription,
  .hotelIconDescription,
  #readMoreBtn {
    font-size: clamp(2.8vw, 2.4vw, 2.6vw) !important;
  }

  .firstParagraph,
  .secondParagraph,
  .thirdParagraph,
  .fourthParagraph,
  .aboutDescription,
  .servicesDescription {
    font-size: clamp(2.6vw, 2.4vw, 2.8vw);
  }
  .firstParagraphContainer,
  .thirdParagraphContainer {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
}
