@font-face {
  font-family: "Poppins";
  src: url(../Fonts/Poppins/Poppins-Regular.ttf);
}
@font-face {
  font-family: "Lora";
  src: url(../Fonts/Lora/Lora-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Alkatra";
  src: url(../Fonts/Alkatra/Alkatra-VariableFont_wght.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
}

/* html,
  body {
    height: 100%;
    margin: 0;
  }
  
  body {
    display: flex;
    flex-direction: column;
  } */

body {
  background-image: url(../Images/AboutImages/aboutbg.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
  overflow-x: hidden;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
  overflow-x: hidden;
  box-sizing: border-box;
}

/* Edit mode CSS */
#saveChangesBtn {
  margin-top: -10vw !important;
  margin-left: 80vw;
  font-size: 1.8vw !important;
  position: fixed;
}

.editable-input {
  background-color: rgba(255, 255, 255, 0) !important;
  border: 1px solid rgb(255, 13, 13) !important;
  padding: 2px;
}

/* modal css */

.modal-dialog {
  max-width: 60% !important;
}
.modal-body {
  max-height: 500px;

  overflow-y: auto !important;
}
.modal-title {
  margin: auto;
  font-size: 2vw;
}

.modal-footer {
  display: flex;
  margin: auto;
}

#declineBtn,
#acceptBtn {
  width: 15vw;
  border-radius: 30px;
}

/*end of modal css */

.services {
  font-size: 1.7vw !important;
  font-weight: 800 !important;
}

.titleContainer {
  width: 100%;
  margin-top: 19vw;
}

.white-text {
  color: whitesmoke !important;
}

.title {
  color: #fff;
  text-align: center;
  font-family: "Lora";
  font-size: clamp(
    var(--font-size-xxl),
    calc(var(--font-size-lg) + 1vh),
    var(--font-size-xl)
  );
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.aboutTopContainer {
  padding: 5vw 5vw 1vw 5vw;
  display: flex;
  justify-content: center;
  gap: 3vw;
  margin-top: 15vw;
}

.fa-arrow-left {
  font-size: 2.5vw;
}

.hook,
.servicesTitle,
.videoTitle {
  font-family: "Poppins";
  font-size: clamp(
    var(--font-size-xl),
    calc(var(--font-size-md) + 1vh),
    var(--font-size-lg)
  );
  text-align: center;
  font-weight: bold;
}

.aboutDescription {
  margin-top: 2vw;
  text-align: justify;
  font-style: normal;
}

.aboutDescription,
.servicesDescription,
.firstParagraph,
.secondParagraph,
.thirdParagraph,
.fourthParagraph {
  font-size: clamp(
    var(--font-size-md),
    calc(var(--font-size-sm) + 1vh),
    var(--font-size-base)
  );
  font-family: "Poppins";
}

.btn-primary {
  margin-top: 1vw;
  font-size: var(--font-size-lg) !important;
}

.indent {
  text-indent: 2vw;
}

.ourServicesContainer {
  border-radius: 20px;
  width: 98%;
  margin: 0 auto;
  background: #f5f5f5;
  margin-top: 2vw;
  padding-top: 1vw;
}

.servicesTitleContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 2vw;
  justify-content: center;
  margin: auto;
  width: 70%;
}

.servicesDescription {
  text-align: center;
}

.servicesIconContainer {
  display: flex;
  justify-content: center;
  gap: 5vw;
}

.resortContainer,
.eventContainer,
.hotelContainer {
  width: 27%;
  text-align: center;
  /* display: flex;
  flex-wrap: wrap; */
}

.resortIcon,
.eventIcon,
.hotelIcon {
  width: 8vw;
}

.resortIconTitle,
.eventIconTitle,
.hotelIconTitle {
  font-weight: bold;
  text-align: center;
  font-size: var(--font-size-lg);
  margin-top: 0.5vw;
}

.resortIconDescription,
.eventIconDescription,
.hotelIconDescription,
.videoDescription {
  text-align: center;
  font-size: var(--font-size-md);
  margin-top: 1vw;
}

.firstParagraphtextContainer,
.topTextContainer,
.videoTextContainer {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.videoContainer {
  margin-top: 3vw !important;
  background-color: #4a93d4;
  padding: 2vw;
  border-radius: 20px;
  width: 98%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3vw;
}

.videoTextContainer {
  margin-top: 2vw;
  width: 75%;
}

.videoTitle {
  color: #fff;
  font-style: normal;
  text-align: center;
}

.videoDescription {
  margin-top: 2vw;
  text-align: justify;
  font-family: "Poppins";
  font-style: normal;
  color: #fff;
}

.embed-responsive {
  width: 100%;
  max-width: 900px;
  height: auto;
  margin: auto;
}

.embed-responsive video {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.backArrowContainer {
  position: absolute;
  top: 20vh;
  left: 3%;
}
.mamyrHistoryContainer {
  margin-top: 18vw;
}

.firstParagraphContainer {
  width: 90%;
  margin: auto;
  display: flex;
  gap: 5vw;
}

.thirdParagraphContainer {
  padding: 3vw;
  width: 90%;
  margin: auto;
  margin-top: -3.5vw !important;
  display: flex;
  align-items: center;
  gap: 5vw;
}

.firstParagraphPhoto {
  width: 25vw;
  border-radius: 50px;
}

.thirdParagraphPhoto,
.resortPic {
  width: 30vw;
  border-radius: 50px;
}

.firstParagraph,
.secondParagraph,
.thirdParagraph,
.fourthParagraph {
  text-align: justify;
}

.firstParagraph,
.secondParagraph {
  margin-top: 2vw;
}

.fourthParagraph {
  text-align: justify;
  margin-top: 2vw;
}

.fourthParagraphContainer {
  width: 90%;
  margin: auto;
  margin-top: -3vw !important;
}

.construction-wrapper {
  margin-top: 8vw;
  margin-bottom: 20vw;
}

.construction-header {
  font-size: 2vw;
  font-weight: bold;
}

.construction-text {
  color: #6c757d;
  margin-bottom: 20px;
  text-align: justify;
}

.construction-image {
  width: 40vw;
  height: auto;
}

/* Tablet Portrait */
@media only screen and (min-width: 600px) and (max-width: 1024px) and (orientation: portrait) {
  .topPicContainer {
    display: flex;
    align-items: center;
  }
  .backArrowContainer {
    top: 12vw;
  }
  .mamyrHistoryContainer {
    margin-top: 13vw;
  }

  .fa-arrow-left {
    font-size: 5vw;
  }

  .notification-container {
    margin-top: 0.5vw;
  }
  .title {
    font-size: var(--font-size-xxl);
  }
  .aboutTopContainer {
    margin-top: 10vw;
    gap: 4vw;
    flex-wrap: wrap;
  }
  .resortPic {
    width: 50vw;
    border-radius: 50px;
  }

  .thirdParagraphPhoto,
  .firstParagraphPhoto {
    border-radius: 1vw;
  }

  .firstParagraphtextContainer,
  .topTextContainer,
  .videoTextContainer {
    align-items: unset;
  }

  .hook {
    font-size: var(--font-size-xl);
    text-align: center !important;
  }
  .aboutDescription,
  .servicesDescription,
  .resortIconDescription,
  .hotelIconDescription,
  .eventIconDescription,
  .videoDescription {
    font-size: var(--font-size-md);
  }
  .videoContainer {
    flex-direction: column-reverse;
    margin-top: 5vw !important;
  }
  #readMoreBtn {
    font-size: var(--font-size-md) !important;
  }
  .videoTitle {
    font-size: 4vw;
    margin-bottom: 2vw;
  }

  .firstParagraphContainer {
    display: flex;
    flex-direction: column-reverse;
  }

  .embed-responsive {
    width: 80% !important;
  }

  .firstImageContainer {
    display: flex;
    justify-content: center;
  }

  .firstParagraphPhoto {
    width: 35vw;
  }

  .thirdParagraphContainer {
    flex-direction: column;
    padding: 4vw 0;
  }
  .thirdImageContainer {
    width: 58%;
  }

  .thirdParagraphPhoto {
    width: 100%;
  }
}

/* Tablet Landscape */
@media only screen and (min-width: 559px) and (max-width: 1024px) and (orientation: landscape) {
  .topPicContainer {
    display: flex;
    align-items: center;
  }
  .aboutTopContainer {
    margin-top: 12vw;
    gap: 4vw;
  }
  .fa-arrow-left {
    font-size: 5vw;
  }

  .resortPic {
    width: 50vw;
    border-radius: 60px;
  }
  .videoTitle {
    margin-bottom: 2vw;
  }
  .videoDescription {
    width: 110%;
  }
  .videoContainer {
    margin-top: 7vw !important;
  }

  #readMoreBtn {
    font-size: var(--font-size-md) !important;
  }
  .embed-responsive {
    margin-left: 3vw;
  }

  #readMoreBtn {
    font-size: var(--font-size-md);
  }

  .firstParagraphContainer {
    display: flex;
    flex-direction: column-reverse;
  }

  .firstImageContainer {
    display: flex;
    justify-content: center;
  }

  .thirdParagraphtextContainer {
    width: 40% !important;
  }
  .thirdParagraphContainer {
    justify-content: space-between;
  }
  .thirdImageContainer {
    width: 58%;
  }

  .thirdParagraphPhoto {
    width: 100%;
  }

  .firstParagraphPhoto {
    width: 40vw;
  }

  .thirdParagraphPhoto,
  .firstParagraphPhoto {
    border-radius: 1vw;
  }
}

/* Phones */
@media only screen and (max-width: 599px) {
  .titleContainer {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .title {
    font-size: clamp(24px, calc(2.4vh + 4px), 27px);
  }
  .aboutTopContainer {
    flex-direction: column;
    margin-top: 6vw;
    gap: 4vw;
  }
  .fa-arrow-left {
    font-size: clamp(28px, calc(2.7vh + 4px), 25px);
  }

  .embed-responsive {
    width: 90% !important;
  }

  .backArrowContainer {
    top: 18vw;
  }
  .mamyrHistoryContainer {
    margin-top: 9vw;
  }

  .resortPic {
    width: 70%;
    border-radius: 50px;
    margin: 2vw auto;
  }
  .hook {
    font-size: 21px;
    text-align: center;
    margin-bottom: 2vw;
  }
  .servicesTitle {
    font-size: 22px;
  }

  .servicesIconContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .resortIcon,
  .eventIcon,
  .hotelIcon {
    width: 20vw;
  }
  .resortIconTitle,
  .eventIconTitle,
  .hotelIconTitle {
    font-size: 21px;
  }
  .resortContainer,
  .eventContainer,
  .hotelContainer {
    width: 90%;
  }
  .videoContainer {
    flex-direction: column-reverse;
  }
  .videoTitle {
    font-size: var(--font-size-md);
  }
  .videoDescription {
    font-size: 16px;
  }
  .videoTextContainer {
    width: 95%;
    margin-top: 0;
  }

  .firstParagraphPhoto,
  .thirdParagraphPhoto {
    width: 12rem;
    border-radius: 2vw;
  }

  .resortIconDescription,
  .eventIconDescription,
  .hotelIconDescription,
  #readMoreBtn {
    font-size: clamp(16px, calc(1.5vh + 4px), 15px) !important;
  }

  .firstParagraph,
  .secondParagraph,
  .thirdParagraph,
  .fourthParagraph,
  .aboutDescription,
  .servicesDescription {
    font-size: clamp(15px, calc(1.6vh + 4px), 14px);
  }

  .servicesTitleContainer {
    width: 100%;
  }

  .firstParagraphContainer,
  .thirdParagraphContainer {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .firstParagraphPhoto {
    width: 50%;
    margin: 2vw auto;
  }

  .thirdParagraphPhoto {
    width: 80%;
  }

  .firstImageContainer,
  .thirdImageContainer {
    display: flex;
    justify-content: center;
  }

  .thirdParagraphContainer {
    padding: 3vw 0;
  }
}

@media only screen and (max-width: 400px) {
  .title {
    font-size: var(--font-size-xl);
  }

  .backArrowContainer {
    top: 20vw;
  }

  .fa-arrow-left {
    font-size: clamp(20px, calc(2.2vh + 4px), 25px);
  }

  .resortIconDescription,
  .eventIconDescription,
  .hotelIconDescription,
  #readMoreBtn {
    font-size: clamp(14px, calc(1.4vh + 4px), 15px) !important;
  }

  .firstParagraph,
  .secondParagraph,
  .thirdParagraph,
  .fourthParagraph,
  .aboutDescription,
  .servicesDescription,
  .videoDescription {
    font-size: clamp(14px, calc(1.4vh + 4px), 15px) !important;
  }

  .resortIconTitle,
  .eventIconTitle,
  .hotelIconTitle {
    font-size: var(--font-size-md);
  }

  .hook {
    font-size: var(--font-size-lg);
    text-align: center;
    margin-bottom: 2vw;
  }
  .servicesTitle {
    font-size: var(--font-size-lg);
  }
}
