@font-face {
  font-family: "Poppins";
  src: url(../Fonts/Poppins/Poppins-Regular.ttf);
}
@font-face {
  font-family: "Plus Jakarta Sans";
  src: url(../Fonts/PlusJakartaSans/PlusJakartaSans-VariableFont_wght.ttf);
}
@font-face {
  font-family: "Prata";
  src: url(../Fonts/Prata/Prata-Regular.ttf);
}
@font-face {
  font-family: "Playfair Display";
  src: url(../Fonts/Playfair_Display/PlayfairDisplay-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
}

body {
  background-repeat: no-repeat;
  background-position: fixed;
  background-size: cover;
  display: flex;
  max-height: 100vh;
}

.navbar {
  position: fixed;
  width: 100%;
  top: 0;
}

.nav-item {
  font-family: "Plus Jakarta Sans";
  font-weight: lighter;
  margin-top: 15px;
  font-size: 1.5vw;
  /* margin-left: 3vw; */
}

.nav-link {
  text-decoration: none;
  display: inline-block;
  padding: 10px 15px !important;
  position: relative;
  color: white !important;
  letter-spacing: 0.1em;
}

.nav-link:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  border-bottom: 4px solid #ffffff !important;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.nav-link:hover:after {
  width: 100%;
  left: 0;
}

.nav-link img {
  width: 2.4vw;
  margin-left: 0.7vw;
}

.navbar-nav {
  margin-right: 3vw;
}

aside {
  background-color: #0f7dc133;
  width: 30% !important;
  height: 200vh !important;
  border-radius: 1vw;
  margin-left: -0.5vw;
}

.headerText {
  width: 80%;
  margin: 5vw auto 1vw auto;
  font-family: "Playfair Display" !important;
}

.headerText h2 {
  text-align: center;
  font-size: 2.5vw;
  font-weight: 600;
}

.userInfo {
  width: 99%;
  margin: 1vw auto;
  display: flex;
  justify-content: center;
}

.userInfo input {
  background: transparent;
  border: none;
  width: 90%;
  font-size: 1.1vw;
}

#nameBox {
  text-align: center;
  width: 90%;
  margin: 1vw auto;
  font-size: 1.5vw;
  font-family: "Playfair Display" !important;
}

.edit-mode {
  background-color: whitesmoke !important;
  border: 1px solid black !important;
  margin-top: 0.2vw;
  border-radius: 0.5vw;
  padding: 0.2vw;
}

.hidden {
  visibility: hidden;
}

.add-image {
  background: whitesmoke;
  margin-top: -1vw;
}

.contents {
  width: 95%;
  margin: 0 auto;
  text-align: center;
}

.details {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: flex-start;
}

.details img {
  width: 2vw;
  margin: 0.5vw 1.3vw 0.5vw 0.5vw;
}

.user-image {
  width: 10vw;
  border-radius: 50%;
}

.profile-image {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2vw auto;
}

.editBtn {
  color: whitesmoke;
  margin: 2vw auto;
}

.editBtn .btn {
  width: 10vw;
}

main {
  width: 70%;
}

th {
  font-size: 1.3vw;
}

.btn {
  width: 5vw !important;
}

table {
  border: 1px solid black;
}

th,
td,
tr {
  padding: 0.3vw;
}

#bookingTable {
  margin: 15vw auto 0 auto;
  width: 95%;
}
