@font-face {
  font-family: "Poppins";
  src: url(../Fonts/Poppins/Poppins-Regular.ttf);
}
@font-face {
  font-family: "Lora";
  src: url(../Fonts/Lora/Lora-VariableFont_wght.ttf);
}
@font-face {
  font-family: "Alkatra";
  src: url(../Fonts/Alkatra/Alkatra-VariableFont_wght.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  /* background-color: rgb(242, 242, 242); */
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* height: 15vh; */
  padding: 1rem;
}

.navbar-nav {
  display: flex !important;
  list-style: none;
}
#profileAndNotif {
  padding: 0.6vw;
}
 
.navbar-nav .dropdown-toggle {
  display: inline-block;
  padding: 10px !important;
  line-height: 1.5;
  vertical-align: middle;
  position: relative;
  top: 0.1vw; /* para ma-align yung dropdown sa ibang nav-item */
}


.nav-item {
  text-transform: uppercase;
  font-family: "Poppins" !important;
  font-weight: lighter;
  margin-top: 15px;
  font-size: 1.5vw;
  /* margin-left: 3vw; */
}

.nav-link,
#logOutBtn {
  text-decoration: none;
  display: inline-block;
  padding: 10px 15px !important;
  position: relative;
  color: rgb(2, 2, 2) !important;
  letter-spacing: 0.1em;
}

#logOutBtn {
  font-family: "Poppins";
  font-size: 1.3vw;
  margin-right: 2vw;
  border: none;
}

.nav-link:not(.dropdown-toggle):after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  border-bottom: 4px solid #93d4f5 !important;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.nav-link.active:after {
  width: 100%;
  left: 0;
}

.nav-link:not(.dropdown-toggle):hover:after {
  width: 100%;
  left: 0;
}

.dropdown-menu {
  background-color: rgb(126, 203, 242, 0.5) !important;
}
.nav-item.dropdown:hover .dropdown-menu {
  background-color: white !important;
  display: block;
}

.dropdown-item:hover {
  background-color: rgb(126, 203, 242, 0.5) !important;
}

.dropdown-item.active {
  background-color: rgb(126, 203, 242) !important;
  color: black !important;
}

.dropdown-item {
  font-size: 1.3vw;
  font-weight: bold;
}

.account-nav {
  display: flex;
  align-items: center;
  border-radius: 50%;
  margin-left: 1rem;
  margin-top: 0 !important;
  img {
    height: 5vw;
    border-radius: 50%;
    aspect-ratio: 1;
    object-fit: cover;
  }
  a {
      height: 100%;
  display: flex;
  align-items: center;
  }
}

#notifs {
  margin-top: 0;
}
.notification-container{
  height: 100%;
  display: flex;
  align-items: center;
  button{
    background-color: transparent;
    border: none;
  }
}

.notificationIcon {
    display: flex;
    align-items: center;
    height: 2.5vw;
    aspect-ratio: 1;
}
/* Div for loader */
#loaderOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Gray out effect */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.notificationIcon {
    display: flex;
    align-items: center;
    height: 2.5vw;
    aspect-ratio: 1;
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  position: absolute;
  z-index: 5;
  left: 50%;
  top: 50%;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.logoNav {
  /* border: 1px solid black; */
  width: 15vw;
  position: absolute;
  margin: 1vw;
}

.amenities {
  margin-top: 9vw;
}

.title {
  text-align: center;
  margin-top: 1vw;
  font-size: clamp(2.2vw, calc(2.3vw + 1vh), 3.8vw);
  font-family: "Lora";
  color: #000000;
}

.embed-responsive {
  width: clamp(500px, 50%, 80%) !important;
  height: auto;
  margin-top: 2vw !important;
  margin: auto;
}

.embed-responsive video {
  width: 100%;
  height: 100%;
}

.amenityLine {
  border: none;
  border-top: 5px solid #d48d31;
  width: 25%;
  margin: 0 auto;
  opacity: 1;
}

.amenityTitle {
  margin-top: 1vw;
  font-size: clamp(2.2vw, calc(2.3vw + 1vh), 2.9vw);
}

.amenityDescription {
  margin-top: 1vw;
  font-size: clamp(1vw, calc(1vw + 1vh), 3vw);
  margin-bottom: 0 !important;
}


.poolPics {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2vw;
  margin-top: 2vw;
}

.pic1,
.pic2 {
  height: 20vw;
  width: auto;
  margin-bottom: 3vw;
  margin-top: 1vw !important;
}

.poolPic1,
.poolPic2,
.poolPic3,
.poolPic4,
.poolPic5 {
  height: clamp(15vw, calc(16vw  + 1vh),18vw);
  width: auto;
}

.carousel-container {
  position: relative;
  width: 60%;
  height: clamp(28vw, 30vw, 32vw);
  margin: 20px auto;
  perspective: 1000px;
}

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transform: rotateY(0deg);
  transition: transform 1s ease;
}

.carousel img {
  position: absolute;
  transform-origin: center center;
  transition: transform 1s ease;
  image-rendering: crisp-edges !important;
}

.poolPic1 {
  transform: rotateY(0deg) translateZ(300px);
}
.poolPic2 {
  transform: rotateY(72deg) translateZ(300px);
}
.poolPic3 {
  transform: rotateY(144deg) translateZ(300px);
}
.poolPic4 {
  transform: rotateY(216deg) translateZ(300px);
}
.poolPic5 {
  transform: rotateY(288deg) translateZ(300px);
}


.amenityTitleContainer {
  width: 85%;
  margin: auto;
  text-align: center;
  padding-top: 1vw !important;
  margin-top: 2vw !important;
}

.colored-bg {
  padding-top: 0.5vw !important;
}

.pavilion, 
.minipavilion, 
.cottage, 
.videoke, 
.hotel {
  padding-bottom: 1vw !important;
}


.btn-primary {
  position: absolute;
  top: 50%;
  z-index: 10;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 30px;
  padding: 10px;
  cursor: pointer;
  transform: translateY(-50%);
}

.prev-btn {
  left: 20px;
  font-size: clamp(20px, 2.2vw, 3.2vw) !important;
}

.next-btn {
  right: 20px;
  font-size: clamp(20px, 2.2vw, 3.2vw) !important;
}

.btn-primary:hover {
  background: rgba(0, 0, 0, 0.8);
}


footer {
  /* border: 1px solid black; */
  margin-top: auto !important;
  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 0.445) -50%,
    rgb(62, 132, 158) 95%
  );
}

.pb-1 {
  gap: 2vw;
  padding: 1vw 0 0 2vw;
}

.logo {
  width: 10vw;
  height: auto;
}
.mb-0 {
  font-family: "Lora";
  font-size: 1.7vw;
  font-weight: bold;
  color: #ffff;
}

.footerLine {
  width: 80%;
  margin: 0 auto;
  color: #fff;
  opacity: 1;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5vw;
}
.locationFooter {
  /* border: 1px solid black; */
  width: 30%;
}

.reservationTitle,
.locationTitle {
  font-family: "Poppins";
  font-weight: bold;
  font-size: 1.5vw;
  color: #fff;
}

.numberFooter,
.emailAddressTextFooter,
.addressTextFooter {
  font-family: "Poppins ExtraLight";
  color: #fff;
  font-size: clamp(1vw, 1.2vw, 1.3vw);
}

.socialIcons {
  display: flex;
  justify-content: center;
  margin: 0.3vw;
}

.socialIcons a {
  text-decoration: none;
  padding: 0.8vw;
  background-color: rgb(255, 255, 255);
  margin: 5px;
  border-radius: 50%;
}

.socialIcons a i {
  font-size: 2vw;
  color: #3e849e;
  opacity: 0.9;
}

.socialIcons a:hover {
  background-color: white;
  transition: 0.5s;
}

.socialIcons a:hover i {
  color: #c1a534;
  transition: 0.5s;
}



/* Tablet size */
@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .navbar {
    height: 10vh;
  }

  button.position-relative {
    padding: 0 !important;
  }

  .profile {
    flex-wrap: nowrap !important;
    flex-direction: row !important;
    align-items: center;
  }

.account-nav {
  .profile-pic {
      height: clamp(6vw, 6.8vw, 7.4vw);
  }
}

  .notificationIcon {
  display: flex;
  align-items: center;
  height:  clamp(2.8vw, 3.2vw, 4vw);
  aspect-ratio: 1;
  }

  .notifBtn {
    margin-left: 1vw;
    height: 100%;
  }

  .logoNav {
    width: 18vw;
  }
  
  .ms-auto {
    position: absolute !important;
    right: 2vw !important;
  }

  .title {
    margin-top: clamp(2vw, calc(1.5vh + 4px), 4vw);
  }

  .amenityTitleContainer {
    width: 75%;
    margin: auto;
    text-align: center;
  }

  .amenityTitle {
    font-size: clamp(3vw, calc(2vw + 4px), 2vw);
    text-align: center;
  }

  .amenityDescription {
    font-size: clamp(2.2vw, 1.9vw, 1.7vw) !important;
  }

  .poolPics {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2vw;
    /* margin-top: 2vw; */
  }

  .pic1 {
    height: clamp(21vw, 25vw, 28vw);
    width: auto;
    margin-bottom: 3vw !important ;
  }

  .poolPic1,
  .poolPic2,
  .poolPic3,
  .poolPic4,
  .poolPic5 {
    height: clamp(20vw, 23vw, 25vw);
    width: auto;
  }

  .carousel-container {
    height: clamp(34vw, 36vw, 38vw);
    position: relative;
    width: 80%;
    margin: 20px auto;
  }

  .carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transform: rotateY(0deg);
    transition: transform 1s ease;
  }

  .carousel img {
    position: absolute;
    transform-origin: center center;
    transition: transform 1s ease;
    image-rendering: crisp-edges !important;
  }

  .poolPic1 {
    transform: rotateY(0deg) translateZ(280px);
  }
  .poolPic2 {
    transform: rotateY(72deg) translateZ(280px);
  }
  .poolPic3 {
    transform: rotateY(144deg) translateZ(280px);
  }
  .poolPic4 {
    transform: rotateY(216deg) translateZ(280px);
  }
  .poolPic5 {
    transform: rotateY(288deg) translateZ(280px);
  }

  .amenityLine  {
    border: none;
    border-top: 5px solid #d48d31;
    width: 30%;
    margin: 0 auto;
    opacity: 1;
  }

  .prev-btn, .next-btn {
    position: absolute;
    top: 50%;
    z-index: 10;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 30px;
    padding: 10px;
    cursor: pointer;
    transform: translateY(-50%);
  }

  .prev-btn {
    left: 20px;
  }

  .next-btn {
    right: 20px;
  }

  button:hover {
    background: rgba(0, 0, 0, 0.8);
  }

    #profileAndNotif {
  padding: 0.6vw;
}

  
  .mb-0 {
    font-size: clamp(2.2vw, calc(1.9vw + 2px), 1.5vw) !important;
  }

  .logo {
    width: 15vw;
  }

  .reservationTitle, .locationTitle {
    font-size: clamp(2.1vw, calc(1.6vw + 2px), 1.3vw) !important;
  }

  .numberFooter, .emailAddressTextFooter, .addressTextFooter {
    font-size: clamp(1.7vw, calc(1.5vw + 2px), 1.2vw) !important;
  }

  .socialIcons a {
    justify-items: center;
    align-items: center;
  }
 
    .socialIcons a i { 
      font-size: 3vw;
    }
}

@media (max-width: 991.98px) {
    #navbarNav .nav-link,
    #navbarNav .dropdown-item {
     color: black !important; 
    }
    .nav-item {
    margin-top: 5px;
    font-size: 2vw;
  }

  a.dropdown-item{
    font-size: 1.8vw !important;
  }
    #profileAndNotif {
      background-color: transparent;
    }

    .navbar-nav {
      background-color: rgb(251, 250, 250);
    }

    #navbar-half2 .btn-outline-danger {
        color: black !important;
        border-color: white !important;
        width: 100%;
        text-align: left;
    }
}

@media (max-width: 991.98px) and (orientation:portrait) {
  .nav-item {
    margin-top: 5px;
  }
}

@media (max-width: 600px) {
  .logoNav {
    width: 20vw !important;
  }

  .navbar {
    height: 10vh;
  }

  .ms-auto {
    position: absolute !important;
    right: 4vw !important;
  }
  .embed-responsive {
    width: clamp(70vw, 75vw, 80vw) !important;
  }

  .account-nav img {
    height: clamp(8.5vw, 9.5vw, 10vw);
    aspect-ratio: 1;
  }

  .notificationIcon {
  display: flex;
  align-items: center;
  height:  clamp(4.5vw, 5.1vw, 6vw);
  aspect-ratio: 1;
  }



  .notifBtn {
    margin-left: 1.5vw;
    margin-top: 0 !important;
  }

  .amenities {
    margin-top: 18vw !important;
  }

  .title {
  font-size: clamp(4.5vw, calc(3.3vw + 1vh), 3.8vw);
  }

  .amenityTitle {
    font-size: clamp(4vw, calc(3vw + 4px), 3vw);
  }

  .amenityLine  {
    border: none;
    border-top: 3px solid #d48d31;
    width: 30%;
    margin: 0 auto;
    opacity: 1;
  }

  .amenityDescription {
  font-size: clamp(1.9vw, calc(1.3vw + 1vh), 3vw);
  }

  .pic1 {
    height: 28vw !important;
  }

  .carousel-container {
    width: 90%;
    height: 240px;
  }

  .carousel img {
    width: 50%; /* Make images smaller */
    height: auto;
  }

   .poolPic1 {
    transform: rotateY(0deg) translateZ(160px);
  }
  .poolPic2 {
    transform: rotateY(72deg) translateZ(160px);
  }
  .poolPic3 {
    transform: rotateY(144deg) translateZ(160px);
  }
  .poolPic4 {
    transform: rotateY(216deg) translateZ(160px);
  }
  .poolPic5 {
    transform: rotateY(288deg) translateZ(160px);
  }

.navbar-toggler-icon {
    width: 23px !important; /* Smaller button size */
  }

.mb-0 {
    font-size: clamp(2.7vw, calc(2.2vw + 4px), 2vw) !important;
  }

  .logo {
    width: 18vw;
  }

  .reservation {
    width: 20%;
  }

  .locationFooter {
    width: 50%;
  }

  .reservationTitle, .locationTitle {
    font-size: clamp(2.4vw, calc(2vw + 2px), 1.8vw) !important;
  }

  .numberFooter, .emailAddressTextFooter, .addressTextFooter {
    font-size: clamp(2.5vw, calc(2vw + 2px), 1.9vw) !important;
  }

  .socialIcons a {
    justify-items: center;
    align-items: center;
    padding: 0.5vw 1.5vw;
  }
 
    .socialIcons a i { 
      font-size: 3.5vw;
    }  
}

@media (max-width: 400px) {
  .carousel-container {
    width: 95%; /* Reduce width further */
    height: 200px; /* Further reduce height */
  }

  .carousel img {
    width: 50%; /* Even smaller images */
  }

  .amenityDescription {
  font-size: clamp(1.7vw, calc(1vw + 1vh), 2.5vw);
  }

  button {
    font-size: 18px; /* Smaller buttons */
  }

  .ms-auto {
    position: absolute !important;
    right: 5vw !important;
  }

    .account-nav {
    .profile-pic {
     height: clamp(11vw, 10vw, 9vw);
    }
  }
  .notificationIcon {
      height: clamp(7vw, 6vw, 5vw);
  }

}