@font-face {
  font-family: "Poppins";
  src: url(../Fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
  font-family: "Lora";
  src: url(../Fonts/Lora/Lora-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Alkatra";
  src: url(../Fonts/Alkatra/Alkatra-VariableFont_wght.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Edit mode CSS */
#saveChangesBtn {
  margin-left: 80vw;
  font-size: 1.8vw !important;
  position: fixed;
}

.editable-input {
  background-color: rgba(255, 255, 255, 0) !important;
  border: 1px solid rgb(255, 13, 13) !important;
  padding: 2px;
}

/* modal css */

.modal-dialog {
  max-width: 60% !important;
}

.modal-body {
  max-height: 500px;

  overflow-y: auto !important;
}

.modal-title {
  margin: auto;
  font-size: 2vw;
}

.modal-footer {
  display: flex;
  margin: auto;
}

#declineBtn,
#acceptBtn {
  width: 15vw;
  border-radius: 30px;
}

/*end of modal css */

.amenities {
  margin-top: 7vw;
}

.title {
  text-align: center;
  margin-top: 1vw;
  font-size: var(--font-size-xxl);
  font-family: "Lora";
  color: #000000;
}

.embed-responsive {
  width: clamp(500px, 60%, 80%) !important;
  height: auto;
  margin-top: 2vw !important;
  margin: auto;
}

.embed-responsive video {
  width: 100%;
  height: 100%;
}

.amenityLine {
  border: none;
  border-top: 5px solid #d48d31;
  width: 25%;
  margin: 0 auto;
  opacity: 1;
}

.amenityTitle,
input.amenityTitle {
  font-size: clamp(
    var(--font-size-xl),
    calc(var(--font-size-md) + 1vh),
    var(--font-size-lg)
  );
  font-weight: var(--font-weight-bold);
  font-family: "Alkatra";
}

input.amenityTitle {
  width: 50%;
}

.amenityDescription,
textarea.amenityDescription {
  margin-top: 1vw;
  font-size: clamp(
    var(--font-size-lg),
    calc(var(--font-size-base) + 1vh),
    var(--font-size-md)
  );
  margin-bottom: 0 !important;
}

.poolPics {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2vw;
  margin-top: 2vw;
}

.pic1,
.pic2 {
  height: 20vw;
  width: auto;
  margin-bottom: 3vw;
  margin-top: 1vw !important;
}

.swiper {
  width: 80%;
  padding: 20px 0;
  margin: 3vw auto;
}

.swiper-slide {
  text-align: center;
  display: flex;
  justify-content: center;
}

.swiper-slide img {
  width: 100%;
  max-width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
  aspect-ratio: 4/3 !important;
}

#videokeSwiper {
  justify-content: center;
}

.amenityTitleContainer {
  width: 85%;
  margin: auto;
  text-align: center;
  padding-top: 2vw !important;
}

.colored-bg {
  padding-top: 0.5vw !important;
}

.pavilion,
.minipavilion,
.cottage,
.videoke,
.hotel {
  padding-bottom: 1vw !important;
}

.cottage,
.hotel {
  background-color: var(--light-blue);
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 50%;
  z-index: 10;
  color: white !important;
  border: none;
  font-size: 30px;
  padding: 10px;
  cursor: pointer;
  transform: translateY(-50%);
}

.popup-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  z-index: 9999;
  opacity: 0;
  transform: scale(0.95);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.popup-container.show {
  display: flex;
  opacity: 1;
  transform: scale(1);
}

.popup-image {
  max-width: 90%;
  max-height: 90%;
  border-radius: 10px;
}

.close-popup {
  position: absolute;
  top: 20px;
  right: 20px;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
  z-index: 10000;
}

/* Tablet size */
@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .amenities {
    margin-top: 9vw;
  }
  .title {
    margin-top: clamp(2vw, calc(1.5vh + 4px), 4vw);
    font-size: var(--font-size-xl);
  }

  .amenityTitleContainer {
    width: 75%;
    margin: auto;
    text-align: center;
  }

  .amenityDescription {
    font-size: clamp(
      var(--font-size-md),
      calc(var(--font-size-md) + 1vh),
      var(--font-size-base)
    );
    text-align: center;
  }

  .amenityTitle {
    font-size: clamp(
      var(--font-size-md),
      calc(var(--font-size-md) + 1vh),
      var(--font-size-lg)
    );
  }

  .pic1 {
    height: clamp(21vw, 25vw, 28vw);
    width: auto;
    margin-bottom: 3vw !important;
  }

  .slideshow-container {
    height: clamp(34vw, 36vw, 38vw);
    position: relative;
    width: 80%;
    margin: 20px auto;
  }
}

@media (max-width: 800px) {
  #videokeSwiper {
    justify-content: unset;
  }
}

@media (max-width: 600px) {
  .embed-responsive {
    width: clamp(70vw, 75vw, 80vw) !important;
  }

  .swiper-wrapper {
    height: 80% !important;
  }

  .amenities {
    margin-top: 18vw !important;
  }

  .title {
    font-size: clamp(4.5vw, calc(3.3vw + 1vh), 3.8vw);
  }

  .amenityTitle {
    font-size: clamp(4vw, calc(3vw + 4px), 3vw);
  }

  .amenityLine {
    border: none;
    border-top: 3px solid #d48d31;
    width: 30%;
    margin: 0 auto;
    opacity: 1;
  }

  .amenityDescription {
    font-size: clamp(1.9vw, calc(1.3vw + 1vh), 3vw);
  }

  .pic1 {
    height: 28vw !important;
  }

  .slideshow-container {
    width: 90%;
    height: 240px;
  }

  .carousel img {
    width: 50%;
    height: auto;
  }

  .prev-btn {
    left: 15%;
  }

  .next-btn {
    right: 15%;
  }
}

@media (max-width: 400px) {
  .slideshow-container {
    width: 95%;
    height: 200px;
  }

  .carousel img {
    width: 50%;
  }

  .amenityDescription {
    font-size: clamp(1.7vw, calc(1vw + 1vh), 2.5vw);
  }

  button {
    font-size: 18px;
  }

  .prev-btn {
    left: 10%;
  }

  .next-btn {
    right: 10%;
  }
}
