@font-face {
  font-family: "Poppins";
  src: url(../Fonts/Poppins/Poppins-Regular.ttf);
}
@font-face {
  font-family: "Lora";
  src: url(../Fonts/Lora/Lora-VariableFont_wght.ttf);
}
@font-face {
  font-family: "Alkatra";
  src: url(../Fonts/Alkatra/Alkatra-VariableFont_wght.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  /* list-style: none; */
}

.topSec {
  width: 100%;
  margin-top: 5vw;
  /* background-color: #fff5be; */
  background-color: #89cdf7;
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.topLeft {
  width: 55%;
}

.topText {
  font-family: "Poppins";
  font-size: 1vw;
  text-transform: uppercase;
  margin-top: 5vw;
}

.headerText {
  font-family: "Poppins";
  font-weight: bold;
  font-size: 2vw;
  /* margin-top: 2vw; */
}

.subtext {
  font-family: "Poppins";
  width: 75%;
  font-size: 1.3vw;
  margin-top: 1.3vw;
}

#applyasPartner {
  margin-top: 3vw;
}

.bpIcon {
  height: 30vw;
}

.partnershipContainer {
  border-radius: 20px;
  width: 98%;
  margin: 0 auto;
  margin-top: 2vw;
  padding-top: 5vw;
}

.partnershipTitleContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 2vw;
  justify-content: center;
  margin: auto;
  width: 70%;
}

.partnershipTitle {
  font-family: "Poppins";
  font-size: 2vw;
  text-align: center;
  font-weight: bold;
}

.partnershipDescription {
  font-family: "Poppins";
  text-align: center;
  font-size: 1.3vw;
}

.middleSec {
  margin-top: -1.5vw;
}
.partnerIconContainer {
  margin-top: 1vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.partnerServiceContainer {
  width: 27%;
  text-align: center;
  padding: 2vw;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.partnerIcon {
  width: 8vw;
}

.partnerTitle {
  font-weight: bold;
  text-align: center;
  font-family: "Poppins";
  font-size: 1.5vw;
  margin-top: 2.5vw;
}

.bottomSec {
  border-radius: 20px;
  width: 98%;
  margin: 0 auto;
  background: #f5f5f5;
  margin-top: 2vw;
  padding-top: 5vw;
}

.BPContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-top: 1vw;
  padding: 2vw;
}

.card.bp-card {
  width: 22rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.281);
}

.card.bp-card img.card-img-top {
  width: 100%;
  max-height: 225px;
  /*  object-position: 90% 60%; optional, depending on the pictures. baka kasi maputol pag hindi na pool pic nakalagay*/
  object-fit: cover;
  display: block;
}

.card-title {
  font-weight: bold;
}

.card-subtitle {
  font-family: "Poppins Light";
}

.card-text {
  text-align: justify;
  margin-top: 1vw;
}

.availability-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.bp-card .badge {
  font-weight: initial;
  line-height: normal;
  font-size: 14px;
  padding: 0.3rem 0.5rem !important;
  width: 7rem;
  border-radius: 5rem !important;
}

.card-footer {
  text-align: center;
  margin-top: var(--margin-md);
}

.button-container {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-top: 1rem;
}

.description-container {
  margin-top: 1.5rem;
  text-align: justify;
}

.card-description {
  font-family: "Poppins";
  font-size: 16px;
}
/* Available */
.badge.bg-green {
  background-color: rgba(40, 167, 70, 0.699) !important;
  color: rgb(255, 255, 255) !important;
}

/* Maintenance */
.bp-card .badge.bg-warning {
  background-color: rgba(245, 189, 6, 0.795) !important;
  color: rgb(255, 255, 255) !important;
}

/* More Details */
.bp-card .badge.bg-light-blue {
  border: 1px solid rgba(54, 163, 235, 0.74) !important;
  background-color: rgba(37, 157, 238, 0.822) !important;
  color: rgb(255, 255, 255) !important;
}
.bp-card .badge.bg-light-blue:hover {
  background-color: rgba(29, 120, 180, 0.815) !important;
  color: #ffff !important;
}

/* Not Available */
.bp-card .badge.bg-danger {
  background-color: rgba(219, 53, 70, 0.719) !important;
  color: rgb(255, 255, 255) !important;
}

/* Contact */
.bp-card .badge.btn.btn-outline-info {
  color: #16a1c7 !important;
}

.bp-card .badge.btn.btn-outline-info:hover {
  color: #ffff !important;
}

.modal-body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.md-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.md-container label {
  font-family: "Poppins";
  font-size: 18px;
  font-weight: bold;
  display: block;
  margin: 0 auto;
  text-align: center;
}

.md-container h5 {
  font-family: "Poppins";
  font-size: 17px;
}

@media only screen and (min-width: 769px) and (max-width: 1024px) and (orientation: portrait) {
  .topSec {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2rem;
  }

  .topLeft,
  .subtext {
    width: 100%;
  }
  .topText {
    font-size: 18px;
  }

  .headerText {
    font-size: 22px;
  }

  .subtext,
  #applyasPartner {
    font-size: 20px;
  }

  .bpIcon {
    width: 320px;
    height: auto;
  }

  .partnershipTitleContainer {
    width: 100%;
    padding: 2rem;
    text-align: center;
  }

  .partnershipTitle {
    font-size: 22px;
  }

  .partnershipDescription {
    font-size: 20px;
    text-align: justify;
  }

  .partnerIconContainer {
    margin-top: 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .partnerIcon {
    width: 90px;
    height: auto;
  }

  .partnerTitle {
    font-size: 20px;
  }

  .card.bp-card {
    width: 20rem;
  }

  .card.bp-card img.card-img-top {
    width: 100%;
    height: 10rem;
    object-position: 90% 60%; /* optional, depending on the pictures. baka kasi maputol pag hindi na pool pic nakalagay*/
    object-fit: cover;
    display: block;
  }

  .md-container label {
    font-size: 18px;
  }

  .md-container h5 {
    font-size: 17px;
  }
}

/* Tablet Landscape */
@media only screen and (min-width: 769px) and (max-width: 1024px) and (orientation: landscape) {
  .topText {
    font-size: 18px;
  }

  .headerText {
    font-size: 22px;
  }

  .subtext,
  #applyasPartner {
    font-size: 20px;
  }

  .bpIcon {
    width: 320px;
    height: auto;
  }

  .partnershipTitle {
    font-size: 22px;
  }

  .partnershipDescription {
    font-size: 20px;
    text-align: justify;
  }

  .md-container label {
    font-size: 18px;
  }

  .md-container h5 {
    font-size: 17px;
  }
}

/* Tablet portrait only */
@media only screen and (min-width: 600px) and (max-width: 768px) {
  .topSec {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2rem;
  }

  .topLeft,
  .subtext {
    width: 100%;
  }
  .topText {
    font-size: 18px;
  }

  .headerText {
    font-size: 22px;
  }

  .subtext,
  #applyasPartner {
    font-size: 20px;
  }

  .bpIcon {
    width: 320px;
    height: auto;
  }

  .partnershipTitleContainer {
    width: 100%;
    padding: 2rem;
    text-align: center;
  }

  .partnershipTitle {
    font-size: 22px;
  }

  .partnershipDescription {
    font-size: 20px;
    text-align: justify;
  }

  .partnerIconContainer {
    margin-top: 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .partnerIcon {
    width: 90px;
    height: auto;
  }

  .partnerTitle {
    font-size: 20px;
  }

  .card.bp-card {
    width: 20rem;
  }

  .card.bp-card img.card-img-top {
    width: 100%;
    height: 10rem;
    object-position: 90% 60%; /* optional, depending on the pictures. baka kasi maputol pag hindi na pool pic nakalagay*/
    object-fit: cover;
    display: block;
  }

  .md-container label {
    font-size: 18px;
  }

  .md-container h5 {
    font-size: 17px;
  }
}

/* Phone size */
@media screen and (max-width: 599px) {
  .topSec {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2rem;
  }

  .topLeft,
  .subtext {
    width: 100%;
  }
  .topText {
    font-size: 16px;
  }

  .headerText {
    font-size: 20px;
  }

  .subtext,
  #applyasPartner {
    font-size: 18px;
  }

  .bpIcon {
    width: 220px;
    height: auto;
  }

  .partnershipTitleContainer {
    width: 100%;
    padding: 2rem;
    text-align: center;
  }

  .partnershipTitle {
    font-size: 20px;
  }

  .partnershipDescription {
    font-size: 18px;
    text-align: justify;
  }

  .partnerIconContainer {
    margin-top: 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .partnerIcon {
    width: 80px;
    height: auto;
  }

  .partnerTitle {
    font-size: 18px;
  }

  .card.bp-card {
    width: 20rem;
  }

  .card.bp-card img.card-img-top {
    width: 100%;
    height: 10rem;
    object-position: 90% 60%; /* optional, depending on the pictures. baka kasi maputol pag hindi na pool pic nakalagay*/
    object-fit: cover;
    display: block;
  }

  .md-container label {
    font-size: 16px;
  }

  .md-container h5 {
    font-size: 15px;
  }
}
