@font-face {
  font-family: "Poppins";
  src: url(../Fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
  font-family: "Lora";
  src: url(../Fonts/Lora/Lora-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Alkatra";
  src: url(../Fonts/Alkatra/Alkatra-VariableFont_wght.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  /* list-style: none; */
}

body {
  background-image: url(../Images//indexPhotos/Background\ 1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

.defaultDiv {
  width: 95%;
  border: 1px solid rgb(182, 239, 250);
  margin: 3vw auto;
  text-align: center;
  padding: 2vw;
  background-color: rgb(207, 244, 252, 0.5);
  color: rgb(5, 107, 171);
}
.titleContainer {
  /* border: 1px solid black; */
  width: 70%;
  margin: auto;
  text-align: center;
  margin-top: 10vw !important;
}

.backButton-container {
  position: absolute;
  left: 7%;
  top: 17%;
}

.title {
  margin-top: 1vw;
  font-size: 2.5vw;
  font-family: "Lora";
  color: #fff;
  font-weight: bold;
}

.titleDescription {
  margin-top: 4vw;
  font-size: 1.4vw;
  color: #fff;
}

.container {
  background-color: #ffff;
  width: 90%;
  border-radius: 40px;
  display: block;
  margin: 0 auto !important;
  margin-top: 4vw !important;
}

.row {
  height: 100% !important;
}

.col {
  padding: 1rem;
}

#busInfoContainer {
  background-color: #78aeff;
}

.repInfoLabel,
.busProofLabel,
.busInfoLabel {
  font-family: "Poppins";
  font-weight: bold;
  font-size: 25.5px;
  text-align: center;
  margin-top: 1rem;
}
.busInfoLabel {
  color: #ffff;
}

.repInfoFormContainer {
  /* border: 1px solid black !important; */
  gap: 1vw;
  margin-top: 2vw;
}

.busInfoFormContainer {
  margin-top: 2vw;
}

.form-control {
  margin-top: 1vw;
}

.form-select {
  margin-top: 1vw;
}

button.close {
  border: none !important;
  background-color: transparent !important;
}

.close span {
  font-size: 3.5vw;
}

.row1 {
  display: flex;
  align-items: center;
  gap: 1vw;
}

.description {
  font-family: "Poppins";
  font-size: 14px;
  text-align: center;
  margin-top: 2vw;
}

.busProofFormContainer {
  margin-top: 4vw;
  /* display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5vw; */
}

.label {
  margin-top: 1.5vw !important;
  font-weight: bold;
  font-family: "Poppins";
  text-align: center;
}

.moreDetails {
  text-decoration: none;
  text-align: center;
  display: block;
  margin: auto;
  margin-top: 1vw;
}

.w-75 {
  display: block !important;
  margin: auto !important;
  margin-top: 1.5vw !important;
}

.btn-light {
  width: 100%;
  margin-top: 1vw;
}

/* modal css */

.modal-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0;
}

.modal-title {
  text-align: center;
  margin-left: 2vw;
  width: 100%;
}

.modalSubtitle {
  text-align: center;
}

.modalRequirementsContainer {
  display: flex;
  justify-content: center;
  margin-top: 2vw;
  gap: 5vw;
}

.stepsContainer {
  margin-top: 1vw;
}
/* modal css */

#phoneNumber {
  position: relative;
}

.custom-tooltip {
  position: absolute;
  color: #ff0000;
  padding: 6px 8px;
  border-radius: 4px;
  font-size: 12px;
  white-space: nowrap;
  top: -30px;
  left: 0;
  z-index: 10;
  display: none;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.custom-tooltip.show {
  display: block;
  opacity: 1;
}

footer {
  background-color: oklch(95.93% 0.022 239.42) !important;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

/* Laptop */
@media screen and (min-width: 1025px) {
  .title {
    margin-top: 1vw !important;
    font-size: 2.4vw;
    font-family: "Lora";
    color: #fff;
    font-weight: bold;
    text-align: center;
    margin-top: 8rem;
  }

  .backButton-container {
    left: 7%;
    top: 17%;
  }

  .titleDescription {
    max-width: 95% !important;
    margin: 2vw auto 0 auto !important;
    font-size: 1.2vw;
    color: #fff;
  }

  .container {
    margin-top: 2vw !important;
  }

  .repInfoFormContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 2px;
    margin-top: 30px !important;
  }
  #submit-request {
    margin-top: 2rem !important;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) and (orientation: portrait) {
  .title {
    margin-top: 8rem !important;
    font-size: 20px;
  }

  .backButton-container {
    left: 7%;
    top: 9.5%;
  }
}

/* Tablet Landscape */
@media only screen and (min-width: 769px) and (max-width: 1024px) and (orientation: landscape) {
  .title {
    margin-top: 7rem;
    font-size: clamp(18px, 3vw, 26px);
  }

  .titleDescription {
    width: 90% !important;
    margin: 2vw auto 0 auto !important;
    font-size: clamp(14px, 1.8vw, 20px);
    text-align: center;
  }
  .container {
    margin-top: 2vw !important;
    min-width: 750px;
  }
  /* Form container auto adjust */
  .repInfoFormContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 2px;
    margin-top: 10px !important;
  }
}

/* Tablet portrait only */
@media only screen and (min-width: 600px) and (max-width: 768px) {
  .titleContainer {
    width: 90%;
  }

  .backButton-container {
    left: 7%;
    top: 9.5%;
  }

  .defaultDiv h2 {
    font-size: clamp(20px, 18px, 19px);
  }
  .title {
    margin-top: 8rem !important;
    font-size: clamp(18px, 20px, 22px);
  }
  .titleDescription {
    width: 100% !important;
    margin: 3vw auto 0 auto !important;
    margin-top: 3vw;
    font-size: clamp(16px, 18px, 14px);
  }

  .right-icons {
    display: flex;
    align-items: center;
    gap: 0.8rem;
  }

  .close span {
    font-size: 5vw;
  }

  #basicInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    height: auto !important;
  }
  .repInfoLabel {
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    margin-top: 1.5vw;
  }
  .row {
    flex-direction: column;
    width: 100% !important;
    margin: 0 !important;
    height: 100%;
    margin-top: 5vw !important;
  }
  .container-wrapper {
    width: 100%;
    max-width: 480px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container {
    width: 600px !important;
    max-width: 1200px !important;
    height: 125vh;
    margin-top: 4vw !important;
  }
  .repInfoLabel {
    font-size: 20px;
    margin-top: 1vw;
  }
  #busInfoContainer {
    background-color: #78aeff;
    width: 750px !important;
    margin-top: -10px;
    /* padding: 15px; */
  }
  .busInfoLabel {
    font-size: 20px;
    margin-top: 2vw;
  }
  .busProofLabel {
    font-size: 20px;
    margin-top: 1rem;
    display: block;
  }
  .busProofFormContainer {
    margin-top: 1rem !important;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5vw;
    flex-direction: column;
  }
  #repInfoContainer {
    padding-bottom: 5vw;
    top: -3vw;
  }
  #busInfoContainer {
    padding-bottom: 2vw;
  }
  #busProofContainer {
    padding-bottom: 5vw;
  }
  .label {
    margin-top: 3vw !important;
  }

  .form-control,
  button.btn-light {
    margin-top: 15px !important;
  }
  #submit-request {
    display: block !important;
    margin: 0 auto !important;
    margin-top: 2rem !important;
    width: 100% !important;
  }
}

/* Phone size */
@media screen and (max-width: 599px) {
  .titleContainer {
    width: 90%;
    margin-top: 5rem !important;
  }

  .backButton-container {
    left: 7%;
    top: 12%;
  }
  .title {
    margin-top: clamp(2rem, 6vw, 4rem);
    font-size: clamp(25px, calc(3.3vh + 4px), 29px);
    padding-top: 3rem;
  }

  .form-control,
  .btn-light {
    margin-top: 20px;
  }

  .defaultDiv h2 {
    font-size: clamp(14px, 15px, 16px);
  }

  .titleDescription {
    width: 100% !important;
    margin: 3vw auto 0 auto !important;
    font-size: clamp(12px, calc(1.5vw + 4px), 25px) !important;
  }

  #basicInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    height: auto !important;
    width: 90%;
  }

  .col {
    margin: 2vw auto;
  }

  .col h4 {
    margin-top: 3vw !important;
  }

  .row {
    flex-direction: column;
    width: 100% !important;
    margin: 0 !important;
    height: 100%;
    margin-top: 5vw !important;
  }

  .container-wrapper {
    width: 100%;
    max-width: 480px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container {
    width: 100%;
    height: auto;
    margin-top: clamp(8px, 4vw, 24px) !important;
  }

  #busInfoContainer {
    background-color: #78aeff;
    width: 100%;
    margin-top: -10px;
  }

  .busInfoLabel,
  .busProofLabel,
  .repInfoLabel {
    font-size: clamp(18px, calc(2.4vh + 4px), 20px);
    margin-top: 1vw;
    font-weight: bold;
    text-align: center;
  }

  .busProofFormContainer {
    margin-top: 1rem !important;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5vw;
  }

  #repInfoContainer {
    padding-bottom: 5vw;
  }

  #busInfoContainer {
    padding-bottom: 2vw;
  }

  #busProofContainer {
    padding-bottom: 2vw;
  }

  #submit-request {
    margin-top: 2vw !important;
  }

  .moreDetails {
    text-decoration: none;
    padding: 0px;
    margin-left: 1vw;
    margin-right: 3vw;
  }
}
