@font-face {
  font-family: "Poppins";
  src: url(../Fonts/Poppins/Poppins-Regular.ttf);
}
@font-face {
  font-family: "Lora";
  src: url(../Fonts/Lora/Lora-VariableFont_wght.ttf);
}
@font-face {
  font-family: "Alkatra";
  src: url(../Fonts/Alkatra/Alkatra-VariableFont_wght.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
}

.topSec {
  width: 100%;
  margin-top: 5vw;
  /* background-color: #fff5be; */
  background-color: #89cdf7;
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.topLeft {
  width: 55%;
}

.topText {
  font-family: "Poppins Light";
  font-size: 1vw;
  text-transform: uppercase;
  margin-top: 5vw;
}

.headerText {
  font-family: "Poppins";
  font-weight: bold;
  font-size: 2vw;
  margin-top: 2vw;
}

.subtext {
  font-family: "Poppins";
  width: 75%;
  font-size: 1.3vw;
  margin-top: 1.3vw;
}

#applyasPartner {
  margin-top: 3vw;
}

.bpIcon {
  height: 30vw;
}

.partnershipContainer {
  border-radius: 20px;
  width: 98%;
  margin: 0 auto;
  margin-top: 2vw;
  padding-top: 5vw;
}

.partnershipTitleContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 2vw;
  justify-content: center;
  margin: auto;
  width: 70%;
}

.partnershipTitle {
  font-family: "Poppins";
  font-size: 2vw;
  text-align: center;
  font-weight: bold;
}

.partnershipDescription {
  font-family: "Poppins";
  text-align: center;
  font-size: 1.3vw;
}

.middleSec {
  margin-top: -1.5vw;
}
.partnerIconContainer {
  margin-top: 1vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.partnerServiceContainer {
  width: 27%;
  text-align: center;
  padding: 2vw;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.partnerIcon {
  width: 8vw;
}

.partnerTitle {
  font-weight: bold;
  text-align: center;
  font-family: "Poppins";
  font-size: 1.5vw;
  margin-top: 2.5vw;
}

.bottomSec {
  border-radius: 20px;
  width: 98%;
  margin: 0 auto;
  background: #f5f5f5;
  margin-top: 2vw;
  padding-top: 5vw;
}

.BPContainer {
  display: flex;
  justify-content: center;
  gap: 3vw;
  margin-top: 1vw;
  padding: 2vw;
}

.bp-card {
  width: 18rem;
}

.card-title {
  font-weight: bold;
  text-align: center;
}

.card-subtitle {
  text-align: center;
  font-family: "Poppins Light";
}

.card-text {
  text-align: justify;
  margin-top: 1vw;
}
