@font-face {
  font-family: "Poppins";
  src: url(../Fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
  font-family: "Lora";
  src: url(../Fonts/Lora/Lora-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Alkatra";
  src: url(../Fonts/Alkatra/Alkatra-VariableFont_wght.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  /* list-style: none; */
}

body {
  background-image: url(../Images//indexPhotos/Background\ 1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  /* background-color: rgb(242, 242, 242); */
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* height: 15vh; */
  padding: 1rem;
  /* background-color: rgba(255, 255, 255, 0.562); */
  /* backdrop-filter: blur(8px); */
  /* -webkit-backdrop-filter: blur(8px); */
}

.navbar-nav {
  display: flex !important;
  list-style: none;
  margin-top: 10px !important;
}

.navbar-nav .dropdown-toggle {
  display: inline-block;
  padding: 10px 15px !important;
  line-height: 1.5;
  vertical-align: middle;
  position: relative;
  top: 0.12vw; /* para ma-align yung dropdown sa ibang nav-item */
}

.navbar.scrolled {
  background-color: white;
  .nav-link {
    color: black !important;
  }
  .nav-link:not(.dropdown-toggle):after {
    border-bottom: 4px solid rgb(126, 203, 242) !important;
  }

  #logOutBtn {
    color: #000000 !important;
  }
}

.nav-link,
#logOutBtn {
  text-decoration: none;
  display: inline-block;
  padding: 10px 15px !important;
  position: relative;
  color: rgb(255, 255, 255) !important;
  letter-spacing: 0.1em;
}

#logOutBtn {
  font-family: "Poppins";
  font-size: 1.3vw;
  margin-right: 2vw;
  border: none;
}

.nav-link:not(.dropdown-toggle):after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  border-bottom: 4px solid rgb(255, 255, 255) !important;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.nav-link.active:after {
  width: 100%;
  left: 0;
}

.nav-link:not(.dropdown-toggle):hover:after {
  width: 100%;
  left: 0;
}

.nav-item.dropdown:hover .dropdown-menu {
  background-color: white !important;
  display: block;
}

.dropdown-menu {
  background-color: rgba(255, 255, 255, 0.5) !important;
}

.dropdown-item:hover {
  background-color: rgb(126, 203, 242, 0.5) !important;
}

.dropdown-item {
  font-size: 1.3vw;
  font-weight: bold;
}

.account-nav {
  margin: 1px;
  margin-left: 1rem;
  /* border: 1px solid white; */
  border-radius: 50%;
  img {
    height: 5vw;
    border-radius: 50%;
    aspect-ratio: 1;
    object-fit: cover;
  }
}

.notification-container{
  margin: 1rem;

  button{
    background-color: transparent;
    border: none;
  }
}



.logoNav {
  /* border: 1px solid black; */
  width: 15vw;
  position: absolute;
  margin: 2vw;
}

footer {
  /* border: 1px solid black; */
  margin-top: auto !important;
  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 0.445) -50%,
    rgb(62, 132, 158) 95%
  );
}

.pb-1 {
  gap: 2vw;
  padding: 1vw 0 0 2vw;
}

.logo {
  width: 10vw;
  height: auto;
}
.mb-0 {
  font-family: "Lora";
  font-size: 1.5vw;
  font-weight: bold;
  color: #ffff;
}

.footerLine {
  width: 80%;
  margin: 0 auto;
  color: #fff;
  opacity: 1;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5vw;
}
.locationFooter {
  /* border: 1px solid black; */
  width: 30%;
}

.reservationTitle,
.locationTitle {
  font-family: "Poppins";
  font-weight: bold;
  font-size: 1.5vw;
  color: #fff;
}

.numberFooter,
.emailAddressTextFooter,
.addressTextFooter {
  font-family: "Poppins ExtraLight";
  color: #fff;
  font-size: 1vw;
}

.socialIcons {
  display: flex;
  justify-content: center;
  margin: 0.3vw;
}

.socialIcons a {
  text-decoration: none;
  padding: 0.8vw;
  background-color: rgb(255, 255, 255);
  margin: 5px;
  border-radius: 50%;
}

.socialIcons a i {
  font-size: 2vw;
  color: #3e849e;
  opacity: 0.9;
}

.socialIcons a:hover {
  background-color: white;
  transition: 0.5s;
}

.socialIcons a:hover i {
  color: #c1a534;
  transition: 0.5s;
}

.titleContainer {
  /* border: 1px solid black; */
  width: 70%;
  margin: auto;
  text-align: center;
  margin-top: 10vw !important;
}

.title {
  margin-top: 1vw;
  font-size: 2.5vw;
  font-family: "Lora";
  color: #fff;
  font-weight: bold;
}

.titleDescription {
  margin-top: 4vw;
  font-size: 1.4vw;
  color: #fff;
}

.container {
  /* border: 1px solid black !important; */
  background-color: #ffff;
  width: 1289px;
  height: 436px;
  border-radius: 40px;
  display: block;
  margin: 0 auto !important;
  margin-top: 4vw !important;
}

#busInfoContainer {
  background-color: #78aeff;
  height: 436px;
}

.repInfoLabel,
.busProofLabel {
  font-family: "Poppins";
  font-weight: bold;
  font-size: 25.5px;
  text-align: center;
  margin-top: 1.5vw;
}
.busInfoLabel {
  font-family: "Poppins";
  font-weight: bold;
  font-size: 25.5px;
  text-align: center;
  margin-top: 1.5vw;
  color: #ffff;
}

.repInfoFormContainer {
  /* border: 1px solid black !important; */
  padding: 2vw;
  gap: 1vw;
  margin-top: 2.5vw;
}

.busInfoFormContainer {
  margin-top: 2vw;
}

.form-control {
  margin-top: 1vw;
}

.form-select {
  margin-top: 1vw;
}

.row1 {
  display: flex;
  align-items: center;
  gap: 1vw;
}

.description {
  font-family: "Poppins";
  font-size: 14px;
  text-align: center;
  margin-top: 2vw;
}

.busProofFormContainer {
  margin-top: 4vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5vw;
}

.moreDetails {
  text-decoration: none;
}

.btn-primary {
  margin-top: 5vw;
}

/* modal css */

.modal-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0;
}

.modal-title {
  text-align: center;
  margin-left: 2vw;
  width: 100%;
}

.modalSubtitle {
  text-align: center;
}

.modalRequirementsContainer {
  display: flex;
  justify-content: center;
  margin-top: 2vw;
  gap: 5vw;
}

.stepsContainer {
  margin-top: 1vw;
}
/* modal css */

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
