@font-face {
  font-family: "Poppins";
  src: url(../Fonts/Poppins/Poppins-Regular.ttf);
}
@font-face {
  font-family: "Plus Jakarta Sans";
  src: url(../Fonts/PlusJakartaSans/PlusJakartaSans-VariableFont_wght.ttf);
}
@font-face {
  font-family: "Prata";
  src: url(../Fonts/Prata/Prata-Regular.ttf);
}
@font-face {
  font-family: "Agbalumo";
  src: url(../Fonts/Agbalumo/Agbalumo-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  /* list-style: none; */
}

body {
  background-image: url(../Images/beOurPartnerPhotos/beOurPartnerbg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  /* background-color: rgb(242, 242, 242); */
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15vh;
  padding: 1rem;
  /* background-color: rgba(255, 255, 255, 0.562); */
  /* backdrop-filter: blur(8px); */
  /* -webkit-backdrop-filter: blur(8px); */
}

.navbar-nav {
  display: flex !important;
  list-style: none;
  margin-top: 10px !important;
}

.navbar-nav .dropdown-toggle {
  display: inline-block;
  padding: 10px 15px !important;
  line-height: 1.5;
  vertical-align: middle;
  position: relative;
  top: -0.45vw; /* para ma-align yung dropdown sa ibang nav-item */
}

.navbar.scrolled {
  background-color: white;
  .nav-link {
    color: black !important;
  }
  .nav-link:not(.dropdown-toggle):after {
    border-bottom: 4px solid rgb(126, 203, 242) !important;
  }

  #logOutBtn {
    color: #000000 !important;
  }
}

ul {
  font-family: "Poppins";
  font-weight: lighter;
  font-size: 1.3vw;
  list-style: none;
  display: table;
  text-transform: uppercase;
}

.nav-link,
#logOutBtn {
  text-decoration: none;
  display: inline-block;
  padding: 10px 15px !important;
  position: relative;
  color: rgb(255, 255, 255) !important;
  letter-spacing: 0.1em;
}

#logOutBtn {
  font-family: "Poppins";
  font-size: 1.3vw;
  margin-right: 2vw;
  border: none;
}

.nav-link:not(.dropdown-toggle):after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  border-bottom: 4px solid rgb(255, 255, 255) !important;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.nav-link.active:after {
  width: 100%;
  left: 0;
}

.nav-link:not(.dropdown-toggle):hover:after {
  width: 100%;
  left: 0;
}

.nav-item.dropdown:hover .dropdown-menu {
  background-color: white !important;
  display: block;
}

.dropdown-menu {
  background-color: rgba(255, 255, 255, 0.5) !important;
}

.dropdown-item:hover {
  background-color: rgb(126, 203, 242, 0.5) !important;
}

.dropdown-item {
  font-size: 1.3vw;
  font-weight: bold;
}
.account-nav {
  margin: 1px;
  margin-left: 1rem;
  border: 1px solid white;
  border-radius: 2rem;
  img {
    height: 8vh;
    border-radius: 2rem;
  }
}

.logoNav {
  /* border: 1px solid black; */
  width: 15vw;
  position: absolute;
  margin: 2vw;
}

footer {
  /* border: 1px solid black; */
  margin-top: auto !important;
  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 0.445) -50%,
    rgb(62, 132, 158) 95%
  );
}

.pb-1 {
  gap: 2vw;
  padding: 1vw 0 0 2vw;
}

.logo {
  width: 10vw;
  height: auto;
}
.mb-0 {
  font-family: "Prata";
  font-size: 1.5vw;
  font-weight: bold;
  color: #ffff;
}

.footerLine {
  width: 80%;
  margin: 0 auto;
  color: #fff;
  opacity: 1;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5vw;
}
.locationFooter {
  /* border: 1px solid black; */
  width: 30%;
}

.reservationTitle,
.locationTitle {
  font-family: "Plus Jakarta Sans";
  font-weight: bold;
  font-size: 1.5vw;
  color: #fff;
}

.numberFooter,
.emailAddressTextFooter,
.addressTextFooter {
  font-family: "Poppins ExtraLight";
  color: #fff;
  font-size: 1vw;
}

.socialIcons {
  display: flex;
  justify-content: center;
  margin: 0.3vw;
}

.socialIcons a {
  text-decoration: none;
  padding: 0.8vw;
  background-color: rgb(255, 255, 255);
  margin: 5px;
  border-radius: 50%;
}

.socialIcons a i {
  font-size: 2vw;
  color: #3e849e;
  opacity: 0.9;
}

.socialIcons a:hover {
  background-color: white;
  transition: 0.5s;
}

.socialIcons a:hover i {
  color: #c1a534;
  transition: 0.5s;
}

.titleContainer {
  /* border: 1px solid black; */
  width: 70%;
  margin: auto;
  text-align: center;
  margin-top: 10vw !important;
}

.title {
  margin-top: 1vw;
  font-size: 2.5vw;
  font-family: "Prata";
  color: #fff;
  font-weight: bold;
}

.description {
  margin-top: 4vw;
  font-size: 1.4vw;
  color: #fff;
}

.center-card {
  margin-top: 5vw !important;
}

.card {
  max-width: 100%;
  border-radius: 2vw !important;
  box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
}

.card-header {
  background-color: #fff !important;
  border-top-left-radius: 2vw !important;
  border-top-right-radius: 2vw !important;
  padding: 2vw !important;
}

.card-title {
  text-align: center;
}

.titleCard {
  font-family: "Plus Jakarta Sans";
  font-size: 2vw;
  font-weight: bold;
}

.titleDesc {
  font-family: "Plus Jakarta Sans";
  font-size: 1.3vw;
}

.card-body {
  padding: 2vw !important;
}

.form-control {
  margin-bottom: 2vw;
  height: 4vw;
}

#document {
  height: 2.8vw;
}

.busTypeName {
  margin: 0;
  white-space: nowrap;
}

.busAddForm {
  margin-top: 2vw;
}

.dropdown-toggle {
  margin-top: 0.5vw;
}

.btn-md {
  margin: 2vw;
}

.name,
.contact {
  display: flex;
  gap: 2vw;
}

.busAddress {
  margin-top: 2vw;
}

.businessType {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

#other-input {
  margin-top: 1vw;
}

.btn-primary {
  width: 100% !important;
}

.busAddForm {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
  max-width: 800px;
  justify-content: center;
}

.streetAddRow {
  grid-column: span 3;
  display: flex;
  justify-content: center;
  gap: 8px;
}

#streetAddress {
  grid-column: 2;
}

#address2 {
  grid-column: 3;
}
#city {
  grid-column: 1;
}

#province {
  grid-column: 2;
}

#zip {
  grid-column: 3;
}
