@font-face {
  font-family: "Poppins";
  src: url(../Fonts/Poppins/Poppins-Regular.ttf);
}
@font-face {
  font-family: "Lora";
  src: url(../Fonts/Lora/Lora-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Alkatra";
  src: url(../Fonts/Alkatra/Alkatra-VariableFont_wght.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
}

/* html,
  body {
    height: 100%;
    margin: 0;
  }
*/
body {
  margin: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  /* background-color: rgb(242, 242, 242); */
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.navbar-nav {
  display: flex !important;
  list-style: none;
  margin-top: 5px !important;
}

#toggledNav {
    position: absolute !important;
    right: 2vw !important;
}

.navbar.scrolled {
  background-color: rgb(255, 255, 255);
  .nav-link {
    color: black !important;
  }
  .nav-link:not(.dropdown-toggle):after {
    border-bottom: 4px solid #000000 !important;
  }

  #logOutBtn {
    color: #000000 !important;
  }
}

.navbar-nav .dropdown-toggle {
  display: inline-block;
  padding: 10px 15px !important;
  line-height: 1.5;
  vertical-align: middle;
  position: relative;
  top: 0.1vw; /* para ma-align yung dropdown sa ibang nav-item */
}

ul {
  font-family: "Poppins";
  font-weight: lighter;
  font-size: 1.3vw;
  list-style: none;
  display: table;
  text-transform: uppercase;
}

.nav-link,
#logOutBtn {
  text-decoration: none;
  display: inline-block;
  padding: 10px 15px !important;
  position: relative;
  color: rgb(2, 2, 2) !important;
  letter-spacing: 0.1em;
}

#logOutBtn {
  font-family: "Poppins";
  font-size: 1.3vw;
  margin-right: 2vw;
  border: none;
}
.nav-link:not(.dropdown-toggle):after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  border-bottom: 4px solid #93d4f5 !important;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.nav-link.active:after {
  width: 100%;
  left: 0;
}

.nav-link:not(.dropdown-toggle):hover:after {
  width: 100%;
  left: 0;
}

.dropdown-menu {
  background-color: rgb(126, 203, 242, 0.5) !important;
}
.nav-item.dropdown:hover .dropdown-menu {
  background-color: white !important;
  display: block;
}

.dropdown-item:hover {
  background-color: rgb(126, 203, 242, 0.5) !important;
}

.dropdown-item.active {
  background-color: rgb(126, 203, 242) !important;
  color: black !important;
}

.dropdown-item {
  font-size: 1.3vw;
  font-weight: bold;
}

.account-nav {
  height: 100%;
  display: flex;
  align-items: center;
  border-radius: 50%;
  margin-left: 2vw;
  margin-top: 0 !important;
  img {
    height: 5vw;
    border-radius: 50%;
    aspect-ratio: 1;
    object-fit: cover;
  }
  a {
    height: 100%;
    display: flex;
    align-items: center;
  }
}

.notification-container {
  margin: 1rem;
  height: 100%;
  display: flex;
  align-items: center;
}

button.notifBtn {
  background-color: transparent;
  border: none;
  padding: 0 !important;
  margin-left: 2vw;
}

.notificationIcon {
  display: flex;
  align-items: center;
  height: 2.2vw;
  aspect-ratio: 1;
}

.logoNav {
  /* border: 1px solid black; */
  width: 15vw;
  position: absolute;
  margin: 2vw;
}

/* code for body */

.titleContainer {
  width: 70%;
  margin: 9vw auto 2vw auto;
  text-align: center;
}

.titleContainer h4 {
  font-size: 2vw !important;
}

#maintext {
  font-size: 3vw !important;
}

.title h5 {
  font-size: 1.7vw !important;
}

.posts,
.title {
  width: 95%;
  margin: 0 auto;
  display: flex;
}

.blogHeading h4 {
  font-weight: 800 !important;
  font-size: 2.4vw;
}

.featured {
  width: 50%;
}

.featuredpost {
  display: grid;
  width: 100%;
  padding: 1vw;
}

.blogDescription p,
.eventType p {
  font-size: 1.4vw;
}

.featuredpost img {
  width: 45vw;
}

.others {
  display: grid;
  width: 50%;
}
.othersImg {
  object-fit: contain;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

#featuredReadmore,
.othersReadmore {
  font-size: clamp(1.5vw, calc(1.2vw + 2px), 1vw) !important;
}

.othersEventType p {
  font-size: 1.3vw !important;
}

.eventType p,
.othersEventType p {
  margin-bottom: 0 !important;
}

.othersHeading h4 {
  font-size: 1.6vw !important;
  font-weight: 800;
}

.othersDescription {
  font-size: 1.2vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post {
  margin-bottom: 1vw;
}

.post img {
  width: 18vw;
  border: 1px solid black;
}

.othersDesc {
  display: flex;
  flex-direction: column;
}

.btn-primary {
  display: flex;
  align-self: flex-end;
  text-align: center;
}

 button.btn-primary{
    font-size: 1.3vw;
}
/* end of code for body */

/* code for modal */

.modal-header h5 {
  font-size: 1.7vw;
  font-weight: 700;
  margin: 0 auto !important;
  text-align: center;
}

.btn-close {
  margin-left: -1vw;
}

.bookNowBtn {
 width: 15vw;
}

.modal-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
    padding: 0.8vw;
}

.modal-body img {
  width: 50%;
  margin: 1vw auto !important;

}

.blog-full-content {
  width: 80%;
  margin: 1vw auto !important;
  text-align: center;
  font-size: clamp(1.3vw, 1.1vw, 1vw);
}

.text-muted {
  text-align: center;
  margin-bottom: 0;
}

.modal-footer button {
  font-size: 1.3vw;
}

/* end of code for modal */

footer {
  /* border: 1px solid black; */
  margin-top: auto !important;
  margin-bottom: 0 !important;
  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 0.445) -50%,
    rgb(62, 132, 158) 95%
  );
}

.pb-1 {
  gap: 2vw;
  padding: 1vw 0 0 2vw;
}

.logo {
  width: 10vw;
  height: auto;
}
.mb-0 {
  font-family: "Lora";
  font-size: 1.5vw;
  font-weight: bold;
  color: #ffff;
}

.footerLine {
  width: 80%;
  margin: 0 auto;
  color: #fff;
  opacity: 1;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5vw;
}
.locationFooter {
  /* border: 1px solid black; */
  width: 30%;
}

.reservationTitle,
.locationTitle {
  font-family: "Poppins";
  font-weight: bold;
  font-size: 1.5vw;
  color: #fff;
}

.numberFooter,
.emailAddressTextFooter,
.addressTextFooter {
  font-family: "Poppins ExtraLight";
  color: #fff;
  font-size: 1vw;
}

.socialIcons {
  display: flex;
  justify-content: center;
  margin: 0.3vw;
}

.socialIcons a {
  text-decoration: none;
  padding: 0.8vw;
  background-color: rgb(255, 255, 255);
  margin: 5px;
  border-radius: 50%;
}

.socialIcons a i {
  font-size: 2vw;
  color: #3e849e;
  opacity: 0.9;
}

.socialIcons a:hover {
  background-color: white;
  transition: 0.5s;
}

.socialIcons a:hover i {
  color: #c1a534;
  transition: 0.5s;
}

.construction-wrapper {
  margin-top: 8vw;
  margin-bottom: 20vw;
}

.construction-header {
  font-size: 2vw;
  font-weight: bold;
}

.construction-text {
  color: #6c757d;
  margin-bottom: 20px;
  text-align: justify;
}

.construction-image {
  width: 40vw;
  height: auto;
}

/* Tablet size */
@media only screen and (min-width: 600px) and (max-width: 1025px) {
  .profile {
    flex-wrap: nowrap !important;
    flex-direction: row !important;
    align-items: center;
  }

  .account-nav img {
    height: clamp(5vw, 6.5vw, 7.1vw);
    aspect-ratio: 1;
  }

  .notificationIcon {
    display: flex;
    align-items: center;
    height: clamp(3vw, 3.4vw, 4.1vw);
    aspect-ratio: 1;
  }

  button.btn {
    margin-left: 1.5vw;
  }

  .navbarDropdown {
    text-align: center;
    width: 100%;
  }

  .nav-item {
    font-size: clamp(10px, calc(1.5vh + 4px), 12px);
  }
}

/* Tablet portrait */
@media only screen and (min-width: 600px) and (max-width: 1025px) and (orientation: portrait) {
  .logoNav {
    top: 2vw;
  }

  .profile {
    flex-wrap: nowrap !important;
    flex-direction: row !important;
    align-items: center;
  }

  .account-nav img {
    height: clamp(5.2vw, 6.8vw, 7.3vw);
    aspect-ratio: 1;
  }

  .notificationIcon {
    display: flex;
    align-items: center;
    height: clamp(3vw, 3.8vw, 4.2vw);
    aspect-ratio: 1;
  }

  button.btn {
    margin-left: 1.5vw;
  }

  .navbarDropdown {
    text-align: center;
    width: 100%;
  }

  .nav-item {
    font-size: clamp(10px, calc(1.5vh + 4px), 12px);
  }

  .dropdown-item {
    font-size: clamp(10px, calc(1.5vh + 4px), 12px);
    text-align: center !important;
  }
  .navbar-collapse {
    background-color: white;
    .nav-link {
      color: black !important;
    }
  }

  .navbar.white-bg {
    background-color: white;
  }

  .navbar-toggler {
    float: right;
    background-color: #ffffff !important;
    margin: 3vw;
    border: none;

    &:focus,
    &:active {
      outline: none !important;
      box-shadow: none !important;
      border: none;
    }
  }

  .navbar.scrolled {
    background-color: none !important;
  }
  

  .titleContainer {
    margin-top: 16vw;
  }

  #maintext {
    font-size: clamp(3.2vw, calc(2.9vw + 2px), 2.6vw) !important;
    width: 100% !important;
  }

  .titleContainer h4 {
    font-size: clamp(2.4vw, calc(2.2vw + 2px), 1.8vw) !important;
  }

  .posts {
    flex-direction: column;
    width: 80%;
    justify-content: center;
  }

  .post {
    width: 100%;
  }

  .title {
    width: 70%;
  }

  /* code for modal */

.modal-header h5 {
  font-size: clamp(2.5vw, 2.3vw, 2vw);
}

.btn-close {
  margin-left: -3vw !important;
}

.bookNowBtn {
 width: 12vw;
}

.modal-body img {
  width: 50%;
  margin: 2vw auto 1vw auto !important;
}

.blog-full-content {
  width: 80%;
  margin: 1vw auto !important;
  text-align: center;
  font-size: clamp(2.1vw, 1.9vw, 1.7vw);
}

.text-muted {
  text-align: center;
  font-size: clamp(1.8vw, 1.6vw, 1.4vw);
}

.modal-footer button {
  font-size: 1.7vw;
}

/* end of code for modal */

  .featured {
    width: 90%;
    margin: 0 auto;
  }
  .featuredpost {
    justify-content: center;
  }

  .featured img {
    width: 65vw;
  }

  .featuredpost,
  .featured img,
  .desc,
  .post img {
    margin: 0 auto;
  }

  .blogHeading h4 {
    font-size: clamp(2.8vw, calc(2.4vw + 2px), 2.1vw) !important;
  }

  .blogDescription p {
    font-size: clamp(1.9vw, calc(1.7vw + 2px), 1.4vw) !important;
  }

  .desc {
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #featuredReadmore {
    font-size: 2vw !important;
  }

  .others {
    width: 90% !important;
  }

  .post img {
    width: 25vw;
  }

  .othersEventType p,
  .othersReadmore {
    font-size: clamp(1.7vw, calc(1.4vw + 2px), 1.2vw) !important;
  }

  .othersHeading h4,
  .eventType p {
    font-size: clamp(2.1vw, calc(1.6vw + 2px), 1.4vw) !important;
  }

  .othersDescription {
    font-size: clamp(1.7vw, calc(1.4vw + 2px), 1.2vw) !important;
  }

  .mb-0 {
    font-size: clamp(2.2vw, calc(1.9vw + 2px), 1.5vw) !important;
  }

  .logo {
    width: 15vw;
  }

  .reservationTitle,
  .locationTitle {
    font-size: clamp(2.1vw, calc(1.6vw + 2px), 1.3vw) !important;
  }

  .numberFooter,
  .emailAddressTextFooter,
  .addressTextFooter {
    font-size: clamp(1.7vw, calc(1.5vw + 2px), 1.2vw) !important;
  }

  .socialIcons a {
    justify-items: center;
    align-items: center;
  }

  .socialIcons a i {
    font-size: 3vw;
  }
}

@media (max-width: 991.98px) {
  .nav-link, #logOutBtn {
    font-size: 2vw !important;
  }
  a.dropdown-item {
    font-size: 1.8vw;
  }

  .nav-item {
    margin-top: 5px;
  }

    #navbarNav .nav-link,
    #navbarNav .dropdown-item {
     color: black !important; 
    }

    #profileAndNotif {
      background-color: transparent;
    }

    .navbar-nav {
      background-color: rgb(251, 250, 250);
    }

    #navbar-half2 .btn-outline-danger {
        color: black !important;
        border-color: white !important;
        width: 100%;
        text-align: left;
    }

    .fc-daygrid-day-top a {
      font-size: clamp(2vw, 1.8vw, 1.6vw);
    }
}

@media (max-width: 991.98px) and (orientation:portrait) {
  .nav-item {
    margin-top: 5px;
  }

  .nav-link, #logOutBtn {
    font-size: 2vw !important;
  }
  a.dropdown-item {
    font-size: 1.8vw;
  }

}

/* Phone size */
@media screen and (max-width: 599px) {
  .logoNav {
    top: 2vw;
    width: 20vw !important;
  }

  .navbarDropdown {
    text-align: center;
    width: 100%;
  }
  .nav-item {
    font-size: clamp(10px, calc(1.5vh + 4px), 12px);
  }

  .dropdown-item {
    font-size: clamp(10px, calc(1.5vh + 4px), 12px);
    text-align: center !important;
  }
  .navbar-collapse {
    background-color: white;
    .nav-link {
      color: black !important;
      text-align: center;
    }
  }

  .navbar.white-bg {
    background-color: white;
  }

  .navbar-toggler {
    float: right;
    background-color: #ffffff !important;
    margin: 3vw;
    border: none;

    &:focus,
    &:active {
      outline: none !important;
      box-shadow: none !important;
      border: none;
    }
  }

  .navbar-toggler-icon {
    width: 1em !important;
    height: 1em !important;
  }

  .navbar.scrolled {
    background-color: none !important;
  }

  #toggledNav {
    position: absolute !important;
    right: 4vw !important;
  }

  #maintext {
    font-size: clamp(3.6vw, calc(3.2vw + 2px), 2.9vw) !important;
    width: 100% !important;
  }

  .titleContainer {
    margin-top: 15vw !important;
  }
  .titleContainer h4 {
    font-size: clamp(2.9vw, calc(2vw + 2px), 1.9vw) !important;
  }

  .title h5 {
    font-size: clamp(2.4vw, calc(2.2vw + 2px), 1.8vw) !important;
  }

  .navbar-nav {
    margin-top: 0 !important;
  }

  .navbar {
    padding: 0 !important;
  }

  .account-nav img {
    height: clamp(7.5vw, 8vw, 9.5vw);
    aspect-ratio: 1;
  }

  .notificationIcon {
    display: flex;
    align-items: center;
    height: clamp(4vw, 4.7vw, 5.4vw);
    aspect-ratio: 1;
  }

  #notifs {
    margin-top: 0 !important;
  }

  .posts {
    flex-direction: column;
    width: 90%;
    justify-content: center;
  }

  .post {
    width: 100%;
    margin-top: 1.5vw;
  }

  .title {
    width: 70%;
  }

  .featured {
    width: 90%;
    margin: 0 auto;
  }
  .featuredpost {
    justify-content: center;
  }

  .featured img {
    width: 65vw;
  }

  .othersDesc {
    padding: 0 !important;
  }

  .featuredpost,
  .featured img,
  .desc,
  .post img {
    margin: 0 auto;
  }

  .blogHeading h4 {
    font-size: clamp(3.3vw, calc(2.8vw + 2px), 2.6vw) !important;
  }

  .blogDescription p {
    font-size: clamp(2.4vw, calc(2vw + 2px), 1.8vw) !important;
  }

  .desc {
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #featuredReadmore {
    font-size: clamp(2.7vw, calc(2.3vw + 2px), 2.1vw) !important;
  }

  #featuredReadmore,
  .othersReadmore {
    margin-top: 0 !important;
    padding: 1vw 2vw !important;
  }

  .others {
    width: 90% !important;
    padding: 0 !important;
  }

  .post img {
    width: 31vw;
  }

  .othersImg,
  .othersDesc {
    width: 50% !important;
  }

  .othersEventType p,
  .othersReadmore {
    font-size: clamp(2.1vw, calc(1.7vw + 2px), 1.5vw) !important;
  }

  .othersHeading h4,
  .eventType p {
    font-size: clamp(2.7vw, calc(2.4vw + 2px), 2.1vw) !important;
  }

  .othersDescription {
    font-size: clamp(2.2vw, calc(1.9vw + 2px), 1.7vw) !important;
  }

  .mb-0 {
    font-size: clamp(2.7vw, calc(2.2vw + 4px), 2vw) !important;
  }

  .logo {
    width: 18vw;
  }

  .reservation {
    width: 20%;
  }

  .locationFooter {
    width: 50%;
  }

  .reservationTitle,
  .locationTitle {
    font-size: clamp(2.4vw, calc(2vw + 2px), 1.8vw) !important;
  }

  .numberFooter,
  .emailAddressTextFooter,
  .addressTextFooter {
    font-size: clamp(2.5vw, calc(2vw + 2px), 1.9vw) !important;
  }

  .socialIcons a {
    justify-items: center;
    align-items: center;
    padding: 0.5vw 1.5vw;
  }

  .socialIcons a i {
    font-size: 3.5vw;
  }
}
