@font-face {
  font-family: "Poppins";
  src: url(../Fonts/Poppins/Poppins-Regular.ttf);
}
@font-face {
  font-family: "Lora";
  src: url(../Fonts/Lora/Lora-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Alkatra";
  src: url(../Fonts/Alkatra/Alkatra-VariableFont_wght.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
}

/* html,
  body {
    height: 100%;
    margin: 0;
  }
*/
body {
  margin: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  margin-bottom: 3vw;
}

/* Edit mode CSS */
#saveChangesBtn {
  margin-top: 3vw !important;
  margin-left: 80vw;
  font-size: 1.8vw !important;
  position: fixed;
}

.account-nav {
  margin: 1px;
  margin-left: 1rem;
  /* border: 1px solid white; */
  border-radius: 50%;
}

.account-nav img {
  height: 5vw;
  border-radius: 50%;
  aspect-ratio: 1;
  object-fit: cover;
}

.editable-input {
  background-color: rgba(255, 255, 255, 0) !important;
  border: 1px solid rgb(255, 13, 13) !important;
  padding: 2px;
}

/* code for body */

.titleContainer {
  width: 70%;
  margin: 7vw auto 2vw auto;
  text-align: center;
}

.titleContainer h4,
.descriptionText {
  font-size: var(--font-size-xl) !important;
}

#maintext {
  text-align: center;
  font-size: var(--font-size-xxl) !important;
}

.title {
  margin: 0 auto;
  width: 90%;
}

.title h5 {
  font-size: 1.7vw !important;
}

.posts {
  width: 90%;
  margin: 0 auto;
  display: flex;
}

.blogHeading h4 {
  font-weight: 800 !important;
  font-size: 2vw;
}

.featured {
  width: 45%;
}

.featuredpost {
  display: grid;
  width: 100%;
  padding: 0 1vw;
}

.blogDescription,
.eventType p {
  font-size: 1.3vw;
}

.featuredpost img {
  width: 30vw;
  margin: 0 auto !important;
}

.others {
  display: grid !important;
  width: 54%;
}
.othersImg {
  object-fit: contain;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

#featuredReadmore,
.othersReadmore {
  font-size: clamp(1.1vw, calc(1.2vw + 2px), 1vw) !important;
}

.othersEventType p {
  font-size: 1.3vw !important;
}

.eventType p,
.othersEventType p {
  margin-bottom: 0 !important;
}

.othersHeading h4 {
  font-size: 1.2vw !important;
  font-weight: 800;
}

.othersDescription {
  font-size: 1.1vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post {
  margin-bottom: 1vw;
}

.post img {
  width: 18vw;
  border: 1px solid black;
}

.othersDesc {
  display: flex;
  flex-direction: column;
}

.btn-primary {
  display: flex;
  align-self: flex-end;
  text-align: center;
}

button.btn-primary,
button.btn-secondary {
  font-size: 14px !important;
}
/* end of code for body */

/* code for modal */

.modal-header h5 {
  font-size: 1.7vw;
  font-weight: 700;
  margin: 0 auto !important;
  text-align: center;
}

.half {
  width: 45%;
}

input.headerEdit {
  width: 30vw;
}

/* .btn-close {
  margin-left: -1vw;
  font-size: 14px !important;
} */

.bookNowBtn {
  width: 15vw;
}

.modal-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.8vw;
}

.modal-body img {
  width: 50%;
  margin: 1vw auto !important;
}

.blog-full-content {
  width: 80%;
  margin: 1vw auto !important;
  text-align: center;
  font-size: clamp(1.3vw, 1.1vw, 1vw);
}

.text-muted {
  margin-bottom: 0;
}

.modal-footer button {
  font-size: 1.3vw;
}
/* end of code for modal */

.construction-wrapper {
  margin-top: 8vw;
  margin-bottom: 20vw;
}

.construction-header {
  font-size: 2vw;
  font-weight: bold;
}

.construction-text {
  color: #6c757d;
  margin-bottom: 20px;
  text-align: justify;
}

.construction-image {
  width: 40vw;
  height: auto;
}

/* Tablet size */
@media only screen and (min-width: 600px) and (max-width: 1025px) {
  .profile {
    flex-wrap: nowrap !important;
    flex-direction: row !important;
    align-items: center;
  }

  .blogDescription {
    font-size: 2.3vw;
  }

  button.btn {
    margin-left: 1.5vw;
  }

  .post img {
    width: 25vw;
    margin-top: 2vw;
    margin-bottom: 2vw;
  }
}

/* Tablet portrait */
@media only screen and (min-width: 600px) and (max-width: 1025px) and (orientation: portrait) {
  .titleContainer {
    margin-top: 16vw;
  }

  #maintext {
    font-size: clamp(3.2vw, calc(2.9vw + 2px), 2.6vw) !important;
    width: 100% !important;
  }

  .titleContainer h4 {
    font-size: clamp(2.4vw, calc(2.2vw + 2px), 1.8vw) !important;
  }

  .posts {
    flex-direction: column;
    width: 80%;
    justify-content: center;
  }

  .post {
    width: 100%;
  }

  .title {
    width: 70%;
  }

  /* code for modal */

  .modal-header h5 {
    font-size: clamp(2.5vw, 2.3vw, 2vw);
  }

  .btn-close {
    margin-left: -3vw !important;
  }

  .bookNowBtn {
    width: 12vw;
  }

  .modal-body img {
    width: 50%;
    margin: 2vw auto 1vw auto !important;
  }

  .blog-full-content {
    width: 80%;
    margin: 1vw auto !important;
    text-align: center;
    font-size: clamp(2.1vw, 1.9vw, 1.7vw);
  }

  .text-muted {
    text-align: center;
    font-size: clamp(1.8vw, 1.6vw, 1.4vw);
  }

  .modal-footer button {
    font-size: 1.7vw;
  }

  /* end of code for modal */

  .featured {
    width: 90%;
    margin: 0 auto;
  }
  .featuredpost {
    justify-content: center;
  }

  .featured img {
    width: 65vw;
  }

  .featuredpost,
  .featured img,
  .desc,
  .post img {
    margin: 0 auto;
  }

  .blogHeading h4 {
    font-size: clamp(2.8vw, calc(2.4vw + 2px), 2.1vw) !important;
  }

  .blogDescription p {
    font-size: clamp(1.9vw, calc(1.7vw + 2px), 1.4vw) !important;
  }

  .desc {
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #featuredReadmore {
    font-size: 1.4vw !important;
  }

  .others {
    width: 90% !important;
  }

  .post img {
    width: 25vw;
    margin-top: 2vw;
    margin-bottom: 2vw;
  }

  .othersEventType p,
  .othersReadmore {
    font-size: clamp(1.4vw, calc(1.4vw + 2px), 1.2vw) !important;
  }

  .othersHeading h4,
  .eventType p {
    font-size: clamp(2.1vw, calc(1.6vw + 2px), 1.4vw) !important;
  }

  .othersDescription {
    font-size: clamp(1.7vw, calc(1.4vw + 2px), 1.2vw) !important;
  }
}

@media (max-width: 991.98px) {
  .fc-daygrid-day-top a {
    font-size: clamp(2vw, 1.8vw, 1.6vw);
  }
}
/* Phone size */
@media screen and (max-width: 599px) {
  #maintext {
    font-size: clamp(3.6vw, calc(3.2vw + 2px), 2.9vw) !important;
    width: 100% !important;
  }

  .titleContainer {
    margin-top: 15vw !important;
  }
  .titleContainer h4 {
    font-size: clamp(2.9vw, calc(2vw + 2px), 1.9vw) !important;
  }

  .title h5 {
    font-size: clamp(2.4vw, calc(2.2vw + 2px), 1.8vw) !important;
  }

  .posts {
    flex-direction: column;
    width: 90%;
    justify-content: center;
  }

  .post {
    width: 100%;
    margin-top: 1.5vw;
  }

  .title {
    width: 70%;
  }

  .featured {
    width: 90%;
    margin: 0 auto;
  }
  .featuredpost {
    justify-content: center;
  }

  .featured img {
    width: 65vw;
  }

  .othersDesc {
    padding: 0 !important;
  }

  .featuredpost,
  .featured img,
  .desc,
  .post img {
    margin: 0 auto;
  }

  .blogHeading h4 {
    font-size: clamp(3.3vw, calc(2.8vw + 2px), 2.6vw) !important;
  }

  .blogDescription {
    font-size: clamp(2.4vw, calc(2vw + 2px), 1.8vw) !important;
  }

  .desc {
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #featuredReadmore {
    font-size: clamp(2.7vw, calc(2.3vw + 2px), 2.1vw) !important;
  }

  #featuredReadmore,
  .othersReadmore {
    margin-top: 0 !important;
    padding: 1vw 2vw !important;
  }

  .others {
    width: 90% !important;
    padding: 0 !important;
  }

  .post img {
    width: 31vw;
  }

  .othersImg,
  .othersDesc {
    width: 50% !important;
  }

  p.othersEventType,
  .othersReadmore {
    font-size: clamp(2.1vw, calc(1.7vw + 2px), 1.5vw) !important;
  }

  .othersHeading h4,
  .eventType p {
    font-size: clamp(2.7vw, calc(2.4vw + 2px), 2.1vw) !important;
  }

  .othersDescription {
    font-size: clamp(2.2vw, calc(1.9vw + 2px), 1.7vw) !important;
  }
}
