@font-face {
  font-family: "Poppins";
  src: url(../Fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
  font-family: "Alkatra";
  src: url(../Fonts/Alkatra/Alkatra-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Lora";
  src: url(../Fonts/Lora/Lora-VariableFont_wght.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  /* list-style: none; */
}

body {
  background: url(../Images/indexPhotos/Background2.png) lightgray 50% / cover
    no-repeat;
  /* display: flex; */
  background-color: #88858534 !important;
  background-blend-mode: darken !important;
  background-position: center;
  min-height: 100vh;
}

.title {
  text-align: center;
  margin-top: 4vw;
  margin-bottom: 3vw;
  font-family: "Lora";
  font-weight: bold;
  font-size: clamp(3vw, 3.5vw, 3.3vw);
}

/* .column {
  float: left;
  width: 33.33%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
*/
#basicInfo {
  display: flex;
  align-items: center;
  max-width: 95%;
}

.container {
  font-family: "Poppins";
  /* border: 1px solid black !important; */
  background-color: #ffff;
  width: 1289px;
  border-radius: 40px;
  display: block;
  margin: 0 auto !important;
}

.row {
  height: 100%;
}

.col {
  padding: 1vw 0;
}

#busInfoContainer {
  background-color: #78aeff;
}

.repInfoLabel,
.busProofLabel,
.busInfoLabel,
.accountCreationLabel {
  font-weight: bold;
  font-size: clamp(1.7vw, 1.6vw, 1.8vw);
  text-align: center;
  margin-top: 1.5vw;
}
.busInfoLabel {
  color: #ffff;
}

.repInfoFormContainer {
  /* border: 1px solid black !important; */
  padding: 1vw;
  gap: 1vw;
  margin-top: 2.5vw;
}

.busInfoFormContainer {
  margin-top: 2vw;
}

.form-control,
#partnerTypeButton {
  margin-top: 1vw;
  font-size: clamp(1.1vw, 1.2vw, 1.4vw) !important;
}

.form-select {
  margin-top: 1vw;
}

.row1 {
  display: flex;
  align-items: center;
  gap: 1vw;
}

.description {
  font-size: clamp(1.2vw, 1vw, 1.1vw);
  text-align: center;
  margin-top: 1vw;
}

#nextBtn {
  width: 75%;
  margin: 2vw auto 1vw auto;
}

.busProofFormContainer {
  margin-top: 1vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.label {
  font-weight: bold;
  font-family: "Poppins";
  margin-top: 1.5vw !important;
}

.moreDetails {
  text-decoration: none;
  width: 100%;
  text-align: center;
  margin-top: 0.5vw;
  font-size: 1vw !important;
}

.btn-light {
  width: 100%;
  margin-top: 1vw;
}

/* .btn-primary {
  margin-top: 5vw;
} */

/* Div for loader */
#loaderOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Gray out effect */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  position: absolute;
  z-index: 5;
  left: 50%;
  top: 50%;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* modal css */

.busTypeBody {
  display: flex;
  flex-wrap: wrap;
  gap: 2vw;
  justify-content: center;
  width: 70%;
  margin: auto;
}

.modal-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0;
}

.modal-title {
  text-align: center;
  margin-left: 2vw;
  width: 100%;
}

.form-check-label,
.form-check-input {
  font-size: clamp(1.4vw, 1.1vw, 1vw);
}

.modalSubtitle {
  text-align: center;
}

.modalRequirementsContainer {
  display: flex;
  justify-content: center;
  margin-top: 2vw;
  gap: 5vw;
}

.form-check {
  display: flex !important;
  align-items: center;
  gap: 10px;
}

button#selectPartnerBtn {
  font-size: 1.4vw !important;
}

.stepsContainer {
  margin-top: 1vw;
}
/* modal css */

#emailPassContainer {
  width: 50%;
}

.accountCreationLabel {
  font-weight: bold;
  text-align: center;
  padding-top: 1.5vw;
}

.emailPassForm {
  margin-top: 3vw;
}

.input-box {
  position: relative;
  margin: 30px 0;
}

.back-icon-container {
  position: absolute;
  right: 8vw;
  top: 4vw;
}

.back-icon-container img {
  height: 4vw;
  width: 4vw;
}

.input-box input {
  width: 100%;
  padding: 13px 50px 13px 20px;
  background: #ffffff;
  border-radius: 8px;
  border: 1px solid #eee;
  outline: none;
  font-size: 16px;
  color: #333;
  font-weight: 500;
}

.input-box input::placeholder {
  color: #888;
  font-weight: 400;
}

.input-box i {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}

input[type="password"]::-ms-reveal,
input[type="password"]::-webkit-contacts-auto-fill-button,
input[type="password"]::-webkit-search-cancel-button {
  display: none;
}

.bx.bxs-user-circle {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}

.label {
  display: block;
  margin: auto;
  text-align: center;
}

.bottomPart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vw;
  margin-top: 1vw;
  padding-bottom: 1vw;
}

/* modal css */

.modal-dialog {
  max-width: 60%;
}
.modal-body {
  max-height: 500px;
  font-size: clamp(1.1vw, 1vw, 1.2vw);
  overflow-y: auto !important;
}
.modal-title {
  margin: auto;
  font-size: 2vw;
}

.modal-footer {
  display: flex;
  margin: auto;
  align-items: center;
}

#declineBtn,
#acceptBtn {
  width: 15vw;
  border-radius: 30px;
  margin-top: 0 !important;
}

#termsModal.modal-content.modal-body {
  font-size: 2vw !important;
}

.back-icon-container-login {
  margin: 1px solid black;
  position: absolute;
  left: 26.5vw;
  font-family: "Lora";
  margin-top: 1vh;
}

.confirmErrorMsg {
  position: absolute;
  z-index: 1000;
  color: red;
  margin-top: -1.7rem;
  text-indent: 1rem;
}

#termsError {
  margin-top: 1.5rem;
  text-align: center;
  margin-left: -1.8rem;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

/* Laptop */
@media screen and (min-width: 1025px) and (max-width: 1280px) {
  h2.title {
    margin-top: 10vh;
    font-family: "Lora";
    font-weight: bold;
    text-align: center;
  }
  .container {
    margin-top: 2vw !important;
  }

  .repInfoFormContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 1.5rem;
    margin-top: 2rem !important;
  }

  .btn-primary {
    margin-top: 5.5vw !important;
  }

  #basicInfo {
    max-width: 98% !important;
  }

  .repInfoLabel,
  .busProofLabel,
  .busInfoLabel,
  .accountCreationLabel {
    font-weight: bold;
    font-size: clamp(2.2vw, 2.6vw, 2.4vw);
  }

  .form-control,
  .description,
  .btn-light,
  .moreDetails,
  h6.label {
    margin-top: 2vw;
    font-size: clamp(1.6vw, 1.8vw, 1.7vw) !important;
  }

  .busInfoFormContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: end;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) and (orientation: portrait) {
  #basicInfo {
    justify-content: center;
    width: 80%;
    padding-right: 0;
    padding-left: 0;
  }

  #emailPassContainer {
    max-width: 80% !important;
    width: 80%;
  }

  .modal-body {
    font-size: 1.7vw !important;
  }

  .modal-dialog {
    width: 80% !important;
  }

  /* modal css */

  #termsModal.modal-body {
    font-size: 2vw !important;
  }

  .busTypeBody {
    gap: 2vw;
    justify-content: center;
    width: 90%;
    margin: auto;
  }

  .modal-title {
    margin-left: 2vw;
    font-size: clamp(2.4vw, 2.6vw, 2.8vw);
  }

  .form-check-label,
  .form-check-input {
    font-size: clamp(2.4vw, 2.1vw, 2.3vw);
  }

  .modalRequirementsContainer {
    margin-top: 2vw;
    gap: 5vw;
  }

  button#selectPartnerBtn {
    font-size: 1.4vw !important;
  }
  button#selectPartnerBtn {
    font-size: 2.1vw !important;
  }
  /* modal css */

  .col {
    padding: 2vw 4vw 5vw 4vw !important;
  }

  .row {
    flex-direction: column !important;
    width: 100%;
    align-items: center;
  }

  #repInfoContainer,
  #busInfoContainer,
  #busProofContainer {
    width: 100% !important;
  }

  .repInfoFormContainer {
    display: flex !important;
    flex-direction: column !important;
  }

  .repInfoLabel,
  .busProofLabel,
  .busInfoLabel,
  .accountCreationLabel {
    font-weight: bold;
    font-size: clamp(2.7vw, 2.6vw, 2.8vw);
  }

  .form-control,
  .description,
  .btn-light,
  .moreDetails,
  h6.label,
  #partnerTypeButton {
    margin-top: 2vw;
    font-size: clamp(2vw, 2.1vw, 2.2vw) !important;
  }

  #nextBtn {
    font-size: 2.8vw;
  }
}

/* Tablet Landscape */
@media only screen and (min-width: 769px) and (max-width: 1024px) and (orientation: landscape) {
  .title {
    font-size: clamp(40px, 35px, 38px);
  }

  #basicInfo {
    max-width: 95% !important;
    margin-bottom: 5vw !important;
  }

  #emailPassContainer {
    max-width: 80% !important;
    width: 80%;
    padding: 3vw;
  }
  .modal-body {
    font-size: 2vw !important;
  }

  .modal-dialog {
    width: 80% !important;
  }
  .container {
    transform-origin: top center;
    margin-top: 2vw !important;
  }

  #repInfoContainer,
  #busInfoContainer,
  #busProofContainer {
    width: 33%;
  }
  .repInfoFormContainer {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 2rem !important;
  }

  .repInfoLabel,
  .busProofLabel,
  .busInfoLabel,
  .accountCreationLabel {
    font-weight: bold;
    font-size: clamp(3vw, 3vw, 3.2vw);
  }

  .form-control,
  .description,
  .btn-light,
  .moreDetails,
  h6.label,
  #partnerTypeButton {
    margin-top: 3vw;
    font-size: clamp(2vw, 2.1vw, 2.2vw) !important;
  }

  .back-icon-container-login {
    left: 13vw;
  }

  /* modal css */

  #termsModal.modal-body {
    font-size: 2vw !important;
  }

  .busTypeBody {
    gap: 2vw;
    justify-content: center;
    width: 90%;
    margin: auto;
  }

  .modal-title {
    margin-left: 2vw;
    font-size: clamp(2.4vw, 2.6vw, 2.8vw);
  }

  .form-check-label,
  .form-check-input {
    font-size: clamp(2vw, 2.1vw, 2.3vw);
  }

  .modalRequirementsContainer {
    margin-top: 2vw;
    gap: 5vw;
  }

  button#selectPartnerBtn {
    font-size: 1.4vw !important;
  }
  button#selectPartnerBtn {
    font-size: 2.1vw !important;
  }
  /* modal css */
}

/* Tablet portrait only */
@media only screen and (min-width: 600px) and (max-width: 768px) {
  .title {
    margin-top: 3rem;
    font-size: 5vw;
  }

  #emailPassContainer {
    max-width: 80% !important;
    width: 80%;
    padding: 2vw;
    margin-top: 6vw !important;
  }

  .back-icon-container-login {
    left: 13vw;
  }

  .back-icon-container-login {
    height: 5vw !important;
    width: 5vw;
  }

  .repInfoLabel,
  .busProofLabel,
  .busInfoLabel,
  .accountCreationLabel {
    font-weight: bold;
    font-size: clamp(3.2vw, 3.6vw, 3.4vw);
  }

  .form-control,
  .description,
  .btn-light,
  .moreDetails,
  h6.label,
  #partnerTypeButton {
    margin-top: 2vw;
    font-size: clamp(2.6vw, 2.8vw, 2.7vw) !important;
  }

  #basicInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 85%;
    padding: 0 !important;
  }

  .row {
    flex-direction: column;
    width: 100% !important;
    margin: 0 !important;
    height: 100%;
  }

  .container {
    width: 100%;
    margin-top: 4vw !important;
  }

  .busProofFormContainer {
    margin-top: 1rem !important;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5vw;
  }

  .repInfoFormContainer {
    width: 90%;
  }

  .repInfoFormContainer input {
    margin-top: 3vw !important;
  }
  #repInfoContainer,
  #busInfoContainer,
  #busProofContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 0.8;
  }

  #busInfoContainer {
    padding-bottom: 3vw;
  }
  #submit-request {
    display: block !important;
    margin: 0 auto !important;
    margin-top: 5vw !important;
    width: 100% !important;
  }

  .back-icon-container img {
    width: 6vw;
    height: 6vw;
  }

  #nextBtn {
    font-size: 3vw;
  }

  .modal-body {
    font-size: 2vw !important;
  }

  /* modal css */

  #termsModal.modal-body {
    font-size: 2vw !important;
  }

  .busTypeBody {
    gap: 2vw;
    justify-content: center;
    width: 90%;
    margin: auto;
  }

  .modal-title {
    margin-left: 2vw;
    font-size: clamp(2.4vw, 2.6vw, 2.8vw);
  }

  .form-check-label,
  .form-check-input {
    font-size: clamp(2vw, 2.1vw, 2.3vw);
  }

  .modalRequirementsContainer {
    margin-top: 2vw;
    gap: 5vw;
  }

  button#selectPartnerBtn {
    font-size: 1.4vw !important;
  }
  button#selectPartnerBtn {
    font-size: 2.1vw !important;
  }
  /* modal css */
}
/* Phone size */
@media screen and (max-width: 599px) {
  .title {
    margin-top: 4rem;
    font-size: clamp(6vw, 6.5vw, 7vw);
  }

  #emailPassContainer {
    max-width: 90% !important;
    width: 85%;
    margin-top: 10vw;
    padding: 3vw !important;
  }

  .modal-dialog {
    width: 95% !important;
    max-width: 95% !important;
  }

  .modal-body {
    font-size: 3vw !important;
  }

  .back-icon-container-login {
    left: 15vw;
  }

  .back-icon-container-login img {
    height: 6vw !important;
    width: 6vw;
  }

  .repInfoLabel,
  .busProofLabel,
  .busInfoLabel,
  .accountCreationLabel {
    font-weight: bold;
    font-size: clamp(4.2vw, 4.6vw, 4.4vw);
  }

  .form-control,
  .description,
  .btn-light,
  .moreDetails,
  h6.label,
  #partnerTypeButton {
    margin-top: 2vw;
    font-size: clamp(3.6vw, 3.4vw, 3.7vw) !important;
  }

  #basicInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 95%;
    padding: 2vw 0 3vw 0 !important;
    margin-bottom: 10vw !important;
  }

  .row {
    flex-direction: column;
    width: 100% !important;
    margin: 0 !important;
    height: 100%;
  }

  .container {
    width: 100%;
    margin-top: 4vw !important;
  }

  .busProofFormContainer {
    margin-top: 1rem !important;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5vw;
  }

  .repInfoFormContainer {
    width: 90%;
  }

  .repInfoFormContainer input {
    margin-top: 3vw !important;
  }
  #repInfoContainer,
  #busInfoContainer,
  #busProofContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 0.8;
  }

  #busInfoContainer {
    padding-bottom: 3vw;
  }
  #submit-request {
    display: block !important;
    margin: 0 auto !important;
    margin-top: 5vw !important;
    width: 100% !important;
  }

  .back-icon-container img {
    width: 6vw;
    height: 6vw;
  }

  #nextBtn {
    font-size: 3vw;
  }

  /* modal css */

  #termsModal.modal-body {
    font-size: 2vw !important;
  }

  .busTypeBody {
    gap: 2vw;
    justify-content: center;
    width: 90%;
    margin: auto;
  }

  .modal-title {
    margin-left: 2vw;
    font-size: clamp(3vw, 3.2vw, 2.8vw);
  }

  .form-check-label,
  .form-check-input {
    font-size: clamp(2.4vw, 2.6vw, 2.8vw);
  }

  .modalRequirementsContainer {
    margin-top: 2vw;
    gap: 5vw;
  }

  button#selectPartnerBtn {
    font-size: 2.6vw !important;
  }
  /* modal css */
}
