@font-face {
  font-family: "Poppins";
  src: url(../Fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
  font-family: "Alkatra";
  src: url(../Fonts/Alkatra/Alkatra-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Lora";
  src: url(../Fonts/Lora/Lora-VariableFont_wght.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  /* list-style: none; */
}

body {
  background: url(../images/indexPhotos/Background2.png) lightgray 50% / cover
    no-repeat;
  /* display: flex; */
  background-color: #88858534 !important;
  background-blend-mode: darken !important;
  background-position: center;
  /* justify-content: center;
  align-items: center; */
  min-height: 100vh;
  overflow-y: hidden;
}

.title {
  text-align: center;
  margin-top: 4vw;
  margin-bottom: 3vw;
  font-family: "Poppins";
  font-weight: bold;
  font-size: 36px;
}

/* .column {
  float: left;
  width: 33.33%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
*/
.container {
  /* border: 1px solid black !important; */
  background-color: #ffff;
  width: 1289px;
  height: 436px;
  border-radius: 40px;
  display: block;
  margin: 0 auto !important;
}

#busInfoContainer {
  background-color: #78aeff;
  height: 436px;
}

.repInfoLabel,
.busProofLabel {
  font-family: "Plus Jakarta Sans";
  font-weight: bold;
  font-size: 25.5px;
  text-align: center;
  margin-top: 1.5vw;
}
.busInfoLabel {
  font-family: "Plus Jakarta Sans";
  font-weight: bold;
  font-size: 25.5px;
  text-align: center;
  margin-top: 1.5vw;
  color: #ffff;
}

.repInfoFormContainer {
  /* border: 1px solid black !important; */
  padding: 2vw;
  gap: 1vw;
  margin-top: 2.5vw;
}

.busInfoFormContainer {
  margin-top: 2vw;
}

.form-control {
  margin-top: 1vw;
}

.form-select {
  margin-top: 1vw;
}

.row1 {
  display: flex;
  align-items: center;
  gap: 1vw;
}

.description {
  font-family: "Plus Jakarta Sans";
  font-size: 14px;
  text-align: center;
  margin-top: 2vw;
}

#nextBtn {
  width: 75%;
  margin: 2vw auto;
}

.busProofFormContainer {
  margin-top: 4vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5vw;
}

.moreDetails {
  text-decoration: none;
  width: 100%;
  text-align: center;
}

.btn-primary {
  margin-top: 5vw;
}

/* modal css */

.modal-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0;
}

.modal-title {
  text-align: center;
  margin-left: 2vw;
  width: 100%;
}

.modalSubtitle {
  text-align: center;
}

.modalRequirementsContainer {
  display: flex;
  justify-content: center;
  margin-top: 2vw;
  gap: 5vw;
}

.stepsContainer {
  margin-top: 1vw;
}
/* modal css */

#emailPassContainer {
  width: 50%;
}

.accountCreationLabel {
  font-family: "Plus Jakarta Sans";
  font-weight: bold;
  font-size: 25.5px;
  text-align: center;
  padding-top: 1.5vw;
}

.emailPassForm {
  margin-top: 3vw;
}

.input-box {
  position: relative;
  margin: 20px 0;
}

.back-icon-container {
  position: absolute;
  right: 8vw;
  top: 4vw;
}


.input-box input {
  width: 100%;
  padding: 13px 50px 13px 20px;
  background: #ffffff;
  border-radius: 8px;
  border: 1px solid #eee;
  outline: none;
  font-size: 16px;
  color: #333;
  font-weight: 500;
}

.input-box input::placeholder {
  color: #888;
  font-weight: 400;
}

.input-box i {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}

input[type="password"]::-ms-reveal,
input[type="password"]::-webkit-contacts-auto-fill-button,
input[type="password"]::-webkit-search-cancel-button {
  display: none;
}

.bx.bxs-user-circle {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}

.label {
  display: block;
  margin: auto;
  text-align: center;
}

.bottomPart {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2vw;
  margin-top: 2vw;
}

.passwordContainerError {
  /* border: 1px solid red; */
  position: absolute;
  left: 50%;
  bottom: 24%;
  transform: translateX(-50%);
  width: 50%;
  color: red;
  padding: 0;
  text-align: center;
}

.back-icon-container-login {
  margin: 1px solid black;
  position: absolute;
  left: 26.5vw;

  margin-top: 1vh;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
