@font-face {
  font-family: "Poppins";
  src: url(../Fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
  font-family: "Alkatra";
  src: url(../Fonts/Alkatra/Alkatra-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Lora";
  src: url(../Fonts/Lora/Lora-VariableFont_wght.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  /* list-style: none; */
}

body {
  background: url(../Images/indexPhotos/Background2.png) lightgray 50% / cover
    no-repeat;
  /* display: flex; */
  background-color: #88858534 !important;
  background-blend-mode: darken !important;
  background-position: center;
  /* justify-content: center;
  align-items: center; */
  min-height: 100vh;
  overflow-y: hidden;
}

.title {
  text-align: center;
  margin-top: 4vw;
  margin-bottom: 3vw;
  font-family: "Lora";
  font-weight: bold;
  font-size: 40px;
}

/* .column {
  float: left;
  width: 33.33%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
*/
#basicInfo {
  display: flex;
  align-items: center;
}

.container {
  font-family: "Poppins";
  /* border: 1px solid black !important; */
  background-color: #ffff;
  width: 1289px;
  border-radius: 40px;
  display: block;
  margin: 0 auto !important;
}

.row {
  height: 100%;
}

.col {
  padding: 1vw 0 3vw 0;
}

#busInfoContainer {
  background-color: #78aeff;
}

.repInfoLabel,
.busProofLabel {
  /* font-family: "Poppins"; */
  font-weight: bold;
  font-size: 25.5px;
  text-align: center;
  margin-top: 1.5vw;
}
.busInfoLabel {
  /* font-family: "Poppins"; */
  font-weight: bold;
  font-size: 25.5px;
  text-align: center;
  margin-top: 1.5vw;
  color: #ffff;
}

.repInfoFormContainer {
  /* border: 1px solid black !important; */
  padding: 2vw;
  gap: 1vw;
  margin-top: 2.5vw;
}

.busInfoFormContainer {
  margin-top: 2vw;
}

.form-control {
  margin-top: 1vw;
}

.form-select {
  margin-top: 1vw;
}

.row1 {
  display: flex;
  align-items: center;
  gap: 1vw;
}

.description {
  /* font-family: "Poppins"; */
  font-size: 14px;
  text-align: center;
  margin-top: 2vw;
}

#nextBtn {
  width: 75%;
  margin: 2vw auto;
}

.busProofFormContainer {
  margin-top: 4vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5vw;
}

.moreDetails {
  text-decoration: none;
  width: 100%;
  text-align: center;
}

/* .btn-primary {
  margin-top: 5vw;
} */

/* Div for loader */
#loaderOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Gray out effect */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  position: absolute;
  z-index: 5;
  left: 50%;
  top: 50%;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* modal css */

.modal-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0;
}

.modal-title {
  text-align: center;
  margin-left: 2vw;
  width: 100%;
}

.modalSubtitle {
  text-align: center;
}

.modalRequirementsContainer {
  display: flex;
  justify-content: center;
  margin-top: 2vw;
  gap: 5vw;
}

.stepsContainer {
  margin-top: 1vw;
}
/* modal css */

#emailPassContainer {
  width: 50%;
  /* font-family: "Poppins"; */
}

.accountCreationLabel {
  /* font-family: "Poppins"; */
  font-weight: bold;
  font-size: 25.5px;
  text-align: center;
  padding-top: 1.5vw;
}

.emailPassForm {
  margin-top: 3vw;
}

.input-box {
  position: relative;
  margin: 30px 0;
}

.back-icon-container {
  position: absolute;
  right: 8vw;
  top: 4vw;
}

.input-box input {
  width: 100%;
  padding: 13px 50px 13px 20px;
  background: #ffffff;
  border-radius: 8px;
  border: 1px solid #eee;
  outline: none;
  font-size: 16px;
  color: #333;
  font-weight: 500;
}

.input-box input::placeholder {
  color: #888;
  font-weight: 400;
}

.input-box i {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}

input[type="password"]::-ms-reveal,
input[type="password"]::-webkit-contacts-auto-fill-button,
input[type="password"]::-webkit-search-cancel-button {
  display: none;
}

.bx.bxs-user-circle {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}

.label {
  display: block;
  margin: auto;
  text-align: center;
}

.bottomPart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vw;
  margin-top: 1vw;
  padding-bottom: 1vw;
}

/* modal css */

.modal-dialog {
  max-width: 60% !important;
}
.modal-body {
  max-height: 500px;

  overflow-y: auto !important;
}
.modal-title {
  margin: auto;
  font-size: 2vw;
}

.modal-footer {
  display: flex;
  margin: auto;
}

#declineBtn,
#acceptBtn {
  width: 15vw;
  border-radius: 30px;
}

/* modal css */

/* .passwordContainerError {
  position: absolute;
  left: 50%;
  bottom: 24%;
  transform: translateX(-50%);
  width: 50%;
  color: red;
  padding: 0;
  text-align: center;
} */

.back-icon-container-login {
  margin: 1px solid black;
  position: absolute;
  left: 26.5vw;
  font-family: "Lora";
  margin-top: 1vh;
}

.confirmErrorMsg {
  position: absolute;
  z-index: 1000;
  color: red;
  margin-top: -1.7rem;
  text-indent: 1rem;
}

#termsError {
  margin-top: 1.5rem;
  text-align: center;
  margin-left: -1.8rem;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

/* Tablet landscape */

@media (min-width: 1024px) and (max-width: 1400px) and (orientation: landscape) {
  .title {
    font-size: 40px !important;
    margin-top: 4vw;
  }

  #basicInfo {
    display: flex;
    align-items: center;
    padding: 0 1vw;
    margin-top: 2vw !important;
  }
  .container {
    padding: 10px;
  }

  .back-icon-container {
    position: absolute;
    right: 8vw;
    top: 7vw;
  }
  .backArrow {
    width: 4vw !important;
    margin-top: -35px;
  }

  .repInfoFormContainer {
    padding: 0vw !important;
    gap: 1vw;
    margin-top: 2vw !important;
  }
  .busProofFormContainer {
    margin-top: 2vw !important;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5vw;
  }

  @media only screen and (min-width: 600px) and (max-width: 1025px) and (orientation: landscape) {
    .title {
      font-size: 32px !important;
    }
  }

  /* Tablet portrait */
  @media only screen and (min-width: 600px) and (max-width: 1025px) and (orientation: portrait) {
    .title {
      font-size: clamp(30px, calc(4vh + 3px), 45px) !important;
      margin-top: 4vh !important;
    }

    .row {
      flex-direction: column;
      width: 100% !important;
      margin: 0 !important;
    }

    .backArrow {
      width: 5vw !important;
      margin-top: 7px;
    }
    #basicInfo {
      display: flex;
      align-items: center;
      padding: 0;
    }
    .container {
      font-family: "Poppins";
      /* border: 1px solid black !important; */
      background-color: #ffff;
      width: 1289px;
      border-radius: 40px;
      display: block;
      margin: 0 auto !important;
      max-width: 975px;
    }
    #emailPassContainer {
      margin-top: 20vh !important;
    }

    .title {
      font-size: clamp(30px, calc(4vh + 3px), 45px) !important;
      margin-top: 10vh !important;
    }

    .backArrow {
      width: 6vw !important;
      margin-top: 7vh;
    }

    .container {
      width: 65% !important;
      padding: 0 !important;
    }

    #emailPassContainer {
      margin-top: 20vh !important;
    }

    #busInfoContainer {
      background-color: #78aeff;
    }

    .repInfoFormContainer,
    .busInfoFormContainer,
    .busProofFormContainer,
    .description,
    .emailPassForm {
      width: 80%;
      flex-wrap: wrap;
      margin: 0 auto;
    }

    .emailPassForm {
      padding-bottom: 3vw;
    }

    .row {
      flex-direction: column;
      width: 100% !important;
      margin: 0 !important;
    }

    .repInfoFormContainer,
    .busInfoFormContainer,
    .busProofFormContainer,
    .description,
    .emailPassForm {
      width: 80%;
      flex-wrap: wrap;
      margin: 0 auto;
    }

    .col h4 {
      margin-bottom: 3vw !important;
    }
    .back-icon-container {
      position: absolute;
      right: 3.5vw;
      top: 4vw;
    }

    .repInfoFormContainer {
      padding: 0;
    }

    .col {
      padding: 2vw 0 5vw 0;
    }

    .col h4 {
      margin-bottom: 3vw !important;
    }

    .back-icon-container-login {
      position: static;
      width: 10%;
      margin-top: 0;
    }

    #emailBackArrow {
      margin-top: 0 !important;
      margin-left: 2vw;
      height: 100%;
    }

    .accountCreationLabel {
      width: 100%;
      text-align: center;
      padding-top: 0 !important;
      margin-bottom: 0 !important;
      margin-left: -10%;
    }

    .labelAndArrow {
      padding-top: 5vw !important;
      display: flex;
      align-items: center;
    }
  }

  /* Phone size */
  @media screen and (min-width: 360px) and (max-width: 599px) {
    .title {
      font-size: 20px;
      margin-top: 5vw !important;
    }
    #basicInfo {
      display: flex;
      align-items: center;
      padding: 0;
    }
    .backArrow {
      width: 6vw !important;
      height: 5vw;
      margin-top: 7px;
    }
    .repInfoLabel {
      font-weight: bold;
      font-size: 22px;
      text-align: center;
      margin-top: 1.5vw;
    }
    .row {
      flex-direction: column;
      width: 100% !important;
      margin: 0 !important;
    }
    .container-wrapper {
      width: 100%;
      max-width: 480px;
      margin: 0 auto;
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .container {
      transform: scale(0.7);
      transform-origin: top center;
      width: 100%;
    }
    #busInfoContainer {
      background-color: #78aeff;
      width: 100%;
      margin-top: -10px;
      padding: 15px;
    }

    /*Laptop*/
    @media screen and (min-width: 1200px) and (max-width: 1280px) {
      #basicInfo {
        display: flex;
        align-items: center;
        padding: 0 1vw;
        margin-top: 8vw !important;
      }
      .container {
        padding: 10px;
      }

      .back-icon-container {
        position: absolute;
        right: 8vw;
        top: 7vw;
      }
      .backArrow {
        width: 5vw !important;
        margin-top: 7px;
      }

      .repInfoFormContainer {
        padding: 6px 12px !important;
        gap: 1vw;
        margin-top: 12.8px 0 0 !important;
      }
      .busProofFormContainer {
        margin-top: 2vw !important;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 0.5vw;
      }
    }
  }
  .title {
    font-size: 20px;
  }
}
