@font-face {
  font-family: "Poppins";
  src: url(../Fonts/Poppins/Poppins-Regular.ttf);
}
@font-face {
  font-family: "Lora";
  src: url(../Fonts/Lora/Lora-VariableFont_wght.ttf);
}
@font-face {
  font-family: "Alkatra";
  src: url(../Fonts/Alkatra/Alkatra-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url(../Fonts/PlusJakartaSans/PlusJakartaSans-VariableFont_wght.ttf);
}
@font-face {
  font-family: "Prata";
  src: url(../Fonts/Prata/Prata-Regular.ttf);
}

@font-face {
  font-family: "Galada";
  src: url(../Fonts/Galada/Galada-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
}

/* html,
  body {
    height: 100%;
    margin: 0;
  }
  
  body {
    display: flex;
    flex-direction: column;
  } */

body {
  background-image: url(../Images/beOurPartnerPhotos/beOurPartnerbg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  /* background-color: rgb(242, 242, 242); */
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15vh;
  padding: 1rem;
  /* background-color: rgba(255, 255, 255, 0.562);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px); */
}

.navbar-nav {
  display: flex !important;
  list-style: none;
  margin-top: 10px !important;
}

.navbar-nav .dropdown-toggle {
  display: inline-block;
  padding: 10px 15px !important;
  line-height: 1.5;
  vertical-align: middle;
  position: relative;
  top: 0.1vw; /* para ma-align yung dropdown sa ibang nav-item */
}

.navbar.scrolled {
  background-color: rgb(255, 255, 255, 0.8);
  .nav-link {
    color: black !important;
  }
  .nav-link:not(.dropdown-toggle):after {
    border-bottom: 4px solid rgb(126, 203, 242) !important;
  }

  #logOutBtn {
    color: #000000 !important;
  }
}

ul {
  font-family: "Poppins" !important;
  font-weight: lighter;
  font-size: 1.3vw;
  list-style: none;
  display: table;
  text-transform: uppercase;
}

.nav-link,
#logOutBtn {
  text-decoration: none;
  display: inline-block;
  padding: 10px 15px !important;
  position: relative;
  color: white !important;
  letter-spacing: 0.1em;
}

#logOutBtn {
  font-family: "Poppins";
  font-size: 1.45vw;
  margin-right: 2vw;
  border: none;
}

.nav-link:not(.dropdown-toggle):after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  border-bottom: 4px solid rgb(255, 255, 255) !important;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.nav-link.active:after {
  width: 100%;
  left: 0;
}

.dropdown-item.active {
  background-color: rgb(126, 203, 242) !important;
  color: black !important;
}

.nav-link:not(.dropdown-toggle):hover:after {
  width: 100%;
  left: 0;
}

.nav-item.dropdown:hover .dropdown-menu {
  background-color: white !important;
  display: block;
}

.dropdown-menu {
  background-color: rgb(126, 203, 242, 0.5) !important;
}

.dropdown-item:hover {
  background-color: rgb(126, 203, 242, 0.5) !important;
}

.dropdown-item {
  font-size: 1.3vw;
  font-weight: bold;
}

.logoNav {
  /* border: 1px solid black; */
  width: 15vw;
  position: absolute;
  margin: 2vw;
}

.account-nav {
  margin: 1px;
  margin-left: 1rem;
  /* border: 1px solid white; */
  border-radius: 50%;
  img {
    height: 5vw;
    border-radius: 50%;
    aspect-ratio: 1;
    object-fit: cover;
  }
}

.notification-container{
  margin: 1rem;

  button{
    background-color: transparent;
    border: none;
  }
}




footer {
  /* border: 1px solid black; */
  margin-top: auto !important;
  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 0.445) -50%,
    rgb(62, 132, 158) 95%
  );
}

.pb-1 {
  gap: 2vw;
  padding: 1vw 0 0 2vw;
}

.logo {
  width: 10vw;
  height: auto;
}
.mb-0 {
  font-family: "Lora";
  font-size: 1.5vw;
  font-weight: bold;
  color: #ffff;
}

.footerLine {
  width: 80%;
  margin: 0 auto;
  color: #fff;
  opacity: 1;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5vw;
}
.locationFooter {
  /* border: 1px solid black; */
  width: 30%;
}

.reservationTitle,
.locationTitle {
  font-family: "Poppins";
  font-weight: bold;
  font-size: 1.5vw;
  color: #fff;
}

.numberFooter,
.emailAddressTextFooter,
.addressTextFooter {
  font-family: "Poppins ExtraLight";
  color: #fff;
  font-size: 1vw;
}

.socialIcons {
  display: flex;
  justify-content: center;
  margin: 0.3vw;
}

.socialIcons a {
  text-decoration: none;
  padding: 0.8vw;
  background-color: rgb(255, 255, 255);
  margin: 5px;
  border-radius: 50%;
}

.socialIcons a i {
  font-size: 2vw;
  color: #3e849e;
  opacity: 0.9;
}

.socialIcons a:hover {
  background-color: white;
  transition: 0.5s;
}

.socialIcons a:hover i {
  color: #c1a534;
  transition: 0.5s;
}

.titleContainer {
  /* border: 1px solid black; */
  width: 70%;
  margin: auto;
  text-align: center;
  margin-top: 10vw !important;
}

.title {
  margin-top: 1vw;
  font-size: 2.8vw;
  font-family: "Lora";
  color: #ffffff;
}

.description {
  margin-top: 4vw;
  font-size: 1.4vw;
  color: #ffffff;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  margin: 3vw;
  border-radius: 10vw 10vw 0 0 !important;
  text-align: center;
  /* display: flex;
  flex-direction: column;
  flex-grow: 1; */
  height: 35vw !important;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card img {
  border-radius: 10vw 10vw 0 0 !important;
  padding: 1vw;
  height: 15vw;
  object-fit: cover;
}

.card-title {
  font-family: "Alkatra";
  font-size: 1.67vw;
}

.eventDesc {
  font-family: "Poppins";
  font-size: 1.2vw;
}

/* Tablet size */
@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .titleContainer {
    width: 80%;
    margin-top: clamp(18vh, calc(1.25vh + 4px), 10vh) !important;
  }

  .title {
    font-size: clamp(30px, calc(1.25vh + 4px), 35px) !important;
  }

  .description {
    font-size: clamp(20px, calc(1.25vh + 4px), 20px) !important;
  }

  .card {
    height: clamp(50vh, calc(1.25vh + 4px), 45vh) !important;
  }

  .card img {
    height: clamp(20vh, calc(2.5vh + 4px), 25vh) !important;
    object-fit: cover;
  }

  .card-title {
    font-size: clamp(25px, calc(1.5vh + 4px), 30px);
  }

  .eventDesc {
    font-size: clamp(15px, calc(1.5vh + 4px), 12px);
  }
}
