@font-face {
  font-family: "Poppins";
  src: url(../Fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
  font-family: "Poppins Black";
  src: url(../Fonts/Poppins/Poppins-Black.ttf);
}

@font-face {
  font-family: "Lora";
  src: url(../Fonts/Lora/Lora-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Agbalumo";
  src: url(../Fonts/Agbalumo/Agbalumo-Regular.ttf);
}

@font-face {
  font-family: "Alkatra";
  src: url(../Fonts/Alkatra/Alkatra-VariableFont_wght.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

body {
  background-image: url(../Images/EventsPhotos/eventHeaderBg2.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
}

.titleContainer {
  /* border: 1px solid black; */
  width: 70%;
  margin: auto;
  text-align: center;
  margin-top: 10vw !important;
}

.title {
  margin-top: 1vw;
  font-size: 2.5vw;
  font-family: "Lora";
  color: #ffffff;
}

.description {
  margin-top: 4vw;
  font-size: 1.4vw;
  color: #ffffff;
}

.categories {
  margin-top: 12vw !important;
  width: 98%;
  border-radius: 20px;
  background-color: #f5f5f5;
  margin: auto;
  padding: 2rem;
}

.eventsTitleContainer,
.venueTitleContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 2vw;
  justify-content: center;
  margin: auto;
  width: 70%;
}

.venueTitleContainer {
  margin-top: 2vw;
}
.eventsTitle,
.venueTitle {
  font-family: "Poppins";
  font-size: 2vw;
  text-align: center;
  font-weight: bold;
}

.eventsDescription,
.venueDescription {
  font-family: "Poppins";
  text-align: center;
  font-size: 1.3vw;
}

.carousel {
  width: 70%;
  margin: auto;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 3.5vw !important;
  height: 2.5vw !important;
}
.cardFlex {
  /* border: 1px solid red; */
  display: flex;
  width: 75%;
  gap: 3rem;
  margin: auto;
}
.card {
  border-radius: 10vw 10vw 0 0 !important;
  text-align: center;
}

.carousel-inner {
  padding-top: 2vw;
}

.event-card {
  width: 50%;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card img {
  border-radius: 10vw 10vw 0 0 !important;
  padding: 1vw;
  height: 15vw;
  aspect-ratio: 1;
  object-fit: cover;
}

.card-title {
  font-family: "Alkatra";
  font-size: 1.5vw;
}

.eventDesc {
  font-family: "Poppins";
  font-size: 1.2vw;
}
.mainHall {
  margin-top: 1vw !important;
  width: 98%;
  border-radius: 20px;
  background-color: #4a93d4;
  margin: auto;
  padding: 2rem;
  display: flex;
  justify-content: center;
  gap: 2vw;
}

.miniHall {
  margin-top: 1.3rem !important;
  width: 98%;
  border-radius: 20px;
  background-color: #f7d5b0;
  margin: auto;
  padding: 2rem;
  display: flex;
  justify-content: center;
  gap: 2vw;
}

#carouselMainHall,
#carouselMiniHall {
  width: 40%;
}

.d-block {
  width: 35vw !important;
}

.mainHallDescContainer,
.miniHallDescContainer {
  width: 50%;
}

.mainHallDescTitle {
  color: #fff;
  font-family: "Poppins";
  font-size: 2vw;
  font-style: normal;
  text-align: center;
  margin-top: 2vw;
}

.miniHallDescTitle {
  color: #000000;
  font-family: "Poppins";
  font-size: 2.2vw;
  font-style: normal;
  text-align: center;
  margin-top: 4vw;
}

.mainHallDescription {
  margin-top: 2vw;
  font-family: "Poppins";
  font-size: 1.3vw;
  font-style: normal;
  color: #fff;
}

.miniHallDescription {
  margin-top: 2vw;
  font-family: "Poppins";
  font-size: 1.3vw;
  font-style: normal;
  color: #000000;
}

/* Tablet size */
@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .titleContainer {
    width: 80%;
    margin-top: clamp(11vh, calc(1.25vh + 4px), 9.5vw);
  }

  .carousel {
    width: 90%;
  }

  .mainHallDescContainer,
  .miniHallDescContainer {
    width: 35%;
  }

  .cardFlex {
    width: 80%;
  }

  .event-card {
    width: 90%;
    margin: 0 1vw;
    img {
      object-fit: contain;
    }
  }

  .categories {
    padding: 0;
  }

  #carouselMainHall {
    width: 55%;
  }

  .title,
  .venueTitle {
    font-size: clamp(4vw, calc(3.8vw + 4px), 3.7vw) !important;
  }

  .description,
  .venueDescription {
    font-size: clamp(1.8vw, calc(1.7vw + 4px), 2.5vw) !important;
  }

  .card {
    height: clamp(50vh, calc(1.25vh + 4px), 45vh) !important;
  }

  .card img {
    height: clamp(20vh, calc(2.5vh + 4px), 25vh) !important;
    object-fit: cover;
  }

  .carousel-control-next-icon,
  .carousel-control-prev-icon {
    height: 4vw !important;
    width: 4vw !important;
  }

  .card-title {
    font-size: clamp(3.3vw, calc(3.5vw + 4px), 3.6vw);
  }

  .eventDesc {
    font-size: clamp(2.3vw, calc(2.5vw + 4px), 2vw);
  }

  .carousel-item {
    img {
      width: 100%;
    }
  }
}

@media (max-width: 600px) {
  body {
    background-size: auto;
  }
  .title,
  .venueTitle {
    font-size: 6vw;
  }

  .titleContainer {
    margin-top: 10vh !important;
  }

  .venueTitleContainer {
    margin-top: 4vh;
  }
  .description,
  .venueDescription {
    font-size: 3vw;
  }
  .carousel {
    width: 85%;
  }
  .categories {
    padding: 1vw 0 0 0;
  }

  .cardFlex {
    width: 100%;
    justify-content: space-around;
    gap: unset;
  }

  #eventsInner {
    overflow: visible !important;
  }

  .card {
    height: auto;
  }

  .event-card {
    width: 48%;
  }

  img.card-img-top {
    height: 15vh !important;
    object-fit: cover;
  }

  .carousel-control-next {
    justify-content: end !important;
    right: -4vw !important;
  }
  .carousel-control-prev {
    justify-content: start !important;
    left: -4vw !important;
  }

  .carousel-control-next,
  .carousel-control-prev {
    z-index: 100 !important;
    position: absolute;
  }

  .carousel-control-next-icon,
  .carousel-control-prev-icon {
    width: 7vw !important;
    height: 5vw !important;
    padding: 0 !important;
  }
  .carousel-control-next-icon {
    right: -5vw !important;
  }

  .carousel-control-prev-icon {
    left: -5vw !important;
  }

  .card-title {
    font-size: 3.5vw;
  }

  .eventDesc {
    font-size: 2vw;
  }

  .card-body {
    padding: 1.5vw !important;
  }

  .bookBtn {
    font-size: 1.8vw !important;
  }

  .mainHall,
  .miniHall {
    padding-left: 0;
    padding-right: 0;
    width: 95% !important;
  }
  .mainHall {
    flex-direction: column;
  }

  .miniHall {
    margin-top: 3vw;
    flex-direction: column-reverse;
  }

  .mainHallDescContainer,
  .miniHallDescContainer {
    width: 95%;
    margin: auto;
  }

  #carouselMainHall,
  #carouselMiniHall {
    width: 60%;
    margin-bottom: 0 !important;
  }

  .mainHallDescTitle,
  .miniHallDescTitle {
    font-size: 3.8vw;
  }

  .miniHallDescription,
  .mainHallDescription {
    font-size: 3vw !important;
  }

  img.d-block {
    width: 50vw !important;
  }
}

@media (max-width: 400px) {
  .title,
  .venueTitle {
    font-size: 7vw;
  }

  .venueTitleContainer {
    margin-top: 4vh;
  }
  .description,
  .venueDescription {
    font-size: 3.5vw;
  }
  .card-title {
    font-size: 5vw;
  }

  .eventDesc {
    font-size: 3vw;
  }

  .card-body {
    padding: 1.9vw !important;
  }

  .bookBtn {
    font-size: 2vw !important;
  }

  .mainHallDescTitle,
  .miniHallDescTitle {
    font-size: 4.2vw;
  }

  .miniHallDescription,
  .mainHallDescription {
    font-size: 3.3vw !important;
  }

  .mt-5 {
    margin-top: 1vw !important;
  }
}
