@font-face {
  font-family: "Poppins";
  src: url(../Fonts/Poppins/Poppins-Regular.ttf);
}
@font-face {
  font-family: "Lora";
  src: url(../Fonts/Lora/Lora-VariableFont_wght.ttf);
}
@font-face {
  font-family: "Alkatra";
  src: url(../Fonts/Alkatra/Alkatra-VariableFont_wght.ttf);
}

footer {
  /* border: 1px solid black; */
  margin-top: 3vw;
  background: linear-gradient(
    to top,
    rgba(241, 241, 241, 0.445) -50%,
    var(--blue-450)
  );
  width: 100%;
}

#nameAndLogo {
  gap: 2vw;
  padding: 0.1vw;
  margin-top: var(--margin-xs);
}

.logo {
  width: 9vw;
  height: auto;
}
.mb-0 {
  font-family: "Lora";
  font-size: var(--font-size-lg);
  font-weight: bold;
  color: var(--text-dark);
}

.footerLine {
  width: 80%;
  margin: var(--margin-xs) auto;
  color: var(--text-dark);
  opacity: 1;
}

.info {
  display: flex;
  justify-content: center;
  gap: 5vw;
}
.locationFooter {
  width: 30%;
}

.reservationTitle,
.locationTitle {
  font-family: "Poppins";
  font-weight: bold;
  font-size: 19px;
  color: var(--bg-light);
}

.numberFooter,
.emailAddressTextFooter,
.addressTextFooter {
  font-family: "Poppins ExtraLight";
  color: var(--text-dark);
  font-size: clamp(18px, calc(2.1vh + 2px), 16px);
  margin-bottom: 0 !important;
}

.socialIcons {
  display: flex;
  justify-content: center;
}

.socialIcons a {
  text-decoration: none;
  background-color: rgb(255, 255, 255);
  margin: 5px;
  border-radius: 50%;
}

.socialIcons a i {
  font-size: clamp(22px, calc(2.5vh + 2px), 25px);
  color: var(--blue-350);
  opacity: 0.9;
  margin: 0.7vw;
}

.socialIcons a:hover {
  background-color: white;
  transition: 0.5s;
}

.socialIcons a:hover i {
  color: var(--blue-accents);
  transition: 0.5s;
}

/* Edit mode CSS */
#saveChangesBtn {
  margin-top: -8vw;
  margin-left: 80vw;
  font-size: 1.8vw !important;
  position: fixed;
}

#fullName {
  width: 50% !important;
}

.editable-input {
  background-color: rgba(245, 244, 244, 0.834) !important;
  border: 1px solid rgb(255, 13, 13) !important;
  padding: 2px;
}

/* Tablet size */
@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .mb-0 {
    font-size: clamp(18px, calc(2.1vh + 2px), 16px) !important;
  }

  .info {
    justify-content: space-evenly;
  }

  .logo {
    width: 10vw;
  }

  .reservationTitle,
  .locationTitle {
    font-size: clamp(18px, calc(2.1vh + 2px), 16px) !important;
  }

  .numberFooter,
  .emailAddressTextFooter,
  .addressTextFooter {
    font-size: clamp(18px, calc(2.1vh + 2px), 16px) !important;
  }

  .socialIcons {
    margin: 0.5vw auto;
  }

  .socialIcons a {
    justify-items: center;
    align-items: center;
  }

  .socialIcons a i {
    font-size: 23px;
    margin: clamp(0.7vw, 0.5vw, 0.8vw) !important;
  }
}

@media (max-width: 600px) {
  .info {
    margin-bottom: 0.5vw;
    justify-content: space-between;
    padding-left: 1vw;
    padding-right: 1vw;
  }

  .mb-0 {
    font-size: clamp(15px, calc(2vh + 2px), 16px) !important;
  }

  .py-1 {
    gap: 5vw;
  }

  .py-1 img {
    margin-left: 2vw;
  }

  .justify-content-start {
    justify-content: center !important;
  }

  .logo {
    width: 15vw;
  }

  .reservation {
    width: 30%;
  }

  .locationFooter {
    width: 50%;
  }

  .reservationTitle,
  .locationTitle {
    font-size: clamp(15px, calc(2vh + 2px), 16px) !important;
  }

  .numberFooter,
  .emailAddressTextFooter,
  .addressTextFooter {
    font-size: clamp(14px, calc(1.7vh + 2px), 13px) !important;
  }

  .numberFooter {
    margin-bottom: 0 !important;
  }

  .socialIcons a {
    justify-items: center;
    align-items: center;
  }

  .socialIcons a i {
    font-size: 22px;
    margin: 0.5vw !important;
  }
}

@media (max-width: 400px) {
  .reservationTitle,
  .locationTitle {
    font-size: clamp(15px, calc(1.8vh + 2px), 14px) !important;
  }

  .numberFooter,
  .emailAddressTextFooter,
  .addressTextFooter {
    font-size: clamp(14px, calc(1.7vh + 2px), 13px) !important;
  }
}
