@font-face {
  font-family: "Poppins";
  src: url(../Fonts/Poppins/Poppins-Regular.ttf);
}
@font-face {
  font-family: "Lora";
  src: url(../Fonts/Lora/Lora-VariableFont_wght.ttf);
}
@font-face {
  font-family: "Alkatra";
  src: url(../Fonts/Alkatra/Alkatra-VariableFont_wght.ttf);
}


footer {
  /* border: 1px solid black; */
  margin-top: 3vw;
  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 0.445) -50%,
    rgb(62, 132, 158) 95%
  );
  width: 100%;
}

.pb-1 {
  gap: 2vw;
  padding: 1vw 0 0 2vw;
}

.logo {
  width: 10vw;
  height: auto;
}
.mb-0 {
  font-family: "Lora";
  font-size: 1.7vw;
  font-weight: bold;
  color: #ffff;
}

.footerLine {
  width: 80%;
  margin: 0 auto;
  color: #fff;
  opacity: 1;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5vw;
}
.locationFooter {
  /* border: 1px solid black; */
  width: 30%;
}

.reservationTitle,
.locationTitle {
  font-family: "Poppins";
  font-weight: bold;
  font-size: 1.5vw;
  color: #fff;
}

.numberFooter,
.emailAddressTextFooter,
.addressTextFooter {
  font-family: "Poppins ExtraLight";
  color: #fff;
  font-size: clamp(1vw, 1.2vw, 1.3vw);
}

.socialIcons {
  display: flex;
  justify-content: center;
  margin: 0.3vw;
}

.socialIcons a {
  text-decoration: none;
  padding: 0.8vw;
  background-color: rgb(255, 255, 255);
  margin: 5px;
  border-radius: 50%;
}

.socialIcons a i {
  font-size: 2vw;
  color: #3e849e;
  opacity: 0.9;
}

.socialIcons a:hover {
  background-color: white;
  transition: 0.5s;
}

.socialIcons a:hover i {
  color: #c1a534;
  transition: 0.5s;
}

/* Edit mode CSS */
#saveChangesBtn {
  margin-top: -8vw;
  margin-left: 80vw;
  font-size: 1.8vw !important;
  position: fixed;
}

#fullName {
  width: 50% !important;
}

.editable-input {
  background-color: rgba(245, 244, 244, 0.834) !important;
  border: 1px solid rgb(255, 13, 13) !important;
  padding: 2px;
}

/* modal css */

.modal-dialog {
  max-width: 60% !important;
}

.modal-body {
  max-height: 500px;

  overflow-y: auto !important;
}

.modal-title {
  margin: auto;
  font-size: 2vw;
}

.modal-footer {
  display: flex;
  margin: auto;
}

#declineBtn,
#acceptBtn {
  width: 15vw;
  border-radius: 30px;
}

/*end of modal css */

/* Tablet size */
@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .mb-0 {
    font-size: clamp(2.2vw, calc(1.9vw + 2px), 1.5vw) !important;
  }

  .logo {
    width: 15vw;
  }

  .reservationTitle, .locationTitle {
    font-size: clamp(2.1vw, calc(1.6vw + 2px), 1.3vw) !important;
  }

  .numberFooter, .emailAddressTextFooter, .addressTextFooter {
    font-size: clamp(1.7vw, calc(1.5vw + 2px), 1.2vw) !important;
  }

  .socialIcons a {
    justify-items: center;
    align-items: center;
  }
 
    .socialIcons a i { 
      font-size: 3vw;
    }
}

@media (max-width: 600px) {

.mb-0 {
    font-size: clamp(2.7vw, calc(2.2vw + 4px), 2vw) !important;
  }

  .logo {
    width: 18vw;
  }

  .reservation {
    width: 20%;
  }

  .locationFooter {
    width: 50%;
  }

  .reservationTitle, .locationTitle {
    font-size: clamp(2.4vw, calc(2vw + 2px), 1.8vw) !important;
  }

  .numberFooter, .emailAddressTextFooter, .addressTextFooter {
    font-size: clamp(2.5vw, calc(2vw + 2px), 1.9vw) !important;
  }

  .socialIcons a {
    justify-items: center;
    align-items: center;
    padding: 0.5vw 1.5vw;
  }
 
.socialIcons a i { 
      font-size: 3.5vw;
    } 
} 