@font-face {
  font-family: "Poppins";
  src: url(../Fonts/Poppins/Poppins-Regular.ttf);
}
@font-face {
  font-family: "Lora";
  src: url(../Fonts/Lora/Lora-VariableFont_wght.ttf);
}
@font-face {
  font-family: "Alkatra";
  src: url(../Fonts/Alkatra/Alkatra-VariableFont_wght.ttf);
}

footer {
  /* border: 1px solid black; */
  margin-top: 3vw;
  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 0.445) -50%,
    rgb(62, 132, 158) 95%
  );
  width: 100%;
}

.pb-1 {
  gap: 2vw;
  padding: 1vw 0 0 2vw;
}

.logo {
  width: 15vw;
  height: auto;
}
.mb-0 {
  font-family: "Lora";
  font-size: 1.9vw;
  font-weight: bold;
  color: #ffff;
}

.footerLine {
  width: 80%;
  margin: 0 auto;
  color: #fff;
  opacity: 1;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5vw;
}
.locationFooter {
  /* border: 1px solid black; */
  width: 30%;
}

.reservationTitle,
.locationTitle {
  font-family: "Poppins";
  font-weight: bold;
  font-size: 1.8vw;
  color: #fff;
}

.numberFooter,
.emailAddressTextFooter,
.addressTextFooter {
  font-family: "Poppins ExtraLight";
  color: #fff;
  font-size: clamp(1.5vw, 1.4vw, 1.3vw);
}

.socialIcons {
  display: flex;
  justify-content: center;
  margin: 0.5vw 0;
}

.socialIcons a {
  text-decoration: none;
  background-color: rgb(255, 255, 255);
  margin: 5px;
  border-radius: 50%;
}

.socialIcons a i {
  font-size: clamp(2.2vw, 2.1vw, 2vw);
  color: #3e849e;
  opacity: 0.9;
  margin: 1vw;
}

.socialIcons a:hover {
  background-color: white;
  transition: 0.5s;
}

.socialIcons a:hover i {
  color: #c1a534;
  transition: 0.5s;
}

/* Edit mode CSS */
#saveChangesBtn {
  margin-top: -8vw;
  margin-left: 80vw;
  font-size: 1.8vw !important;
  position: fixed;
}

#fullName {
  width: 50% !important;
}

.editable-input {
  background-color: rgba(245, 244, 244, 0.834) !important;
  border: 1px solid rgb(255, 13, 13) !important;
  padding: 2px;
}

/* Tablet size */
@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .mb-0 {
    font-size: clamp(2.6vw, calc(2.1vh + 4px), 2.8vw) !important;
  }

  .info {
    justify-content: space-evenly;
  }

  .logo {
    width: 18vw;
  }

  .reservationTitle,
  .locationTitle {
    font-size: clamp(2.6vw, calc(2vh + 2px), 2.4vw) !important;
  }

  .numberFooter,
  .emailAddressTextFooter,
  .addressTextFooter {
    font-size: clamp(2.3vw, calc(1.8vh + 4px), 2.1vw) !important;
  }

  .socialIcons {
    margin: 1vw auto;
  }

  .socialIcons a {
    justify-items: center;
    align-items: center;
  }

  .socialIcons a i {
    font-size: 3.5vw;
    margin: clamp(0.8vw, 1vw, 1.1vw) !important;
  }
}

@media (max-width: 600px) {
  .info {
    justify-content: space-around;
  }
  .mb-0 {
    font-size: clamp(3.1vw, calc(2.2vh + 4px), 3.5vw) !important;
  }

  .justify-content-start {
    justify-content: center !important;
    margin-top: 3vw !important;
  }

  .logo {
    width: 20vw;
  }

  .reservation {
    width: 30%;
  }

  .locationFooter {
    width: 50%;
  }

  .reservationTitle,
  .locationTitle {
    font-size: clamp(2.8vw, calc(2vh + 2px), 3vw) !important;
  }

  .numberFooter,
  .emailAddressTextFooter,
  .addressTextFooter {
    font-size: clamp(3.2vw, calc(2vh + 2px), 3vw) !important;
  }

  .numberFooter {
    margin-bottom: 0 !important;
  }

  .socialIcons {
    margin-bottom: 3vw !important;
    margin-top: 2vw;
  }

  .socialIcons a {
    justify-items: center;
    align-items: center;
  }

  .socialIcons a i {
    font-size: 3.8vw;
    margin: 1vw !important;
  }
}
