@font-face {
  font-family: "Poppins";
  src: url(../Fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
  font-family: "Poppins Bold";
  src: url(../Fonts/Poppins/Poppins-Bold.ttf);
}

@font-face {
  font-family: "Lora";
  src: url(../Fonts/Lora/Lora-VariableFont_wght.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
body {
  background: url(../Images/indexPhotos/Background2.png) lightgray 50% / cover
    no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  position: relative;
  width: 750px !important;
  height: 450px;
  background: #fff;
  margin: 20px;
  border-radius: 30px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.container-title {
  font-family: "Poppins Bold";
  font-size: 36px;
  margin-bottom: 3rem;
  word-spacing: 1rem;
}

.errorMessageBox {
  font-family: "Poppins";
  color: red;
  position: absolute;
  margin-top: -6vh;
  left: 50%;
  transform: translateX(-50%);
}

form {
  width: 100%;
}

.form-box {
  font-family: "Poppins";
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  color: #333;
  text-align: center;
  padding: 40px;
}

.input-box {
  position: relative;
  margin: 32px 0;
}

.input-box input {
  width: 100%;
  padding: 13px 50px 13px 20px;
  background: #ffffff;
  border-radius: 8px;
  border: 1px solid #eee;
  outline: none;
  font-size: 16px;
  color: #333;
  font-weight: 500;
}

.input-box input::placeholder {
  color: #888;
  font-weight: 400;
}

.input-box i {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}

input[type="password"]::-ms-reveal,
input[type="password"]::-webkit-contacts-auto-fill-button,
input[type="password"]::-webkit-search-cancel-button {
  display: none;
}

#passwordValidation,
#passwordMatch {
  /* border: 1px solid red; */
  position: absolute;
  z-index: 1000;
  margin-top: -1.8rem;
  text-indent: 1rem;
  color: red;
}

.btn {
  font-family: "Lora" !important;
  width: 100%;
  height: 48px;
  background: #44b3f8;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #fff;
  font-weight: 600;
}

.back-icon-container {
  position: absolute;
  width: 10%;
  padding: 1rem;
}

.backArrow {
  display: flex;
  margin: auto;
}
@media screen and (max-width: 650px) {
  .container {
    height: calc(55vh - 40px);
  }
  .form-box {
    bottom: 0;
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 400px) {
  .form-box {
    padding: 20px;
  }
}
