@font-face {
  font-family: "Poppins";
  src: url(../Fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
  font-family: "Alkatra";
  src: url(../Fonts/Alkatra/Alkatra-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Lora";
  src: url(../Fonts/Lora/Lora-VariableFont_wght.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
}

body {
  background-image: url(../Images/landingPage/landingPageBg.png);
  background-repeat: no-repeat;
  background-position: fixed;
  background-size: cover;
  display: flex;
  max-height: 100vh;
  width: 100%;
}

/* Edit mode CSS */
#saveChangesBtn {
  margin-top: 8vw !important;
  margin-left: 80vw;
  font-size: 1.8vw !important;
  position: fixed;
}

.editable-input {
  background-color: rgba(255, 255, 255, 0) !important;
  border: 1px solid rgb(255, 13, 13) !important;
  padding: 2px;
}

/* .editable-img {
  border: 2px solid rgb(255, 13, 13) !important;
} */

.white-text {
  color: whitesmoke !important;
}

/* Div for loader */
#loaderOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Gray out effect */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  position: absolute;
  z-index: 5;
  left: 50%;
  top: 50%;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
.titleContainer {
  /* margin-top: 20vh; */
  /* border: 1px solid black; */
  width: 100%;
  height: 50vh;
  padding: 12vw;
  /* margin: auto; */
}

.mamyrTitle {
  /* border: 1px solid black; */
  width: 50%;
}

.name {
  color: #fff;
  text-align: left;
  font-family: "Lora";
  font-size: 7vw;
  font-style: normal;
  line-height: normal;
}

.description {
  width: 90%;
  margin: auto;
}

.descriptionText {
  color: #fff;
  font-family: "Poppins";
  font-size: 2vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-indent: 20px;
  letter-spacing: 1px;
}

.containerBook {
  background-color: #ffffff;
  border-radius: 1vw;
  width: 85%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 2vw;
  margin-top: 31vw;
  box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
}

.checkBoxContainer {
  display: flex;
  gap: 1vw;
  border-radius: 5px;
  width: 100%;
  padding: 0.3rem;
}

.form-check-label {
  font-size: 1.6vw;
}

.form-check-input {
  border-color: black !important;
}

.label {
  display: flex;
  gap: 5vw;
  margin-top: 3vw;
  justify-content: center;
}

.formBoxes {
  width: 100%;
  gap: 4vw;
  display: flex;
}

input[type="number"]::-webkit-inner-spin-button {
  opacity: 1;
}

.form-control {
  font-size: 1.5vw !important;
}

.containerLabel {
  width: 100%;
  font-size: 20px;
  font-family: "Poppins";
  text-align: left !important;
}

.availBtn {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 3vw;
}

.custom-btn {
  background-color: #007bff !important;
  color: #ffffff !important;
  font-size: 1.5vw !important;
  width: 100%;

  &:hover {
    background-color: #2186f3 !important;
  }
}

.welcomeSection {
  display: flex;
  margin: 0 auto;
  /* border: 1px solid black; */
  width: 100%;
}

.resortPic1 {
  margin-top: 5vw !important;
  margin: auto;
}

.pic1 {
  width: 40vw;
  height: auto;
}

.wsText {
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 5vw !important;
  width: 50%;
}

.line {
  border: none;
  border-top: 5px solid #d48d31;
  width: 40%;
  height: 2vw;
  opacity: 1;
  /* margin: 20px auto; */
}

.wsTitle {
  font-family: "Poppins";
  font-size: 25px;
  text-align: center;
  color: rgb(0, 0, 0);
}

.wsDescription {
  font-family: "Poppins";
  text-align: justify;
  margin-top: 30px;
  font-size: 20px;
  text-indent: 20px;
}

.contact {
  display: flex;
  justify-content: space-around;
  margin-top: 7vh;
  margin-bottom: 5vw;
  background-color: #7dcbf2;
  padding: 5vw;
  height: 90vh;
}

.contactText {
  /* border: 1px solid black; */
  justify-content: center;
  align-items: center;
  width: 45%;
}

.location,
.number,
.email {
  display: flex;
  gap: 3vw;
  margin-top: 1vw;
}

.locationIcon,
.emailIcon,
.phoneIcon {
  height: 4vw;
  width: auto;
}

.contactTitle {
  margin-bottom: 2vw;
  font-family: "Poppins";
}

.locationText {
  margin-top: 0.1vw;
}

.emailAddressText {
  margin-top: 1vw;
}

.googleMap {
  /* border: 1px solid black; */
  width: 45%;
  height: 60vh;
}

.gallery {
  background-color: #f7d5b0;
  /* margin: 2vw; */
  margin-bottom: 0;
  padding: 2vw;
  padding-bottom: 1vw;
}

.galleryTitle {
  font-family: "Poppins";
  font-size: 2vw;
  margin-left: 2vw;
}

.carousel {
  width: 65%;
  margin: auto;
}

.carousel-inner {
  width: 100% !important;
}

.carousel-item img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #007bff !important;
}

.seeMore {
  margin: 5vh auto 3vh auto;
  width: 15vw;
}

footer {
  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 0.445) -50%,
    rgb(62, 132, 158) 95%
  );
}

.pb-1 {
  gap: 2vw;
  padding: 1vw 0 0 2vw;
}

.logo {
  width: 10vw;
  height: auto;
}

.mb-0 {
  font-family: "Lora";
  font-size: 1.5vw;
  font-weight: bold;
  color: #ffff;
}

.footerLine {
  width: 80%;
  margin: 0 auto;
  color: #fff;
  opacity: 1;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5vw;
}

.locationFooter {
  /* border: 1px solid black; */
  width: 30%;
}

.reservationTitle,
.locationTitle {
  font-family: "Lora";
  font-weight: bold;
  font-size: 1.5vw;
  color: #fff;
}

.numberFooter,
.emailAddressTextFooter,
.addressTextFooter {
  font-family: "Poppins ExtraLight";
  color: #fff;
  font-size: 1vw;
}

.socialIcons {
  display: flex;
  justify-content: center;
  margin: 0.3vw;
}

.socialIcons a {
  text-decoration: none;
  padding: 0.8vw;
  background-color: rgb(255, 255, 255);
  margin: 5px;
  border-radius: 50%;
}

.socialIcons a i {
  font-size: 2vw;
  color: #3e849e;
  opacity: 0.9;
}

.socialIcons a:hover {
  background-color: white;
  transition: 0.5s;
}

.socialIcons a:hover i {
  color: #007bff;
  transition: 0.5s;
}

/* Tablet size */
@media only screen and (min-width: 600px) and (max-width: 1025px) {
  .titleContainer {
    height: calc(100vh - 15vh);
    padding: calc(12vh - 3vh);
  }
  .mamyrTitle {
    width: 100%;
    margin-top: clamp(15vh, 5vh, 2vh) !important;
  }

  .name {
    font-size: clamp(60px, calc(3.5vw + 4px), 45px) !important;
    text-align: left;
  }

  .description {
    margin: auto;
  }

  .descriptionText {
    text-align: justify;
    font-size: clamp(23px, calc(2vw + 4px), 35px);
  }

  .white-bg {
    background-color: white;
  }

  .containerBook {
    width: 95%;
    padding: 2vw;
    margin-top: 7vw;
    margin-top: 3vw;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.3);
  }

  .label {
    display: flex;
    gap: clamp(5vw, 4vw, 3vw);
    margin-top: 3vw;
  }

  .formBoxes {
    gap: 4vw;
    display: flex;
    justify-content: center;
  }

  .containerLabel {
    width: 100%;
    font-size: clamp(12px, calc(1.5vw + 4px), 20px);
  }

  .welcomeSection {
    display: flex;
    flex-direction: column-reverse;
    margin: 0 auto;
    width: 100%;
  }

  .resortPic1 {
    margin-top: 5vw !important;
  }

  .pic1 {
    width: 60vw;
  }

  .wsText {
    margin-top: 8vw !important;
    width: 80%;

    .line {
      width: 100%;
    }
  }

  .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
  }

  .contactText {
    justify-content: center;
    align-items: center;
    width: 80%;

    .line {
      width: 30%;
    }

    h4 {
      font-size: clamp(18px, calc(2vw + 4px), 12px) !important;
    }

    h5 {
      font-size: clamp(15px, calc(1.5vw + 4px), 12px) !important;
    }
  }

  .locationIcon,
  .emailIcon,
  .phoneIcon {
    height: clamp(4vh, calc(1.5vw + 4px), 2vh) !important;
    width: auto;
  }

  .emailAddressText {
    margin-top: 0.1vw;
  }

  .googleMap {
    height: 80vh;
    width: 70%;
    margin-top: 5vh;
  }

  .gallery {
    .line {
      width: 30%;
    }
  }

  .galleryTitle {
    font-size: 4vw;
  }

  .galleryImg {
    height: 40vh;
    width: auto;
  }

  .img5,
  .img6 {
    display: none;
  }

  .seeMore {
    margin: auto;
    margin-top: 2vh;
  }

  .announcements {
    height: clamp(300px, 90vh, 800px) !important;
  }

  .announcementTitleContainer {
    width: 80%;
  }

  .announcementLine {
    width: 50%;
  }

  .announcementTitle {
    margin-top: 1vw;
    font-size: 4vw;
  }

  .post {
    width: 70%;
    height: clamp(100px, 90vh, 450px) !important;
    margin-bottom: 10vw !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .sorryText {
    margin-top: 2vh;
    font-size: clamp(25px, calc(1.25vw + 4px), 35px) !important;
  }

  .closedText {
    font-size: clamp(35px, calc(2.5vw + 4px), 45px) !important;
    font-weight: bold;
  }

  .tomorrowText {
    font-size: clamp(25px, calc(1.25vw + 4px), 35px) !important;
  }

  .vr {
    height: 3.2vw;
    margin-top: 2.5vw;
  }

  .closedAdditionalText {
    font-size: clamp(20px, calc(1.5vw + 4px), 30px) !important;
  }

  .pb-1 {
    gap: 3vw;
  }

  .mb-0 {
    font-size: clamp(2.2vw, calc(1.9vw + 2px), 1.5vw) !important;
  }

  .logo {
    width: 15vw;
  }

  .reservationTitle,
  .locationTitle {
    font-size: clamp(2.1vw, calc(1.6vw + 2px), 1.3vw) !important;
  }

  .numberFooter,
  .emailAddressTextFooter,
  .addressTextFooter {
    font-size: clamp(1.7vw, calc(1.5vw + 2px), 1.2vw) !important;
  }

  .socialIcons a {
    justify-items: center;
    align-items: center;
  }

  .socialIcons a i {
    font-size: 3vw;
  }
}

/* Tablet portrait */
@media only screen and (min-width: 600px) and (max-width: 1025px) and (orientation: portrait) {
  .titleContainer {
    height: calc(100vh - 20vh);
    padding: calc(12vh - 3vh);
  }

  .name {
    font-size: clamp(40px, calc(4vw + 10px), 60px) !important;
  }

  .descriptionText {
    font-size: clamp(20px, calc(2vw + 4px), 35px);
  }

  .btn-outline-light {
    font-size: clamp(12px, calc(1.5vw + 4px), 20px) !important;
  }

  .availBtn {
    .custom-btn {
      font-size: medium !important;
    }
  }

  .contact {
    height: clamp(50%, 75%, 80%);
  }

  .contactText {
    h4 {
      font-size: clamp(30px, calc(2vw + 4px), 35px) !important;
    }

    h5 {
      font-size: clamp(25px, calc(1.5vw + 4px), 20px) !important;
    }
  }

  .locationIcon,
  .emailIcon,
  .phoneIcon {
    height: clamp(3vh, calc(1.5vw + 4px), 2vh) !important;
  }

  .gallery {
    .line {
      width: 30%;
    }
  }

  .galleryTitle {
    font-size: 4vw;
  }

  .galleryImg {
    height: 40vh;
    width: auto;
  }

  .img5,
  .img6 {
    display: block;
  }

  .img1,
  .img2,
  .img3,
  .img4 {
    display: none;
  }

  .seeMore {
    margin: auto;
    margin-top: 2vh;
    width: 30%;

    .custom-btn {
      font-size: large !important;
    }
  }

  .announcements {
    height: clamp(300px, 90vh, 700px) !important;
  }

  .post {
    width: calc(100% - 30vw);
    height: clamp(100px, 90vh, 450px) !important;
    margin-bottom: 10vw !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

/* Tablet landscape */
@media only screen and (min-width: 600px) and (max-width: 1025px) and (orientation: landscape) {
  .img5,
  .img6,
  .img4 {
    display: none;
  }

  .img1,
  .img2,
  .img3 {
    display: block;
  }

  .post {
    width: calc(100% - 30vw);
    height: clamp(100px, 90vh, 400px) !important;
    margin-bottom: 10vw !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media (max-width: 991.98px) {
  .fc-daygrid-day-top a {
    font-size: clamp(2vw, 1.8vw, 1.6vw);
  }
}

/* Phone size */
@media screen and (max-width: 599px) {
  .titleContainer {
    height: calc(100vh - 20vh);
    padding: 12vw;
  }

  .mamyrTitle {
    width: 100%;
    margin-top: clamp(16vh, 6vh, 2vh) !important;
  }

  .name {
    font-size: clamp(35px, calc(3.5vw + 4px), 45px) !important;
    text-align: left;
  }

  .description {
    margin: auto;
  }

  .descriptionText {
    font-size: clamp(15px, calc(1.5vw + 4px), 35px) !important;
    text-align: justify;
    letter-spacing: 0;
  }

  .containerBook {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    justify-items: center;
    align-items: center;
    padding: 5vw;
    margin-top: clamp(5vh, calc(2.5vh + 4px), 12vh);
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.3);
  }

  .label {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 0;
  }

  .formBoxes {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .containerLabel {
    text-align: left !important;
    width: 100%;
    font-size: clamp(14px, calc(1.5vw + 4px), 20px) !important;
  }

  .form-control {
    font-size: clamp(8px, calc(1.5vw + 4px), 10px) !important;
  }

  .availBtn {
    grid-column: span 2;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .welcomeSection {
    display: flex;
    flex-direction: column-reverse;
    margin: 0 auto;
    width: 100%;
  }

  .resortPic1 {
    margin-top: 5vw !important;
  }

  .pic1 {
    width: 80vw;
  }

  .wsText {
    margin-top: 8vw !important;
    width: 80%;

    .line {
      width: 100%;
    }
  }

  .img5,
  .img6 {
    display: none;
  }

  .wsDescription {
    font-size: 15px;
  }

  .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10vh;
    height: 80vh;
    padding-bottom: 8vh;

    h5 {
      font-size: 15px;
    }

    img {
      height: 3vh;
    }
  }

  .contactText {
    justify-content: center;
    align-items: center;
    margin: 1vh 3vw 0 0;
    width: 80%;

    .line {
      width: 40%;
    }
  }

  .emailAddressText {
    margin-top: 0.1vw;
  }

  .googleMap {
    height: 40vh;
    width: 80%;
    margin-top: 5vh;
  }

  .gallery {
    .line {
      width: 30%;
    }
  }

  .galleryTitle {
    font-size: 6vw;
  }

  .galleryImg {
    height: 30vh;
    width: auto;
  }

  .seeMore {
    margin: auto;
    margin-top: 2vh;
    width: 30%;
  }

  .custom-btn {
    font-size: 10px !important;
  }

  .announcements {
    height: calc(100vh - 40vh);
  }

  .announcementLine {
    width: 60%;
  }

  .announcementTitle {
    margin-top: 1.5vw;
    font-size: clamp(20px, calc(1.5vh + 4px), 25px);
  }

  .post {
    width: 70%;
    height: calc(75vh - 30vh);
    margin-bottom: 10vw !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .sorryText {
    margin-top: 2vh;
    font-size: clamp(12px, calc(1.5vh + 4px), 20px);
  }

  .closedText {
    font-size: clamp(25px, calc(2.5vh + 4px), 30px);
    font-weight: bold;
  }

  .tomorrowText {
    font-size: clamp(12px, calc(1.5vh + 4px), 20px);
  }

  .date,
  .time {
    font-size: clamp(12px, calc(1.5vh + 4px), 20px);
  }

  .vr {
    height: 3.5vw;
    margin-top: 2.5vw;
  }

  .closedAdditionalText {
    font-size: clamp(8px, calc(1.5vh + 4px), 12px);
  }

  .pb-1 {
    gap: 3vw;
  }
}
