@font-face {
  font-family: "Poppins";
  src: url(../Fonts/Poppins/Poppins-Regular.ttf);
}
@font-face {
  font-family: "Plus Jakarta Sans";
  src: url(../Fonts/PlusJakartaSans/PlusJakartaSans-VariableFont_wght.ttf);
}
@font-face {
  font-family: "Prata";
  src: url(../Fonts/Prata/Prata-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
}

body {
  background-image: url(../images/landingPage/landingPageBg.png);
  background-repeat: no-repeat;
  background-position: fixed;
  background-size: cover;
  display: flex;
  max-height: 100vh;
}

.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  text-transform: uppercase;
}

.navbar.scrolled {
  background-color: white;
  .nav-link {
    color: black !important;
  }
  .nav-link:not(.dropdown-toggle):after {
    border-bottom: 4px solid rgb(126, 203, 242) !important;
  }
}

.nav-item {
  font-family: "Poppins" !important;
  font-weight: lighter;
  margin-top: 15px;
  font-size: 1.5vw;
  /* margin-left: 3vw; */
}

.nav-link {
  text-decoration: none;
  display: inline-block;
  padding: 10px 15px !important;
  position: relative;
  color: rgb(255, 255, 255) !important;
  letter-spacing: 0.1em;
}

.nav-link:not(.dropdown-toggle):after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  border-bottom: 4px solid rgb(126, 203, 242) !important;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.nav-link:not(.dropdown-toggle):hover:after {
  width: 100%;
  left: 0;
}

.dropdown-menu {
  background-color: rgb(126, 203, 242, 0.5) !important;
}
.nav-item.dropdown:hover .dropdown-menu {
  background-color: white !important;
  display: block;
}

.dropdown-item:hover {
  background-color: rgb(126, 203, 242, 0.5) !important;
}

.dropdown-item {
  font-size: 1.3vw;
}

.navbar-collapse {
  text-align: center;
  padding-bottom: 0.5rem;
}

.navbar-toggler {
  float: right;
  background-color: #ffffff !important;
  margin: 5vw;
  border: none;

  &:focus,
  &:active {
    outline: none !important;
    box-shadow: none !important;
    border: none;
  }

  .custom-btn {
    width: 2vw !important;
    font-size: 1.5vw !important;
  }
}

.titleContainer {
  /* margin-top: 20vh; */
  /* border: 1px solid black; */
  width: 100%;
  height: 50vh;
  padding: 12vw;
  /* margin: auto; */
}

.mamyrTitle {
  /* border: 1px solid black; */
  width: 50%;
}
.name {
  color: #fff;
  text-align: left;
  font-family: Prata;
  font-size: 7vw;
  font-style: normal;
  line-height: normal;
}

.description {
  width: 90%;
  margin: auto;
}

.descriptionText {
  color: #fff;
  font-family: "Plus Jakarta Sans";
  font-size: 2vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.containerBook {
  background-color: #ffffff;
  border-radius: 1vw;
  width: 85%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 2vw;
  margin-top: 31vw;
  box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
}

.label {
  display: flex;
  gap: 4vw;
  margin-top: 3vw;
}

.formBoxes {
  width: 100%;
  gap: 4vw;
  display: flex;
  justify-content: center;
}

input[type="number"]::-webkit-inner-spin-button {
  opacity: 1;
}

.form-control {
  font-size: 1.5vw !important;
}

.containerLabel {
  width: 100%;
  font-size: 20px;
  font-family: "Poppins";
  text-align: left !important;
}

.availBtn {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 3vw;
}

.custom-btn {
  background-color: #007bff !important;
  color: #ffffff !important;
  font-size: 1.5vw !important;
  width: 100%;

  &:hover {
    background-color: #2186f3 !important;
  }
}

.welcomeSection {
  display: flex;
  margin: 0 auto;
  /* border: 1px solid black; */
  width: 100%;
}

.resortPic1 {
  margin-top: 5vw !important;
  margin: auto;
}

.pic1 {
  width: 40vw;
  height: auto;
}

.wsText {
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 5vw !important;
  width: 50%;
}

.line {
  border: none;
  border-top: 5px solid #d48d31;
  width: 40%;
  height: 2vw;
  opacity: 1;
  /* margin: 20px auto; */
}

.wsTitle {
  font-family: "Plus Jakarta sans";
  font-size: 25px;
  text-align: center;
  color: rgb(0, 0, 0);
}

.wsDescription {
  font-family: "Plus Jakarta Sans";
  text-align: justify;
  margin-top: 30px;
  font-size: 20px;
}

.contact {
  display: flex;
  justify-content: space-around;
  margin-top: 7vh;
  background-color: #7dcbf2;
  padding: 5vw;
  height: 90vh;
}

.contactText {
  /* border: 1px solid black; */
  justify-content: center;
  align-items: center;
  width: 45%;
}

.location,
.number,
.email {
  display: flex;
  gap: 3vw;
  margin-top: 1vw;
}

.locationIcon,
.emailIcon,
.phoneIcon {
  height: 4vw;
  width: auto;
}

.contactTitle {
  margin-bottom: 2vw;
  font-family: "Plus Jakarta Sans";
}
.locationText {
  margin-top: 0.1vw;
}

.emailAddressText {
  margin-top: 1vw;
}

.googleMap {
  /* border: 1px solid black; */
  width: 45%;
  height: 60vh;
}

.gallery {
  /* border: 1px solid black; */
  margin: 2vw;
  padding: 2vw;
}

.galleryTitle {
  font-family: "Plus Jakarta Sans";
  font-size: 2vw;
}

.galleryPictures {
  /* border: 1px solid black; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2vw;
  margin-top: 2vw;
}

.seeMore {
  margin: auto;
  margin-top: 2.5vh;
  width: 15vw;
}

footer {
  /* border: 1px solid black; */

  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 0.445) -50%,
    rgb(62, 132, 158) 95%
  );
}

.pb-1 {
  gap: 2vw;
  padding: 1vw 0 0 2vw;
}

.logo {
  width: 10vw;
  height: auto;
}
.mb-0 {
  font-family: "Prata";
  font-size: 1.5vw;
  font-weight: bold;
  color: #ffff;
}

.footerLine {
  width: 80%;
  margin: 0 auto;
  color: #fff;
  opacity: 1;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5vw;
}
.locationFooter {
  /* border: 1px solid black; */
  width: 30%;
}

.reservationTitle,
.locationTitle {
  font-family: "Plus Jakarta Sans";
  font-weight: bold;
  font-size: 1.5vw;
  color: #fff;
}

.numberFooter,
.emailAddressTextFooter,
.addressTextFooter {
  font-family: "Poppins ExtraLight";
  color: #fff;
  font-size: 1vw;
}

.socialIcons {
  display: flex;
  justify-content: center;
  margin: 0.3vw;
}

.socialIcons a {
  text-decoration: none;
  padding: 0.8vw;
  background-color: rgb(255, 255, 255);
  margin: 5px;
  border-radius: 50%;
}

.socialIcons a i {
  font-size: 2vw;
  color: #3e849e;
  opacity: 0.9;
}

.socialIcons a:hover {
  background-color: white;
  transition: 0.5s;
}

.socialIcons a:hover i {
  color: #007bff;
  transition: 0.5s;
}

/* Tablet size */
@media only screen and (min-width: 600px) and (max-width: 1025px) {
  .titleContainer {
    height: calc(100vh - 15vh);
    padding: calc(12vh - 3vh);
  }

  .navbar {
    --bs-navbar-padding-y: 0 !important;
  }

  .mamyrTitle {
    width: 100%;
    margin-top: clamp(15vh, 5vh, 2vh) !important;
  }

  .name {
    font-size: clamp(40px, calc(3.5vw + 4px), 45px) !important;
    text-align: left;
  }

  .description {
    margin: auto;
  }
  .descriptionText {
    text-align: justify;
    font-size: clamp(23px, calc(3vw + 4px), 35px);
  }

  .navbar-toggler {
    float: right;
    background-color: #ffffff !important;
    margin: 3vw;
    border: none;

    &:focus,
    &:active {
      outline: none !important;
      box-shadow: none !important;
      border: none;
    }
  }

  .nav-item.dropdown:hover .dropdown-menu {
    background-color: white !important;
    display: block;
  }

  .navbar.scrolled {
    background-color: transparent !important;
  }

  .nav-item {
    font-size: clamp(10px, calc(1.5vh + 4px), 12px);
  }

  .dropdown-item {
    font-size: clamp(10px, calc(1.5vh + 4px), 12px);
    text-align: center !important;
  }
  .navbar-collapse {
    background-color: white;
    .nav-link {
      color: black !important;
      text-align: center;
    }
  }

  .navbar.white-bg {
    background-color: white;
  }

  /* .navbar-collapse {
    text-align: right;
  } */

  .containerBook {
    width: 95%;
    padding: 2vw;
    margin-top: 7vw;
    margin-top: 3vw;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.3);
  }

  .label {
    display: flex;
    gap: clamp(5vw, 4vw, 3vw);
    margin-top: 3vw;
  }

  .formBoxes {
    gap: 4vw;
    display: flex;
    justify-content: center;
  }

  .containerLabel {
    width: 100%;
    font-size: clamp(12px, calc(1.5vw + 4px), 20px);
  }

  .welcomeSection {
    display: flex;
    flex-direction: column-reverse;
    margin: 0 auto;
    width: 100%;
  }

  .resortPic1 {
    margin-top: 5vw !important;
  }

  .pic1 {
    width: 60vw;
  }

  .wsText {
    margin-top: 8vw !important;
    width: 80%;
    .line {
      width: 100%;
    }
  }

  .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
  }

  .contactText {
    justify-content: center;
    align-items: center;
    width: 80%;
    .line {
      width: 30%;
    }
    h4 {
      font-size: clamp(18px, calc(2vw + 4px), 12px) !important;
    }
    h5 {
      font-size: clamp(15px, calc(1.5vw + 4px), 12px) !important;
    }
  }

  .locationIcon,
  .emailIcon,
  .phoneIcon {
    height: clamp(4vh, calc(1.5vw + 4px), 2vh) !important;
    width: auto;
  }

  .emailAddressText {
    margin-top: 0.1vw;
  }

  .googleMap {
    height: 80vh;
    width: 70%;
    margin-top: 5vh;
  }

  .gallery {
    .line {
      width: 30%;
    }
  }

  .galleryTitle {
    font-size: 4vw;
  }

  .galleryImg {
    height: 40vh;
    width: auto;
  }

  .img5,
  .img6 {
    display: none;
  }

  .seeMore {
    margin: auto;
    margin-top: 2vh;
  }

  .announcements {
    height: clamp(300px, 90vh, 800px) !important;
  }

  .announcementTitleContainer {
    width: 80%;
  }

  .announcementLine {
    width: 50%;
  }

  .announcementTitle {
    margin-top: 1vw;
    font-size: 4vw;
  }

  .post {
    width: 70%;
    height: clamp(100px, 90vh, 450px) !important;
    margin-bottom: 10vw !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .sorryText {
    margin-top: 2vh;
    font-size: clamp(25px, calc(1.25vw + 4px), 35px) !important;
  }

  .closedText {
    font-size: clamp(35px, calc(2.5vw + 4px), 45px) !important;
    font-weight: bold;
  }

  .tomorrowText {
    font-size: clamp(25px, calc(1.25vw + 4px), 35px) !important;
  }

  .vr {
    height: 3.2vw;
    margin-top: 2.5vw;
  }

  .closedAdditionalText {
    font-size: clamp(20px, calc(1.5vw + 4px), 30px) !important;
  }

  .pb-1 {
    gap: 3vw;
  }

  .mb-0 {
    font-size: 2vw;
  }

  .locationFooter {
    width: 50%;
  }

  .reservationTitle,
  .locationTitle {
    font-size: 2vw;
  }

  .numberFooter,
  .emailAddressTextFooter,
  .addressTextFooter {
    font-size: 1.5vw;
  }

  .socialIcons {
    width: 20%;
    display: flex;
    margin: auto;
    justify-content: space-between;
  }

  .socialIcons a {
    height: 6vh;
    padding: 1vw;
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    margin: 5px;
    border-radius: 50%;
  }

  .socialIcons a i {
    font-size: 3.5vw;
  }
}
/* Tablet portrait */
@media only screen and (min-width: 600px) and (max-width: 1025px) and (orientation: portrait) {
  .titleContainer {
    height: calc(100vh - 20vh);
    padding: calc(12vh - 3vh);
  }

  .navbar.scrolled {
    background-color: none !important;
  }

  .name {
    font-size: clamp(40px, calc(4vw + 10px), 60px) !important;
  }

  .descriptionText {
    font-size: clamp(25px, calc(3vw + 4px), 35px);
  }

  .btn-outline-light {
    font-size: clamp(12px, calc(1.5vw + 4px), 20px) !important;
  }

  .availBtn {
    .custom-btn {
      font-size: medium !important;
    }
  }

  .contact {
    height: clamp(50%, 75%, 80%);
  }

  .contactText {
    h4 {
      font-size: clamp(30px, calc(2vw + 4px), 35px) !important;
    }
    h5 {
      font-size: clamp(25px, calc(1.5vw + 4px), 20px) !important;
    }
  }

  .locationIcon,
  .emailIcon,
  .phoneIcon {
    height: clamp(3vh, calc(1.5vw + 4px), 2vh) !important;
  }

  .gallery {
    .line {
      width: 30%;
    }
  }

  .galleryTitle {
    font-size: 4vw;
  }

  .galleryImg {
    height: 40vh;
    width: auto;
  }

  .img5,
  .img6 {
    display: block;
  }

  .img1,
  .img2,
  .img3,
  .img4 {
    display: none;
  }

  .seeMore {
    margin: auto;
    margin-top: 2vh;
    width: 30%;
    .custom-btn {
      font-size: large !important;
    }
  }

  .announcements {
    height: clamp(300px, 90vh, 700px) !important;
  }
  .post {
    width: calc(100% - 30vw);
    height: clamp(100px, 90vh, 450px) !important;
    margin-bottom: 10vw !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
/* Tablet landscape */
@media only screen and (min-width: 600px) and (max-width: 1025px) and (orientation: landscape) {
  .img5,
  .img6,
  .img4 {
    display: none;
  }

  .img1,
  .img2,
  .img3 {
    display: block;
  }

  .post {
    width: calc(100% - 30vw);
    height: clamp(100px, 90vh, 400px) !important;
    margin-bottom: 10vw !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .navbar.scrolled {
    background-color: none !important;
  }
}

/* Phone size */
@media screen and (min-width: 360px) and (max-width: 599px) {
  .titleContainer {
    height: calc(100vh - 20vh);
    padding: 12vw;
  }

  .mamyrTitle {
    width: 100%;
    margin-top: clamp(16vh, 6vh, 2vh) !important;
  }

  .name {
    font-size: clamp(35px, calc(3.5vw + 4px), 40px) !important;
    text-align: left;
  }

  .description {
    margin: auto;
  }

  .descriptionText {
    font-size: clamp(18px, calc(1.5vw + 4px), 35px) !important;
    text-align: justify;
  }

  .nav-item {
    font-size: clamp(10px, calc(1.5vh + 4px), 12px);
  }

  .dropdown-item {
    font-size: clamp(10px, calc(1.5vh + 4px), 12px);
    text-align: center !important;
  }
  .navbar-collapse {
    background-color: white;
    .nav-link {
      color: black !important;
      text-align: center;
    }
  }

  .navbar.white-bg {
    background-color: white;
  }

  .navbar-toggler {
    float: right;
    background-color: #ffffff !important;
    margin: 3vw;
    border: none;

    &:focus,
    &:active {
      outline: none !important;
      box-shadow: none !important;
      border: none;
    }
  }

  .navbar.scrolled {
    background-color: none !important;
  }

  .containerBook {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    justify-items: center;
    align-items: center;
    padding: 5vw;
    margin-top: clamp(5vh, calc(2.5vh + 4px), 12vh);
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.3);
  }

  .label {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 0;
  }

  .formBoxes {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .containerLabel {
    text-align: left !important;
    width: 100%;
    font-size: clamp(14px, calc(1.5vw + 4px), 20px) !important;
  }

  .form-control {
    font-size: clamp(8px, calc(1.5vw + 4px), 10px) !important;
  }

  .availBtn {
    grid-column: span 2;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .welcomeSection {
    display: flex;
    flex-direction: column-reverse;
    margin: 0 auto;
    width: 100%;
  }

  .resortPic1 {
    margin-top: 5vw !important;
  }

  .pic1 {
    width: 80vw;
  }

  .wsText {
    margin-top: 8vw !important;
    width: 80%;
    .line {
      width: 100%;
    }
  }

  .img5,
  .img6 {
    display: none;
  }

  .wsDescription {
    font-size: 15px;
  }

  .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10vh;
    height: 80vh;
    padding-bottom: 8vh;
    h5 {
      font-size: 15px;
    }
    img {
      height: 3vh;
    }
  }

  .contactText {
    justify-content: center;
    align-items: center;
    margin: 1vh 3vw 0 0;
    width: 80%;
    .line {
      width: 40%;
    }
  }

  .emailAddressText {
    margin-top: 0.1vw;
  }

  .googleMap {
    height: 40vh;
    width: 80%;
    margin-top: 5vh;
  }

  .gallery {
    .line {
      width: 30%;
    }
  }

  .galleryTitle {
    font-size: 6vw;
  }

  .galleryImg {
    height: 30vh;
    width: auto;
  }

  .seeMore {
    margin: auto;
    margin-top: 2vh;
    width: 30%;
  }

  .custom-btn {
    font-size: 10px !important;
  }

  .announcements {
    height: calc(100vh - 40vh);
  }

  .announcementLine {
    width: 60%;
  }

  .announcementTitle {
    margin-top: 1.5vw;
    font-size: clamp(20px, calc(1.5vh + 4px), 25px);
  }

  .post {
    width: 70%;
    height: calc(75vh - 30vh);
    margin-bottom: 10vw !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .sorryText {
    margin-top: 2vh;
    font-size: clamp(12px, calc(1.5vh + 4px), 20px);
  }

  .closedText {
    font-size: clamp(25px, calc(2.5vh + 4px), 30px);
    font-weight: bold;
  }

  .tomorrowText {
    font-size: clamp(12px, calc(1.5vh + 4px), 20px);
  }
  .date,
  .time {
    font-size: clamp(12px, calc(1.5vh + 4px), 20px);
  }
  .vr {
    height: 3.5vw;
    margin-top: 2.5vw;
  }

  .closedAdditionalText {
    font-size: clamp(8px, calc(1.5vh + 4px), 12px);
  }

  .pb-1 {
    gap: 3vw;
  }

  .mb-0 {
    font-size: 2vw;
  }

  .locationFooter {
    width: 50%;
  }

  .reservationTitle,
  .locationTitle {
    font-size: 2.5vw;
  }

  .numberFooter,
  .emailAddressTextFooter,
  .addressTextFooter {
    font-size: 2vw;
  }

  .socialIcons {
    width: 20%;
    display: flex;
    margin: auto;
    justify-content: space-between;
  }

  .socialIcons a {
    height: 6vh;
    padding: 1vw;
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    margin: 5px;
    border-radius: 50%;
  }

  .socialIcons a i {
    font-size: 4vw;
  }
}
