@font-face {
  font-family: "Poppins";
  src: url(../Fonts/Poppins/Poppins-Regular.ttf);
}
@font-face {
  font-family: "Plus Jakarta Sans";
  src: url(../Fonts/PlusJakartaSans/PlusJakartaSans-VariableFont_wght.ttf);
}
@font-face {
  font-family: "Prata";
  src: url(../Fonts/Prata/Prata-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
}

body {
  background-image: url(../images/landingPage/landingPageBg.png);
  background-repeat: no-repeat;
  background-position: fixed;
  background-size: cover;
  display: flex;
  max-height: 100vh;
}

.navbar {
  position: fixed;
  width: 100%;
  top: 0;
}

.nav-item {
  font-family: "Plus Jakarta Sans";
  font-weight: lighter;
  margin-top: 15px;
  font-size: 1.5vw;
  /* margin-left: 3vw; */
}

.nav-link {
  text-decoration: none;
  display: inline-block;
  padding: 10px 15px !important;
  position: relative;
  color: white !important;
  letter-spacing: 0.1em;
}

.nav-link:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  border-bottom: 4px solid #ffffff !important;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.nav-link:hover:after {
  width: 100%;
  left: 0;
}

/* .nav-link {
  color: white !important;
  &:hover {
    color: #44b3f8 !important;
  }
} */

.titleContainer {
  /* margin-top: 20vh; */
  /* border: 1px solid black; */
  width: 100%;
  height: 50vh;
  padding: 12vw;
  /* margin: auto; */
}

.mamyrTitle {
  /* border: 1px solid black; */
  width: 50%;
}
.name {
  color: #fff;
  text-align: left;
  font-family: Prata;
  font-size: 7vw;
  font-style: normal;
  line-height: normal;
}

.description {
  width: 90%;
  /* border: 1px solid black; */
}

.descriptionText {
  color: #fff;
  font-family: "Plus Jakarta Sans";
  font-size: 2vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.navbar-toggler {
  float: right;
  background-color: #ffffff !important;
  margin: 5vw;
  border: none;

  &:focus,
  &:active {
    outline: none !important;
    box-shadow: none !important;
    border: none;
  }
}

.navbar-collapse {
  text-align: right;
}

.navbar-toggler {
  float: right;
  background-color: #ffffff !important;
  margin: 5vw;
  border: none;

  &:focus,
  &:active {
    outline: none !important;
    box-shadow: none !important;
    border: none;
  }

  .custom-btn {
    width: 2vw !important;
    font-size: 1.5vw !important;
  }
}

.containerBook {
  background-color: #ffffff;
  border-radius: 1vw;
  width: 85%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 2vw;
  margin-top: 33vw;
  box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
}

.label {
  display: flex;
  gap: 13vw;
  margin-top: 3vw;
}

.formBoxes {
  width: 100%;
  gap: 4vw;
  display: flex;
  justify-content: center;
}

input[type="number"]::-webkit-inner-spin-button {
  opacity: 1;
}

.form-control {
  font-size: 1.5vw !important;
}

.containerLabel {
  font-size: 15px;
  font-family: "Poppins";
  text-align: left !important;
}

.availBtn {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 3vw;
}

.custom-btn {
  background-color: #c1a534 !important;
  color: #ffffff !important;
  font-size: 1.5vw !important;
  width: 100%;

  &:hover {
    background-color: #dfbf3f !important;
  }
}

.welcomeSection {
  display: flex;
  margin: 0 auto;
  /* border: 1px solid black; */
  width: 100%;
}

.resortPic1 {
  margin-top: 5vw !important;
  margin: auto;
}

.pic1 {
  width: 40vw;
  height: auto;
}

.wsText {
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 10vw !important;
  width: 40%;
}

.line {
  border: none;
  border-top: 5px solid rgba(193, 165, 52, 1);
  width: 40%;
  /* margin: 20px auto; */
}

.wsTitle {
  font-family: "Plus Jakarta sans";
  font-size: 25px;
  text-align: center;
  color: rgb(0, 0, 0);
}

.wsDescription {
  font-family: "Plus Jakarta Sans";
  text-align: justify;
  margin-top: 30px;
  font-size: 20px;
}

.contact {
  display: flex;
  justify-content: space-around;
  margin-top: 7vh;
}

.contactText {
  /* border: 1px solid black; */
  justify-content: center;
  align-items: center;
  width: 45vw;
}

.location,
.number,
.email {
  display: flex;
  gap: 3vw;
  margin-top: 1vw;
}

.locationIcon,
.emailIcon,
.phoneIcon {
  height: 4vw;
  width: auto;
}

.contactTitle {
  margin-bottom: 2vw;
  font-family: "Plus Jakarta Sans";
}
.locationText {
  margin-top: 0.1vw;
}

.emailAddressText {
  margin-top: 1vw;
}

.googleMap {
  /* border: 1px solid black; */
  width: 45%;
  height: 60vh;
}

.gallery {
  /* border: 1px solid black; */
  margin: 2vw;
  padding: 2vw;
}

.galleryTitle {
  font-family: "Plus Jakarta Sans";
  font-size: 2vw;
}

.galleryPictures {
  /* border: 1px solid black; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2vw;
  margin-top: 2vw;
}

.seeMore {
  /* border: 1px solid black; */
  margin: 2vw 0 0 2vw;
  width: 15vw;
}

.announcementTitleContainer {
  /* border: 1px solid black; */
  width: 50%;
  margin: auto;
  text-align: center;
}

.announcementLine {
  border: none;
  border-top: 5px solid rgba(193, 165, 52, 1);
  width: 30%;
  margin: 0 auto;
}

.announcementTitle {
  margin-top: 1vw;
  font-size: 2.5vw;
}

.post {
  width: 40%;
  border: 1px solid rgba(193, 165, 52, 1);
  border-radius: 6vw;
  margin: auto;
  margin-top: 5vw !important;
  text-align: center;
  padding: 2vw;
  margin-bottom: 20vw !important;
}

.sorryText {
  margin-bottom: 2vw;
  font-size: 2.2vw;
  font-family: "Plus Jakarta Sans";
}

.closeLine {
  font-family: "Plus Jakarta Sans";
  border: none;
  border-top: 5px solid rgba(193, 165, 52, 1);
  width: 50%;
  margin: 0 auto;
}

.closedText {
  font-family: "Plus Jakarta Sans";
  font-size: 5vw;
  font-weight: bold;
}

.tomorrowText {
  font-size: 2.5vw;
  margin-top: 2vw;
}

.dateTimeConatiner {
  display: flex;
  justify-content: center;
  gap: 1vw;
}

.date,
.time {
  margin-top: 2vw;
  font-family: "Plus Jakarta Sans ExtraLight";
}

.vr {
  height: 2vw;
  width: 0.12vw !important;
  margin-top: 2.2vw;
  opacity: 1 !important;
}

.closedAdditionalText {
  margin-top: 2vw;
  font-size: 1.5vw;
}

footer {
  /* border: 1px solid black; */

  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 0.445) -50%,
    rgb(62, 132, 158) 95%
  );
}

.pb-1 {
  gap: 2vw;
  padding: 1vw 0 0 2vw;
}

.logo {
  width: 10vw;
  height: auto;
}
.mb-0 {
  font-family: "Prata";
  font-size: 1.5vw;
  font-weight: bold;
  color: #ffff;
}

.footerLine {
  width: 80%;
  margin: 0 auto;
  color: #fff;
  opacity: 1;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5vw;
}
.locationFooter {
  /* border: 1px solid black; */
  width: 30%;
}

.reservationTitle,
.locationTitle {
  font-family: "Plus Jakarta Sans";
  font-weight: bold;
  font-size: 1.5vw;
  color: #fff;
}

.numberFooter,
.emailAddressTextFooter,
.addressTextFooter {
  font-family: "Poppins ExtraLight";
  color: #fff;
  font-size: 1vw;
}

.socialIcons {
  display: flex;
  justify-content: center;
  margin: 0.3vw;
}

.socialIcons a {
  text-decoration: none;
  padding: 0.8vw;
  background-color: rgb(255, 255, 255);
  margin: 5px;
  border-radius: 50%;
}

.socialIcons a i {
  font-size: 2vw;
  color: #3e849e;
  opacity: 0.9;
}

.socialIcons a:hover {
  background-color: white;
  transition: 0.5s;
}

.socialIcons a:hover i {
  color: #c1a534;
  transition: 0.5s;
}

@media screen and (max-width: 650px) {
  .titleContainer {
    height: calc(100vh - 30px);
    padding: 12vw;
  }
  .mamyrTitle {
    width: 100%;
    margin-top: 15vh;
  }

  .name {
    font-size: 9vw;
    text-align: left;
  }

  .description {
    margin: auto;
  }
  .descriptionText {
    text-align: justify;
    font-size: 3.5vw;
  }

  .navbar-toggler {
    float: right;
    background-color: #ffffff !important;
    margin: 3vw;
    border: none;

    &:focus,
    &:active {
      outline: none !important;
      box-shadow: none !important;
      border: none;
    }
  }
  .navbar-collapse {
    background-color: #c1a534;
    text-align: right;
  }

  .containerBook {
    padding: 2vw;
    margin-top: 10vw;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.3);
  }
  .label {
    gap: 7.5vw;
  }
  .containerLabel {
    font-size: 12.5px;
  }

  .welcomeSection {
    display: flex;
    flex-direction: column-reverse;
    margin: 0 auto;
    width: 100%;
  }

  .resortPic1 {
    margin-top: 5vw !important;
  }

  .pic1 {
    width: 60vw;
  }

  .wsText {
    margin-top: 8vw !important;
    width: 80%;
    .line {
      width: 100%;
    }
  }

  .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
  }

  .contactText {
    justify-content: center;
    align-items: center;
    margin: 8vw 8vw 0 0;
    width: 80%;
    .line {
      width: 30%;
    }
  }

  .emailAddressText {
    margin-top: 0.1vw;
  }

  .googleMap {
    height: 50vh;
    width: 70%;
    margin-top: 5vh;
  }

  .gallery {
    .line {
      width: 30%;
    }
  }

  .galleryTitle {
    font-size: 4vw;
  }

  .galleryImg {
    height: 40vh;
    width: auto;
  }

  .seeMore {
    margin: auto;
    margin-top: 2vh;
  }

  .announcementTitleContainer {
    width: 80%;
  }

  .announcementLine {
    width: 50%;
  }

  .announcementTitle {
    margin-top: 1vw;
    font-size: 4vw;
  }

  .post {
    width: 70%;
    height: 55vh;
    margin-bottom: 10vw !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .sorryText {
    margin-top: 2vh;
    font-size: 3vw;
  }

  .closedText {
    font-size: 6vw;
    font-weight: bold;
  }

  .tomorrowText {
    font-size: 2.8vw;
  }

  .vr {
    height: 3.2vw;
    margin-top: 2.5vw;
  }

  .closedAdditionalText {
    font-size: 2vw;
  }

  .pb-1 {
    gap: 3vw;
  }

  .mb-0 {
    font-size: 2vw;
  }

  .locationFooter {
    width: 50%;
  }

  .reservationTitle,
  .locationTitle {
    font-size: 2vw;
  }

  .numberFooter,
  .emailAddressTextFooter,
  .addressTextFooter {
    font-size: 1.5vw;
  }

  .socialIcons {
    width: 20%;
    display: flex;
    margin: auto;
    justify-content: space-between;
  }

  .socialIcons a {
    height: 6vh;
    padding: 1vw;
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    margin: 5px;
    border-radius: 50%;
  }

  .socialIcons a i {
    font-size: 3.5vw;
  }
}

@media screen and (max-width: 400px) {
  .navbar-collapse {
    background-color: #c1a534;
    text-align: right;
  }
  .titleContainer {
    height: calc(100vh - 20px);
    padding: 12vw;
  }
  .mamyrTitle {
    width: 100%;
    margin-top: 15vh;
  }

  .name {
    font-size: 10vw;
    text-align: left;
  }

  .descriptionText {
    text-align: justify;
    font-size: 5vw;
  }

  .navbar-toggler {
    float: right;
    background-color: #ffffff !important;
    margin: 3vw;
    border: none;

    &:focus,
    &:active {
      outline: none !important;
      box-shadow: none !important;
      border: none;
    }
  }

  .navbar-collapse {
    background-color: #c1a534;
    text-align: right;
  }

  .containerBook {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    justify-items: center;
    align-items: center;
    padding: 2vw;
    margin-top: 10vw;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.3);
  }

  .label {
    display: flex;
    gap: 2vh;
  }

  .formBoxes {
    gap: 2vh;
  }

  .form-control {
    font-size: 2vw !important;
  }

  .containerLabel {
    font-size: 10px;
  }

  .availBtn {
    grid-column: span 2;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .label {
    display: flex;
    flex-direction: column;
  }

  .formBoxes {
    display: flex;
    flex-direction: column;
  }

  .welcomeSection {
    display: flex;
    flex-direction: column-reverse;
    margin: 0 auto;
    width: 100%;
  }

  .resortPic1 {
    margin-top: 5vw !important;
  }

  .pic1 {
    width: 80vw;
  }

  .wsText {
    margin-top: 8vw !important;
    width: 80%;
    .line {
      width: 100%;
    }
  }

  .wsDescription {
    font-size: 15px;
  }

  .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
    h5 {
      font-size: 15px;
    }
    img {
      height: 3vh;
    }
  }

  .contactText {
    justify-content: center;
    align-items: center;
    margin: 8vw 8vw 0 0;
    width: 80%;
    .line {
      width: 40%;
    }
  }

  .emailAddressText {
    margin-top: 0.1vw;
  }

  .googleMap {
    height: 40vh;
    width: 80%;
    margin-top: 5vh;
  }

  .gallery {
    .line {
      width: 30%;
    }
  }

  .galleryTitle {
    font-size: 6vw;
  }

  .galleryImg {
    height: 30vh;
    width: auto;
  }

  .seeMore {
    margin: auto;
    margin-top: 2vh;
    width: 30%;
  }

  .custom-btn {
    font-size: 10px !important;
  }

  .announcementLine {
    width: 50%;
  }

  .announcementTitle {
    margin-top: 1.5vw;
    font-size: 5vw;
  }

  .post {
    width: 70%;
    height: 55vh;
    margin-bottom: 10vw !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .sorryText {
    margin-top: 2vh;
    font-size: 3vw;
  }

  .closedText {
    font-size: 6vw;
    font-weight: bold;
  }

  .tomorrowText {
    font-size: 2.8vw;
  }

  .date,
  .time {
    font-size: 3vh;
  }
  .vr {
    height: 3.5vw;
    margin-top: 3vw;
  }

  .closedAdditionalText {
    font-size: 2.5vw;
  }

  .pb-1 {
    gap: 3vw;
  }

  .mb-0 {
    font-size: 2vw;
  }

  .locationFooter {
    width: 50%;
  }

  .reservationTitle,
  .locationTitle {
    font-size: 2vw;
  }

  .numberFooter,
  .emailAddressTextFooter,
  .addressTextFooter {
    font-size: 1.5vw;
  }

  .socialIcons {
    width: 20%;
    display: flex;
    margin: auto;
    justify-content: space-between;
  }

  .socialIcons a {
    height: 6vh;
    padding: 1vw;
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    margin: 5px;
    border-radius: 50%;
  }

  .socialIcons a i {
    font-size: 3.5vw;
  }
}

@media screen and (max-width: 1400px) {
}
