@font-face {
  font-family: "Poppins";
  src: url(../Fonts/Poppins/Poppins-Medium.ttf);
}

@font-face {
  font-family: "Lora";
  src: url(../Fonts/Lora/Lora-VariableFont_wght.ttf);
}

.modal {
  margin-top: 20vh;
}

.modal-dialog {
  position: relative;
  width: 100%;
  height: 400px !important;
}

.modal-content {
  border-radius: 5vw !important;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.modal-title {
  font-family: "Poppins";
  font-size: 30px;
}

.modal-body {
  height: 300px;
}

.description {
  font-family: "Lora";
  font-size: 15px;
  text-align: center;
}

.pinContainer {
  display: flex;
  margin-top: 2vw;
  gap: 1vw;
}

.form-control {
  height: 90px;
  text-align: center;
  font-size: 70px !important;
}

.btn-primary {
  font-family: "Lora";
  font-size: 15px;
  letter-spacing: 3px;
  width: 100%;
  margin-top: 30px;
}

.resendPin {
  font-family: "Lora";
  font-size: 15px;
  margin-top: 10px;
  text-align: center;
}

.errorMsg {
  font-family: "Lora";
  font-size: 15px;
  text-align: center;
  color: red;
  margin-bottom: 1px !important;
}
