@font-face {
  font-family: "Poppins";
  src: url(../Fonts/Poppins/Poppins-Medium.ttf);
}

@font-face {
  font-family: "Lora";
  src: url(../Fonts/Lora/Lora-VariableFont_wght.ttf);
}

/* Div for loader */
#loaderOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Gray out effect */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  position: absolute;
  z-index: 5;
  left: 50%;
  top: 50%;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.modal {
  margin-top: 20vh;
}

.modal-dialog {
  position: relative;
  width: 100%;
  height: 400px !important;
}

.modal-content {
  border-radius: 5vw !important;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.modal-title {
  font-family: "Poppins";
  font-size: 30px;
}

.modal-body {
  height: 300px;
}

.description {
  font-family: "Lora";
  font-size: 15px;
  text-align: center;
}

.pinContainer {
  display: flex;
  margin-top: 2vw;
  gap: 1vw;
}

.form-control {
  height: 90px;
  text-align: center;
  font-size: 70px !important;
}

.btn-primary {
  font-family: "Lora";
  font-size: 15px;
  letter-spacing: 3px;
  width: 100%;
  margin-top: 30px;
}

.resendPin {
  font-family: "Lora";
  font-size: 15px;
  margin-top: 10px;
  text-align: center;
}

.errorMsg {
  font-family: "Lora";
  font-size: 15px;
  text-align: center;
  color: red;
  margin-bottom: 1px !important;
}

@media only screen and (min-width: 600px) and (max-width: 1025px) {
  .form-control {
    font-size: 50px !important;
  }
}

@media screen and (max-width: 599px) {
  .form-control {
    font-size: 30px !important;
  }
}

@media screen and (max-width: 399px) {
  .form-control {
    font-size: 20px !important;
  }
}
