.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.navbar-nav {
  list-style: none;
}

#profileAndNotif {
  padding: 0.6vw;
}

.navbar-nav .dropdown-toggle {
  display: inline-block;
  padding: 10px !important;
  line-height: 1.5;
  vertical-align: middle;
  position: relative;
  top: 0.1vw;
}

.nav-item {
  text-transform: uppercase;
  font-family: "Poppins" !important;
  font-weight: lighter;
  margin-top: 15px;
  font-size: 1.5vw;
}

#navbar-half .nav-link,
#navbar-half #logOutBtn {
  color: white !important;
}

#navbar-half.scrolled.dropdown-menu a {
  color: black !important;
}

#navbar-half.scrolled {
  background-color: white !important;
}
#navbar-half.scrolled a {
  color: black !important;
}

.nav-link,
#logOutBtn {
  text-decoration: none;
  display: inline-block;
  padding: 10px 15px !important;
  position: relative;
  color: rgb(2, 2, 2) !important;
  letter-spacing: 0.1em;
}

#logOutBtn {
  font-family: "Poppins";
  font-size: 1.5vw;
  margin-right: 2vw;
  border: none;
}

.nav-link:not(.dropdown-toggle):after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  border-bottom: 4px solid #93d4f5 !important;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.nav-link.active:after {
  width: 100%;
  left: 0;
}

.nav-link:not(.dropdown-toggle):hover:after {
  width: 100%;
  left: 0;
}

.dropdown-menu {
  background-color: rgb(126, 203, 242, 0.5) !important;
}

.nav-item.dropdown:hover .dropdown-menu {
  background-color: white !important;
  color: black !important;
  display: block;
}

.dropdown-item:hover {
  background-color: rgb(126, 203, 242, 0.5) !important;
}

.dropdown-item.active {
  background-color: rgb(126, 203, 242) !important;
  color: black !important;
}

#navbar.scrolled {
  background-color: white;
}

#navbar-half2.scrolled {
  background-color: white;
}

#navbar-half2.scrolled {
  background-color: white;
}

.dropdown-item {
  font-size: 1.3vw;
  font-weight: bold;
}

.navbar {
  transition: all 0.4s ease-in-out;
}

.account-nav {
  display: flex;
  align-items: center;
  border-radius: 50%;
  margin-left: 1rem;
  margin-top: 0 !important;

  img {
    height: 5vw;
    border-radius: 50%;
    aspect-ratio: 1;
    object-fit: cover;
  }

  a {
    height: 100%;
    display: flex;
    align-items: center;
  }
}

#notifs {
  margin-top: 0;
}

.notification-container {
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: 1vw;

  button {
    background-color: transparent;
    border: none;
  }
}

.notificationIcon {
  display: flex;
  align-items: center;
  height: clamp(2.9vw, 2.8vw, 2.7vw);
  aspect-ratio: 1;
}

.logoNav {
  width: 15vw;
  margin: 1vw;
}

/* Tablet size */
@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .notification-container {
    margin-left: 2vw;
  }
  .navbar {
    background-color: transparent;
    --bs-navbar-padding-y: 0 !important;
  }

  button.position-relative {
    padding: 0 !important;
  }

  .profile {
    flex-wrap: nowrap !important;
    flex-direction: row !important;
    align-items: center;
  }

  .account-nav {
    .profile-pic {
      height: clamp(6.5vw, 6.8vw, 7.4vw);
    }
  }
  .navbar-toggler {
    float: right;
    background-color: #ffffff !important;
    margin: 3vw;
    border: none;

    &:focus,
    &:active {
      outline: none !important;
      box-shadow: none !important;
      border: none;
    }
  }

  .notificationIcon {
    display: flex;
    align-items: center;
    height: clamp(3.5vw, 3.8vw, 4vw);
    aspect-ratio: 1;
  }

  .notifBtn {
    margin-left: 1vw;
    height: 100%;
  }

  .logoNav {
    width: 18vw;
  }

  .nav-item,
  #logOutBtn {
    font-size: 2vw;
  }

  #logOutBtn {
    display: flex;
    align-items: center;
  }

  a.nav-link {
    padding: 0;
  }

  #logOutBtn {
    margin-right: 0 !important;
  }
}

@media (max-width: 991.98px) {
  .navbar {
    background-color: transparent !important;
  }
  #navbarNav .nav-link,
  #navbarNav .dropdown-item {
    color: black !important;
  }
  .nav-item.dropdown {
    position: relative;
  }

  .nav-item {
    margin-top: 5px;
    font-size: 2vw;
  }

  a.dropdown-item {
    font-size: 1.8vw !important;
  }

  #profileAndNotif {
    background-color: transparent;
  }

  .navbar-collapse {
    background-color: transparent;
  }

  #navbar-half2 .btn-outline-danger {
    color: black !important;
    border-color: white !important;
    width: 100%;
    text-align: left;
  }

  .navbar-toggler {
    background-color: white !important;
  }

  #toggledNav,
  #navUL {
    width: 25%;
    margin-right: 2vw;
    background-color: whitesmoke;
  }
}

@media (max-width: 991.98px) and (orientation: portrait) {
  .nav-item {
    margin-top: 5px;
  }
}

@media (max-width: 600px) {
  .nav-link,
  #logOutBtn {
    font-size: 3vw !important;
  }
  .logoNav {
    width: 20vw !important;
  }
  a.dropdown-item {
    font-size: 2.8vw !important;
  }

  .account-nav img {
    height: clamp(8.5vw, 9.5vw, 10vw);
    aspect-ratio: 1;
  }

  .notificationIcon {
    display: flex;
    align-items: center;
    height: clamp(4.5vw, 5.1vw, 6vw);
    aspect-ratio: 1;
  }

  .navbar-toggler-icon {
    width: 23px !important;
  }

  .navbar-toggler {
    margin-top: 2vw;
    margin-right: 3vw;
  }

  .notifBtn {
    margin-left: 1.5vw;
    margin-top: 0 !important;
  }

  #toggledNav,
  #navUL {
    width: 40%;
    margin-right: 2vw;
    background-color: whitesmoke;
  }
}

@media (max-width: 400px) {
  .account-nav {
    .profile-pic {
      height: clamp(11vw, 10vw, 9vw);
    }
  }
  .notificationIcon {
    height: clamp(7vw, 6vw, 5vw);
  }
}
