@font-face {
  font-family: "Poppins";
  src: url(../Fonts/Poppins/Poppins-Regular.ttf);
}
@font-face {
  font-family: "Plus Jakarta Sans";
  src: url(../Fonts/PlusJakartaSans/PlusJakartaSans-VariableFont_wght.ttf);
}
@font-face {
  font-family: "Prata";
  src: url(../Fonts/Prata/Prata-Regular.ttf);
}
@font-face {
  font-family: "Agbalumo";
  src: url(../Fonts/Agbalumo/Agbalumo-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

/* html,


body {
  display: flex;
  flex-direction: column;
} */

body {
  background: #ffd787a0 !important;
}

/* navbar code */

nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  /* background-color: rgb(242, 242, 242); */
}

.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  text-transform: uppercase;
}

.navbar.scrolled {
  background-color: white;
  .nav-link {
    color: black !important;
  }
  .nav-link:not(.dropdown-toggle):after {
    border-bottom: 4px solid rgb(126, 203, 242) !important;
  }
}

.nav-item {
  font-family: "Poppins" !important;
  font-weight: lighter;
  margin-top: 15px;
  font-size: 1.3vw;
  /* margin-left: 3vw; */
}

.nav-link {
  text-decoration: none;
  display: inline-block;
  padding: 10px 15px !important;
  position: relative;
  color: rgb(0, 0, 0) !important;
  letter-spacing: 0.1em;
}

.nav-link:not(.dropdown-toggle):after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  border-bottom: 4px solid rgb(0, 178, 209) !important;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.nav-link:not(.dropdown-toggle):hover:after {
  width: 100%;
  left: 0;
}

.dropdown-menu {
  background-color: rgb(126, 203, 242, 0.5) !important;
}
.nav-item.dropdown:hover .dropdown-menu {
  background-color: white !important;
  display: block;
}

.logoNav {
  /* border: 1px solid black; */
  width: 15vw;
  position: absolute;
  margin: 2vw;
}

.account-nav {
  margin: 1px;
  margin-left: 1rem;
  /* border: 1px solid white; */
  border-radius: 50%;
  img {
    .account-nav {
      margin: 1px;
      margin-left: 1rem;
      border: 1px solid white;
      border-radius: 50%;
      img {
        height: 8vh;
      }
    }
    height: 5vw;
    border-radius: 50%;
    aspect-ratio: 1;
    object-fit: cover;
  }
}

.notification-container{
  margin: 1rem;

  button{
    background-color: transparent;
    border: none;
  }
}




.dropdown-item:hover {
  background-color: rgb(126, 203, 242, 0.5) !important;
}

.dropdown-item.active {
  background-color: rgb(126, 203, 242) !important;
  color: black !important;
}

.dropdown-item {
  font-size: 1.3vw;
}

.navbar-collapse {
  text-align: center;
  padding-bottom: 0.5rem;
}

.navbar-toggler {
  float: right;
  background-color: #ffffff !important;
  margin: 5vw;
  border: none;

  &:focus,
  &:active {
    outline: none !important;
    box-shadow: none !important;
    border: none;
  }

  .custom-btn {
    width: 2vw !important;
    font-size: 1.5vw !important;
  }
}

.nav-link,
#logOutBtn {
  text-decoration: none;
  display: inline-block;
  padding: 10px 15px !important;
  position: relative;
  color: rgb(2, 2, 2) !important;
  letter-spacing: 0.1em;
}

#logOutBtn {
  font-family: "Poppins";
  font-size: 1.3vw;
  margin-right: 2vw;
  border: none;
}

/* end of navbar code */

.selection {
  margin-top: 20vh;

}
/* body css */
.titleContainer {
  width: 70%;
  margin: auto;
  text-align: center;
}

#mainTitle {
  margin-top: 10vw !important;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2vw;
  margin-bottom: 5vw;
}

.backToSelection {
  width: 90%;
  display: flex;
  justify-content: flex-start;
  margin: 0 auto;
}

.backToSelection img {
  width: 3.5vw;
}

.card,
.card-body {
  border-radius: 2vw 2vw 2vw 2vw !important;
  text-align: center;
  height: 30vw !important;
  width: 20vw;
}

.card {
  box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
  margin: 2vw;
  background-color: whitesmoke !important;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  height: 15vw !important;
}

.card img {
  border-radius: 2vw 2vw 2vw 2vw !important;
  padding: 1vw;
  height: 30vw !important;
  object-fit: cover;
  width: 100%;
  margin: 0 auto;
}

.card-title {
  font-family: "Poppins";
  font-style: italic;
  font-weight: bold;
  font-size: 2.3vw;
  color: #00b3d1 !important;
  text-align: center;
}

.categoryLink {
  text-decoration: none;

  &:hover {
    text-decoration: none !important;
  }
}

.categoryLink .card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.categoryLink:hover .card {
  transform: translateY(-12px);
  box-shadow: 0 8px 6px rgba(39, 183, 255, 0.4);
}

/* rates code */

.rates, .hotelRooms {
  margin-top: 9vw;
}



/* entrance */
.entranceFee {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  justify-content: space-between;
  margin: 0 auto;
}


.entranceTitleContainer {
  width: 50%;
  margin: auto;
  text-align: center;
  margin-top: 2vw !important;
  color: whitesmoke;
}

.entranceLine {
  border: none;
  border-top: 5px solid #d48d31;
  width: 30%;
  margin: 0 auto;
  opacity: 1;
}

.entranceTitle {
  margin-top: 2vw;
  font-size: 2.8vw;
  font-family: "Prata";
}

.entranceCard {
  padding: 2vw;
  font-size: 1.5vw;
  width: 22vw !important;
  height: 20vw !important;
  display: grid !important;
  align-items: center;
}

.entrance-card-title {
  font-family: "Plus Jakarta Sans";
  font-weight: bold;
  font-size: 1.7vw;
  color: #212121 !important;
  text-align: center;
}

.entrace-card-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0 auto;
}

.entrance-card-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
}

.title {
  text-align: center;
  margin-top: -3vw;
  margin-bottom: 1vw;
  font-size: 2.8vw;
  font-family: "Prata";
  color: #000000;
}

/* end of entrance code */

/* cottages code */
.cottage {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  background-color: whitesmoke;
  border-radius: 1vw;
  padding: 1vw;
  margin: 0 auto 1vw auto;
  justify-content: space-around;
}

.Description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.Description h2 {
  font-size: 2.1vw !important;
  font-family: "Prata";
}

.Description p {
  font-size: 1.5vw ;
  font-family: "Poppins";
}

.halfImg,
.singleImg {
  padding: 1vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.halfImg img,
.singleImg img {
  width: 25vw;
}

/* end of cottages code */

/* videoke code  */

.section {
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  background-color: whitesmoke;
  border-radius: 1vw;
  padding: 1vw;
  margin: 0 auto 1vw auto;
  justify-content: space-around;
}
.videokeTitleContainer {
  width: 50%;
  margin: auto;
  text-align: center;
  margin-top: 5vw !important;
}

.videokeTitle {
  margin-top: 1vw;
  font-size: 2.5vw;
  font-family: "Prata";
}

#videokeDesc {
  background-color: #ffe6b4a0;
  border-radius: 2vw;
  font-size: 1.5vw;
  padding: 0.8vw;
}

#videokeDesc p {
  font-size: 1.5vw;
}

/*end of videoke code */

/* billiards code */
#billiards {
  background: none !important;
  width: 95%;
}

/* end of billiards code */

/* massage chair code */
#massage {
  background-color: transparent;
}

#massageDesc {
  background-color: whitesmoke;
  border-radius: 2vw;
  font-size: 1.5vw;
  padding: 0.8vw;
}
/* end of massage chair  code */
/* end of rates code */


/* start of hotel code */
.hotelDescription {
  margin-top: 1vw;
  font-size: 1.5vw;
}

#allrooms {
  background-color: gray;
  padding: 0.5vw;
  border-radius: 0.2vw;
}

.container-fluid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
  background: whitesmoke !important;
  padding-bottom: 1vw;
}

.hidden {
  display: none !important;
}

.hotelIconWithCaption {
  transition: all 0.3s ease;
  width: 22%;
}

.hotelIconContainer {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 50%;
  gap: 1vw;
  padding: 1vw;
}

.hotelIcon {
  width: 6vw;
}

.filterBtns button.selected {
  border: 3px solid #5e99f3;
    -webkit-box-shadow: 3px 3px 18px 1px rgba(107,195,255,0.91) ;
  box-shadow: 3px 3px 18px 1px rgba(107,195,255,0.91) ;
}

.availabilityIcons, .availabilityIcon {
  margin: 1vw auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.availabilityIcons {
  width: 50%;
}

.roomCaption {
  font-size: 1.2vw;
  font-family: "Prata";
}

.avail {
  width: 3vw;
}

.availabilityIcons p {
  font-size: 1.3vw;
  font-weight: 700;
  font-family: "Prata";
  margin: 0 2vw 0 1vw;
}

.filterBtns {
  width: 45%;
  margin: 1vw auto;
  display: flex;
  justify-content: space-between;
}

#elevenHrs, #twenty2Hrs {
  font-size: 1.2vw !important;
  border-radius: 2vw;
  font-family: "Poppins";
  font-weight: 700;
}

#elevenHrs {
  background-color: #08AFF3;
  color: #F2F2F2;
}

#hotelDate {
  width: 20vw;
}

#twenty2Hrs {
  background-color: #F2F2F2;
  color: #04C8F2;

}

.hotel {
  display: flex;
  width: 80%;
  background-color: whitesmoke;
  padding: 0;
  margin: 0 auto 1vw auto;
  justify-content: space-around;
  border-radius: 0;
  border: 1px solid black;
}

#hotelTitle {
  margin-bottom: 4vw;
}
.ourRooms {
  margin-top: 2vw;
}

/* end of hotel  code */

/* Back to top button */
#backToTopBtn {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 100;
    background-color: #00bbff;
    color: rgb(245, 245, 245);
    padding: 12px 15px;
    border-radius: 50%;
    text-align: center;
    font-size: 2.5vw !important;
    text-decoration: none;
    display: none;
    aspect-ratio: 1 !important;
    width: 5vw;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

#backToTopBtn:hover {
    background-color: #555;
    transform: scale(1.1);
}

/* End of back to top */


/* footer code */
footer {
  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 0.445) -50%,
    rgb(62, 132, 158) 95%
  );
}

.my-2 {
  margin-bottom: 0;
}

.pb-1 {
  gap: 2vw;
  padding: 1vw 0 0 2vw;
}

.logo {
  width: 10vw;
  height: auto;
}
.mb-0 {
  font-family: "Prata";
  font-size: 1.5vw;
  font-weight: bold;
  color: #ffff;
}

.footerLine {
  width: 80%;
  margin: 0 auto;
  color: #fff;
  opacity: 1;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5vw;
}
.locationFooter {
  /* border: 1px solid black; */
  width: 30%;
}

.reservationTitle,
.locationTitle {
  font-family: "Plus Jakarta Sans";
  font-weight: bold;
  font-size: 1.5vw;
  color: #fff;
}

.numberFooter,
.emailAddressTextFooter,
.addressTextFooter {
  font-family: "Poppins ExtraLight";
  color: #fff;
  font-size: 1vw;
}

.socialIcons {
  display: flex;
  justify-content: center;
  margin: 0.3vw;
}

.socialIcons a {
  text-decoration: none;
  padding: 0.8vw;
  background-color: rgb(255, 255, 255);
  margin: 5px;
  border-radius: 50%;
}

.socialIcons a i {
  font-size: 2vw;
  color: #3e849e;
  opacity: 0.9;
}

.socialIcons a:hover {
  background-color: white;
  transition: 0.5s;
}

.socialIcons a:hover i {
  color: #c1a534;
  transition: 0.5s;
}

/* end of footer code */

/* Tablet size */
@media only screen and (min-width: 600px) and (max-width: 1025px) {
  .selection {
    margin-top: 5vw;
    height: 100vh;
  }

  .backToSelection img {
    width: 4vw;
    border-radius: 50%;
  }

  .title {
    font-size: 4vw;
  }

  .entranceTitle {
    font-size: 3vw;
  }

  .navbar {
    padding: 5px 0;
    height: 8vh !important;
  }

  .poolTitleContainer {
    width: 70%;
  }
  .poolTitle {
    font-size: clamp(12px, calc(1.5vh + 4px), 20px);
  }

  .Description h2 {
    font-size: clamp(18px, calc(3vh + 4px), 27px);
  }

  .Description {
    font-size: clamp(12px, calc(1.5vh + 4px), 18px);
  }

  .singleImg img {
    width: 75%;
  }

  #videokeDesc p,
  #massageDesc {
    font-size: 1.8vw;
  }

  .hotelIconsContainer {
    width: 45%;
  }

  .hotelIcon {
    width: 7vw;
  }

  .roomCaption {
    font-size: clamp(13px, calc(1.2vh + 2px), 18px);
  }
  
  .hotelDescription {
    font-size: 2vw;
  }
}

@media (max-width: 600px) {
  .entranceCard span {
    font-size: clamp(10px, calc(1.1vh + 2px), 15px);
  }

    .selection {
    margin-top: 15vw;
    height: 100vh;
  }


  .entranceLine {
    border: none;
    border-top: 3px solid #d48d31;
    width: 30%;
    margin: 3vw auto 1.5vw auto;
    opacity: 1;
  }

  .title {
    font-size: 4vw;
  }
  .backToSelection img {
    width: 4.5vw;
  }

  .entranceTitle {
    font-size: 3.3vw;
  }

  body {
    height: 100vh !important;
  }
  .rates {
    margin-top: 14vw !important;
  }

  .Description h2 {
    font-size: clamp(12px, calc(2.5vh + 4px), 14px) !important;
  }

  .Description p,
  #videokeDesc p {
    font-size: clamp(8px, calc(0.9vh + 2px), 12px);
  }

  .entranceFee {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 8px;
    width: 90%;
    margin: 0 auto;
  }

  .entranceCard {
    padding: 1vw;
    font-size: 1.5vw;
    width: 90% !important;
    height: 20vw !important;
    display: grid !important;
    align-items: center;
  }

  .navbar {
    padding: 5px 0;
    height: 6vh !important;
  }
  .hotelIconsContainer {
    width: 55%;
  }

  .hotelDescription {
    font-size: 2.1vw;
  }

  .hotelIcon {
    width: 7vw;
  }

  .roomCaption {
    font-size: clamp(8px, calc(0.9vh + 2px), 15px);
  }

  .availabilityIcons p {
    font-size: 1.9vw;
    font-weight: 700;
    font-family: "Prata";
    margin: 0 2vw 0 1vw;
  }

    #backToTopBtn {
      padding: 10px 12px;
      font-size: 16px;
      bottom: 20px;
      right: 20px;
    }
}

@media (max-width: 400px) {
  .selection {
    margin-top: 15vw;
    height: 100vh;
  }
  

  .cottage {
    margin: 0 auto 2vw auto;
  }

  .backToSelection img {
    width: 4.8vw;
  }

  .Description h2 {
    font-size: clamp(9px, calc(1vh + 2px), 12px) !important;
  }

  .Description p,
  #videokeDesc p {
    font-size: clamp(6px, calc(0.9vh + 2px), 11px);
  }

  .entranceFee {
    width: 100%;
  }

  .entranceCard span {
    font-size: clamp(7px, calc(0.8vh + 2px), 11px);
  }

  .entrance-card-title .dayNight {
    font-size: clamp(7px, calc(1.1vh + 3px), 17px) !important;
  }

  .entrance-card-title {
    font-size: clamp(8px, calc(0.8vh + 2px), 11px) !important;
  }

  .entranceTitle {
    font-size: 3.5vw;
    margin-bottom: 5vw;
  }

  .categoryLink {
    width: 40%;
    height: auto;
  }

  .card-body {
    width: 100%;
    height: 25vw !important;
    padding: 3vw !important;
  }

  .card-body h5 {
    font-size: 4vw;
  }

  .card {
    margin: 3vw auto;
    width: 70% !important;
    height: 40vw !important;
  }
  .availabilityIcons p {
    font-size: 2.3vw;
    font-weight: 700;
    font-family: "Prata";
    margin: 0 2vw 0 1vw;
  }
}
