@font-face {
  font-family: "Poppins";
  src: url(../Fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
  font-family: "Poppins Black";
  src: url(../Fonts/Poppins/Poppins-Black.ttf);
}

@font-face {
  font-family: "Lora";
  src: url(../Fonts/Lora/Lora-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Alkatra";
  src: url(../Fonts/Alkatra/Alkatra-VariableFont_wght.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  background: #ffd787a0 !important;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

/* Div for loader */
#loaderOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Gray out effect */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  position: absolute;
  z-index: 5;
  left: 50%;
  top: 50%;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.selection {
  margin-top: 20vh;
}

/* body css */
.titleContainer {
  width: 70%;
  margin: auto;
  text-align: center;
}

#mainTitle {
  margin-top: 10vw;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  margin-top: 2vw;
  margin-bottom: 5vw;
}

.backToSelection {
  width: 90%;
  display: flex;
  justify-content: flex-start;
  margin: 0 auto;
}

.backToSelection i {
  font-size: 3.5vw;
}

.card,
.card-body {
  text-align: center;
  width: 85% !important;
}

.card {
  box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
  margin: 2vw;
  background-color: whitesmoke !important;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 3vw auto;
}

.card-img-top.category {
  border-radius: 2vw 2vw 2vw 2vw !important;
  padding: 1vw;
  height: 25vw;
  object-fit: cover;
  width: 100%;
  margin: 0 auto;
}

.card-title {
  font-family: "Poppins Black";
  font-style: italic;
  font-weight: bold;
  font-size: clamp(3vw, 2.8vw, 2.5vw);
  color: #00b3d1 !important;
  text-align: center;
}

.categoryLink {
  text-decoration: none;

  &:hover {
    text-decoration: none !important;
  }
}

.categoryLink .card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.categoryLink:hover .card {
  transform: translateY(-12px);
  box-shadow: 0 8px 6px rgba(39, 183, 255, 0.4);
}

/* rates code */

.rates,
.hotelRooms {
  margin-top: 10vw;
}

/* entrance */
.entranceFee {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  justify-content: space-between;
  margin: 0 auto;
}

.entranceTitleContainer {
  width: 50%;
  margin: auto;
  text-align: center;
  margin-top: 2vw !important;
  color: whitesmoke;
}

.entranceLine {
  border: none;
  border-top: 5px solid #d48d31;
  width: 30%;
  margin: 0 auto;
  opacity: 1;
}

.entranceTitle {
  margin-top: 2vw;
  font-size: 2.8vw;
  font-family: "Lora";
}

.entranceCard {
  padding: 3vw;
  font-size: 1.5vw;
  width: 22vw !important;
  display: grid;
  align-items: center;
}

.entrance-card-title {
  font-family: "Lora";
  font-size: 1.7vw;
  color: #212121 !important;
  text-align: center;
}

.entrace-card-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0 auto;
}

.entrance-card-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
}

.title {
  text-align: center;
  margin-top: -3vw;
  margin-bottom: 1vw;
  font-size: clamp(3.7vw, 3.6vw, 3.5vw);
  font-family: "Lora";
  color: #000000;
}

/* end of entrance code */

/* cottages code */

.cottages {
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  margin: 2vw auto;
  column-gap: 5px;
  row-gap: 2vw;
  padding: 2vw;
}

#cottageCard {
  width: 23% !important;
  margin: auto;
  justify-content: center !important;
}

.cottageDisplayPhoto {
  object-fit: cover;
  width: 90% !important;
  padding-top: 1vw;
  aspect-ratio: 1;
  margin: auto;
}

.card-body.description {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.card-body.description h2,
.card-body.description a {
  font-size: clamp(2vw, 1.8vw, 1.9vw);
  font-family: "Poppins";
}

.card-body.description p {
  font-size: clamp(1.4vw, 1.5vw, 1.6vw);
  font-family: "Poppins";
}

/* end of cottages code */

/* videoke code  */

.videoke {
  width: 98%;
  border-radius: 20px;
  background-color: #f5f5f5;
  margin: auto;
}

.section {
  display: flex;
  width: 90%;
  padding: 1vw;
  margin: 2vw auto 1vw auto;
  justify-content: center;
  gap: 5vw;
}

#videokeDescContainer {
  width: 75%;
}

#videokePriceDesc {
  font-family: "Poppins";
  font-size: 2vw;
  font-weight: bold;
}

.videokeDesc {
  text-align: center;
  font-family: "Poppins";
  font-size: clamp(1.7vw, 1.8vw, 1.9vw);
  margin-top: 2vw;
}

#videokeDisplayPhoto,
#billardsDisplayPhoto,
#massageChairDisplayPhoto {
  width: 25vw;
}

.videokeTitleContainer {
  width: 50%;
  margin: auto;
  text-align: center;
  margin-top: 5vw !important;
}

.videokeTitle {
  margin-top: 1vw;
  font-size: 2.5vw;
  font-family: "Lora";
}

#videokeDesc {
  font-size: 1.5vw;
  padding: 0.8vw;
  width: 75%;
}

#videokeDesc p {
  font-size: 1.5vw;
}

/*end of videoke code */

/* billiards code */
#billiards {
  width: 90%;
  padding: 1vw;
  margin: 2vw auto 1vw auto;
  justify-content: center;
  gap: 5vw;
  display: flex;
}

/* end of billiards code */

/* massage chair code */

.massage {
  width: 98%;
  border-radius: 20px;
  margin: auto;
}

#massage {
  display: flex;
  width: 90%;
  padding: 1vw;
  margin: 2vw auto 1vw auto;
  justify-content: center;
  gap: 5vw;
}

#massageDesc {
  font-size: 1.5vw;
  padding: 0.8vw;
  width: 75%;
}

/* end of massage chair  code */
/* end of rates code */

/* start of hotel code */
.hotelDescription {
  margin-top: 1vw;
  font-size: clamp(1.5vw, 1.7vw, 1.9vw);
}

#allrooms {
  background-color: gray;
  padding: 0.5vw;
  border-radius: 0.2vw;
}

.halfImg img {
  width: 100%;
}

.container-fluid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
  background: whitesmoke !important;
  padding-bottom: 1vw;
}

.hidden {
  display: none !important;
}

.hotelIconWithCaption {
  transition: all 0.3s ease;
  width: 19%;
}

.hotelIconContainer {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 80%;
  gap: 1vw;
  padding: 1vw;
}

.hotelIcon {
  width: clamp(8vw, 9vw, 10vw);
}

.filterBtns button.selected {
  border: 3px solid #5e99f3;
  -webkit-box-shadow: 3px 3px 18px 1px rgba(107, 195, 255, 0.91);
  box-shadow: 3px 3px 18px 1px rgba(107, 195, 255, 0.91);
}

.availabilityIcons,
.availabilityIcon {
  margin: 1vw auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.availabilityIcons {
  width: 50%;
}

.roomCaption {
  font-size: clamp(1.8vw, 1.5vw, 1.6vw);
  font-family: "Lora";
}

.avail {
  width: 3vw;
}

.availabilityIcons p {
  font-size: clamp(1.3vw, 1.5vw, 1.6vw);
  font-weight: 700;
  font-family: "Lora";
  margin: 0 2vw 0 1vw;
}

.filterBtns {
  width: 45%;
  margin: 1vw auto;
  display: flex;
  justify-content: space-between;
}

#hotelDate {
  width: 20vw;
}

.hotelRoomList {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  margin: 2vw auto;
}

.hotel {
  width: 30%;
  flex-wrap: wrap;
  background-color: whitesmoke;
  padding: 0.5vw;
  margin: 1vw auto 1vw auto;
  justify-content: space-around;
  border-radius: 1vw;
  border: 1px solid black;
}

#hotelTitle {
  margin-bottom: 4vw;
}

.Description {
  text-align: center;
}

.Description h2 {
  font-size: clamp(2.3vw, 2.4vw, 2.1vw);
}

.Description p {
  font-size: clamp(1.6vw, 1.4vw, 1.3vw);
  margin-bottom: 0.5vw !important;
}

.ourRooms {
  margin-top: 2vw;
}

/* end of hotel  code */

/* Back to top button */
/* Back to top button */
#backToTopBtn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 100;
  background-color: #00bbff;
  color: rgb(245, 245, 245);
  padding: 12px 15px;
  border-radius: 50%;
  text-align: center;
  font-size: 3.5vw !important;
  text-decoration: none;
  display: none;
  aspect-ratio: 1 !important;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

#backToTopBtn i {
  margin: 0.5vw;
}
#backToTopBtn:hover {
  background-color: #555;
  transform: scale(1.1);
}

/* End of back to top */

/* Tablet size */
@media only screen and (min-width: 600px) and (max-width: 1025px) {
  .selection {
    margin-top: 15vw;
  }

  .card-title {
    font-size: clamp(3vw, 3.2vw, 3.5vw);
  }

  #rates {
    margin-top: 10vh;
  }

  .backToSelection i {
    font-size: 4vw;
    border-radius: 50%;
  }

  .title {
    font-size: clamp(4.5vw, 4.3vw, 4.1vw);
    margin-bottom: 2vw !important;
  }

  .entranceTitleContainer {
    padding-top: 0 !important;
  }

  .entranceTitle {
    font-size: clamp(3.9vw, 3.5vw, 3.7vw);
  }

  .entrance {
    padding-top: 2vw !important;
  }

  .entranceFee {
    margin: 4vw auto;
    width: 95%;
  }

  .entrance-card-title {
    font-size: clamp(26px, calc(1.8vh + 2px), 23px);
  }

  .cottages {
    width: 100%;
  }

  #cottageCard {
    width: 32% !important;
    margin: auto;
    justify-content: center !important;
    border-radius: 10% !important;
    padding: 1vw;
  }

  .card-body.description h2 {
    font-size: clamp(24px, calc(1.8vh + 2px), 26px);
  }

  #videokePriceDesc {
    font-size: clamp(24px, calc(1.6vh + 2px), 20px);
  }

  .card-body.description p,
  .card-body.description a {
    font-size: clamp(20px, calc(1.8vh + 2px), 18px);
  }

  .videokeDesc {
    font-size: clamp(27px, calc(1.8vh + 2px), 24px);
  }

  .card-body.description {
    margin: 0 auto;
  }

  .entranceCard {
    border-radius: 2vw !important;
    padding: 3vw 2vw;
    width: 30% !important;
    margin: 0 !important;
  }

  .entranceCard span.age {
    font-size: clamp(20px, calc(1.8vh + 2px), 23px);
  }

  .cottageDisplayPhoto {
    width: 80% !important;
  }

  .poolTitleContainer {
    width: 70%;
  }

  .poolTitle {
    font-size: clamp(12px, calc(1.5vh + 4px), 20px);
  }

  #videokeDescContainer {
    width: 35%;
  }

  .singleImg {
    width: 65%;
  }

  #videokeDisplayPhoto,
  #billardsDisplayPhoto,
  #massageChairDisplayPhoto {
    width: 90%;
    aspect-ratio: 16/9;
    object-fit: cover;
  }

  .Description h2 {
    font-size: clamp(26px, calc(3vh + 4px), 30px);
  }

  .Description {
    text-align: center;
  }

  .Description p {
    font-size: clamp(23px, calc(1.9vh + 4px), 21px);
    margin-bottom: 0.5vw !important;
  }

  .singleImg img {
    width: 75%;
  }

  #videokeDesc p,
  #massageDesc {
    font-size: 1.8vw;
  }

  .availabilityIcons {
    width: 80%;
  }

  input {
    font-size: clamp(2.1vw, 2.3vw, 2.5vw) !important;
    width: 100%;
  }
  .hotelIconsContainer {
    width: 100%;
  }

  .hotelIconContainer {
    width: 80%;
  }

  .hotelIconWithCaption {
    width: 23%;
  }

  .hotelIcon {
    width: clamp(10vw, 11vw, 9vw);
  }

  .hotel {
    width: 43%;
    align-items: baseline;
  }

  .roomCaption {
    font-size: clamp(2.3vw, calc(2.4vh + 2px), 2.5vw);
  }

  .availabilityIcons p {
    font-size: clamp(2.3vw, calc(2.1vh + 2px), 2.1vw);
  }

  .hotelDescription {
    font-size: clamp(2.3vw, 2.4vw, 2.5vw);
  }

  /* Back to top button */
  #backToTopBtn {
    bottom: 20px;
    right: 30px;
    font-size: 3.5vw !important;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }

  #backToTopBtn i {
    margin: 0.8vw;
  }
}

@media (max-width: 800px) {
  .title {
    font-size: clamp(6.5vw, 6.8vw, 7.2vw);
  }

  .categoryLink {
    width: 60%;
  }

  .card-body h5 {
    font-size: clamp(24px, calc(2vh + 2px), 27px);
  }

  .titleContainer {
    width: 80%;
  }

  #mainTitle {
    font-size: clamp(5.5vw, 5.6vw, 5.8vw);
  }
  #cottageCard {
    width: 45% !important;
    margin: auto;
    justify-content: center !important;
    border-radius: 10% !important;
    padding: 2.2vw;
  }

  .backToSelection i {
    font-size: 5vw;
  }

  .hotelIconWithCaption {
    width: 30%;
  }

  .hotelIcon {
    width: 70%;
  }

  .availabilityIcon img {
    width: 4vw;
  }
  .availabilityIcons p,
  .hotelDescription {
    font-size: clamp(3.5vw, 3.8vw, 3.2vw);
  }

  input {
    font-size: clamp(3.5vw, 3.8vw, 4vw);
  }

  .roomCaption,
  .Description h2 {
    font-size: clamp(23px, calc(2vh + 4px), 25px);
  }

  .Description p {
    font-size: clamp(3.1vw, 3vw, 3.2vw);
  }
}

@media (max-width: 600px) {
  .rates,
  .hotelRooms {
    margin-top: 8vh;
  }

  .categories {
    margin-top: 7vh;
  }

  .categoryLink {
    width: 80%;
  }

  .entranceCard {
    padding: 1vw;
  }

  .selection {
    margin-top: 15vw;
  }

  .entranceLine {
    border: none;
    border-top: 3px solid #d48d31;
    width: 30%;
    margin: 3vw auto 1.5vw auto;
    opacity: 1;
  }

  .title {
    font-size: clamp(7.5vw, 6.8vw, 7.2vw);
    margin-bottom: 3vw !important;
  }

  .backToSelection i {
    font-size: 7vw;
  }

  .entranceTitleContainer {
    width: 90%;
  }

  .entranceTitle {
    font-size: clamp(26px, calc(3.5vh + 4px), 30px);
    margin: 3vw auto 5vw auto !important;
  }

  span.age {
    font-size: clamp(3.2vw, 2.7vw, 3vw);
  }
  .Description h2 {
    font-size: clamp(28px, calc(2.5vh + 4px), 34px) !important;
  }

  .entrance-card-title {
    font-size: clamp(3.7vw, 3.9vw, 3.5vw);
  }

  .videokeTitleContainer {
    width: 90%;
  }

  .entranceFee {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 8px;
    width: 98%;
    margin: 5vw auto;
  }

  .entranceCard {
    padding: 2vw;
    font-size: 1.5vw;
    width: 90% !important;
    display: grid !important;
    align-items: center;
  }

  .card-body.description h2,
  #videokePriceDesc {
    font-size: clamp(5vw, 4.8vw, 4.5vw) !important;
  }

  .card-body.description {
    padding: 0 !important;
  }

  .card-body.description a {
    font-size: clamp(4vw, 3.8vw, 3.5vw);
    margin-top: 2.5vw !important;
  }

  .card-body.description p,
  .Description p,
  #videokeDesc p {
    font-size: clamp(5vw, calc(3vh + 2px), 4.7vw) !important;
    margin-bottom: 0 !important;
  }

  #cottageCard {
    width: 89% !important;
    padding: 2vw !important;
    margin: 0 auto !important;
    border-radius: 5% !important;
  }

  .section,
  #billiards,
  #massage {
    flex-direction: column;
  }

  .singleImg,
  #videokeDescContainer,
  #massageDesc {
    width: 90% !important;
    margin: 0 auto;
  }

  .singleImg {
    display: flex;
    justify-content: center;
  }

  #videokeDisplayPhoto,
  #billardsDisplayPhoto,
  #massageChairDisplayPhoto {
    width: 80% !important;
    margin: 0 auto;
  }
  .embed-responsive {
    width: clamp(70vw, 75vw, 80vw) !important;
  }

  .hotelIconsContainer {
    width: 95%;
  }

  .hotelIconContainer {
    width: 95%;
  }

  .hotelDescription {
    font-size: clamp(18px, calc(1.7vh + 2px), 24px);
  }

  .availabilityIcons {
    width: 90%;
  }

  .hotelIcon {
    width: 70%;
  }

  .roomCaption,
  input {
    font-size: clamp(20px, calc(1.8vh + 2px), 22px);
  }

  .availabilityIcons p {
    font-size: clamp(17px, calc(1.6vh + 2px), 20px);
    font-family: "Lora";
    margin: 0 2vw 0 1vw;
  }

  .filterBtns {
    justify-content: center;
  }

  /* Back to top button */
  #backToTopBtn {
    font-size: 5vw !important;
  }

  #backToTopBtn i {
    margin: 1.2vw;
  }

  .hotel {
    width: 80%;
    align-items: baseline !important;
    padding: 2vw;
  }
}

@media (max-width: 400px) {
  #rates,
  .hotelRooms {
    margin-top: 10vh;
  }
  #mainTitle {
    margin-top: 20vw;
  }
  .title {
    font-size: clamp(35px, calc(5vh + 4px), 30px);
  }

  .hotelDescription {
    font-size: clamp(18px, calc(1.4vh + 2px), 16px);
  }

  .selection {
    margin-top: 15vw;
  }

  input {
    font-size: clamp(15px, calc(1.5vh + 4px), 16px) !important;
  }

  .availabilityIcon img {
    width: 7vw;
  }

  .availabilityIcons p {
    font-size: clamp(15px, calc(1.5vh + 4px), 16px) !important;
    line-height: normal;
  }

  .cottage {
    margin: 0 auto 2vw auto;
  }

  .backToSelection i {
    font-size: 6vw;
  }

  .Description h2 {
    font-size: clamp(25px, calc(2.5vh + 4px), 28px) !important;
  }

  .roomCaption {
    font-size: clamp(17px, calc(2.9vh + 4px), 16px);
  }

  .hotel {
    padding-bottom: 4vw !important;
  }

  .Description p,
  #videokeDesc p,
  .card-body.description p,
  .Description p,
  #videokeDesc p {
    font-size: clamp(15px, calc(1.8vh + 2px), 14px) !important;
  }

  .entranceFee {
    width: 100%;
  }

  .categoryLink {
    width: 70%;
    height: auto;
  }

  .card-body {
    width: 100%;
    padding: 5vw 0;
  }

  .card-body h5 {
    font-size: clamp(22px, calc(2vh + 2px), 19px);
  }

  .card-img-top.category {
    height: unset;
  }

  .card {
    margin: 3vw auto;
  }

  .availabilityIcons p {
    font-size: 2.3vw;
    font-weight: 700;
    font-family: "Lora";
    margin: 0 2vw 0 1vw;
  }

  /* Back to top button */
  #backToTopBtn {
    right: 10px;
    bottom: 10px;
    font-size: 5.6vw !important;
  }
}
