@font-face {
  font-family: "Poppins";
  src: url(../Fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
  font-family: "Lora";
  src: url(../Fonts/Lora/Lora-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Alkatra";
  src: url(../Fonts/Alkatra/Alkatra-VariableFont_wght.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}


body {
  background: #ffd787a0 !important;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}


/* navbar code */

nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  /* background-color: rgb(242, 242, 242); */
}

.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  text-transform: uppercase;
}

.navbar.scrolled {
  background-color: white;

  .nav-link {
    color: black !important;
  }

  .nav-link:not(.dropdown-toggle):after {
    border-bottom: 4px solid rgb(126, 203, 242) !important;
  }
}

.nav-item {
  font-family: "Poppins" !important;
  font-weight: lighter;
  margin-top: 15px;
  font-size: 1.3vw;
  /* margin-left: 3vw; */
}

.nav-link {
  text-decoration: none;
  display: inline-block;
  padding: 10px 15px !important;
  position: relative;
  color: rgb(0, 0, 0) !important;
  letter-spacing: 0.1em;
}

.nav-link:not(.dropdown-toggle):after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  border-bottom: 4px solid rgb(0, 178, 209) !important;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.nav-link:not(.dropdown-toggle):hover:after {
  width: 100%;
  left: 0;
}

.dropdown-menu {
  background-color: rgb(126, 203, 242, 0.5) !important;
}

.nav-item.dropdown:hover .dropdown-menu {
  background-color: white !important;
  display: block;
}

.logoNav {
  /* border: 1px solid black; */
  width: 15vw;
  position: absolute;
  margin: 2vw;
}

.account-nav {
  margin: 1px;
  margin-left: 1rem;
  /* border: 1px solid white; */
  border-radius: 50%;

  img {
    .account-nav {
      margin: 1px;
      margin-left: 1rem;
      border: 1px solid white;
      border-radius: 50%;

      img {
        height: 8vh;
      }
    }

    height: 5vw;
    border-radius: 50%;
    aspect-ratio: 1;
    object-fit: cover;
  }
}

.notification-container {
  margin: 1rem;

  button {
    background-color: transparent;
    border: none;
  }
}

.dropdown-item:hover {
  background-color: rgb(126, 203, 242, 0.5) !important;
}

.dropdown-item.active {
  background-color: rgb(126, 203, 242) !important;
  color: black !important;
}

.dropdown-item {
  font-size: 1.3vw;
}

.navbar-collapse {
  padding-bottom: 0.5rem;
}

.navbar-toggler {
  float: right;
  background-color: #ffffff !important;
  margin: 3vw;
  border: none;

  &:focus,
  &:active {
    outline: none !important;
    box-shadow: none !important;
    border: none;
  }

  .custom-btn {
    width: 2vw !important;
    font-size: 1.5vw !important;
  }
}

.nav-link,
#logOutBtn {
  text-decoration: none;
  display: inline-block;
  padding: 10px 15px !important;
  position: relative;
  color: rgb(2, 2, 2) !important;
  letter-spacing: 0.1em;
}

#logOutBtn {
  font-family: "Poppins";
  font-size: 1.3vw;
  margin-right: 2vw;
  border: none;
}

/* end of navbar code */

/* Div for loader */
#loaderOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Gray out effect */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  position: absolute;
  z-index: 5;
  left: 50%;
  top: 50%;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.selection {
  margin-top: 20vh;
}

/* body css */
.titleContainer {
  width: 70%;
  margin: auto;
  text-align: center;
}

#mainTitle {
  margin-top: 10vw ;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  margin-top: 2vw;
  margin-bottom: 5vw;
}

.backToSelection {
  width: 90%;
  display: flex;
  justify-content: flex-start;
  margin: 0 auto;
}

.backToSelection img {
  width: 3.5vw;
}

.card,
.card-body {
  text-align: center;
  width: 85% !important;
}

.card {
  box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
  margin: 2vw;
  background-color: whitesmoke !important;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 3vw auto;
}

.card-img-top.category {
  border-radius: 2vw 2vw 2vw 2vw !important;
  padding: 1vw;
  height: 25vw;
  object-fit: cover;
  width: 100%;
  margin: 0 auto;
}

.card-title {
  font-family: "Poppins Black";
  font-style: italic;
  font-weight: bold;
  font-size: 2.3vw;
  color: #00b3d1 !important;
  text-align: center;
}

.categoryLink {
  text-decoration: none;

  &:hover {
    text-decoration: none !important;
  }
}

.categoryLink .card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.categoryLink:hover .card {
  transform: translateY(-12px);
  box-shadow: 0 8px 6px rgba(39, 183, 255, 0.4);
}

/* rates code */

.rates,
.hotelRooms {
  margin-top: 9vw;
}

/* entrance */
.entranceFee {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  justify-content: space-between;
  margin: 0 auto;
}

.entranceTitleContainer {
  width: 50%;
  margin: auto;
  text-align: center;
  margin-top: 2vw !important;
  color: whitesmoke;
}

.entranceLine {
  border: none;
  border-top: 5px solid #d48d31;
  width: 30%;
  margin: 0 auto;
  opacity: 1;
}

.entranceTitle {
  margin-top: 2vw;
  font-size: 2.8vw;
  font-family: "Lora";
}

.entranceCard {
  padding: 2vw;
  font-size: 1.5vw;
  width: 22vw !important;
  height: 20vw !important;
  display: grid !important;
  align-items: center;
}

.entrance-card-title {
  font-family: "Lora";
  font-size: 1.7vw;
  color: #212121 !important;
  text-align: center;
}

.entrace-card-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0 auto;
}

.entrance-card-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
}

.title {
  text-align: center;
  margin-top: -3vw;
  margin-bottom: 1vw;
  font-size: 3vw;
  font-family: "Lora";
  color: #000000;
}

/* end of entrance code */

/* cottages code */

.cottages {
  display: flex;
  flex-wrap: wrap;
  column-gap: 5px;
  row-gap: 2vw;
  padding: 2vw;
}

#cottageCard {
  width: 23% !important;
  height: 65vh !important;
  margin: auto;
  justify-content: center !important;
}

#cottageDisplayPhoto {
  object-fit: cover;
  width: 15vw;
  padding-top: 1vw;
  aspect-ratio: 1;
  margin: auto;
}

.card-body.description {
  display: flex;
  width: 100%;

  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.card-body.description h2 {
  font-size: 1.5vw !important;
  font-family: "Poppins";
}

.card-body.description p {
  font-size: 1.2vw;
  font-family: "Poppins";
}

/* end of cottages code */

/* videoke code  */

.videoke {
  width: 98%;
  border-radius: 20px;
  background-color: #f5f5f5;
  margin: auto;
}

.section {
  display: flex;
  width: 90%;
  padding: 1vw;
  margin: 2vw auto 1vw auto;
  justify-content: center;
  gap: 5vw;
}

#videokeDescContainer {
  width: 75%;
}

#videokePriceDesc {
  font-family: "Poppins";
  font-size: 2vw;
  font-weight: bold;
}

.videokeDesc {
  text-align: center;
  font-family: "Poppins";
  font-size: 1.5vw;
  margin-top: 2vw;
}

#videokeDisplayPhoto,
#billardsDisplayPhoto,
#massageChairDisplayPhoto {
  width: 25vw;
}

.videokeTitleContainer {
  width: 50%;
  margin: auto;
  text-align: center;
  margin-top: 5vw !important;
}

.videokeTitle {
  margin-top: 1vw;
  font-size: 2.5vw;
  font-family: "Lora";
}

#videokeDesc {
  font-size: 1.5vw;
  padding: 0.8vw;
  width: 75%;
}

#videokeDesc p {
  font-size: 1.5vw;
}

/*end of videoke code */

/* billiards code */
#billiards {
  width: 90%;
  padding: 1vw;
  margin: 2vw auto 1vw auto;
  justify-content: center;
  gap: 5vw;
  display: flex;
}

/* end of billiards code */

/* massage chair code */

.massage {
  width: 98%;
  border-radius: 20px;
  margin: auto;
}

#massage {
  display: flex;
  width: 90%;
  padding: 1vw;
  margin: 2vw auto 1vw auto;
  justify-content: center;
  gap: 5vw;
}

#massageDesc {
  font-size: 1.5vw;
  padding: 0.8vw;
  width: 75%;
}

/* end of massage chair  code */
/* end of rates code */

/* start of hotel code */
.hotelDescription {
  margin-top: 1vw;
  font-size: 1.5vw;
}

#allrooms {
  background-color: gray;
  padding: 0.5vw;
  border-radius: 0.2vw;
}

.halfImg img {
  width: 100%;
}

.container-fluid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
  background: whitesmoke !important;
  padding-bottom: 1vw;
}

.hidden {
  display: none !important;
}

.hotelIconWithCaption {
  transition: all 0.3s ease;
  width: 22%;
}

.hotelIconContainer {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 50%;
  gap: 1vw;
  padding: 1vw;
}

.hotelIcon {
  width: 6vw;
}

.filterBtns button.selected {
  border: 3px solid #5e99f3;
  -webkit-box-shadow: 3px 3px 18px 1px rgba(107, 195, 255, 0.91);
  box-shadow: 3px 3px 18px 1px rgba(107, 195, 255, 0.91);
}

.availabilityIcons,
.availabilityIcon {
  margin: 1vw auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.availabilityIcons {
  width: 50%;
}

.roomCaption {
  font-size: 1.2vw;
  font-family: "Lora";
}

.avail {
  width: 3vw;
}

.availabilityIcons p {
  font-size: 1.3vw;
  font-weight: 700;
  font-family: "Lora";
  margin: 0 2vw 0 1vw;
}

.filterBtns {
  width: 45%;
  margin: 1vw auto;
  display: flex;
  justify-content: space-between;
}

#hotelDate {
  width: 20vw;
}

.hotelRoomList {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  margin: 2vw auto;
}

.hotel {
  width: 35%;
  flex-wrap: wrap;
  background-color: whitesmoke;
  padding: 0.5vw;
  margin: 1vw auto 1vw auto;
  justify-content: space-around;
  border-radius: 1vw;
  border: 1px solid black;
}

#hotelTitle {
  margin-bottom: 4vw;
}

.ourRooms {
  margin-top: 2vw;
}

/* end of hotel  code */

/* Back to top button */
#backToTopBtn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 100;
  background-color: #00bbff;
  color: rgb(245, 245, 245);
  padding: 12px 15px;
  border-radius: 50%;
  text-align: center;
  font-size: 2.5vw !important;
  text-decoration: none;
  display: none;
  aspect-ratio: 1 !important;
  width: 5vw;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

#backToTopBtn:hover {
  background-color: #555;
  transform: scale(1.1);
}

/* End of back to top */

/* Tablet size */
@media only screen and (min-width: 600px) and (max-width: 1025px) {

  .navbar {
    padding: 5px 0;
    height: 8vh !important;
  }

  .selection {
    margin-top: 5vw;
    height: 100vh;
  }

  .backToSelection img {
    width: 4vw;
    border-radius: 50%;
  }

  .title {
    font-size: 4vw;
  }

  .entranceTitle {
    font-size: 3vw;
  }

  .poolTitleContainer {
    width: 70%;
  }

  .poolTitle {
    font-size: clamp(12px, calc(1.5vh + 4px), 20px);
  }

  .Description h2 {
    font-size: clamp(18px, calc(3vh + 4px), 27px);
  }

  .Description {
    font-size: clamp(12px, calc(1.5vh + 4px), 18px);
  }

  .singleImg img {
    width: 75%;
  }

  #videokeDesc p,
  #massageDesc {
    font-size: 1.8vw;
  }

  .hotelIconsContainer {
    width: 45%;
  }

  .hotelIcon {
    width: 7vw;
  }

  .roomCaption {
    font-size: clamp(13px, calc(1.2vh + 2px), 18px);
  }

  .hotelDescription {
    font-size: 2vw;
  }
}

@media (max-width: 991.98px) {

  #navbarNav .nav-link,
  #navbarNav .dropdown-item {
    color: black !important;
  }

  .nav-item {
    margin-top: 5px;
    font-size: 2vw;
  }

  #navbarDropdown {
    text-align: left;
  }

  a.dropdown-item {
    font-size: 1.8vw !important;
  }

  #profileAndNotif {
    background-color: transparent;
  }

  .navbar-nav {
    background-color: rgb(251, 250, 250);
  }

  #toggledNav {
    position: absolute;
    right: 2vw;
  }

  #navbar-half2 .btn-outline-danger {
    color: black !important;
    border-color: white !important;
    width: 100%;
    text-align: left;
  }


}

@media (max-width: 991.98px) and (orientation:portrait) {
  .nav-item {
    margin-top: 5px;
  }
}

@media (max-width: 600px) {
  .entranceCard span {
    font-size: clamp(10px, calc(1.1vh + 2px), 15px);
  }

  .selection {
    margin-top: 15vw;
  }

  .entranceLine {
    border: none;
    border-top: 3px solid #d48d31;
    width: 30%;
    margin: 3vw auto 1.5vw auto;
    opacity: 1;
  }

  .title {
    font-size: 4vw;
  }

  .backToSelection img {
    width: 4.5vw;
  }

  .entranceTitle {
    font-size: 3.3vw;
  }

  body {
    height: 100vh !important;
  }

  .rates {
    margin-top: 14vw !important;
  }

  .Description h2 {
    font-size: clamp(12px, calc(2.5vh + 4px), 14px) !important;
  }

  .Description p,
  #videokeDesc p {
    font-size: clamp(8px, calc(0.9vh + 2px), 12px);
  }

  .entranceFee {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 8px;
    width: 90%;
    margin: 0 auto;
  }

  .entranceCard {
    padding: 1vw;
    font-size: 1.5vw;
    width: 90% !important;
    height: 20vw !important;
    display: grid !important;
    align-items: center;
  }

  .logoNav {
    width: 20vw !important;
  }

  .navbar {
    height: 10vh;
  }

  .ms-auto {
    position: absolute !important;
    right: 4vw !important;
  }

  .embed-responsive {
    width: clamp(70vw, 75vw, 80vw) !important;
  }

  .account-nav img {
    height: clamp(8.5vw, 9.5vw, 10vw);
    aspect-ratio: 1;
  }


  #toggledNav {
    position: absolute !important;
    right: 4vw !important;
  }

  .notificationIcon {
    display: flex;
    align-items: center;
    height: clamp(4.5vw, 5.1vw, 6vw);
    aspect-ratio: 1;
  }

  .notifBtn {
    margin-left: 1.5vw;
    margin-top: 0 !important;
  }


  .hotelIconsContainer {
    width: 55%;
  }

  .hotelDescription {
    font-size: 2.1vw;
  }

  .hotelIcon {
    width: 7vw;
  }

  .roomCaption {
    font-size: clamp(8px, calc(0.9vh + 2px), 15px);
  }

  .availabilityIcons p {
    font-size: 1.9vw;
    font-weight: 700;
    font-family: "Lora";
    margin: 0 2vw 0 1vw;
  }

  #backToTopBtn {
    padding: 10px 12px;
    font-size: 16px;
    bottom: 20px;
    right: 20px;
  }
}

@media (max-width: 400px) {
  #mainTitle {
    margin-top: 20vw;
  }
  .title {
    font-size: 5vw;
  }
  .selection {
    margin-top: 15vw; 
  }

  .cottage {
    margin: 0 auto 2vw auto;
  }

  .backToSelection img {
    width: 4.8vw;
  }

  .Description h2 {
    font-size: clamp(9px, calc(1vh + 2px), 12px) !important;
  }

  .Description p,
  #videokeDesc p {
    font-size: clamp(6px, calc(0.9vh + 2px), 11px);
  }

  .entranceFee {
    width: 100%;
  }

  .entranceCard span {
    font-size: clamp(7px, calc(0.8vh + 2px), 11px);
  }

  .entrance-card-title .dayNight {
    font-size: clamp(7px, calc(1.1vh + 3px), 17px) !important;
  }

  .entrance-card-title {
    font-size: clamp(8px, calc(0.8vh + 2px), 11px) !important;
  }

  .entranceTitle {
    font-size: 3.5vw;
    margin-bottom: 5vw;
  }

  .categoryLink {
    width: 60%;
    height: auto;
  }

  .card-body {
    width: 100%;  
    padding: 5vw 0;
  }

  .card-body h5 {
    font-size: 4vw;
  }

  .card-img-top.category {
    height: unset;
  }

  .card {
    margin: 3vw auto;
    width: 70% !important; 
  }

  .availabilityIcons p {
    font-size: 2.3vw;
    font-weight: 700;
    font-family: "Lora";
    margin: 0 2vw 0 1vw;
  }
}