@font-face {
  font-family: "Poppins";
  src: url(../Fonts/Poppins/Poppins-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
  text-decoration: none;
  list-style: none;
}

/*
.logoNav {
 border: 1px solid black; 
  width: 15vw;
  position: absolute;
  margin: 2vw;
}*/

/* Div for loader */
#loaderOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Gray out effect */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  position: absolute;
  z-index: 5;
  left: 50%;
  top: 50%;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.titleContainer {
  /* border: 1px solid red; */
  margin: -2rem 0 2rem 0;
  text-align: center;
}

.backArrowContainer {
  display: flex;
  width: 80%;
  justify-content: start;
  margin: 3vw auto 1vw auto !important;
}

.backArrow {
  font-size: 3.5vw;
}

.title {
  font-family: "Poppins Black";
  font-size: 30px;
  /* font-style: normal; */
  font-weight: 500;
}

.container {
  border-radius: 50px;
  width: 65% !important;
  margin-bottom: 2vw;
  background-color: #43b2f7;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.categories {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 5vw; */
}

.category-card {
  width: 95%;
  box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
}

.category-card,
.category-body {
  margin: 1vw;
  border-radius: 2vw 2vw 2vw 2vw !important;
  text-align: center;
}

.category-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1vw;
}

.category-card img {
  border-radius: 2vw 2vw 2vw 2vw !important;
  padding: 1vw;
  object-fit: cover;
  width: 90%;
  margin: 1vw auto;
}

.category-title {
  font-family: "Poppins Black" !important;
  font-style: italic;
  font-weight: bolder;
  font-size: 2vw;
  color: #0865b1 !important;
}

.card-text {
  color: black;
  font-size: clamp(1.3vw, 1.4vw, 1.5vw);
}

a.categoryLink {
  text-decoration: none;
  width: 48%;
  &:hover {
    text-decoration: none !important;
  }
}

.categoryLink .category-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.categoryLink:hover .category-card {
  transform: translateY(-12px);
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
}

/* Tablet landscape */
@media only screen and (min-width: 600px) and (max-width: 1025px) {
  .title {
    font-size: clamp(3vw, 3.1vw, 3.2vw);
  }

  .backArrow {
    font-size: 4.2vw;
  }

  a.categoryLink {
    width: 60%;
  }

  .subtitle {
    font-size: 1.1rem;
    margin-top: 2vw;
  }

  .container {
    width: 70% !important;
  }

  .category-card {
    width: 100% !important;
  }

  .category-title {
    font-size: clamp(2.6vw, 2.7vw, 2.8vw);
  }

  .card-text {
    font-size: clamp(2vw, 2.1vw, 2.2vw);
  }
}

/* Tablet portrait */
@media only screen and (min-width: 600px) and (max-width: 1025px) and (orientation: portrait) {
  .title {
    font-size: clamp(3vw, 3.1vw, 3.2vw);
    margin-top: 12vw;
  }

  .subtitle {
    font-size: clamp(2vw, 2.1vw, 2.2vw);
    margin-top: 1.8vw;
  }

  .backArrowContainer {
    margin-top: 8vw !important;
    position: absolute;
    top: -3%;
    left: 6%;
  }
  .container {
    flex-direction: column !important;
    width: 80% !important;
    margin-top: 4vw;
    padding: 3vw 0;
  }

  .category-card {
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
  }

  .category-card img {
    width: 60%;
    object-fit: cover;
  }
}

/* Phone size */
@media screen and (max-width: 599px) {
  .title {
    font-size: 20px;
    margin-top: 20vw !important;
    width: 70%;
    margin: auto;
  }

  .backArrow {
    font-size: 5.5vw;
  }

  .titleContainer {
    margin-bottom: 5vw;
  }

  .subtitle {
    font-size: 1rem;
    margin-top: 1vw !important;
  }

  .backArrowContainer {
    margin-top: 8vw !important;
    position: absolute;
    top: -1%;
    left: 6%;
  }

  a.categoryLink {
    width: 80%;
  }

  .container {
    flex-direction: column !important;
    width: 75% !important;
    padding: 2vw 0;
  }

  .category-card {
    width: 100%;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
  }

  .category-card img {
    width: 40vw;
    margin: auto;
    object-fit: cover;
  }
  .category-title {
    font-size: 3.8vw !important;
  }

  .card-text {
    font-size: clamp(0.63rem, 12px, 0.88rem);
  }
}
