@font-face {
  font-family: "Poppins";
  src: url(../../Fonts/Poppins/Poppins-Regular.ttf);
}
@font-face {
  font-family: "Plus Jakarta Sans";
  src: url(../../Fonts/PlusJakartaSans/PlusJakartaSans-VariableFont_wght.ttf);
}
@font-face {
  font-family: "Prata";
  src: url(../../Fonts/Prata/Prata-Regular.ttf);
}
@font-face {
  font-family: "Agbalumo";
  src: url(../../Fonts/Agbalumo/Agbalumo-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans";
  text-decoration: none;
  list-style: none;
}

body {
  background: #a1c8c7 !important;
}

.topSection {
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5vw;
}

.menus {
  /* border: 1px solid black; */
  padding: 0.5vw;
  margin-right: 2vw;
  display: flex;
  align-items: center;
  gap: 2vw;
}

.dashTitleContainer {
  margin-left: 1vw;
}

.logo {
  width: 15vw;
}
#dashboard {
  font-family: "Plus Jakarta Sans";
  text-decoration: none;
  color: black;
  font-weight: 800;
  font-size: 2.3vw;
  margin-left: 1vw;
}

.navbar {
  border-radius: 15px;
  max-width: 80vw;
  margin: 20px auto;
  padding: 5px 15px;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.me-2 {
  margin-left: 2vw;
}
.nav-link {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  margin: 0 0 0 3vw;
  color: black;
  text-decoration: none;
  font-size: 1.5vw !important;
  border-radius: 10px;
  padding: 5px 10px;
}

.nav-link.active {
  background-color: rgb(2, 129, 214);
  color: white;
  padding: 0.3vw;
}

.nav-link:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 100%;
  /* position: absolute; */
  border-bottom: 4px solid rgb(126, 203, 242) !important;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.nav-link:hover:after {
  width: 100%;
  left: 0;
}

.nav-link img {
  height: 2vw;
  width: auto;
  object-fit: contain;
}

#contentsCF {
  /* border: 1px solid black; */
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 2vw;
}

.card-header {
  font-size: 1.3vw;
}

.leftSection {
  width: 50%;
}

h6 {
  text-align: right;
  padding-right: 2vw;
}

.bookingSummary {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1vw;
}
/* .bookingSummary {
  border: 1px solid black;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 1vw;
  width: 60%;
}

#checkOut {
  grid-row-start: 2;
}

#revenue {
  grid-row-start: 2;
} */

.ReservationTrendsGraph {
  width: 35vw;
  display: block;
  margin: auto;
}

#revenueGraphCard {
  display: flex !important;
  flex-wrap: nowrap !important;
  gap: 5vw;
  width: 42rem;
  height: 25rem;
  padding: 5px;
}

.revenueGraphContainer {
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.revenueGraph {
  /* border: 1px solid black; */
  width: 45vw !important;
}

.revTitle {
  display: inline-block;
  border: 1px;
  word-wrap: break-word;
  width: 1vw;
}

.rightSectionBottom {
  display: flex;
  gap: 1.2vw;
  margin-top: 2vw;
}

.roomAvailabilityGraph {
  margin-top: 2vw;
}

.graphRA {
  display: block;
  margin: auto;
  width: 15vw;
}
.roomAvailabilityLegend {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 4vw;
  gap: 2vw;
}

.occupied,
.available,
.maintenance {
  /* background-color: rgb(222, 255, 242);
  color: rgb(82, 209, 160); */
  border-radius: 15px;
  padding: 5px 10px;
  color: #ffff;
}

.totalRating {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vw;
  padding-left: 1vw;
}
.totalRatingSpan {
  border-radius: 15px;
  padding: 5px 10px;
  color: #fbe3c3;
  font-size: 1.6vw;
}
.ratingLabelContainer {
  margin-top: 3vw;
  display: flex;
  flex-wrap: wrap;
}

.facilitiesRating,
.cleanlinessRating,
.servicesRating,
.comfortRating {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.ratingLabel {
  font-size: 1.3vw;
  text-align: left;
  flex-shrink: 0;
  width: 40%;
}

.progress {
  flex-grow: 1;
  margin-right: 1vw;
}

.facilityRatingNumber,
.cleanlinessRatingNumber,
.servicesRatingNumber,
.comfortRatingNumber {
  font-size: 1.3vw;
}
