@font-face {
  font-family: "Poppins";
  src: url(../../Fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
  font-family: "Poppins Black";
  src: url(../../Fonts/Poppins/Poppins-Black.ttf);
}

@font-face {
  font-family: "Alkatra";
  src: url(../../Fonts/Alkatra/Alkatra-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Lora";
  src: url(../../Fonts/Lora/Lora-VariableFont_wght.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Plus Jakarta Sans"; */
  text-decoration: none;
  list-style: none;
}

body {
  background: #a1c8c7 !important;
}

.topSection {
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5vw;
}

.menus {
  /* border: 1px solid black; */
  padding: 0.5vw;
  margin-right: 2vw;
  display: flex;
  align-items: center;
  gap: 2vw;
}

.dashTitleContainer {
  margin-left: 1vw;
}

.logo {
  width: 15vw;
}

#dashboard {
  text-decoration: none;
  margin-left: 1vw;
}

.adminTitle {
  margin-top: 1rem;
  font-family: "Lora" !important;
  /* font-weight: bold; */
  font-size: 20px;
}

.admin {
  img {
    height: 70px;
    width: 70px;
    border-radius: 3rem;
  }
}
.navbar {
  font-family: "Lora";
  border-radius: 15px;
  max-width: 80vw;
  margin: 20px auto;
  padding: 1rem !important;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  h5 {
    font-size: 20px !important;
  }
}

.nav-link {
  display: flex !important;
  margin: auto;
  flex-direction: column;
  align-items: center;
  color: black;
  text-decoration: none;
}

.nav-link.active:after {
  width: 100%;
  left: 0;
}

.nav-link:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 100%;
  /* position: absolute; */
  border-bottom: 4px solid rgb(126, 203, 242) !important;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.nav-link:hover:after {
  width: 100%;
  left: 0;
}

.nav-link img {
  height: 2vw;
  width: auto;
  object-fit: contain;
}

.dashboardTitle {
  font-family: "Lora";
  text-align: center;
}

.container-fluid {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  padding-top: 0;
}

.leftSection {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  font-family: "Poppins";
}

.card-header {
  font-family: "Poppins" !important;
}
.card-body {
  text-align: end;
}

.trend-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  .card {
    width: 45%;
    height: 18vh !important;
    margin: 0.5rem;
  }
}

.roomAvailabilityGraph {
  width: 500px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#availabilityGraph {
  width: 100%;
  height: 100%;
}

.rightSection {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 1rem;
  gap: 1rem;
}

.salesReportBtn {
  width: 100%;
  display: flex;
  margin: auto;
  justify-content: center;
  margin: 0.5rem;
}

.salesReportBtn a {
  font-size: 18px !important;
  font-weight: 500;
  font-family: "Lora" !important;
}

.revenueGraphContainer {
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.revTitle {
  font-family: "Poppins Black";
  display: inline-block;
  border: 1px;
  word-wrap: break-word;
  width: 1vw;
  text-transform: capitalize;
}

.revenue-chart {
  width: 90% !important;
  height: 100% !important;
}

/* .revenueImage img {
  width: 550px;
  height: 250px;
} */
