@font-face {
  font-family: "Poppins";
  src: url(../../Fonts/Poppins/Poppins-Regular.ttf);
}
/* @font-face {
  font-family: "Plus Jakarta Sans";
  src: url(../../Fonts/PlusJakartaSans/PlusJakartaSans-VariableFont_wght.ttf);
} */

@font-face {
  font-family: "Lora";
  src: url(../../Fonts/Lora/Lora-VariableFont_wght.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Plus Jakarta Sans"; */
  text-decoration: none;
  list-style: none;
}
main {
  margin: auto;
}

body {
  display: flex;
  gap: 1rem;
}

.notification-toggler-container {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
}

.auditLog-container {
  max-width: 100%;
}

.notification-container {
  text-align: right !important;
  margin-top: 0.59rem;
  margin-right: 0.85rem;
}

#notification-icon {
  font-size: 2rem;
  color: #0d6dfc;
}

.page-title-container {
  padding-left: var(--padding-md);
}

.page-title {
  font-size: var(--font-size-xl);
  font-family: "Poppins";
  font-weight: var(--font-weight-bold);
}

.card {
  border: none !important;
  padding: var(--padding-lg);
  margin-top: var(--margin-mdl);
  margin-bottom: 2rem;
  width: 100% !important;
  max-width: 100%;
}

.auditLog-table {
  display: block;
  margin: auto;
}
table {
  width: 100% !important;
  max-width: 100%;
}

#auditLogTable_filter,
#auditLogTable_length {
  margin-bottom: 2vw !important;
}

.dataTables_scrollBody {
  margin-top: 0 !important;
}

label {
  margin-left: 1vw;
}

thead {
  font-family: "Lora";
  overflow: auto;
}

tbody {
  font-family: "Poppins";
}

td,
th {
  text-align: center !important;
  font-size: var;
}

th {
  background-color: oklch(0.64 0.65 220 / 0.5) !important;
  color: rgb(61, 46, 46);
}
.dt-layout-row {
  display: flex;
  margin-bottom: 1rem;
  justify-content: space-between;
}

.dt-layout-row.dt-layout-table {
  display: unset;
}

button.dt-paging-button {
  width: 1.5rem;
  margin-left: 0.2rem;
}
/* .dt-column-title {
  display: inline-block;
  width: 2vw !important;
} */

.badge {
  font-weight: initial;
  line-height: normal;
  font-size: initial;
  padding: 0.6rem !important;
  width: 7rem;
  border-radius: 3rem !important;
}

.badge.bg-red {
  background-color: rgba(204, 30, 20, 0.3) !important;
  color: rgb(204, 30, 20) !important;
}

.badge.bg-light-green {
  background-color: rgba(99, 201, 9, 0.3) !important;
  color: rgb(71, 139, 10) !important;
}

.badge.badge.bg-success {
  background-color: rgba(83, 243, 169, 0.5) !important;
  color: rgb(0, 129, 69) !important;
}

.badge.bg-primary {
  background-color: rgba(12, 100, 232, 0.3) !important;
  color: rgb(11, 90, 209) !important;
}

.badge.bg-danger {
  background-color: rgba(219, 53, 69, 0.3) !important;
  color: rgb(219, 53, 69) !important;
}

.badge.bg-warning {
  background-color: rgba(255, 193, 8, 0.5) !important;
  color: rgb(187, 140, 0) !important;
}

.badge.bg-info {
  background-color: rgba(12, 202, 240, 0.3) !important;
  color: rgb(28, 155, 180);
}

/* PHONE SIZE */
@media only screen and (max-width: 599px) {

  .page-title {
    margin-top: 10px;
    margin-left: 10px;
  }
  .notification-toggler-container {
    margin-left: 2rem;
    margin-top: 1rem;
  }
  .card {
    margin-top: 2rem;
    padding: 1.5vw !important;
    overflow-x: auto;
    margin-left: 2.5rem;
  }
  .dt-search {
    display: flex;
    align-items: flex-start;
    gap: 5px;
  }
  .dt-length {
    display: flex;
    gap: 10px;
    margin-left: 5px;
  }
  .dt-layout-row {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
  }
  
  .table>thead {
    white-space: nowrap;
  }
  #sidebar {
    position: sticky;
    height: 100vh;
    overflow-y: auto !important;
    top: 0;
    left: 0;
    width: 18%;
    background-color: #f5f5f5;
    padding-top: 20px;
  }
  .sidebar-custom {
    width: 70px;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden; 
    transition: width 0.3s ease;
  }


  .sidebar-custom .nav {
    flex-grow: 1;
    width: 100%;
  }

  .sidebar-custom .nav-link .linkText,
  .sidebar-custom .admin-name,
  .sidebar-custom .logoutText {
    display: none; 
  }

  .nav-item {
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0;
    position: relative;
  }

  .nav-item .nav-link {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
  }

  .nav-item .nav-link i {
    font-size: 1.8rem;
  }

  .sidebar-custom section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
  }

  .sidebar-custom .profileContainer {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-right: 10px;
  }

  .profileContainer .profilePic {
    width: 45px;
    height: 45px;
    margin-right: 6px;
  }

  .logOutContainer {
    margin-left:5px ;
    margin-top: 10px; 
    margin-bottom: 20px;
  }

  .logOutContainer a.btn {
    padding: 10px;
    font-size: 1.8rem; 
    display: flex;
    justify-content: center;
  }

}

@media only screen and (min-width: 600px) and (max-width: 1024px) and (orientation: portrait){


   main {
        flex-grow: 1; 
        max-width: unset;
        margin: 0;
    }
  .auditLog-container {
        max-width: unset;
        width: 100%;
    }

    .card {
      margin-right: 2rem;
      overflow-x: auto;
      padding-left: 1px;
      padding-right: 4rem;
    }

    .auditLog-table {
        display: block; 
        margin: 0;
        width: calc(100vw - 120px);
    }
    .dt-container {
      width: 100%;
      max-width: 100%;
    }

    table#auditLogTable {
        width: 100% !important;
        min-width: 800px; 
    }

    thead th {
        width: 15% !important; 
        min-width: 100px;
    }
    
    thead th:nth-child(5) { 
        width: 25% !important; 
        min-width: 150px;
    }

    td, th {
        font-size: 0.85rem !important;
        padding: 0.75rem 0.5rem !important;
        white-space: nowrap;
    }
    
    #auditLogTable_filter,
    #auditLogTable_length {
        margin-bottom: 1rem !important;
        margin-left: 0 !important;
    }

   .dt-layout-row {
        display: block;
        margin-left: 1rem;
        margin-bottom: 2px !important;
  }
  table#auditLogTable {
    width: 100% !important;
     min-width: 800px;
    }
    .dt-layout-start{
      margin-left: 9px !important;
    }
    .dt-paging {
      margin-left: 10px;
    }
    .dt-layout-row.dt-layout-table {
        display: unset;
    }
    .dt-search {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      gap: 5px;
      margin-left: 3px;
    }


  .toggle-button {
    align-items: center;
  }
  #sidebar {
    width: 10% !important;
  }

  .sidebar-custom {
    width: 70px;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden; 
    transition: width 0.3s ease;
  }


  .sidebar-custom .nav {
    flex-grow: 1;
    
  }

  .sidebar-custom .nav-link .linkText,
  .sidebar-custom .admin-name,
  .sidebar-custom .logoutText {
    display: none; 
  }
    .sidebar-custom .logo,
  .sidebar-custom .sbToggle-container {
    display: none; 
  }

  .nav-item {
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0;
    position: relative;
  }

  .nav-item .nav-link {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
  }

  .nav-item .nav-link i {
    font-size: 1.8rem;
  }

  .sidebar-custom section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
  }

  .sidebar-custom .profileContainer {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-right: 10px;
  }

  .profileContainer .profilePic {
    width: 45px;
    height: 45px;
    margin-right: 5px;
  }

  .logOutContainer {
    margin-left:5px ;
    margin-top: 10px; 
    margin-bottom: 20px;
  }

  .logOutContainer a.btn {
    padding: 10px;
    font-size: 1.8rem; 
    display: flex;
    justify-content: center;
  }

}

@media only screen and (min-width: 600px) and (max-width: 1024px) and (orientation: landscape){

    .card {
      margin-right: 2rem;
      overflow-x: auto;
      padding-left: 1px;
      padding-right: 4rem;
    }
    .auditLog-container {
    margin-bottom: 10rem;
    margin-right: 1rem;
  }
  .page-title {
    margin-bottom: 2rem;
  }
  .dt-search {
    display: flex;
    gap: 1rem;
  }
  .table>thead {
    white-space: nowrap;
  }
  .dt-layout-row {
    display: block;
    margin-left: 1rem;
    margin-bottom: 2px !important;
  }
  table#auditLogTable {
    width: 100% !important;
     min-width: 800px;
    }
    .dt-layout-start{
      margin-left: 9px !important;
    }
    .dt-paging {
      margin-left: 10px;
    }
     #sidebar {
    width: 10% !important;
  }

  .sidebar-custom {
    width: 70px;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden; 
    transition: width 0.3s ease;
  }


  .sidebar-custom .nav {
    flex-grow: 1;
    
  }

  .sidebar-custom .nav-link .linkText,
  .sidebar-custom .admin-name,
  .sidebar-custom .logoutText {
    display: none; 
  }
    .sidebar-custom .logo,
  .sidebar-custom .sbToggle-container {
    display: none; 
  }

  .nav-item {
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0;
    position: relative;
  }

  .nav-item .nav-link {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
  }

  .nav-item .nav-link i {
    font-size: 1.8rem;
  }

  .sidebar-custom section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
  }

  .sidebar-custom .profileContainer {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-right: 10px;
  }

  .profileContainer .profilePic {
    width: 45px;
    height: 45px;
    margin-right: 5px;
  }

  .logOutContainer {
    margin-left:5px ;
    margin-top: 10px; 
    margin-bottom: 20px;
  }

  .logOutContainer a.btn {
    padding: 10px;
    font-size: 1.8rem; 
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {

  .auditLog-container {
    margin-bottom: 20rem;
    margin-right: 1rem;
  }
  .page-title {
    margin-bottom: 2rem;
  }
  .dt-search {
    display: flex;
    gap: 1rem;
  }
}
