@font-face {
  font-family: "Poppins";
  src: url(../../Fonts/Poppins/Poppins-Regular.ttf);
}
/* @font-face {
  font-family: "Plus Jakarta Sans";
  src: url(../../Fonts/PlusJakartaSans/PlusJakartaSans-VariableFont_wght.ttf);
} */

@font-face {
  font-family: "Lora";
  src: url(../../Fonts/Lora/Lora-VariableFont_wght.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Plus Jakarta Sans"; */
  text-decoration: none;
  list-style: none;
}

body {
  background: #a1c8c7 !important;
}

.topSection {
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5vw;
}

.menus {
  /* border: 1px solid black; */
  padding: 0.5vw;
  margin-right: 2vw;
  display: flex;
  align-items: center;
  gap: 2vw;
}

.dashTitleContainer {
  margin-left: 1vw;
}

.logo {
  width: 15vw;
}

#dashboard {
  text-decoration: none;
  margin-left: 1vw;
}

.adminTitle {
  margin-top: 1rem;
  font-family: "Lora" !important;
  /* font-weight: bold; */
  font-size: 24px;
}

.admin img {
  height: 5vw;
  aspect-ratio: 1;
  border-radius: 50%;
  object-fit: cover;
}

.booking-container {
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
}

.card {
  padding: 1rem 2rem 0.5rem 2rem;
  margin-bottom: 2rem;
}

label {
  margin-left: 1vw;
}

thead {
  font-family: "Lora";
}

tbody {
  font-family: "Poppins";
}

td,
th {
  text-align: center !important;
}

th {
  background-color: #91d2f2 !important;
}

.dt-column-title {
  display: inline-block;
  width: 2vw !important;
}

.dt-info,
.dt-layout-row {
  font-family: "Lora";
  text-transform: capitalize;
}

.btnContainer {
  padding-bottom: 0.5vw;
  font-family: "Poppins";
}

.btn-primary {
  float: right;
  width: 16%;
}

.btn-red {
  background-color: rgb(204, 30, 20) !important;
  color: white;
}

.btn-red:hover {
  background-color: rgb(150, 10, 3) !important;
  color: white;
}

.btn-light-green {
  background-color: rgb(71, 139, 10) !important;
  color: white;
}

.btn-light-green:hover {
  background-color: rgb(58, 112, 10) !important;
  color: white;
}
