@font-face {
  font-family: "Poppins";
  src: url(../../Fonts/Poppins/Poppins-Regular.ttf);
}
/* @font-face {
  font-family: "Plus Jakarta Sans";
  src: url(../../Fonts/PlusJakartaSans/PlusJakartaSans-VariableFont_wght.ttf);
} */

@font-face {
  font-family: "Lora";
  src: url(../../Fonts/Lora/Lora-VariableFont_wght.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Plus Jakarta Sans"; */
  text-decoration: none;
  list-style: none;
}

body {
  display: flex;
  gap: 1rem;
}

main {
  display: flex;
  margin: auto;
}

.booking-container {
  width: 100%;
  margin: 0 auto;
}

.notification-toggler-container {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
  margin-top: 1rem;
}

.notification-container {
  text-align: right !important;
  margin-top: 0.5rem;
  margin-right: 0.85rem;
}

#notification-icon {
  font-size: 2rem;
  color: #0d6dfc;
}

.page-title-container {
  padding-left: var(--padding-md);
}

.page-title {
  font-size: var(--font-size-xl);
  font-family: "Poppins";
  font-weight: var(--font-weight-bold);
}
.card {
  border: none !important;
  padding: var(--padding-lg);
  margin-top: var(--margin-mdl);
  margin-bottom: 2rem;
  width: 100% !important;
  max-width: 100%;
}

.booking-table {
  display: block;
  margin: auto;
}
table {
  width: 100% !important;
}

#bookingTable_filter,
#bookingTable_length {
  margin-bottom: 2vw !important;
}

.dataTables_scrollBody {
  margin-top: 0 !important;
}

label {
  margin-left: 1vw;
}

thead {
  font-family: "Lora";
  overflow: auto;
}

tbody {
  font-family: "Poppins";
}

td,
th {
  text-align: center !important;
  font-size: var(--font-size-base);
}

th {
  background-color: oklch(0.64 0.65 220 / 0.5) !important;
  color: rgb(61, 46, 46);
}

.dt-column-title {
  display: inline-block;
  width: 2vw !important;
}

.dt-info,
.dt-layout-row {
  font-family: "Lora";
  text-transform: capitalize;
}

.btnContainer {
  padding-bottom: 0.5vw;
  font-family: "Poppins";
}

#addBookings {
  float: right;
  width: 16%;
}

/* Colors */

.badge {
  font-weight: initial;
  line-height: normal;
  font-size: var(--font-size-base);
  padding: var(--padding-md);
  width: 8rem;
  border-radius: 3rem !important;
}

/* Fully Paid */
.badge.bg-bright-green {
  background-color: rgba(75, 192, 75, 0.4) !important;
  color: rgb(75, 192, 75) !important;
}

/* Partially Paid */
.badge.bg-light-blue {
  background-color: rgba(54, 162, 235, 0.4) !important;
  color: rgb(54, 162, 235) !important;
}

/* Awaiting Payment */
.badge.bg-orange {
  background-color: rgba(255, 159, 64, 0.4) !important;
  color: rgb(247, 127, 8) !important;
}

/* Pending */
.badge.bg-warning {
  background-color: rgba(255, 193, 7, 0.4) !important;
  color: rgb(190, 114, 0) !important;
}

/* Approved */
.badge.bg-green {
  background-color: rgba(40, 167, 69, 0.4) !important;
  color: rgb(40, 167, 69) !important;
}

/* Reserved */
.badge.bg-success {
  background-color: rgba(83, 243, 169, 0.4) !important;
  color: rgb(0, 129, 69) !important;
}

/* Cancelled */
.badge.bg-danger {
  background-color: rgba(219, 53, 69, 0.4) !important;
  color: rgb(219, 53, 69) !important;
}

/* Rejected */
.badge.bg-red {
  background-color: rgba(204, 30, 20, 0.4) !important;
  color: rgb(204, 30, 20) !important;
}

/* Expired */
.badge.bg-muted {
  background-color: rgba(73, 80, 87, 0.4) !important;
  color: rgb(73, 80, 87) !important;
}

/* Finished */
.badge.bg-light-green {
  background-color: rgba(99, 201, 9, 0.4) !important;
  color: rgb(71, 139, 10) !important;
}
/* Status */

.viewBooking {
  font-size: 12px;
}

#notification-count.badge {
  --bs-badge-padding-x: 0.6em;
  --bs-badge-padding-y: 0.55em;
  --bs-badge-font-size: 0.75em;
  --bs-badge-font-weight: 700;
  --bs-badge-color: #fff;
  --bs-badge-border-radius: var(--bs-border-radius);
  display: inline-block;
  padding: var(--bs-badge-padding-y) var(--bs-badge-padding-x) !important;
  font-size: var(--bs-badge-font-size);
  font-weight: var(--bs-badge-font-weight);
  line-height: 0.5;
  color: var(--bs-badge-color);
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: var(--bs-badge-border-radius);
  width: initial;
}

#notification-count.bg-danger {
  background-color: rgb(219, 53, 69) !important;
  color: #fff !important;
}

@media only screen and (min-width: 600px) and (max-width: 1024px) {
  #addBookings {
    font-size: clamp(20px, calc(2.1vh + 2px), 24px);
    width: 20% !important;
  }
  thead {
    font-size: clamp(21px, calc(2.3vh + 2px), 23px);
  }

  tbody {
    font-size: clamp(20px, calc(1.9vh + 2px), 23px);
  }
  td a.btn-info,
  td a.btn-success,
  td a.btn-warning,
  td a.btn-danger,
  td a.btn-secondary,
  td button.btn-primary {
    font-size: clamp(18px, calc(2vh + 2px), 22px);
  }
  #bookingTable_length {
    margin-bottom: 5vw !important;
  }
  #hiddenTitle {
    font-size: clamp(40px, calc(4vh + 2px), 34px);
  }

  label,
  .dataTables_info,
  .dataTables_paginate {
    font-size: clamp(20px, calc(2vh + 2px), 24px);
  }

  label select,
  label input,
  a.paginate_button.current {
    margin: 1vw !important;
  }
}

@media only screen and (max-width: 599px) {
  .card {
    padding: 1.5vw !important;
  }
  #bookingTable_filter {
    margin-bottom: 8vw !important;
  }
  #hiddenTitle {
    font-size: clamp(40px, calc(4vh + 2px), 34px);
    margin-top: 3vh !important;
  }

  #addBookings {
    font-size: clamp(20px, calc(2.1vh + 2px), 24px);
    width: 30%;
  }
  thead {
    font-size: clamp(18px, calc(2.1vh + 2px), 20px);
  }

  tbody {
    font-size: clamp(18px, calc(2.2vh + 2px), 23px);
  }
  td a.btn-info,
  td a.btn-success,
  td a.btn-warning,
  td a.btn-danger,
  td a.btn-secondary,
  td button.btn-primary {
    font-size: clamp(18px, calc(1.9vh + 2px), 19px);
  }

  label,
  .dataTables_info,
  .dataTables_paginate {
    font-size: clamp(20px, calc(2.1vh + 2px), 24px);
  }

  label select,
  label input,
  a.paginate_button.current {
    margin: 1vw !important;
  }
}

@media only screen and (max-width: 400px) {
  #bookingTable_filter {
    margin-bottom: 8vw !important;
  }
  #hiddenTitle {
    font-size: clamp(40px, calc(4vh + 2px), 34px);
  }

  #addBookings {
    font-size: clamp(14px, calc(1.2vh + 2px), 16px);
    text-align: center;
    width: 30%;
  }
  thead {
    font-size: clamp(18px, calc(2.3vh + 2px), 16px);
  }

  tbody {
    font-size: clamp(13px, calc(1.9vh + 2px), 15px);
  }
  td a.btn-info,
  td a.btn-success,
  td a.btn-warning,
  td a.btn-danger,
  td a.btn-secondary,
  td button.btn-primary {
    font-size: clamp(15px, calc(2.1vh + 2px), 13px);
  }

  label,
  .dataTables_info,
  .dataTables_paginate {
    font-size: clamp(15px, calc(2vh + 2px), 19px);
  }

  .paginate_button.previous,
  .paginate_button.next {
    padding: 2vw !important;
  }
}
