@font-face {
  font-family: "Poppins";
  src: url(../../Fonts/Poppins/Poppins-Regular.ttf);
}
/* @font-face {
  font-family: "Plus Jakarta Sans";
  src: url(../../Fonts/PlusJakartaSans/PlusJakartaSans-VariableFont_wght.ttf);
} */

@font-face {
  font-family: "Poppins Light";
  src: url(../../Fonts/Poppins/Poppins-Light.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Plus Jakarta Sans"; */
  text-decoration: none;
  list-style: none;
}

.filter-btn-container {
  display: flex;
  width: 80%;
  justify-content: end !important;
  gap: 1rem;
}

.filter-select-wrapper {
  position: relative;
  display: inline-flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 20px;
  background-color: #fff;
  height: 36px;
  padding: 0 10px;
  width: 80%;
}

.filter-select {
  appearance: none; /* remove default select arrow */
  border: none;
  background: transparent;
  font-size: 14px;
  font-weight: 500;
  flex: 1;
  cursor: pointer;
  padding-right: 20px;
}

.filter-select:focus {
  outline: none;
  box-shadow: none;
  padding-left: 0.5rem;
}

.filter-select-wrapper i {
  position: absolute;
  right: 10px;
  pointer-events: none;
  font-size: 16px;
  color: #0d6dfc;
}

/* remove */
.navbar {
  font-family: "Lora";
  border-radius: 15px;
  /* width: 80%; */
  height: 5rem;
  margin: 20px auto;
}

#navUL {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.nav-text,
.nav-icon {
  font-size: var(--font-size-base);
}

.nav-icon {
  font-size: 1vw;
  color: #053c8d !important;
}

.main-nav-link {
  display: flex !important;
  margin: auto;
  flex-direction: column;
  align-items: center;
  color: black;
  text-decoration: none;
}

.nav-link.active:after {
  width: 100%;
  left: 0;
}

#navUL {
  margin: auto;
}

#logOutBtn {
  margin-right: 3vw;
}
.main-nav-item {
  display: flex !important;
  gap: 1vw;
}

.nav-link:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 100%;
  /* position: absolute; */
  border-bottom: 4px solid #053c8d !important;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.nav-link:hover:after {
  width: 100%;
  left: 0;
}
/* remove */

body {
  display: flex;
  gap: 1rem;
}

main {
  display: flex;
  margin: auto;
}

.booking-container {
  width: 100%;
  margin: 0 auto;
}

.notification-toggler-container {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
  margin-top: 1rem;
}

.notification-container {
  text-align: right !important;
  margin-top: 0.5rem;
  margin-right: 0.85rem;
}

#notification-icon {
  font-size: 2rem;
  color: #0d6dfc;
}

.page-title-container {
  padding-left: var(--padding-md);
}

.page-title {
  font-size: var(--font-size-xl);
  font-family: "Poppins";
  font-weight: var(--font-weight-bold);
}
.card {
  border: none !important;
  /* padding: var(--padding-md); */
  margin-top: var(--margin-mdl);
  margin-bottom: 2rem;
  width: 100% !important;
  max-width: 100%;
}

.booking-table {
  display: block;
  margin: auto;
}
table {
  width: 100% !important;
}

#bookingTable_filter,
#bookingTable_length {
  margin-bottom: 2vw !important;
}

.dataTables_scrollBody {
  margin-top: 0 !important;
}

label {
  margin-left: 1vw;
}

thead {
  font-family: "Poppins Light";
  overflow: auto;
}

tbody {
  font-family: "Poppins";
}

td,
th {
  text-align: center !important;
  font-size: var(--font-size-sm);
}

th {
  background-color: oklch(0.64 0.65 220 / 0.5) !important;
  color: rgb(61, 46, 46);
}

.dt-column-title {
  display: inline-block;
  width: 2vw !important;
}

.dt-info,
.dt-layout-row {
  font-family: "Poppins Light";
  text-transform: capitalize;
  font-size: var(--font-size-sm);
}

.btnContainer {
  padding-bottom: 0.5vw;
  font-family: "Poppins";
}

#addBookings {
  float: right;
  width: 16%;
}

/* Colors */

/* .badge {
  font-weight: initial;
  line-height: normal;
  font-size: var(--font-size-base);
  padding: var(--padding-xs) !important;
  width: 10rem;
  border-radius: 3rem !important;
} */

.badge {
  font-weight: initial !important;
  line-height: normal !important;
  padding: 0.2rem !important;
  width: 10rem;
  border-radius: 3rem !important;
}

/* Fully Paid */
.badge.bg-bright-green {
  background-color: rgba(75, 192, 75, 0.4) !important;
  color: rgb(23, 95, 23) !important;
}

/* Partially Paid */
.badge.bg-light-blue {
  background-color: rgba(54, 162, 235, 0.4) !important;
  color: rgb(26, 90, 133) !important;
}

/* Payment Sent & Review Payment */
.badge.bg-primary {
  background-color: rgba(54, 105, 255, 0.4) !important;
  color: rgb(21, 50, 136) !important;
}

/* Awaiting Payment */
.badge.bg-orange {
  background-color: rgba(255, 159, 64, 0.4) !important;
  color: rgb(177, 88, 0) !important;
}

/* Pending */
.badge.bg-warning {
  background-color: rgba(255, 193, 7, 0.4) !important;
  color: rgb(163, 101, 7) !important;
}

/* Approved */
.badge.bg-green {
  background-color: rgba(40, 167, 69, 0.4) !important;
  color: rgb(8, 90, 27) !important;
}

/* Reserved */
.badge.bg-success {
  background-color: rgba(83, 243, 169, 0.4) !important;
  color: rgb(5, 88, 50) !important;
}

/* Cancelled */
.badge.bg-danger {
  background-color: rgba(219, 53, 69, 0.4) !important;
  color: rgb(180, 7, 7) !important;
}

/* Rejected */
.badge.bg-red {
  background-color: rgba(204, 30, 20, 0.4) !important;
  color: rgb(143, 12, 5) !important;
}

/* Expired */
.badge.bg-muted {
  background-color: rgba(73, 80, 87, 0.4) !important;
  color: rgb(59, 64, 68) !important;
}

/* Finished */
.badge.bg-light-green {
  background-color: rgba(99, 201, 9, 0.4) !important;
  color: rgb(71, 139, 10) !important;
}

.viewBooking {
  padding: 0.4rem !important;
  font-size: 12px !important;
  /* background-color: transparent !important;
  color: blue !important;
  text-decoration: underline !important;
  border: none !important; */
}

#notification-count.badge {
  --bs-badge-padding-x: 0.6em;
  --bs-badge-padding-y: 0.55em;
  --bs-badge-font-size: 0.75em;
  --bs-badge-font-weight: 700;
  --bs-badge-color: #fff;
  --bs-badge-border-radius: var(--bs-border-radius);
  display: inline-block;
  padding: var(--bs-badge-padding-y) var(--bs-badge-padding-x) !important;
  font-size: var(--bs-badge-font-size);
  font-weight: var(--bs-badge-font-weight);
  line-height: 0.5;
  color: var(--bs-badge-color);
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: var(--bs-badge-border-radius);
  width: initial;
}

#notification-count.bg-danger {
  background-color: rgb(219, 53, 69) !important;
  color: #fff !important;
}

@media only screen and (min-width: 600px) and (max-width: 1024px) {
  #addBookings {
    font-size: clamp(20px, calc(2.1vh + 2px), 24px);
    width: 20% !important;
  }
  thead {
    font-size: clamp(21px, calc(2.3vh + 2px), 23px);
  }

  tbody {
    font-size: clamp(20px, calc(1.9vh + 2px), 23px);
  }
  td a.btn-info,
  td a.btn-success,
  td a.btn-warning,
  td a.btn-danger,
  td a.btn-secondary,
  td button.btn-primary {
    font-size: clamp(18px, calc(2vh + 2px), 22px);
  }
  #bookingTable_length {
    margin-bottom: 5vw !important;
  }
  #hiddenTitle {
    font-size: clamp(40px, calc(4vh + 2px), 34px);
  }

  label,
  .dataTables_info,
  .dataTables_paginate {
    font-size: clamp(20px, calc(2vh + 2px), 24px);
  }

  label select,
  label input,
  a.paginate_button.current {
    margin: 1vw !important;
  }
}

@media only screen and (max-width: 599px) {
  .card {
    padding: 1.5vw !important;
  }
  #bookingTable_filter {
    margin-bottom: 8vw !important;
  }
  #hiddenTitle {
    font-size: clamp(40px, calc(4vh + 2px), 34px);
    margin-top: 3vh !important;
  }

  #addBookings {
    font-size: clamp(20px, calc(2.1vh + 2px), 24px);
    width: 30%;
  }
  thead {
    font-size: clamp(18px, calc(2.1vh + 2px), 20px);
  }

  tbody {
    font-size: clamp(18px, calc(2.2vh + 2px), 23px);
  }
  td a.btn-info,
  td a.btn-success,
  td a.btn-warning,
  td a.btn-danger,
  td a.btn-secondary,
  td button.btn-primary {
    font-size: clamp(18px, calc(1.9vh + 2px), 19px);
  }

  label,
  .dataTables_info,
  .dataTables_paginate {
    font-size: clamp(20px, calc(2.1vh + 2px), 24px);
  }

  label select,
  label input,
  a.paginate_button.current {
    margin: 1vw !important;
  }
}

@media only screen and (max-width: 400px) {
  #bookingTable_filter {
    margin-bottom: 8vw !important;
  }
  #hiddenTitle {
    font-size: clamp(40px, calc(4vh + 2px), 34px);
  }

  #addBookings {
    font-size: clamp(14px, calc(1.2vh + 2px), 16px);
    text-align: center;
    width: 30%;
  }
  thead {
    font-size: clamp(18px, calc(2.3vh + 2px), 16px);
  }

  tbody {
    font-size: clamp(13px, calc(1.9vh + 2px), 15px);
  }
  td a.btn-info,
  td a.btn-success,
  td a.btn-warning,
  td a.btn-danger,
  td a.btn-secondary,
  td button.btn-primary {
    font-size: clamp(15px, calc(2.1vh + 2px), 13px);
  }

  label,
  .dataTables_info,
  .dataTables_paginate {
    font-size: clamp(15px, calc(2vh + 2px), 19px);
  }

  .paginate_button.previous,
  .paginate_button.next {
    padding: 2vw !important;
  }
}
