@font-face {
  font-family: "Poppins";
  src: url(../../Fonts/Poppins/Poppins-Regular.ttf);
}
@font-face {
  font-family: "Poppins Black";
  src: url(../../Fonts/Poppins/Poppins-Black.ttf);
}
/* @font-face {
  font-family: "Plus Jakarta Sans";
  src: url(../../Fonts/PlusJakartaSans/PlusJakartaSans-VariableFont_wght.ttf);
} */

@font-face {
  font-family: "Lora";
  src: url(../../Fonts/Lora/Lora-VariableFont_wght.ttf);
}

body {
  background: #a1c8c7 !important;
}

/* .button-container {
  padding: 1rem;
} */

.container {
  /* border: 1px solid black !important; */
  background-color: #ffff;
  display: block;
  border-radius: 2vw;
  margin: 0 auto !important;
  margin-top: 1vw !important;
  margin-bottom: 1vw !important;
}

.button-container {
  height: 3vw;
  display: flex;
  align-items: flex-end;

}


/* resort css */
#resortInfoContainer {
  height: 100%;
}

.backBtnContainer {
  margin: 1vw;
}

.titleContainer {
  padding: 2vw;
  width: 100%;
}

.title {
  text-align: center;
  font-family: "Poppins Black";
  color: #ffffff;
  -webkit-text-stroke: 1px black;
  letter-spacing: 0.5px;
}

/* resort css */

.inputLabel {
  text-align: center;
  margin: 0.5rem 0 0.5rem 0 !important;
}



/* resort css */

/* hotel css */
#hotelInfoContainer {
  background-color: #78aeff;
}

.hotelLabel, .resortLabel, .eventLabel {
  font-family: "Poppins";
  text-transform: uppercase;
  font-weight: bold;
  font-size: 25.5px;
  text-align: center;
  margin-top: 1.5vw;
}


.additional-info-container {
  margin: 0;
  margin-top: 0.5rem;

  li {
    text-transform: none !important;
    font-size: 13px;
    margin: 2px;
    list-style: none;
  }
}

/* .button-container {
  padding: 1vw;
} */

.custom-btn {
  background-color: #ffff !important;
  color: #0d6dfc !important;
  /* margin-top: 1.5vw; */

  &:hover {
    background-color: #0d6dfc !important;
    color: #ffff !important;
  }
}
/* hotel css */

/* event css */
.eventForm {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.eventTypeLabel,
.dateLabel,
.startLabel,
.endLabel,
.guestLabel,
.venueLabel,
.packageLabel {
  text-align: center;
  margin: 0.5rem 0 0.5rem 0;
}

.timeOfEventContainer,
.peopleVenueContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* event css */
