@font-face {
  font-family: "Poppins";
  src: url(../../Fonts/Poppins/Poppins-Regular.ttf);
}
@font-face {
  font-family: "Poppins Black";
  src: url(../../Fonts/Poppins/Poppins-Black.ttf);
}
/* @font-face {
  font-family: "Plus Jakarta Sans";
  src: url(../../Fonts/PlusJakartaSans/PlusJakartaSans-VariableFont_wght.ttf);
} */

@font-face {
  font-family: "Lora";
  src: url(../../Fonts/Lora/Lora-VariableFont_wght.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

.backBtnContainer {
  margin: 1vw;
}

.titleContainer {
  padding: 2vw;
  width: 100%;
}

.title {
  text-align: center;
  font-family: "Poppins Black";
  color: black;
  letter-spacing: 0.5px;
}

.container-fluid {
  background-color: #f5f5f5;
  width: 98% !important;
  border-radius: 20px;
  padding: 2rem;
}

.topSection {
  display: flex;
  gap: 5rem;
  justify-content: center;
  /* align-items: center; */
}

.leftSide,
.bsContainer {
  display: flex;
  justify-content: space-between;
}

.leftSide,
.rightSide {
  padding: 1rem;
}

.infoLabelContainer,
.bsLabelContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

label {
  font-size: 18px;
  font-family: "Lora";
}

.infoInput,
.bsInput {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  width: 50%;
  height: 10%;
  margin-right: 90px;
}

.date-picker {
  width: 100%;
}

.input-wrapper {
  position: relative;
  width: 100%;
}

.input-wrapper input {
  font-size: 16px;
  border-radius: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.input-wrapper i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0.5rem;
  pointer-events: none;
  color: #666;
}

.bsTitle {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 2rem;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin: auto;
  margin-top: 1.5rem;
  width: 50%;
}

button {
  width: 30%;
}

/* .addButton {
  margin-top: 0.5rem;
}

#addBooking {
  display: block;
  margin: auto;
}  */

thead {
  font-family: "Lora";
}

tbody {
  font-family: "Poppins";
}

td,
th {
  text-align: center !important;
}

th {
  background-color: #91d2f2 !important;
}

.dt-column-title {
  display: inline-block;
  width: 2vw !important;
}

.dt-info,
.dt-layout-row {
  font-family: "Lora";
  text-transform: capitalize;
}

.tableContainer {
  margin: 3rem 0 1.5rem 0;
}

.dt-paging-button {
  width: 10%;
}

/* Tablet Portrait */
@media only screen and (min-width: 600px) and (max-width: 1025px) and (orientation: portrait) {
  .fixed-top {
    position: unset !important;
  }

  .titleContainer {
    margin-top: 1rem;
  }

  .title {
    font-size: 32px;
  }

  .bsTitle {
    font-size: 20px;
  }

  .topSection {
    flex-wrap: wrap;
    gap: 2rem;
  }

  .leftSide,
  .rightSide {
    padding: 1rem;
    width: 100%;
  }

  .infoLabelContainer,
  .bsLabelContainer {
    gap: 3.2rem;
    font-size: 18px;
  }

  .infoLabelContainer label,
  .bsLabelContainer label {
    font-size: 18px !important;
  }

  .infoInput,
  .bsInput {
    width: 75%;
    margin-right: 0 !important;
    gap: 3rem;
  }

  #addBooking {
    width: 50%;
  }

  .dt-layout-row {
    margin-top: 1.5rem !important;
  }
  .dt-search {
    margin-top: 1rem !important;
  }

  label,
  .dt-info {
    font-size: 18px;
  }

  table.dataTable > thead > tr > th,
  table.dataTable > thead > tr > td {
    padding: 0.9vw 0.3vw !important;
  }

  div.dt-container div.dt-layout-row div.dt-layout-cell {
    overflow: auto;
  }

  td,
  .btn {
    font-size: clamp(1.8vw, 1.6vw, 1.4vw);
  }

  .dt-input {
    font-size: clamp(2.1vw, 1.9vw, 1.7vw);
  }

  th {
    font-size: clamp(1.7vw, 1.5vw, 1.3vw);
  }

  .dt-column-order {
    font-size: clamp(1.3vw, 1.2vw, 1.1vw);
  }

  .dt-column-header {
    word-wrap: normal;
    text-align: center;
    width: 90px;
  }

  table.dataTable th.dt-type-numeric div.dt-column-header {
    width: 70px;
    padding: 0.3vw;
  }

  div.dt-container .dt-paging {
    font-size: 18px !important;
  }
}

/* Tablet Landscape */
@media only screen and (min-width: 600px) and (max-width: 1025px) and (orientation: landscape) {
  .titleContainer {
    margin-top: 1rem;
  }

  .title {
    font-size: 32px;
  }

  .leftSide,
  .rightSide {
    padding: 1rem;
    width: 100%;
  }

  .infoLabelContainer,
  .bsLabelContainer {
    gap: 3.2rem;
    font-size: 18px;
  }

  .infoLabelContainer label,
  .bsLabelContainer label {
    font-size: 18px !important;
  }

  .infoInput,
  .bsInput {
    width: 100%;
    margin-right: 0 !important;
    gap: 4.5rem;
  }

  #addBooking {
    width: 50%;
  }
  .dt-layout-row {
    margin-top: 1.5rem !important;
  }
  .dt-search {
    margin-top: 1rem !important;
  }

  label,
  .dt-info {
    font-size: 18px;
  }

  table.dataTable > thead > tr > th,
  table.dataTable > thead > tr > td {
    padding: 0.9vw 0.3vw !important;
  }

  div.dt-container div.dt-layout-row div.dt-layout-cell {
    overflow: auto;
  }

  td,
  .btn {
    font-size: clamp(1.8vw, 1.6vw, 1.4vw);
  }

  .dt-input {
    font-size: clamp(2.1vw, 1.9vw, 1.7vw);
  }

  th {
    font-size: clamp(1.7vw, 1.5vw, 1.3vw);
  }

  .dt-column-order {
    font-size: clamp(1.3vw, 1.2vw, 1.1vw);
  }

  .dt-column-header {
    word-wrap: normal;
    text-align: center;
    width: 90px;
  }

  table.dataTable th.dt-type-numeric div.dt-column-header {
    width: 70px;
    padding: 0.3vw;
  }

  div.dt-container .dt-paging {
    font-size: 18px !important;
  }
}

/* Phones */
@media only screen and (max-width: 600px) {
  .fixed-top {
    position: unset !important;
  }

  .titleContainer {
    margin-top: 1rem;
  }

  .title {
    font-size: 22px;
  }

  .bsTitle {
    font-size: 20px;
  }

  .topSection {
    flex-wrap: wrap;
    gap: 2rem;
  }

  .infoLabelContainer,
  .bsLabelContainer {
    gap: 2.7rem;
    font-size: 18px;
  }

  .infoLabelContainer label,
  .bsLabelContainer label {
    font-size: 18px !important;
  }

  .infoInput,
  .bsInput {
    width: 75%;
    margin-right: 0 !important;
    gap: 3rem;
  }

  #addBooking {
    width: 75%;
  }

  .dt-layout-row {
    margin-top: 1.5rem !important;
  }
  .dt-search {
    margin-top: 1rem !important;
  }

  label,
  .dt-info {
    font-size: 14px !important;
  }

  table.dataTable > thead > tr > th,
  table.dataTable > thead > tr > td {
    padding: 0.9vw 0.3vw !important;
  }

  div.dt-container div.dt-layout-row div.dt-layout-cell {
    overflow: auto;
  }

  td,
  .btn {
    font-size: clamp(2vw, 1.9vw, 1.8vw);
  }

  .btn-danger {
    height: 1.5rem !important;
    width: 90px !important;
  }

  /* .btn {
    height: 1.5rem;
    width: 65px;
  } */

  .dt-input {
    font-size: clamp(2.1vw, 1.9vw, 1.7vw);
  }

  th {
    font-size: clamp(1.9vw, 1.7vw, 1.5vw);
  }

  .dt-column-order {
    font-size: clamp(1.3vw, 1.2vw, 1.1vw);
  }

  .dt-column-header {
    word-wrap: normal;
    text-align: center;
    width: 70px;
  }

  table.dataTable th.dt-type-numeric div.dt-column-header {
    width: 70px;
    padding: 0.3vw;
  }

  div.dt-container .dt-paging {
    font-size: 14px !important;
  }
}
