@font-face {
  font-family: "Poppins";
  src: url(../../Fonts/Poppins/Poppins-Regular.ttf);
}
/* @font-face {
  font-family: "Plus Jakarta Sans";
  src: url(../../Fonts/PlusJakartaSans/PlusJakartaSans-VariableFont_wght.ttf);
} */

@font-face {
  font-family: "Lora";
  src: url(../../Fonts/Lora/Lora-VariableFont_wght.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  background: #a1c8c7 !important;
}

.dashTitleContainer {
  margin-left: 1vw;
}

.logo {
  width: 15vw;
}

#dashboard {
  text-decoration: none;
  margin-left: 1vw;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 80%;
  margin: 0 auto;
}

.category-card {
  box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
}

.category-card,
.category-body {
  margin: 2vw;
  border-radius: 2vw 2vw 2vw 2vw !important;
  text-align: center;
}

.category-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
}

.category-card img {
  border-radius: 2vw 2vw 2vw 2vw !important;
  padding: 1vw;
  width: 100%;
  object-fit: cover;
}

.category-title {
  font-family: "Poppins Black" !important;
  font-style: italic;
  font-weight: bolder;
  font-size: 2.5vw;
  color: #00b3d1 !important;
}

.categoryLink {
  text-decoration: none;
  width: 40%;
  &:hover {
    text-decoration: none !important;
  }
}

a.choice2-link,
a.choice1-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.request-container,
.partner-container {
  width: 95%;
  margin: 4vw auto;
}

.categoryLink .category-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.categoryLink:hover .category-card {
  transform: translateY(-12px);
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
}

.partnership-request-table,
.partnership-table {
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
}

#partnersTable,
#requestTable {
  table-layout: fixed;
  width: 98% !important;
}

.card {
  padding: 0.5vw;
}

.category-body {
  margin: 3vw auto;
}

.card-header {
  display: flex;
  border: 1px solid black;
}

.table-striped {
  margin-top: 2vw;
}
td,
th {
  text-align: center !important;
}

th {
  background-color: #91d2f2 !important;
}

.dt-length select,
.dt-search input,
a.paginate_button.current {
  margin: 0.5vw;
}

h4 {
  text-align: center;
  margin-top: -3vw !important;
}

.back-btn-container {
  z-index: 5;
  margin-bottom: 1vw;
}

.back-btn-container i {
  font-size: clamp(2vw, 2.1vw, 2.2vw);
}

.page-title {
  font-family: "Poppins";
  font-size: clamp(3vw, 2.5vw, 2.3vw);
}

.table-body {
  font-family: "Poppins";
  color: black;
}

.table-header {
  font-family: "Lora";
}

/* Tablet portrait */
@media only screen and (min-width: 600px) and (max-width: 1025px) {
  .categories {
    margin-top: 5vw;
    width: 100%;
  }
  .category-card img {
    border-radius: 2vw !important;
    padding: 1vw;
    height: 70% !important;
    object-fit: cover;
  }

  .categoryLink {
    width: 48%;
  }

  .card {
    padding: 2vw;
  }

  .back-btn-container i {
    font-size: clamp(3vw, 3.5vw, 3.8vw);
  }

  .category-title {
    font-size: clamp(3.5vw, 3.3vw, 3.1vw);
  }

  .category-body {
    margin: 5vw auto !important;
  }

  .page-title {
    font-size: clamp(40px, calc(3.5vh + 2px), 34px);
    margin-top: -2vw !important;
  }

  thead {
    font-size: clamp(25px, calc(2.6vh + 2px), 27px);
  }

  tbody {
    font-size: clamp(22px, calc(3.1vh + 2px), 23px);
  }

  td.wrap-date,
  th.wrap-date {
    white-space: normal !important;
  }

  td button.btn-info,
  td a.btn-success,
  td a.btn-warning,
  td a.btn-danger,
  td a.btn-secondary,
  td button.btn-primary,
  td.btn {
    font-size: clamp(20px, calc(2.2vh + 2px), 23px);
    font-weight: 800;
  }
  #bookingTable_length {
    margin-bottom: 5vw !important;
  }
  #hiddenTitle {
    font-size: clamp(40px, calc(4vh + 2px), 34px);
  }

  label,
  .dataTables_info,
  .dataTables_paginate,
  .dt-info {
    font-size: clamp(20px, calc(2vh + 2px), 24px);
  }

  .dt-length select,
  .dt-search input,
  a.paginate_button.current {
    margin: 1vw !important;
  }
}

/* Phones */
@media only screen and (max-width: 599px) {
  .categoryLink {
    width: 90% !important;
    margin-bottom: 4vw !important;
  }

  .category-body {
    margin: 4vw auto !important;
  }
  .page-title {
    margin-top: -25px !important;
    font-size: clamp(45px, calc(5.7vh + 2px), 40px);
  }

  .card {
    padding: 3vw;
  }

  .categories {
    margin-top: 5vh;
  }

  .category-card {
    padding: 1vw !important;
    max-width: 100% !important;
  }
  .category-card img {
    height: 70% !important;
    object-fit: cover;
  }
  .category-title {
    font-size: clamp(4.6vw, 4.8vw, 5vw) !important;
  }

  .back-btn-container i {
    font-size: clamp(5vw, 4.5vw, 4.2vw);
  }

  td.wrap-date,
  th.wrap-date {
    white-space: normal !important;
  }

  thead {
    font-size: clamp(18px, calc(1.7vh + 2px), 17px);
  }

  tbody {
    font-size: clamp(19px, calc(1.5vh + 2px), 17px);
  }
  td button.btn-info,
  td a.btn-success,
  td a.btn-warning,
  td a.btn-danger,
  td a.btn-secondary,
  td button.btn-primary,
  td.btn {
    font-size: clamp(18px, calc(1.9vh + 2px), 19px);
  }

  .dt-length select,
  .dt-search input,
  a.paginate_button.current {
    font-size: clamp(20px, calc(2.1vh + 2px), 24px);
  }

  label select,
  label input,
  a.paginate_button.current {
    margin: 1vw !important;
  }
}

@media only screen and (max-width: 400px) {
  .card {
    padding: 3.5vw;
  }
  .categoryLink {
    width: 70%;
    height: 44vh;
    margin-bottom: 1vw !important;
  }

  .page-title {
    margin-top: -35px !important;
    font-size: clamp(35px, calc(5.1vh + 2px), 40px);
  }

  .back-btn-container i {
    font-size: clamp(5.5vw, 5vw, 5.2vw);
  }

  .category-card {
    height: 80% !important;
  }

  .category-body {
    margin: auto !important;
  }

  .category-title {
    font-size: clamp(23px, calc(3.7vh + 2px), 26px) !important;
  }
}
