@font-face {
  font-family: "Poppins";
  src: url(../../Fonts/Poppins/Poppins-Regular.ttf);
}
/* @font-face {
  font-family: "Plus Jakarta Sans";
  src: url(../../Fonts/PlusJakartaSans/PlusJakartaSans-VariableFont_wght.ttf);
} */

@font-face {
  font-family: "Lora";
  src: url(../../Fonts/Lora/Lora-VariableFont_wght.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

main {
  display: flex;
  justify-content: center;
}

.booking-container {
  width: 90% !important;
  max-width: 100%;
}

.notification-container {
  text-align: right !important;
  padding: var(--padding-sm);
  margin-right: var(--margin-md);
}

#notification-icon {
  font-size: 2rem;
  color: #0d6dfc;
}

.page-title-container {
  padding-left: var(--padding-md);
}

.page-title {
  font-size: var(--font-size-xl);
  font-family: "Poppins";
  font-weight: var(--font-weight-bold);
}

.breadcrumb-item.active {
  color: #0d6dfc !important;
}
.breadcrumb-item:not(.active) {
  color: #6d6e72ff !important;
}

#choice-container .breadcrumb li + li:before {
  content: " > ";
  color: #6c757d;
}

#partner-link,
#request-link {
  text-decoration: none;
  color: unset;
}

.request-container,
.partner-container {
  width: 100%;
  margin-top: var(--margin-md);
}

#partner-card,
#request-card {
  border: none !important;
  padding: var(--padding-lg);
  margin-top: var(--margin-mdl);
  margin-bottom: 2rem;
  width: 100% !important;
  max-width: 100%;
}

.categoryLink:hover .category-card {
  transform: translateY(-12px);
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
}

.partnership-request-table,
.partnership-table {
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
}

#partnersTable,
#requestTable {
  width: 100% !important;
  max-width: 100%;
  font-family: "Poppins";
}

.card {
  padding: 0.5vw;
}

.card-header {
  display: flex;
  border: 1px solid black;
}

td,
th {
  text-align: center !important;
  font-size: var(--font-size-base);
}

th {
  background-color: oklch(0.64 0.65 220 / 0.5) !important;
  color: rgb(61, 46, 46);
}

.dt-length select,
.dt-search input,
a.paginate_button.current {
  margin: 0.5vw;
}

h4 {
  text-align: center;
  margin-top: -3vw !important;
}

.back-btn-container {
  z-index: 5;
  margin-bottom: 1vw;
}

.back-btn-container i {
  font-size: clamp(2vw, 2.1vw, 2.2vw);
}

.table-body {
  font-family: "Poppins";
  color: black;
}

.table-header {
  font-family: "Lora";
}

/* Tablet portrait */
@media only screen and (min-width: 600px) and (max-width: 1025px) {
  .back-btn-container i {
    font-size: clamp(3vw, 3.5vw, 3.8vw);
  }

  .category-title {
    font-size: clamp(3.5vw, 3.3vw, 3.1vw);
  }

  .category-body {
    margin: 5vw auto !important;
  }

  .page-title {
    font-size: clamp(40px, calc(3.5vh + 2px), 34px);
    margin-top: -2vw !important;
  }

  thead {
    font-size: clamp(25px, calc(2.6vh + 2px), 27px);
  }

  tbody {
    font-size: clamp(22px, calc(3.1vh + 2px), 23px);
  }

  td.wrap-date,
  th.wrap-date {
    white-space: normal !important;
  }

  td button.btn-info,
  td a.btn-success,
  td a.btn-warning,
  td a.btn-danger,
  td a.btn-secondary,
  td button.btn-primary,
  td.btn {
    font-size: clamp(20px, calc(2.2vh + 2px), 23px);
    font-weight: 800;
  }
  #bookingTable_length {
    margin-bottom: 5vw !important;
  }
  #hiddenTitle {
    font-size: clamp(40px, calc(4vh + 2px), 34px);
  }

  label,
  .dataTables_info,
  .dataTables_paginate,
  .dt-info {
    font-size: clamp(20px, calc(2vh + 2px), 24px);
  }

  .dt-length select,
  .dt-search input,
  a.paginate_button.current {
    margin: 1vw !important;
  }
}

/* Phones */
@media only screen and (max-width: 599px) {
  .back-btn-container i {
    font-size: clamp(5vw, 4.5vw, 4.2vw);
  }

  td.wrap-date,
  th.wrap-date {
    white-space: normal !important;
  }

  thead {
    font-size: clamp(18px, calc(1.7vh + 2px), 17px);
  }

  tbody {
    font-size: clamp(19px, calc(1.5vh + 2px), 17px);
  }
  td button.btn-info,
  td a.btn-success,
  td a.btn-warning,
  td a.btn-danger,
  td a.btn-secondary,
  td button.btn-primary,
  td.btn {
    font-size: clamp(18px, calc(1.9vh + 2px), 19px);
  }

  .dt-length select,
  .dt-search input,
  a.paginate_button.current {
    font-size: clamp(20px, calc(2.1vh + 2px), 24px);
  }

  label select,
  label input,
  a.paginate_button.current {
    margin: 1vw !important;
  }
}

@media only screen and (max-width: 400px) {
  .back-btn-container i {
    font-size: clamp(5.5vw, 5vw, 5.2vw);
  }
}
