@font-face {
  font-family: "Poppins";
  src: url(../../Fonts/Poppins/Poppins-Regular.ttf);
}
@font-face {
  font-family: "Plus Jakarta Sans";
  src: url(../../Fonts/PlusJakartaSans/PlusJakartaSans-VariableFont_wght.ttf);
}
@font-face {
  font-family: "Prata";
  src: url(../../Fonts/Prata/Prata-Regular.ttf);
}
@font-face {
  font-family: "Agbalumo";
  src: url(../../Fonts/Agbalumo/Agbalumo-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans";
  text-decoration: none;
  list-style: none;
}

body {
  background: #a1c8c7 !important;
}

.topSection {
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5vw;
}

.menus {
  /* border: 1px solid black; */
  padding: 0.5vw;
  margin-right: 2vw;
  display: flex;
  align-items: center;
  gap: 2vw;
}

.dashTitleContainer {
  margin-left: 1vw;
}

.logo {
  width: 15vw;
}
#dashboard {
  font-family: "Plus Jakarta Sans";
  text-decoration: none;
  color: black;
  font-weight: 800;
  font-size: 2.3vw;
  margin-left: 1vw;
}

.navbar {
  border-radius: 15px;
  max-width: 80vw;
  margin: 20px auto;
  padding: 5px 15px;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* .me-2 {
  margin-left: 2vw;
} */
.nav-link {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  margin: 0 0 0 3vw;
  color: black;
  text-decoration: none;
  font-size: 1.5vw !important;
  border-radius: 10px;
  padding: 5px 10px;
}

.nav-link.active:after {
  width: 100%;
  left: 0;
}

.nav-link:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 100%;
  /* position: absolute; */
  border-bottom: 4px solid rgb(126, 203, 242) !important;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.nav-link:hover:after {
  width: 100%;
  left: 0;
}

.nav-link img {
  height: 2vw;
  width: auto;
  object-fit: contain;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* margin-top: 5vw; */
}

.category-card {
  height: 60vh !important;
  box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
}

.category-card,
.category-body {
  margin: 2vw;
  border-radius: 2vw 2vw 2vw 2vw !important;
  text-align: center;
}

.category-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.category-card img {
  border-radius: 2vw 2vw 2vw 2vw !important;
  padding: 1vw;
  height: 18vw !important;
  object-fit: cover;
}

.category-title {
  font-family: "Poppins Black";
  font-style: italic;
  font-weight: bold;
  font-size: 2.5vw;
  color: #00b3d1 !important;
}

.categoryLink {
  text-decoration: none;

  &:hover {
    text-decoration: none !important;
  }
}

.categoryLink .category-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.categoryLink:hover .category-card {
  transform: translateY(-12px);
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
}

.partnership-request-table,
.partnership-table {
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
}

.card {
  padding: 2vw;
}

.card-header {
  display: flex;

  border: 1px solid black;
}

.table-striped {
  margin-top: 2vw;
}
td,
th {
  text-align: center !important;
  font-size: 1.5vw;
}

th {
  background-color: #91d2f2 !important;
}
.text-center {
  color: rgb(255, 0, 0) !important;
}

h4 {
  text-align: center;
  margin-top: -3vw !important;
}

.buttonContainer {
  z-index: 1;
}
