@font-face {
  font-family: "Poppins";
  src: url(../../Fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
  font-family: "Poppins Black";
  src: url(../../Fonts/Poppins/Poppins-Black.ttf);
}

@font-face {
  font-family: "Alkatra";
  src: url(../../Fonts/Alkatra/Alkatra-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Lora";
  src: url(../../Fonts/Lora/Lora-VariableFont_wght.ttf);
}

.admin img {
  height: 5vw;
  aspect-ratio: 1;
  border-radius: 50%;
  object-fit: cover;
}

.navbar {
  font-family: "Lora";
  border-radius: 1vw;
  max-width: 80vw;
  margin: 20px auto;
  background-color: white;
}

.navbar h5 {
  font-size: clamp(1.4vw, 1.3vw, 1.2vw);
}

.nav-link {
  display: flex !important;
  margin: auto;
  flex-direction: column;
  align-items: center;
  color: black;
  text-decoration: none;
}

.nav-link.active:after {
  width: 100%;
  left: 0;
}

#navUL {
  margin: auto;
}

#logOutBtn {
  margin-right: 1vw;
  font-size: 1.3vw;
  width: 8vw;
  height: 50%;
}

.nav-item {
  display: flex !important;
  gap: 1vw;
}

.navbar-icon {
  font-size: 2vw;
}

.nav-link:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 100%;
  border-bottom: 4px solid rgb(126, 203, 242) !important;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.nav-link:hover:after {
  width: 100%;
  left: 0;
}

.adminTitle {
  margin-top: 1rem;
  font-family: "Lora" !important;
  font-size: clamp(1.7vw, 1.9vw, 2vw);
}

@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .logo {
    width: clamp(23vw, 21vw, 20vw);
  }

  .topSection {
    display: flex;
    justify-content: space-between;
    padding: 1.5vw;
  }

  .navbar {
    background-color: white;
  }

  #notifCounter {
    height: 2vw !important;
    width: 0.5vw;
    background-color: transparent !important;
    color: red;
    position: absolute !important;
    top: 1% !important;
    left: 70% !important;
  }

  .notificationIcon,
  .messageIcon {
    height: 4vw;
  }

  .admin {
    img {
      height: 6vw;
    }
  }

  #logOutBtn {
    display: block;
    margin: auto;
  }
}

/* Tablet Portrait */
@media only screen and (min-width: 600px) and (max-width: 1024px) and (orientation: portrait) {
  .adminTitle {
    display: none !important;
  }

  .navbar {
    font-family: "Lora";
  }

  h5 {
    text-align: left !important;
  }

  .navbar-collapse {
    .nav-link {
      color: black !important;
    }
  }
}

/* Tablet Landscape */
@media only screen and (min-width: 559px) and (max-width: 1024px) and (orientation: landscape) {
  .adminTitle {
    display: none !important;
  }

  .navbar {
    font-family: "Lora";
  }

  .nav-link img {
    display: none;
  }

  .navbar-collapse {
    background-color: none;

    padding: 1rem;

    .nav-link {
      color: black !important;
    }
  }
}

@media (max-width: 991.98px) {
  #navUL {
    top: 5vh;
    right: 3vw;
    z-index: 100;
    width: 30%;
    padding: 1vw;
  }

  .navbar-toggler {
    background-color: #ffff !important;
    position: fixed;
    top: 2vw;
    right: 2vw;
    transition: none;
    padding: 1vw 2vw;

    span {
      height: 3.5vw;
      width: 3.5vw;
    }
  }

  .title {
    font-size: clamp(3vw, 3.2vw, 3.4vw);
    font-family: "Lora";
  }

  .menus {
    margin-right: 10vw;
  }

  .navbar-nav {
    background-color: rgb(251, 250, 250);
  }

  .navbar {
    background-color: transparent;
    position: fixed;

    h5 {
      font-size: clamp(2.1vw, 2vw, 1.8vw);
    }
  }

  #logOutBtn {
    font-size: clamp(2.1vw, 2vw, 1.8vw);
    width: 100%;
  }

  .collapse {
    transition: none !important;
  }

  .nav-link:after {
    transition: none;
  }
}

@media only screen and (max-width: 599px) {
  .topSection {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem !important;
  }

  .logo {
    width: 25vw;
  }

  .notificationIcon,
  .messageIcon {
    height: 25px;
    width: 25px;
  }

  .navbar-toggler {
    background-color: #ffff !important;
    position: fixed;
    top: 2.5vw;
    right: 2vw;
    transition: none;
    padding: 1vw 2vw !important;

    span {
      height: 3.5vw;
      width: 3.5vw;
    }
  }

  #notifCounter {
    height: 2vw !important;
    width: 0.5vw;
    background-color: transparent !important;
    color: red;
    position: absolute !important;
    top: 1% !important;
    left: 70% !important;
  }

  .admin {
    img {
      height: 40px;
      width: 40px;
      border-radius: 3rem;
    }
  }

  .adminTitle {
    display: none !important;
  }

  .navbar {
    background-color: none !important;
    position: fixed;

    h5 {
      font-size: clamp(3vw, 3.1vw, 3.3vw);
    }
  }

  .nav-link img {
    display: none;
  }

  .navbar-collapse {
    background-color: none;
    padding: 1rem;

    .nav-link {
      color: black !important;
    }
  }

  .dashboardTitle {
    margin-top: 5vw;
    font-size: 20px;
  }

  #logOutBtn {
    display: block;
    margin: auto;
    width: 100%;
    font-size: clamp(3vw, 3.1vw, 3.3vw);
  }
}
