@font-face {
  font-family: "Poppins";
  src: url(../../Fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
  font-family: "Agbalumo";
  src: url(../../Fonts/Agbalumo/Agbalumo-Regular.ttf);
}

@font-face {
  font-family: "Alkatra";
  src: url(../../Fonts/Alkatra/Alkatra-VariableFont_wght.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card {
  /* border: 1px solid red; */
  width: 80% !important;
  margin: auto;
}

.card-title {
  font-family: "Poppins";
  font-size: 1rem;
}

.name {
  font-size: 2.35rem !important;
}

.partner-info-name-pic,
.applicant-info-name-pic {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.img-fluid {
  height: 30vh;
  width: 30vh;
  object-fit: cover;
}

.card-text {
  font-family: "Poppins";
  font-size: 1.3rem;
}

/* .card-body {
  border: 1px solid red;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
} */

.firstRow {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 1vw;
}

.secondRow {
  display: flex;
  justify-content: center;
  margin-top: 1vw;
  gap: 1vw;
}

.documentLink,
.validID {
  width: 100%;
}

.viewID {
  margin-top: 1vw;
  width: 100%;
}

.validIDImg {
  width: 28vw;
  display: block;
  margin: auto;
}
.applicant-info,
.partner-info {
  width: 100%;
  border: 1px solid #ddd;
  padding: 1rem;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.stretched-link {
  text-decoration: underline;
  word-break: break-word;
}

.page-container {
  display: flex;
  margin: 2rem;
  align-items: center;
  justify-content: center;
  position: relative;
}

.page-title {
  font-family: "Alkatra";
  font-size: 2rem;
  margin-left: 0.5rem;
  margin-top: 0.3rem;
}

.back {
  border: none;
  height: 7vh;
  position: absolute;
  left: 0;
}

.button-container {
  /* border: 1px solid red; */
  display: flex;
  margin: auto;
}

form {
  display: inline-block;
  .btn {
    width: 100% !important;
    margin: 0.5rem !important;
  }
}
