@font-face {
  font-family: "Poppins";
  src: url(../../Fonts/Poppins/Poppins-Regular.ttf);
}
/* @font-face {
  font-family: "Plus Jakarta Sans";
  src: url(../../Fonts/PlusJakartaSans/PlusJakartaSans-VariableFont_wght.ttf);
} */

@font-face {
  font-family: "Lora";
  src: url(../../Fonts/Lora/Lora-VariableFont_wght.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Plus Jakarta Sans"; */
  text-decoration: none;
  list-style: none;
}

main {
  display: flex;
  justify-content: center;
}

.notification-toggler-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.notification-container {
  text-align: right !important;
  margin-top: 0.59rem;
  margin-right: 0.85rem;
}

#notification-icon {
  font-size: 2rem;
  color: #0d6dfc;
}

.page-title-container {
  padding-left: var(--padding-md);
}

.page-title {
  font-size: var(--font-size-xl);
  font-family: "Poppins";
  font-weight: var(--font-weight-bold);
}

section.booking-container {
  width: 90%;
}

.card {
  border: none !important;
  padding: var(--padding-lg);
  margin-top: var(--margin-mdl);
  margin-bottom: 2rem;
  width: 100% !important;
  max-width: 100%;
}

#addHotelBtn {
  width: 10rem;
  float: right;
  margin: 0 0 1vw 0;
}

label {
  margin-left: 1vw;
}

#roomsTable {
  width: 100% !important;
  max-width: 100%;
  display: block;
  margin: auto;
}

thead,
tbody {
  font-family: "Poppins";
}

td,
th {
  text-align: center !important;
  font-size: var(--font-size-base);
}

th {
  background-color: oklch(0.64 0.65 220 / 0.5) !important;
  color: rgb(61, 46, 46);
}

.text-center {
  color: rgb(255, 0, 0) !important;
}

.dt-column-title {
  display: inline-block;
  width: 2vw !important;
}

.dt-info,
.dt-layout-row {
  font-family: "Lora";
  text-transform: capitalize;
}

.dt-layout-row {
  margin-top: 0 !important;
}
.statusBtn {
  font-size: 16px;
  width: 50%;
  color: whitesmoke !important;
  cursor: alias !important;
}

.action-column {
  display: flex;
  padding-right: 2vw;
}

.action-column form {
  margin: 0.5rem;
}

td .sorting_1 {
  padding-right: 2vw !important;
}

/* Status */
.badge {
  font-weight: initial;
  line-height: normal;
  font-size: initial;
  padding: 0.6rem !important;
  width: 7rem;
  border-radius: 3rem !important;
}

.badge.bg-red {
  background-color: rgba(204, 30, 20, 0.3) !important;
  color: rgb(204, 30, 20) !important;
}

.badge.bg-light-green {
  background-color: rgba(99, 201, 9, 0.3) !important;
  color: rgb(71, 139, 10) !important;
}

.badge.badge.bg-success {
  background-color: rgba(83, 243, 169, 0.5) !important;
  color: rgb(0, 129, 69) !important;
}

.badge.bg-primary {
  background-color: rgba(12, 100, 232, 0.3) !important;
  color: rgb(11, 90, 209) !important;
}

.badge.bg-danger {
  background-color: rgba(219, 53, 69, 0.3) !important;
  color: rgb(219, 53, 69) !important;
}

.badge.bg-warning {
  background-color: rgba(255, 193, 8, 0.5) !important;
  color: rgb(187, 140, 0) !important;
}

.badge.bg-info {
  background-color: rgba(12, 202, 240, 0.3) !important;
  color: rgb(28, 155, 180);
}
/* Status */
