@font-face {
  font-family: "Poppins";
  src: url(../../Fonts/Poppins/Poppins-Regular.ttf);
}
/* @font-face {
  font-family: "Plus Jakarta Sans";
  src: url(../../Fonts/PlusJakartaSans/PlusJakartaSans-VariableFont_wght.ttf);
} */

@font-face {
  font-family: "Lora";
  src: url(../../Fonts/Lora/Lora-VariableFont_wght.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Plus Jakarta Sans"; */
  text-decoration: none;
  list-style: none;
}

body {
  background: #a1c8c7 !important;
}

.topSection {
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5vw;
}

.menus {
  /* border: 1px solid black; */
  padding: 0.5vw;
  margin-right: 2vw;
  display: flex;
  align-items: center;
  gap: 2vw;
}

.dashTitleContainer {
  margin-left: 1vw;
}

.logo {
  width: 15vw;
}
/* #dashboard {
  font-family: "Plus Jakarta Sans";
  text-decoration: none;
  color: black;
  font-weight: 800;
  font-size: 2.3vw;
  margin-left: 1vw;
} */

#dashboard {
  text-decoration: none;
  margin-left: 1vw;
}

.room-container {
  display: flex;
  justify-content: center;
}

.card {
  width: 90% !important;
  padding: 2vw;
}

#addHotelBtn {
  width: 12vw;
  float: right;
  margin: 0 0 1vw 0;
}

label {
  margin-left: 1vw;
}

#roomsTable {
  width: 100%;
}

thead {
  font-family: "Lora";
  font-size: 18px !important;
}

tbody {
  font-family: "Poppins";
  font-size: 16px;
}

td,
th {
  text-align: center !important;
  vertical-align: middle;
}

th {
  background-color: #91d2f2 !important;
}

.text-center {
  color: rgb(255, 0, 0) !important;
}

.dt-column-title {
  display: inline-block;
  width: 2vw !important;
}

.dt-info,
.dt-layout-row {
  font-family: "Lora";
  text-transform: capitalize;
}

.statusBtn {
  font-size: 16px;
  width: 50%;
  color: whitesmoke !important;
  cursor: alias !important;
}

.action-column {
  display: flex;
}

.action-column form {
  margin: 0.5rem;
}
