@font-face {
  font-family: "Poppins";
  src: url(../../Fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
  font-family: "Alkatra";
  src: url(../../Fonts/Alkatra/Alkatra-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Lora";
  src: url(../../Fonts/Lora/Lora-VariableFont_wght.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Plus Jakarta Sans"; */
  text-decoration: none;
  list-style: none;
}

body {
  background: #ededed !important;
}

.header {
  /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 90px;
    padding: 1rem;
    margin: 1rem;
}

.backButton {
    position: absolute;
    left: 20px; 
    display: flex;
    align-items: center;
}


.pagetitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  /* border: 1px solid blue; */
  padding: .5rem;
}

.pagetitle h1 {
  font-family: "Alkatra";
  font-size: 30px;
  font-weight: bold;
  margin: 0;
  margin-top: .5rem;
}

.pagetitle img {
  height: 50px !important;
}


main{
  width: 90vw;
  margin: auto;
  padding: 1rem;
}

/* Base form styling */
form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 80%;
  gap: 1rem;
  flex-wrap: wrap; 
}

.dateRange{
  /* border: 1px solid red; */
  width: 50%;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: .5rem;
  font-family: 'Poppins';
}

.dateRange label{
  margin-top: .5rem;
}

.input-wrapper{
  display: flex;
  /* border: 1px solid rebeccapurple; */
  position: relative;
}

.input-wrapper input{
  padding: 0 4rem 0 .5rem;
  border: 1px solid rgb(179, 168, 168);
  height: 35px;
  border-radius: 5px;
}

.input-wrapper i{
  position: absolute;
  top: 25%;
  left: 85%;
}



.generateBtn {
  border: 1px solid rgb(0, 217, 255);
  background-color: #00d9ff;
  color: black;
  font-weight: 500;
  width: 20%;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.generateBtn:hover {
  background-color: #00c3e6;
}



/* #sales-logo {
    width: 3vw !important;
    margin-right: 1vw;
}

#pagetitle{

    display: flex !important;
    align-items: center !important;

}

.container-fluid {
  margin: 10vw auto 1vw auto;
  width: 95% !important;
}

.dateRange {
  display: flex;
  align-items: center;
  width: 98%;
}
.dateRange label, .salesSummary h2 {
  margin-bottom: 0;
  font-size: 1.7vw;
  font-family: "Poppins";
  font-weight: 700;
}

#backToDashboard {
  width: 3vw !important;
  margin-right: 0;
  margin-left: 0.4vw;

}

#back-btn{
  width: 5vw !important;
  display: flex;
  align-items: center;
}

#reportDate {
 width: 30vw !important;
 margin-left: 1vw;
 font-size: 1.7vw;
  font-family: "Poppins";
}

.salesSummary {
  margin-top: 3vw;
} */

/* .generateBtn {
  margin: 0 auto !important;
  width: 15vw;
}

#generateReport {
  font-size: 1.2vw;
  font-family: "Poppins";
  font-weight: 700;
  letter-spacing: 1px;

} */

/* .table {
  width: 85% !important;
  margin: 2.2vw auto;
}

.table thead {
  font-size: 1.4vw !important;
}

.table tbody {
  font-size: 1.3vw;
} */