@font-face {
  font-family: "Poppins";
  src: url(../../Fonts/Poppins/Poppins-Regular.ttf);
}
/* @font-face {
  font-family: "Plus Jakarta Sans";
  src: url(../../Fonts/PlusJakartaSans/PlusJakartaSans-VariableFont_wght.ttf);
} */

@font-face {
  font-family: "Poppins Black";
  src: url(../../Fonts/Poppins/Poppins-Black.ttf);
}

@font-face {
  font-family: "Lora";
  src: url(../../Fonts/Lora/Lora-VariableFont_wght.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Plus Jakarta Sans"; */
  text-decoration: none;
  list-style: none;
}

body {
  background: #a1c8c7 !important;
}

.dashTitleContainer {
  margin-left: 1vw;
}

.logo {
  width: 15vw;
}

#dashboard {
  text-decoration: none;
  margin-left: 1vw;
}

.transactionContainer {
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
}

.card {
  padding: 1rem 2rem 0.5rem 2rem;
  margin-bottom: 2rem;
  max-width: 90% !important;
  width: 90% !important;
}

.transactionContainer,
main {
  position: relative;
  z-index: 1; /* Lower than navbar */
}

.titleContainer {
  font-family: "Poppins Black";
}

.title {
  font-size: 30px;
}

label {
  margin-left: 1vw;
}

table.table {
  width: 100%;
  max-width: 100% !important;
}

thead {
  font-family: "Lora";
  text-align: center !important;
}

tbody {
  font-family: "Poppins";
}

td,
th {
  text-align: center !important;
}

th {
  background-color: #91d2f2 !important;
}

th:nth-child(5),
th:nth-child(6),
th:nth-child(3),
th:nth-child(7) {
  white-space: normal !important;
  word-wrap: normal !important;
}

.dt-info,
.dt-layout-row {
  font-family: "Lora";
  text-transform: capitalize;
}

.btn-red {
  background-color: rgb(204, 30, 20) !important;
  color: white;
}

.btn-red:hover {
  background-color: rgb(150, 10, 3) !important;
  color: white;
}

.btn-light-green {
  background-color: rgb(71, 139, 10) !important;
  color: white;
}

.btn-light-green:hover {
  background-color: rgb(58, 112, 10) !important;
  color: white;
}

@media (max-width: 991.98px) {
  .transactionContainer {
    margin-top: 5vh;
  }
}

/* Tablet Portrait */
@media only screen and (min-width: 600px) and (max-width: 1025px) {
  .title {
    font-size: clamp(40px, calc(4vh + 2px), 34px) !important;
    text-align: center;
    margin: 3vw auto 5vw auto;
  }
  thead {
    font-size: clamp(21px, calc(1.8vh + 2px), 22px);
  }

  tbody {
    font-size: clamp(20px, calc(1.9vh + 2px), 23px);
  }
  td button.btn-info,
  td span.btn-success,
  td span.btn-warning,
  td span.btn-danger,
  td span.btn-secondary,
  td span.btn-primary {
    font-size: clamp(18px, calc(2vh + 2px), 22px);
  }
  #bookingTable_length {
    margin-bottom: 5vw !important;
  }
  #hiddenTitle {
    font-size: clamp(40px, calc(4vh + 2px), 34px);
  }

  label,
  .dataTables_info,
  .dataTables_paginate {
    font-size: clamp(20px, calc(2vh + 2px), 24px);
  }

  label select,
  label input,
  a.paginate_button.current {
    margin: 1vw !important;
  }

  .card {
    padding: 1.5vw;
  }
}

/* Phones */
@media only screen and (max-width: 600px) {
  .title {
    font-size: clamp(35px, calc(3.5vh + 2px), 31px) !important;
    text-align: center;
    margin: 3vw auto 5vw auto;
  }
  .card {
    padding: 2vw;
  }

  .dt-search {
    margin-bottom: 5vw !important;
  }

  thead {
    font-size: clamp(18px, calc(1.7vh + 2px), 17px);
  }

  tbody {
    font-size: clamp(15px, calc(1.5vh + 2px), 17px);
  }
  td button.btn-info,
  td span.btn-success,
  td span.btn-warning,
  td span.btn-danger,
  td span.btn-secondary,
  td span.btn-primary {
    font-size: clamp(15px, calc(1.6vh + 2px), 18px);
  }

  label,
  .dataTables_info,
  .dataTables_paginate {
    font-size: clamp(15px, calc(2vh + 2px), 19px);
  }

  .paginate_button.previous,
  .paginate_button.next {
    padding: 2vw !important;
  }
}
