:root {
  --blue-50: oklch(0.9 0.15 210);
  --blue-100: oklch(0.8 0.2 210);
  --blue-200: oklch(0.7 0.25 210);
  --blue-300: oklch(0.6 0.3 210);
  --blue-400: oklch(0.5 0.35 210);
  --blue-500: oklch(0.4 0.4 210);
  --blue-600: oklch(0.3 0.4 210);
  --blue-700: oklch(0.2 0.4 210);
  --blue-800: oklch(0.15 0.35 210);
  --blue-900: oklch(0.1 0.3 210);

  --blue-accents: oklch(0.8 0.1 210);

  --bg-light: oklch(0.9 0.05 50);
  --bg-dark: oklch(0.05 0.05 50);

  --text-light: oklch(0.2 0.02 50);
  --text-dark: oklch(0.9 0.03 50);

  --border-light: oklch(0.9 0.05 50);
  --border-dark: oklch(0.1 0.05 50);

  --link-light: oklch(0.4 0.3 210);
  --link-dark: oklch(0.6 0.3 210);

  --font-size-xs: 12px;
  --font-size-sm: 14px;
  --font-size-base: 16px;
  --font-size-md: 18px;
  --font-size-lg: 20px;
  --font-size-xl: 24px;
  --font-size-xxl: 32px;

  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  --radius-sm: 0.125rem;
  --radius-md: 0.25rem;
  --radius-lg: 0.5rem;
  --radius-full: 50%;

  --shadow-light: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  --shadow-dark: 0 2px 5px 0 rgba(0, 0, 0, 0.5);

  --transition: all 0.3s ease;

  --spacing-xs: 0.25rem;
  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 1.5rem;
  --spacing-xl: 2rem;

  /* --- Margin Variables --- */
  --margin-xs: 0.5rem;
  --margin-sm: 1rem;
  --margin-md: 1.5rem;
  --margin-lg: 2rem;
  --margin-xl: 3rem;

  /* --- Padding Variables --- */
  --padding-xs: 0.5rem;
  --padding-sm: 1rem;
  --padding-md: 1.5rem;
  --padding-lg: 2rem;
  --padding-xl: 3rem;
}

[data-theme="dark"] {
  --blue-50: oklch(0.1 0.15 210);
  --blue-100: oklch(0.2 0.2 210);
  --blue-200: oklch(0.3 0.25 210);
  --blue-300: oklch(0.4 0.3 210);
  --blue-400: oklch(0.5 0.35 210);
  --blue-500: oklch(0.6 0.4 210);
  --blue-600: oklch(0.7 0.4 210);
  --blue-700: oklch(0.8 0.35 210);
  --blue-800: oklch(0.85 0.3 210);
  --blue-900: oklch(0.9 0.25 210);

  --blue-accents: oklch(0.3 0.1 210);

  --bg-light: oklch(0.05 0.05 50);
  --bg-dark: oklch(0.1 0.05 50);

  --text-light: oklch(0.9 0.03 50);
  --text-dark: oklch(0.2 0.02 50);

  --border-light: oklch(0.2 0.05 50);
  --border-dark: oklch(0.05 0.05 50);

  --link-light: oklch(0.7 0.3 210);
  --link-dark: oklch(0.8 0.3 210);

  --shadow-light: 0 2px 5px 0 rgba(255, 255, 255, 0.1);
  --shadow-dark: 0 2px 5px 0 rgba(0, 0, 0, 0.7);

  --margin-xs: 0.5rem;
  --margin-sm: 1rem;
  --margin-md: 1.5rem;
  --margin-lg: 2rem;
  --margin-xl: 3rem;

  --padding-xs: 0.5rem;
  --padding-sm: 1rem;
  --padding-md: 1.5rem;
  --padding-lg: 2rem;
  --padding-xl: 3rem;
}
@font-face {
  font-family: "Poppins";
  src: url(../../Fonts/Poppins/Poppins-Regular.ttf);
}
/* @font-face {
  font-family: "Plus Jakarta Sans";
  src: url(../../Fonts/PlusJakartaSans/PlusJakartaSans-VariableFont_wght.ttf);
} */

@font-face {
  font-family: "Poppins Black";
  src: url(../../Fonts/Poppins/Poppins-Black.ttf);
}

@font-face {
  font-family: "Lora";
  src: url(../../Fonts/Lora/Lora-VariableFont_wght.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Plus Jakarta Sans"; */
  text-decoration: none;
  list-style: none;
}

main {
  display: flex;
  justify-content: center;
}

.booking-container {
  width: 90% !important;
  max-width: 100%;
}

.notification-toggler-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.notification-container {
  text-align: right !important;
  margin-top: 0.59rem;
  margin-right: 0.85rem;
}

#notification-icon {
  font-size: 2rem;
  color: #0d6dfc;
}

.page-title-container {
  padding-left: var(--padding-md);
}

.page-title {
  font-size: var(--font-size-xl);
  font-family: "Poppins";
  font-weight: var(--font-weight-bold);
}

.transactionContainer {
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
}

.card {
  border: none !important;
  padding: var(--padding-lg);
  margin-top: var(--margin-mdl);
  margin-bottom: 2rem;
  width: 100% !important;
  max-width: 100%;
}

label {
  margin-left: 1vw;
}

table.table {
  width: 100%;
  max-width: 100% !important;
}

thead {
  font-family: "Lora";
  text-align: center !important;
}

tbody {
  font-family: "Poppins";
}

td,
th {
  text-align: center !important;
  font-size: var(--font-size-base);
}

th {
  background-color: oklch(0.64 0.65 220 / 0.5) !important;
  color: rgb(61, 46, 46);
}

th:nth-child(5),
th:nth-child(6),
th:nth-child(3),
th:nth-child(7) {
  white-space: normal !important;
  word-wrap: normal !important;
}

.dt-info,
.dt-layout-row {
  font-family: "Lora";
  text-transform: capitalize;
}

/* Colors */

.badge {
  font-weight: initial;
  line-height: normal;
  font-size: 14px;
  padding: 0.1rem !important;
  width: 10rem;
  border-radius: 5rem !important;
}

/* Fully Paid */
.badge.bg-bright-green {
  background-color: rgba(75, 192, 75, 0.4) !important;
  color: rgb(75, 192, 75) !important;
}

/* Partially Paid */
.badge.bg-light-blue {
  background-color: rgba(54, 162, 235, 0.4) !important;
  color: rgb(54, 162, 235) !important;
}

/* Awaiting Payment */
.badge.bg-orange {
  background-color: rgba(255, 159, 64, 0.4) !important;
  color: rgb(247, 127, 8) !important;
}

/* Pending */
.badge.bg-warning {
  background-color: rgba(255, 193, 7, 0.4) !important;
  color: rgb(190, 114, 0) !important;
}

/* Approved */
.badge.bg-green {
  background-color: rgba(40, 167, 69, 0.4) !important;
  color: rgb(40, 167, 69) !important;
}

/* Reserved */
.badge.bg-success {
  background-color: rgba(83, 243, 169, 0.4) !important;
  color: rgb(0, 129, 69) !important;
}

/* Cancelled */
.badge.bg-danger {
  background-color: rgba(219, 53, 69, 0.4) !important;
  color: rgb(219, 53, 69) !important;
}

/* Rejected */
.badge.bg-red {
  background-color: rgba(204, 30, 20, 0.4) !important;
  color: rgb(204, 30, 20) !important;
}

/* Expired */
.badge.bg-muted {
  background-color: rgba(73, 80, 87, 0.4) !important;
  color: rgb(73, 80, 87) !important;
}

/* Finished */
.badge.bg-light-green {
  background-color: rgba(99, 201, 9, 0.4) !important;
  color: rgb(71, 139, 10) !important;
}
@media (max-width: 991.98px) {
  .transactionContainer {
    margin-top: 5vh;
  }
}

/* Tablet Portrait */
@media only screen and (min-width: 600px) and (max-width: 1025px) {
  .title {
    font-size: clamp(40px, calc(4vh + 2px), 34px) !important;
    text-align: center;
    margin: 3vw auto 5vw auto;
  }
  thead {
    font-size: clamp(21px, calc(1.8vh + 2px), 22px);
  }

  tbody {
    font-size: clamp(20px, calc(1.9vh + 2px), 23px);
  }
  td button.btn-info,
  td span.btn-success,
  td span.btn-warning,
  td span.btn-danger,
  td span.btn-secondary,
  td span.btn-primary {
    font-size: clamp(18px, calc(2vh + 2px), 22px);
  }
  #bookingTable_length {
    margin-bottom: 5vw !important;
  }
  #hiddenTitle {
    font-size: clamp(40px, calc(4vh + 2px), 34px);
  }

  label,
  .dataTables_info,
  .dataTables_paginate {
    font-size: clamp(20px, calc(2vh + 2px), 24px);
  }

  label select,
  label input,
  a.paginate_button.current {
    margin: 1vw !important;
  }

  .card {
    padding: 1.5vw;
  }
}

/* Phones */
@media only screen and (max-width: 600px) {
  .title {
    font-size: clamp(35px, calc(3.5vh + 2px), 31px) !important;
    text-align: center;
    margin: 3vw auto 5vw auto;
  }
  .card {
    padding: 2vw;
  }

  .dt-search {
    margin-bottom: 5vw !important;
  }

  thead {
    font-size: clamp(18px, calc(1.7vh + 2px), 17px);
  }

  tbody {
    font-size: clamp(15px, calc(1.5vh + 2px), 17px);
  }
  td button.btn-info,
  td span.btn-success,
  td span.btn-warning,
  td span.btn-danger,
  td span.btn-secondary,
  td span.btn-primary {
    font-size: clamp(15px, calc(1.6vh + 2px), 18px);
  }

  label,
  .dataTables_info,
  .dataTables_paginate {
    font-size: clamp(15px, calc(2vh + 2px), 19px);
  }

  .paginate_button.previous,
  .paginate_button.next {
    padding: 2vw !important;
  }
}
