@font-face {
  font-family: "Poppins";
  src: url(../../Fonts/Poppins/Poppins-Regular.ttf);
}
/* @font-face {
  font-family: "Plus Jakarta Sans";
  src: url(../../Fonts/PlusJakartaSans/PlusJakartaSans-VariableFont_wght.ttf);
} */

@font-face {
  font-family: "Poppins Black";
  src: url(../../Fonts/Poppins/Poppins-Black.ttf);
}

@font-face {
  font-family: "Lora";
  src: url(../../Fonts/Lora/Lora-VariableFont_wght.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Plus Jakarta Sans"; */
  text-decoration: none;
  list-style: none;
}

main {
  margin: auto;
}

body {
  display: flex;
  gap: 1rem;
}

.booking-container {
  max-width: 100%;
}

.notification-toggler-container {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
  margin-top: 1rem;
}

.notification-container {
  text-align: right !important;
  margin-top: 0.5rem;
  margin-right: 0.85rem;
}

#notification-icon {
  font-size: 2rem;
  color: #0d6dfc;
}

.page-title-container {
  padding-left: var(--padding-md);
}

.page-title {
  font-size: var(--font-size-xl);
  font-family: "Poppins";
  font-weight: var(--font-weight-bold);
}

.transactionContainer {
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
}

.card {
  border: none !important;
  /* padding: var(--padding-lg); */
  margin-top: var(--margin-mdl);
  margin-bottom: 2rem;
  width: 100% !important;
  max-width: 100%;
}

label {
  margin-left: 1vw;
}

table.table {
  width: 100%;
  max-width: 100% !important;
}

thead {
  font-family: "Lora";
  text-align: center !important;
}

tbody {
  font-family: "Poppins";
}

td,
th {
  text-align: center !important;
  font-size: var(--font-size-sm);
}

th {
  background-color: oklch(0.64 0.65 220 / 0.5) !important;
  color: rgb(61, 46, 46);
}

th:nth-child(5),
th:nth-child(6),
th:nth-child(3),
th:nth-child(7) {
  white-space: normal !important;
  word-wrap: normal !important;
}

.dt-info,
.dt-layout-row {
  font-family: "Lora";
  text-transform: capitalize;
}

/* Colors */

.badge {
  font-weight: initial !important;
  line-height: normal !important;
  padding: 0.2rem !important;
  width: 10rem;
  border-radius: 3rem !important;
}

/* Fully Paid */
.badge.bg-bright-green {
  background-color: rgba(75, 192, 75, 0.4) !important;
  color: rgb(23, 95, 23) !important;
}

/* Partially Paid */
.badge.bg-light-blue {
  background-color: rgba(54, 162, 235, 0.4) !important;
  color: rgb(26, 90, 133) !important;
}

/* Payment Sent & Review Payment */
.badge.bg-primary {
  background-color: rgba(54, 105, 255, 0.4) !important;
  color: rgb(21, 50, 136) !important;
}

/* Awaiting Payment */
.badge.bg-orange {
  background-color: rgba(255, 159, 64, 0.4) !important;
  color: rgb(177, 88, 0) !important;
}

/* Pending */
.badge.bg-warning {
  background-color: rgba(255, 193, 7, 0.4) !important;
  color: rgb(163, 101, 7) !important;
}

/* Approved */
.badge.bg-green {
  background-color: rgba(40, 167, 69, 0.4) !important;
  color: rgb(8, 90, 27) !important;
}

/* Reserved */
.badge.bg-success {
  background-color: rgba(83, 243, 169, 0.4) !important;
  color: rgb(5, 88, 50) !important;
}

/* Cancelled */
.badge.bg-danger {
  background-color: rgba(219, 53, 69, 0.4) !important;
  color: rgb(180, 7, 7) !important;
}

/* Rejected */
.badge.bg-red {
  background-color: rgba(204, 30, 20, 0.4) !important;
  color: rgb(143, 12, 5) !important;
}

/* Expired */
.badge.bg-muted {
  background-color: rgba(73, 80, 87, 0.4) !important;
  color: rgb(59, 64, 68) !important;
}

/* Finished */
.badge.bg-light-green {
  background-color: rgba(99, 201, 9, 0.4) !important;
  color: rgb(71, 139, 10) !important;
}

.viewBtn {
  padding: 0.4rem !important;
  font-size: 12px !important;
}

#notification-count.badge {
  --bs-badge-padding-x: 0.6em;
  --bs-badge-padding-y: 0.55em;
  --bs-badge-font-size: 0.75em;
  --bs-badge-font-weight: 700;
  --bs-badge-color: #fff;
  --bs-badge-border-radius: var(--bs-border-radius);
  display: inline-block;
  padding: var(--bs-badge-padding-y) var(--bs-badge-padding-x) !important;
  font-size: var(--bs-badge-font-size);
  font-weight: var(--bs-badge-font-weight);
  line-height: 0.5;
  color: var(--bs-badge-color);
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: var(--bs-badge-border-radius);
  width: initial;
}

#notification-count.bg-danger {
  background-color: rgb(219, 53, 69) !important;
  color: #fff !important;
}

@media (max-width: 991.98px) {
  .transactionContainer {
    margin-top: 5vh;
  }
}

/* Tablet Portrait */
@media only screen and (min-width: 600px) and (max-width: 1025px) {
  .title {
    font-size: clamp(40px, calc(4vh + 2px), 34px) !important;
    text-align: center;
    margin: 3vw auto 5vw auto;
  }
  thead {
    font-size: clamp(21px, calc(1.8vh + 2px), 22px);
  }

  tbody {
    font-size: clamp(20px, calc(1.9vh + 2px), 23px);
  }
  td button.btn-info,
  td span.btn-success,
  td span.btn-warning,
  td span.btn-danger,
  td span.btn-secondary,
  td span.btn-primary {
    font-size: clamp(18px, calc(2vh + 2px), 22px);
  }
  #bookingTable_length {
    margin-bottom: 5vw !important;
  }
  #hiddenTitle {
    font-size: clamp(40px, calc(4vh + 2px), 34px);
  }

  label,
  .dataTables_info,
  .dataTables_paginate {
    font-size: clamp(20px, calc(2vh + 2px), 24px);
  }

  label select,
  label input,
  a.paginate_button.current {
    margin: 1vw !important;
  }

  .card {
    padding: 1.5vw;
  }
}

/* Phones */
@media only screen and (max-width: 600px) {
  .title {
    font-size: clamp(35px, calc(3.5vh + 2px), 31px) !important;
    text-align: center;
    margin: 3vw auto 5vw auto;
  }
  .card {
    padding: 2vw;
  }

  .dt-search {
    margin-bottom: 5vw !important;
  }

  thead {
    font-size: clamp(18px, calc(1.7vh + 2px), 17px);
  }

  tbody {
    font-size: clamp(15px, calc(1.5vh + 2px), 17px);
  }
  td button.btn-info,
  td span.btn-success,
  td span.btn-warning,
  td span.btn-danger,
  td span.btn-secondary,
  td span.btn-primary {
    font-size: clamp(15px, calc(1.6vh + 2px), 18px);
  }

  label,
  .dataTables_info,
  .dataTables_paginate {
    font-size: clamp(15px, calc(2vh + 2px), 19px);
  }

  .paginate_button.previous,
  .paginate_button.next {
    padding: 2vw !important;
  }
}
