@font-face {
  font-family: "Poppins";
  src: url(../../Fonts/Poppins/Poppins-Regular.ttf);
}
/* @font-face {
  font-family: "Plus Jakarta Sans";
  src: url(../../Fonts/PlusJakartaSans/PlusJakartaSans-VariableFont_wght.ttf);
} */

@font-face {
  font-family: "Lora";
  src: url(../../Fonts/Lora/Lora-VariableFont_wght.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: #f5f5f5 !important;
}

main {
  display: flex;
  padding: 2vw;
  gap: 2rem;
  justify-content: center;
}

.back-button {
  position: absolute;
  top: 5%;
  left: 5%;
}

section {
  display: flex;
  flex-direction: column;
  padding: 1vw;
  gap: 5rem;
  margin-top: 5vw;
}

/* input {
  width: 300px;
  height: 5vh;
} */

.image-container {
  /* border: 1px solid red; */
  width: 30vw;
  /* position: relative; */
  /* display: inline-block; */
  p {
    font-family: "Poppins";
  }
}

.preview-image {
  width: 30vw !important;
  height: 100vh;
  cursor: zoom-in;
}

.defaultDownpaymentImage {
  max-height: 50vh;
  max-width: 20vw;
}

/* .zoom-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 50vw;
  height: 50vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s ease;
  z-index: 1000;
}

.zoom-overlay img {
  border: 1px solid red;
  max-height: 90vh;
  max-width: 50vw;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
  cursor: zoom-in;
}

.image-container:hover .zoom-overlay {
  visibility: visible;
  opacity: 1;
} */

.firstRow {
  /* border: 1px solid red; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
  justify-items: center;
  align-content: center;
}

label {
  display: block;
  font-size: 16px;
  font-family: "Poppins";
  font-weight: bold;
}

#servicesContainer {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column !important;
  margin-top: 0.2vw;
}

#scheduleContainer {
  margin-top: -1vw;
}

.scheduleInputBox {
  /* border: 1px solid red; */
  display: flex;
  gap: 0.2rem;
}

#services-form {
  width: 100% !important;
}

.form-control:read-only {
  width: 100%;
  background-color: #f5f5f5;
  text-align: center;
}
#gridForm {
  width: 25vw !important;
}

.w-50 {
  width: 100% !important;
}
.card {
  background-color: #f5f5f5;
  margin-top: -4vw;
}

.card-body {
  margin: auto;
}

.cardTitle {
  font-size: 18px;
}

.payment-input-container {
  display: grid;
  grid-template-columns: repeat(2, 20vw);
  grid-template-rows: repeat(5, 0.1vw);
  gap: 8px;
  margin-top: 0.4rem;
  align-items: center;
}

#paymentLabel {
  display: block;
  text-align: left;
  font-size: 16px;
}

#payment-form,
#paymentMethod {
  /* height: 8vh; */
  width: 100% !important;
  /* margin-left: 2vw; */
  /* border: none; */
  background-color: #f5f5f5;
  text-align: left !important;
}

.form-button {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.form-button button {
  width: 40%;
}

.btn {
  margin-top: 0.6vw;
  font-family: "Lora";
}

.button-container {
  margin-top: -3vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* modal */

#rejectionReason {
  width: 100% !important;
  margin: auto !important;
  background-color: #ffff;
  margin-top: 1vw !important;
}

#customerPayment,
#paymentModalForm,
#approveModalForm {
  width: 100% !important;
  margin: auto !important;
  /* margin-top: 1vw !important; */
}

.radio-container,
.checkbox-container {
  display: flex !important;
  gap: 1rem;
  margin: 1rem;
  align-items: center;
  justify-content: center;
}

.radio {
  display: flex;
}

.checkbox-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: 8px;
}

#approveModal .modal-body {
  max-height: 70vh;
  overflow-y: auto;
  padding-bottom: 70px;
}

.form-check label,
.radio label {
  font-weight: unset !important;
  text-align: unset !important;
}
.cb-enabler {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.additionalCharge-container {
  margin-top: 1rem;
}

.grand-total {
  margin-top: auto;
}

.amount-balance {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  gap: 1rem;
}

.form-floating .form-control {
  height: 3rem !important;
  min-height: 3rem !important;
}

.form-floating label {
  font-size: 14px !important;
}

/* View Payment Modal */
.paymentListContainer {
  margin-top: 1rem;
}

.downpayment-container,
.payment-container {
  display: flex;
  justify-content: space-around;
  font-family: "Poppins";
  margin-top: 0.5rem;
}

.payment-container {
  display: flex;
  justify-content: space-between;
  padding: 0 1.3rem 0 1.3rem;
  font-family: "Poppins";
  margin-top: 0.5rem;
}

.payment-container-title {
  text-align: center;
  font-weight: bold;
}

.dp-title,
.dp-amount {
  font-size: 16px;
}

.date,
.mode {
  color: #575656;
  font-size: 12px;
}

.view-dp-btn {
  border-radius: 3rem !important;
  width: 5rem;
}

.dp-hr {
  width: 90%;
  margin: 1rem auto;
}

#view-dp .modal-body {
  display: block;
  margin: auto;
}

#view-dp .modal-content {
  width: auto !important;
  margin: auto;
}

.downpaymentPic {
  width: 300px;
  height: auto;
}

/* View Payment Modal */

/* .checkbox-group .form-check {
  border: 1px solid red;
} */
/* Tablet Portrait */
@media only screen and (min-width: 600px) and (max-width: 1025px) and (orientation: portrait) {
  .back-button {
    top: 2.3% !important;
    left: 5%;
  }

  main {
    margin-top: 3rem;
  }

  .firstRow {
    gap: 20px;
  }

  #gridForm,
  .input-container {
    width: 100% !important;
  }

  .form-control {
    height: 40px;
  }

  .payment-input-container {
    display: grid;
    grid-template-columns: repeat(2, 20vw);
    grid-template-rows: repeat(5, 0.1vw);
    column-gap: 100px;
    row-gap: 10px;
  }

  #paymentLabel {
    display: block;
    text-align: left;
    margin-top: 1.2vw;
    font-size: 16px;
    width: 100% !important;
  }

  #payment-form,
  #paymentMethod {
    width: 100% !important;
  }

  .button-container {
    margin-top: 0.1rem;
  }

  button {
    margin-top: 10px !important;
  }

  #genReceipt {
    margin-top: 10px !important;
  }
}

/* Tablet Landscape */
@media only screen and (min-width: 600px) and (max-width: 1025px) and (orientation: landscape) {
  .payment-input-container {
    display: grid;
    grid-template-columns: repeat(2, 20vw);
    grid-template-rows: repeat(5, 0.1vw);
    column-gap: 100px;
    row-gap: 10px;
  }

  #paymentLabel {
    display: block;
    text-align: left;
    margin-top: 1.2vw;
    font-size: 16px;
    width: 100% !important;
  }

  #payment-form,
  #paymentMethod {
    width: 100% !important;
  }

  button {
    margin-top: 10px !important;
  }

  #genReceipt {
    margin-top: 10px !important;
  }

  .button-container {
    margin-top: 0.1rem;
  }

  button {
    margin-top: 10px !important;
  }

  #genReceipt {
    margin-top: 10px !important;
  }
}

/* Phones */
@media only screen and (max-width: 600px) {
  .back-button {
    top: 2.3% !important;
    left: 5%;
  }

  main {
    margin-top: 3rem;
  }

  .firstRow {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 8px;
  }

  #gridForm,
  .input-container {
    width: 100% !important;
  }

  .scheduleInputBox {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .scheduleInputBox .form-control {
    width: 100% !important;
  }

  .payment-input-container {
    display: flex;
    justify-content: space-between;
  }

  #payment-form,
  #paymentMethod {
    width: 40% !important;
  }

  #paymentLabel {
    display: block;
    text-align: left;
    margin-top: 10px;
    font-size: 16px;
  }

  .button-container {
    margin-top: 0.1rem;
  }

  button {
    margin-top: 10px !important;
  }

  #genReceipt {
    margin-top: 5px !important;
  }
}
