@font-face {
  font-family: "Poppins";
  src: url(../../Fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
  font-family: "Alkatra";
  src: url(../../Fonts/Alkatra/Alkatra-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Lora";
  src: url(../../Fonts/Lora/Lora-VariableFont_wght.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(212, 208, 208, 0.5);
  font-family: "Poppins";
}

.page-container {
  display: flex;
  margin: 2rem;
  align-items: center;
  justify-content: center;
  position: relative;
}

.page-title {
  font-family: "Alkatra";
  font-size: 2vw;
  font-weight: 700;
  margin-left: 0.5rem;
  margin-top: 0.3rem;
}

.back {
  border: none;
  height: 7vh;
  position: absolute;
  left: 0;
  display: flex;
  align-items: center;
}

.approveReject {
  width: 35%;
  margin: 0 auto;
  font-size: clamp(1.3vw, 1.4vw, 1.2vw) !important;
}

.card {
  /* border: 1px solid red !important; */
  width: 90%;
  margin: auto;
  margin-bottom: 3rem;
  border: none;
  border-radius: 3rem;
  padding: 1rem;
}

#info-card {
  width: 100% !important;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
}

.card-title {
  font-family: "Poppins";
  font-size: 1vw;
  font-weight: bold;
}

.name {
  font-size: clamp(25px, calc(2.2vh + 2px), 27px) !important;
  font-weight: 700;
}

.sub-name {
  font-size: clamp(19px, calc(1.6vh + 2px), 22px) !important;
}

.booking-info-name-pic-btn {
  /* border: 1px solid red !important; */
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.user-info {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.img-fluid {
  height: 130px;
  width: 130px;
  object-fit: cover;
  border-radius: 4rem;
}

.row1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 8px;
}

.row2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 8px;
}

.row3 {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: space-around;
}

.additionalServices,
.peopleCountContainer {
  width: 48%;
}

.servicesInfo {
  padding-left: 5vw; /*center the list on the div*/
}

.foodDetails {
  display: flex;
  flex-wrap: wrap;
}

.foodList {
  width: 48%;
  text-align: center;
}

.foodList p {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

li {
  width: 95%;
  list-style: none;
}

.defaultMess {
  font-size: 14px;
}

label {
  font-weight: bold;
  font-family: "Poppins";
  font-size: 16px;
}

.info-label {
  display: block;
  text-align: center;
  font-size: 1.1vw;
}

.inputDetail {
  font-size: 1vw;
}

#payment-info,
.info-container.paymentInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.paymentDetails {
  width: 100%;
  margin-top: -1vw;
  padding-left: 5vw; /*center the list on the div*/
}

.payment-body {
  background-color: #f5f5f5;
  padding: 1vw;
  margin-top: 1vw;
  border-radius: 1rem;
}

.addCharges-container {
  text-align: center;
  margin-top: 1.3rem;
}

.addCharges {
  width: 50%;
  margin-left: 0 !important;
}

.button-container {
  width: 50%;
  display: flex;
  gap: 1vw;
}

.discountform {
  display: flex;
  width: 50%;
}
.fa-circle-info {
  position: absolute;
  right: 3.5%;
  margin-top: 1vw;
}

.input-container {
  margin-top: 0.5rem;
}

.approvalModal-p {
  font-family: "Poppins";
  text-align: center;
  font-size: 16px;
}

.discount-choice {
  justify-content: center;
}

/* Colors */

.badge {
  font-weight: initial;
  line-height: normal;
  font-size: 12px;
  padding: 0.1rem !important;
  width: 5rem;
  border-radius: 3rem !important;
}

/* Pending */
.badge.bg-warning {
  background-color: rgba(255, 193, 7, 0.4) !important;
  color: rgb(190, 114, 0) !important;
}

/* Approved */
.badge.bg-green {
  background-color: rgba(40, 167, 69, 0.4) !important;
  color: rgb(40, 167, 69) !important;
}

/* Reserved */
.badge.bg-success {
  background-color: rgba(83, 243, 169, 0.4) !important;
  color: rgb(0, 129, 69) !important;
}

/* Rejected */
.badge.bg-red {
  background-color: rgba(204, 30, 20, 0.4) !important;
  color: rgb(204, 30, 20) !important;
}

.badge.bg-muted {
  background-color: rgba(73, 80, 87, 0.4) !important;
  color: rgb(73, 80, 87) !important;
}

/* Laptop */
@media screen and (min-width: 1025px) {
  .page-container {
    margin-bottom: 3rem;
  }
  .back {
    height: auto;
    margin-top: 3rem;
    margin-left: 2rem;
  }
  .approveReject {
    margin-right: 0;
    margin-left: 3rem;
  }
  .row1 {
    display: flex;
    flex-direction: column;
  }
  .card-title {
    margin-top: 2rem;
    font-size: 15px !important;
  }
  .row2 {
    margin-top: 1.5rem;
  }
  .info-label {
    margin-bottom: 1rem;
  }
  .servicesInfo {
    padding-right: 5.5rem;
    text-align: center;
  }
}

/* Tablet Landscape only */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .user-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
  }
  .name {
    font-size: 16px !important;
  }
  .sub-name {
    font-size: 11px !important;
  }
  .back {
    margin-top: 2rem;
    height: 5vh;
  }
  .approveReject {
    margin-left: 3rem;
  }
  .btn-danger {
    margin-left: 0 !important;
  }
  .row1 {
    display: flex;
    flex-direction: column;
  }
  .card-title {
    margin-top: 2rem;
    font-size: 14.3px;
  }
  .row2 {
    margin-top: 1.5rem;
  }
  .info-label {
    margin-bottom: 1rem;
    font-size: 14.3px;
    white-space: nowrap;
  }
  .row2 {
    margin-top: 1.5rem;
  }
  .inputDetail {
    font-size: 12.288px;
  }
  .servicesInfo {
    text-align: center;
    padding-left: 0;
    margin-right: 1rem;
    white-space: nowrap;
    font-size: 11px;
  }
  .form-label {
    font-size: clamp(16px, 18px, 20px);
  }
}

/* Tablet portrait only */
@media only screen and (min-width: 600px) and (max-width: 768px) {
  .page-title {
    font-size: 20px;
  }
  .user-info {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: nowrap;
    justify-content: flex-start;
    gap: 4px;
    white-space: normal;
  }
  .name {
    font-size: 16px !important;
  }
  .sub-name {
    margin-bottom: 8px;
    font-size: 11px !important;
  }
  .back {
    margin-top: 2rem;
    height: 6vh;
  }
  .button-container {
    width: 45%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 3px;
    margin-bottom: 1rem;
  }
  .btn-danger {
    margin-left: 0 !important;
  }
  .approveReject {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    margin-left: 3rem;
    margin-bottom: 1rem;
    font-size: 12px;
  }
  .row1 {
    display: flex;
    flex-direction: column;
  }
  .card-title {
    margin-top: 1rem;
    font-size: 14.3px;
  }
  .row2 {
    margin-top: 1.5rem;
  }
  .info-label {
    margin-bottom: 1rem;
    font-size: 14.3px;
    white-space: nowrap;
  }
  .row2 {
    margin-top: 1.5rem;
  }
  .inputDetail {
    font-size: 12.288px;
  }
  .servicesInfo {
    text-align: center;
    padding-left: 0;
    margin-right: 1rem;
    white-space: nowrap;
    font-size: 11px;
  }
  .payment-body {
    padding: 7px;
  }
  #payment-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .info-label {
    font-size: 13px;
  }
  label {
    font-size: 10px;
  }

  .form-label {
    font-size: clamp(16px, 18px, 20px);
  }
}
/* Phone size */
@media screen and (max-width: 599px) {
  .page-title {
    font-size: 16px;
  }
  .back {
    height: 5vh;
  }
  #info-card {
    display: flex;
    padding-top: 0 !important;
  }
  .img-fluid {
    height: 100px;
  }
  .name {
    font-size: 11px !important;
    margin-bottom: 5px;
  }
  .sub-name {
    font-size: 8px !important;
    margin-bottom: 5px;
  }
  .button-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
  }
  .approveReject {
    margin-left: 6rem;
  }
  .row1 {
    display: flex;
    flex-direction: column;
  }
  .card-title {
    margin-top: 1rem;
    font-size: 14.3px;
  }
  .row2 {
    margin-top: 1.5rem;
  }
  .info-label {
    margin-bottom: 1rem;
    font-size: 14.3px;
    white-space: nowrap;
  }
  .row2 {
    margin-top: 1.5rem;
  }
  .inputDetail {
    font-size: 12.288px;
  }
  .servicesInfo {
    text-align: center;
    padding-left: 0;
    margin-right: 1rem;
    white-space: nowrap;
    font-size: 11px;
  }
  .payment-body {
    padding: 7px;
  }
  #payment-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .paymentDetails {
    margin-top: 1rem;
    padding-left: 0 !important;
  }
  .info-label {
    font-size: 13px;
  }
  label {
    font-size: 10px;
  }

  .form-label {
    font-size: clamp(14px, 16px, 18px);
  }
}

/*
@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .card {
    width: 95%;
  }
  .page-title {
    font-size: clamp(3vw, 3.1vw, 3.2vw);
  }

  .back {
    height: 5vh;
  }

  .user-info {
    width: 60%;
  }

  .name {
    font-size: clamp(2.5vw, 2.1vw, 2.3vw) !important;
  }

  .sub-name {
    font-size: clamp(1.6vw, 1.5vw, 1.7vw) !important;
  }

  p {
    margin-bottom: 0.5rem;
  }

  .button-container {
    width: 40%;
  }

  .approveReject {
    font-size: clamp(1.8vw, 1.6vw, 1.7vw);
    padding: 0.5vw 0.8vw;
    width: 48%;
  }

  .info-label,
  .card-title {
    font-size: clamp(1.6vw, 1.8vw, 2vw);
  }

  #info-card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .bookingInfoLeft {
    width: 58%;
    padding: 2vw;
  }

  .paymentDetails {
    width: 42%;
    padding: 1vw;
  }

  .inputDetail,
  label {
    font-size: clamp(1.5vw, 1.9vw, 1.7vw);
  }

  #info-card {
    padding: 0;
  }

  .paymentInfo {
    flex-direction: column !important;
    flex-wrap: wrap;
    align-items: center;
  }

  .paymentInfo input {
    width: 90% !important;
  }

  .paymentInfo label {
    width: 100%;
    text-align: center;
  }
}

@media only screen and (max-width: 599px) {
  .card {
    width: 98%;
    border-radius: 3vw;
    padding: 3vw;
  }
  .page-title {
    font-size: clamp(4.5vw, 4.3vw, 4.1vw);
  }

  .page-container {
    margin: 3vh 2vw;
  }

  .back {
    height: 5vh;
    width: 5vh;
    padding: 1.5vw;
  }

  .back img {
    height: 3.5vh;
  }

  .user-info {
    width: 58%;
  }

  .booking-info-name-pic-btn {
    padding: 0.4vw;
  }

  .name {
    font-size: clamp(3.5vw, 3.1vw, 3.3vw) !important;
  }

  .sub-name {
    font-size: clamp(2.2vw, 2.5vw, 2.4vw) !important;
  }

  p {
    margin-bottom: 0.5rem;
  }

  .button-container {
    width: 20%;
    flex-wrap: wrap;
  }

  .approveReject {
    font-size: clamp(2.6vw, 2.2vw, 2.4vw);
    padding: 1vw 0.5vw;
    width: 100%;
    margin-bottom: 1vw;
  }

  .info-label,
  .card-title {
    font-size: clamp(3.5vw, 3.3vw, 3vw);
  }

  .img-fluid {
    width: 20vw;
    height: 20vw;
  }

  #info-card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    padding: 2vw !important;
  }

  .row1,
  .row2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  ul {
    padding: 0;
  }

  .info-container {
    width: 48%;
  }

  .bookingInfoLeft {
    width: 100%;
  }

  .paymentDetails {
    width: 100%;
    padding: 1vw;
    margin-top: 3vw;
  }

  .paymentInfo {
    flex-direction: column !important;
    justify-content: center !important;
    text-align: center;
    width: 90% !important;
  }

  .paymentInfo input {
    width: 90% !important;
  }

  .inputDetail,
  label {
    font-size: clamp(3.3vw, 3.1vw, 3.2vw);
  }

  .inputDetail {
    width: 90%;
    margin: 0.5vw auto;
  }

  .foodDetails {
    justify-content: center;
  }

  .discountform {
    width: 100%;
    align-items: center;
  }

  .fa-circle-info {
    margin-top: 0;
    right: 20%;
  }

  #info-card {
    padding: 0;
  }

  .defaultMess {
    font-size: 3vw;
  }

  .foodList p {
    font-size: clamp(2.7vw, 2.5vw, 2.4vw);
  }

  .servicesList {
    font-size: clamp(2.5vw, 2.4vw, 2.3vw);
  }

  .notes {
    width: 100% !important;
  }
} */
