@font-face {
  font-family: "Poppins";
  src: url(../../Fonts/Poppins/Poppins-Regular.ttf);
}
/* @font-face {
  font-family: "Plus Jakarta Sans";
  src: url(../../Fonts/PlusJakartaSans/PlusJakartaSans-VariableFont_wght.ttf);
} */

@font-face {
  font-family: "Lora";
  src: url(../../Fonts/Lora/Lora-VariableFont_wght.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: #f5f5f5 !important;
}

main {
  display: flex;
  padding: 2vw;
  gap: 5vw;
}

.back-button {
  position: absolute;
  top: 5%;
  left: 5%;
}

section {
  /* background-color: #ffff; */
  display: flex;
  flex-direction: column;
  padding: 1vw;
  gap: 5vw;
  margin-top: 5vw;
}

/* input {
  width: 300px;
  height: 5vh;
} */

.image-container {
  position: relative;
  display: inline-block;
}

.preview-image {
  height: 80vh;
  width: auto;
  cursor: zoom-in;
}

.zoom-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s ease;
  z-index: 1000;
}

.zoom-overlay img {
  border: 1px solid red;
  max-height: 90vh;
  max-width: 50vw;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
  cursor: zoom-in;
}

.image-container:hover .zoom-overlay {
  visibility: visible;
  opacity: 1;
}

.firstRow {
  /* border: 1px solid red; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 2px;
  justify-items: center;
  align-content: center;
}

label {
  display: block;
  text-align: center;
  margin-bottom: 5px;
  font-size: 18px;
  font-family: "Poppins";
  font-weight: bold;
}

#servicesContainer {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column !important;
  margin-top: 0.2vw;
}

#scheduleContainer {
  margin-top: -1vw;
}

.scheduleInputBox {
  /* border: 1px solid red; */
  display: flex;
  gap: 0.2rem;
}

#services-form {
  width: 100% !important;
}

.form-control {
  height: 6vh;
  /* width: 25vw !important; */
  width: 50% !important;
  background-color: #f5f5f5;
  text-align: center;
}
#gridForm {
  width: 25vw !important;
}

.card {
  background-color: #f5f5f5;
  margin-top: -4vw;
}

.card-body {
  margin: auto;
}

.cardTitle {
  font-size: 18px;
}

.payment-input-container {
  display: grid;
  grid-template-columns: repeat(2, 20vw);
  grid-template-rows: repeat(5, 0.1vw);
  gap: 8px;
}

#paymentLabel {
  display: block;
  text-align: left;
  margin-top: 0.3vw;
  font-size: 16px;
}

#payment-form,
#paymentMethod {
  /* height: 8vh; */
  width: 100% !important;
  /* margin-left: 2vw; */
  /* border: none; */
  background-color: #f5f5f5;
  text-align: left !important;
}

.btn {
  margin-top: 0.6vw;
}

.button-container {
  margin-top: -5vw;
}

/* modal */

#rejectionReason {
  width: 100% !important;
  margin: auto !important;
  background-color: #ffff;
  margin-top: 1vw !important;
}

#customerPayment,
#paymentModalForm,
#approveModalForm {
  width: 100% !important;
  margin: auto !important;
  margin-top: 1vw !important;
}
