@font-face {
  font-family: "Poppins";
  src: url(../../Fonts/Poppins/Poppins-Regular.ttf);
}
@font-face {
  font-family: "Poppins Black";
  src: url(../../Fonts/Poppins/Poppins-Black.ttf);
}
@font-face {
  font-family: "Lora";
  src: url(../../Fonts/Lora/Lora-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Alkatra";
  src: url(../../Fonts/Alkatra/Alkatra-VariableFont_wght.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
  text-decoration: none;
}

body {
  background-image: url(../../Images/BookNowPhotos/bookNowBg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-color 0.5s ease;
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  /* background-color: rgb(242, 242, 242); */
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* height: 15vh; */
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.562);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

.navbar-nav {
  display: flex !important;
  list-style: none;
  margin-top: 10px !important;
}

.navbar-nav .dropdown-toggle {
  display: inline-block;
  padding: 10px 15px !important;
  line-height: 1.5;
  vertical-align: middle;
  position: relative;
  top: 0.01vw; /* para ma-align yung dropdown sa ibang nav-item */
}

ul {
  font-family: "Poppins";
  font-weight: lighter;
  font-size: 1.3vw;
  list-style: none;
  display: table;
  text-transform: uppercase;
}

.nav-link,
#logOutBtn {
  text-decoration: none;
  display: inline-block;
  padding: 10px 15px !important;
  position: relative;
  color: rgb(2, 2, 2) !important;
  letter-spacing: 0.1em;
}

#logOutBtn {
  font-family: "Poppins";
  font-size: 1.3vw;
  margin-right: 2vw;
  border: none;
}
.nav-link:not(.dropdown-toggle):after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  border-bottom: 4px solid rgb(147, 212, 245) !important;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.nav-link.active:after {
  width: 100%;
  left: 0;
}

.nav-link:not(.dropdown-toggle):hover:after {
  width: 100%;
  left: 0;
}

.dropdown-menu {
  background-color: rgb(126, 203, 242, 0.5) !important;
}
.nav-item.dropdown:hover .dropdown-menu {
  background-color: white !important;
  display: block;
}

.dropdown-item:hover {
  background-color: rgb(126, 203, 242, 0.5) !important;
}

.dropdown-item.active {
  background-color: rgb(126, 203, 242) !important;
  color: black !important;
}

.dropdown-item {
  font-size: 1.3vw;
  font-weight: bold;
}

.account-nav {
  margin: 1px;
  margin-left: 1rem;
  /* border: 1px solid white; */
  border-radius: 50%;
  img {
    height: 5vw;
    border-radius: 50%;
    aspect-ratio: 1;
    object-fit: cover;
  }
}

.notification-container {
  margin: 1rem;

  button {
    background-color: transparent;
    border: none;
  }
}

.logoNav {
  /* border: 1px solid black; */
  width: 15vw;
  position: absolute;
  margin: 2vw;
}

footer {
  /* border: 1px solid black; */

  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 0.445) -50%,
    rgb(62, 132, 158) 95%
  );
}

.pb-1 {
  gap: 2vw;
  padding: 1vw 0 0 2vw;
}

.logo {
  width: 10vw;
  height: auto;
}
.mb-0 {
  font-family: "Lora";
  font-size: 1.5vw;
  font-weight: bold;
  color: #ffff;
}

.footerLine {
  width: 80%;
  margin: 0 auto;
  color: #fff;
  opacity: 1;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5vw;
}
.locationFooter {
  /* border: 1px solid black; */
  width: 30%;
}

.reservationTitle,
.locationTitle {
  font-family: "Poppins";
  font-weight: bold;
  font-size: 1.5vw;
  color: #fff;
}

.numberFooter,
.emailAddressTextFooter,
.addressTextFooter {
  font-family: "Poppins ExtraLight";
  color: #fff;
  font-size: 1vw;
}

.socialIcons {
  display: flex;
  justify-content: center;
  margin: 0.3vw;
}

.socialIcons a {
  text-decoration: none;
  padding: 0.8vw;
  background-color: rgb(255, 255, 255);
  margin: 5px;
  border-radius: 50%;
}

.socialIcons a i {
  font-size: 2vw;
  color: #3e849e;
  opacity: 0.9;
}

.socialIcons a:hover {
  background-color: white;
  transition: 0.5s;
}

.socialIcons a:hover i {
  color: #c1a534;
  transition: 0.5s;
}

/* category section */

.titleContainer {
  /* border: 1px solid black; */
  width: 70%;
  margin: auto;
  text-align: center;
  margin-top: 2vw !important;
}

.title {
  margin-top: 5vw;
  font-size: 3vw;
  font-family: "Poppins Black";
  color: #e47807;
  font-style: italic;
  text-transform: uppercase;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* margin-top: 5vw; */
}

.category-card {
  height: 60vh !important;
  box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
}

.category-card,
.category-body {
  margin: 2vw;
  border-radius: 2vw 2vw 2vw 2vw !important;
  text-align: center;
}

.category-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.resort-card,
.hotel-card {
  border-radius: 2vw !important;
}

.category-card img {
  border-radius: 2vw 2vw 2vw 2vw !important;
  padding: 1vw;
  height: 20vw !important;
  object-fit: cover;
}

.category-title {
  font-family: "Poppins Black";
  font-style: italic;
  font-weight: bold;
  font-size: 2.5vw;
  color: #00b3d1 !important;
}

.categoryLink {
  text-decoration: none;

  &:hover {
    text-decoration: none !important;
  }
}

.categoryLink .category-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.categoryLink:hover .category-card {
  transform: translateY(-12px);
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
}

#resort-page {
  .resortTitle {
    font-size: 2.5vw;
    font-family: "Lora";
    color: #000000;
    font-weight: bold;
  }

  .backToSelection {
    position: absolute;
    margin: 0 0 0 5rem;
    /* background-color: transparent;
    border: none; */
  }

  .backToSelection img {
    width: 40px;
    height: 40px;
  }

  .container-fluid {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    gap: 1rem;
    margin-top: 2rem;
  }

  .resort-card {
    padding: 2rem;
    font-family: "Poppins";
  }

  .scheduleForm,
  .peopleForm,
  .cottageRoomForm,
  .purposeForm {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 0.5rem;
  }

  .peopleForm input {
    height: 2.5rem;
  }

  .peopleForm .info-container p {
    font-size: 12px;
    color: #007bff;
  }

  .peopleForm .info-container {
    display: flex;
    gap: 0.2rem;
    height: 1rem;
  }

  .cottageForm,
  .roomNumbers,
  .paymentMethod,
  .videokeForm {
    width: 100%;
  }

  #entertainmentContainer,
  #cottagesContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  #roomsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  /* #cottagesContainer .checkbox-item:last-of-type {
    grid-column: span 2;
  } */

  #entertainmentContainer label,
  #cottagesContainer label,
  #roomsContainer label {
    margin-left: 0.5rem;
  }

  .entrance-rates {
    display: flex;
    flex-direction: column;
    width: 600px;
    padding: 0.5rem;
    gap: 1rem;
  }

  .entrance-rates .card-body {
    padding: 0.5rem;
  }

  .rates {
    width: auto;
    height: 280px;
    padding: 0.5rem;
  }

  .rates h1 {
    font-size: 30px;
    font-family: "Alkatra";
    color: blue;
  }

  .rates h5 {
    font-size: 18px;
    text-align: center;
  }

  .rates p {
    font-size: 16px;
    margin: 0;
    text-align: center;
  }

  .rates .card-body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .rates .card-body .data-container:last-child {
    grid-column: span 2;
  }

  .cottagesEntertainment {
    width: auto;
    height: 300px;
    display: flex;
    flex-direction: column;
  }

  .cottagesEntertainment .card-body {
    padding: 0.5rem;
  }

  .cottagesNotes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .entertainmentContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }

  .cottagesEntertainment h1 {
    font-size: 20px;
    font-family: "Alkatra";
    text-align: center;
    color: blue;
  }

  .cottagesEntertainment li {
    font-size: 14px;
  }

  .cottagesEntertainment p {
    font-size: 14px;
    text-align: center;
    line-height: 1;
  }

  .cottagesEntertainment .note li {
    list-style: circle;
    text-transform: none;
  }

  .schedLabel,
  .cottagesFormLabel,
  .entertainmentFormLabel,
  .noOfPeopleLabel,
  .purposeLabel,
  .roomLabel,
  .paymentLabel {
    text-align: center;
    margin: 0.5rem 0 0.5rem 0;
    font-weight: bold;
  }

  .button-container {
    padding: 1rem;
  }
}

#hotel-page {
  background-image: unset;
  background-color: rgb(255, 220, 174) !important;
  margin: 0;
  padding: 0;

  .hotelTitle {
    font-size: 2.5vw;
    font-family: "Lora";
    color: #000000;
    font-weight: bold;
  }

  .backToSelection {
    position: absolute;
    margin: 0 0 0 2.5rem;
  }

  .container-fluid {
    /* border: 2px solid pink; */
    display: flex;
    justify-content: center;
    align-items: top;
    gap: 2rem;
    padding: 1rem;
  }

  .hotelIconsContainer {
    width: 50%;
  }

  .availabilityIcons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
  }

  .availabilityIcon {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .availabilityIcon img {
    margin-right: 0.4vw;
  }

  .icons-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .avail {
    width: 50px;
    height: auto;
    margin-bottom: 8px;
  }

  .hotelIconContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2.5rem;

    img {
      width: 60px;
      height: auto;
      margin-bottom: 8px;
    }
  }

  .hotelIconWithCaption {
    flex: 0 0 calc((100% - 3 * 2.5rem) / 4);
  }

  .hotel-card {
    width: 50% !important;
    height: 50%;
    padding: 1.5rem;
    /* margin-top: -10rem !important; */
  }

  .checkInOut,
  .hotelPeopleForm,
  .paymentVideokeForm,
  .hoursRoom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    align-items: center;
  }

  .checkInOut {
    justify-content: space-evenly !important;
  }

  .checkIn-container,
  .checkOut-container {
    width: 50% !important  ;
  }

  .checkInOut,
  .hotelPax,
  .roomNumbers,
  .paymentMethod {
    margin: 0.5rem;
  }

  h5 {
    font-size: 18px;
    text-align: center;
    font-weight: 600;
  }

  .hotelRooms,
  .NumberOfHours {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  #selectedHotel .btn {
    color: #000000 !important;
  }

  .NumberOfHours {
    width: 30%;
  }

  #hotelBooking .btn {
    width: 100%;
    margin: auto;
    margin-top: 0.5rem;
  }

  .additional-info-container {
    margin: 0;
    margin-top: 0.5rem;
    li {
      text-transform: none !important;
      font-size: 14px;
      margin: 2px;
    }
  }
}

#event-page {
  .eventTitle {
    padding-top: 7rem;
    font-size: 2.5vw;
    font-family: "Lora";
    color: #000000;
    font-weight: bold;
  }

  .backToSelection {
    position: absolute;
    margin: 7rem 0 0 3rem;
  }

  .container-fluid {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1.5rem;
    width: 100%;
    padding: 2vw;
  }

  .card {
    margin-top: 1rem;
    height: 90vh;
    padding: 2rem;
  }

  #eventBookingCard {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 6vw);
    gap: 8px;
  }

  .eventInfoLabel {
    font-family: "Poppins";
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 0.7vw;
    display: block;
    text-align: center;
  }
  .secondColumn {
    display: grid;
    width: 100%;
  }

  .noteContainer {
    margin-top: 1.5vw;
    width: 98%;
  }

  .note {
    color: #ff0000;
    text-align: justify;
  }

  #foodSelectionCard,
  #additionalServicesCard {
    padding: 0 !important;
    margin: auto !important;
  }

  #foodSelectionCard,
  #additionalServicesCard {
    display: flex !important;
    flex-direction: row !important;
    align-items: center;
    justify-content: center;
    height: 56vh !important;
    margin-top: 1vw !important;
  }

  #foodSelectionCover,
  #additionalServicesCover {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  #additionalServicesCover {
    width: 51vh;
    aspect-ratio: 1;
  }
  .fw-bold {
    /* margin-top: -2vw; */
    font-family: "Poppins";
  }

  #calendar {
    width: 85%;
    height: 80vh;
    margin: auto;
    margin-top: 1vw !important;
    background-color: #fffefe;
    border-radius: 2.5rem;
  }

  .fc table {
    font-size: 18px;
  }

  .fc-scrollgrid,
  td {
    /* border: 1px solid red !important; */
    border: none;
  }
  .fc a {
    text-decoration: none !important;
    color: black;
  }

  .fc-header-toolbar {
    /* margin-top: 1rem; */
    height: 5rem !important;
    padding: 2rem;
    border-top-left-radius: 3vw;
    border-top-right-radius: 3vw;
    margin-bottom: 0;
    background-color: #00bbff;
  }

  .fc-button {
    background-color: #ffffff !important;
    color: rgb(0, 0, 0) !important;
    border-radius: 5px;
    font-weight: bold;
  }

  .fc-toolbar-title {
    color: #fff;
  }

  .fc-daygrid-day-events {
    display: none;
  }

  .fc .fc-button-primary:disabled {
    background-color: #fdfdfd !important;
    opacity: 1 !important;
  }

  .fc .fc-button-primary:disabled:hover {
    background-color: #f2d8b7 !important;
    opacity: 1 !important;
  }

  .fc-direction-ltr .fc-button-group > .fc-button:not(:first-child) {
    margin-left: 1vw;

    &:hover {
      background-color: #91c6ff !important;
      color: #fff !important;
    }
  }

  .fc-direction-ltr .fc-button-group > .fc-button:not(:last-child) {
    margin-left: 1vw;

    &:hover {
      background-color: #91c6ff !important;
      color: #fff !important;
    }
  }

  .fc .fc-daygrid-day.fc-day-today {
    background-color: #5dccf5 !important;
    .fc-daygrid-day-number {
      color: #fff !important;
    }
  }

  /* di ko sure 'to test nalang pag may event na nalagay*/
  .fc-event {
    background-color: #28a745;
    color: white;
    border-radius: 5px;
    padding: 5px;
  }

  .fc-event:hover {
    background-color: #218838;
  }

  #eventContainer {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr) !important;
    grid-template-rows: repeat(2, 1fr) !important;
    gap: 8px !important;
    margin-top: 2vw !important;
  }

  .modal-body {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr) !important;
    grid-template-rows: repeat(3, 1fr) !important;
    gap: 10px;
  }

  .eventButton-container {
    display: flex;
    justify-content: center;
    margin-top: -15vw !important;
  }
}
