@font-face {
  font-family: "Poppins";
  src: url(../../Fonts/Poppins/Poppins-Regular.ttf);
}
@font-face {
  font-family: "Poppins Black";
  src: url(../../Fonts/Poppins/Poppins-Black.ttf);
}
@font-face {
  font-family: "Lora";
  src: url(../../Fonts/Lora/Lora-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Alkatra";
  src: url(../../Fonts/Alkatra/Alkatra-VariableFont_wght.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
  text-decoration: none;
}

body {
  background-image: url(../../Images/BookNowPhotos/bookNowBg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-color 0.5s ease;
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  /* background-color: rgb(242, 242, 242); */
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* height: 15vh; */
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.562);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

.navbar-nav {
  display: flex !important;
  list-style: none;
  margin-top: 10px !important;
}

.navbar-nav .dropdown-toggle {
  display: inline-block;
  padding: 10px 15px !important;
  line-height: 1.5;
  vertical-align: middle;
  position: relative;
  top: 0.01vw; /* para ma-align yung dropdown sa ibang nav-item */
}

ul {
  font-family: "Poppins";
  font-weight: lighter;
  font-size: 1.3vw;
  list-style: none;
  display: table;
  text-transform: uppercase;
}

.nav-link,
#logOutBtn {
  text-decoration: none;
  display: inline-block;
  padding: 10px 15px !important;
  position: relative;
  color: rgb(2, 2, 2) !important;
  letter-spacing: 0.1em;
}

#logOutBtn {
  font-family: "Poppins";
  font-size: 1.3vw;
  margin-right: 2vw;
  border: none;
}
.nav-link:not(.dropdown-toggle):after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  border-bottom: 4px solid rgb(147, 212, 245) !important;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.nav-link.active:after {
  width: 100%;
  left: 0;
}

.nav-link:not(.dropdown-toggle):hover:after {
  width: 100%;
  left: 0;
}

.dropdown-menu {
  background-color: rgb(126, 203, 242, 0.5) !important;
}
.nav-item.dropdown:hover .dropdown-menu {
  background-color: white !important;
  display: block;
}

.dropdown-item:hover {
  background-color: rgb(126, 203, 242, 0.5) !important;
}

.dropdown-item.active {
  background-color: rgb(126, 203, 242) !important;
  color: black !important;
}

.dropdown-item {
  font-size: 1.3vw;
  font-weight: bold;
}

.account-nav {
  margin: 1px;
  margin-left: 1rem;
  /* border: 1px solid white; */
  border-radius: 50%;
}
.account-nav img {
  height: 5vw;
  border-radius: 50%;
  aspect-ratio: 1;
  object-fit: cover;
}

.notification-container {
  margin: 1rem;
}
.notification-container button {
  background-color: transparent;
  border: none;
}

.logoNav {
  /* border: 1px solid black; */
  width: 15vw;
  position: absolute;
  margin: 2vw;
}

footer {
  /* border: 1px solid black; */

  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 0.445) -50%,
    rgb(62, 132, 158) 95%
  );
}

.pb-1 {
  gap: 2vw;
  padding: 1vw 0 0 2vw;
}

.logo {
  width: 10vw;
  height: auto;
}
.mb-0 {
  font-family: "Lora";
  font-size: 1.5vw;
  font-weight: bold;
  color: #ffff;
}

.footerLine {
  width: 80%;
  margin: 0 auto;
  color: #fff;
  opacity: 1;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5vw;
}
.locationFooter {
  /* border: 1px solid black; */
  width: 30%;
}

.reservationTitle,
.locationTitle {
  font-family: "Poppins";
  font-weight: bold;
  font-size: 1.5vw;
  color: #fff;
}

.numberFooter,
.emailAddressTextFooter,
.addressTextFooter {
  font-family: "Poppins ExtraLight";
  color: #fff;
  font-size: 1vw;
}

.socialIcons {
  display: flex;
  justify-content: center;
  margin: 0.3vw;
}

.socialIcons a {
  text-decoration: none;
  padding: 0.8vw;
  background-color: rgb(255, 255, 255);
  margin: 5px;
  border-radius: 50%;
}

.socialIcons a i {
  font-size: 2vw;
  color: #3e849e;
  opacity: 0.9;
}

.socialIcons a:hover {
  background-color: white;
  transition: 0.5s;
}

.socialIcons a:hover i {
  color: #c1a534;
  transition: 0.5s;
}

/* category section */

.titleContainer {
  /* border: 1px solid black; */
  width: 70%;
  margin: auto;
  text-align: center;
  margin-top: 2vw !important;
}

.title {
  margin-top: 5vw;
  font-size: 3vw;
  font-family: "Poppins Black";
  color: #e47807;
  font-style: italic;
  text-transform: uppercase;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* margin-top: 5vw; */
}

.category-card {
  height: 60vh !important;
  box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
}

.category-card,
.category-body {
  margin: 2vw;
  border-radius: 2vw 2vw 2vw 2vw !important;
  text-align: center;
}

.category-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.resort-card,
.hotel-card {
  border-radius: 2vw !important;
}

.category-card img {
  border-radius: 2vw 2vw 2vw 2vw !important;
  padding: 1vw;
  height: 20vw !important;
  object-fit: cover;
}

.category-title {
  font-family: "Poppins Black";
  font-style: italic;
  font-weight: bold;
  font-size: 2.5vw;
  color: #00b3d1 !important;
}

.categoryLink {
  text-decoration: none;
}
.categoryLink:hover {
  text-decoration: none !important;
}

.categoryLink .category-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.categoryLink:hover .category-card {
  transform: translateY(-12px);
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
}

#resort-page .resortTitle {
  font-size: 2.5vw;
  font-family: "Lora";
  color: #000000;
  font-weight: bold;
}

#resort-page .backToSelection {
  position: absolute;
  margin: 0 0 0 5rem;
  /* background-color: transparent;
    border: none; */
}

#resort-page .backToSelection img {
  width: 40px;
  height: 40px;
}

#resort-page .container-fluid {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  gap: 1rem;
  margin-top: 2rem;
}

#resort-page .resort-card {
  padding: 2rem 2rem 0 2rem;
  margin-bottom: 1rem;
  font-family: "Poppins";
  width: 50%;
}

#resort-page .scheduleForm,
.peopleForm,
.cottageRoomForm,
.purposeForm {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 0.5rem;
}

#resort-page .peopleForm input {
  height: 2.5rem;
}

#resort-page .peopleForm .info-container p {
  font-size: 12px;
  color: #007bff;
}

#resort-page .peopleForm .info-container {
  display: flex;
  gap: 0.2rem;
  height: 1rem;
}

#resort-page .cottagesForm,
.roomNumbers,
.videokeForm {
  width: 100%;
}

#resort-page .modal-body {
  display: flex;
  flex-direction: column;
}

#resort-page .modal-text {
  color: rgb(15, 127, 255) !important;
}

#resort-page .modal-text i {
  gap: 1rem;
}

#resort-page #entertainmentContainer,
#resort-page #cottagesContainer {
  /* border: 1px solid red; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

#resort-page #roomsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

#resort-page #entertainmentContainer label,
#resort-page #cottagesContainer label,
#resort-page #roomsContainer label {
  margin-left: 0.5rem;
  font-size: 15px;
}

#resort-page .entrance-rates {
  display: flex;
  flex-direction: column;
  width: 600px;
  padding: 0.5rem;
  gap: 1rem;
}

#resort-page .entrance-rates .card-body {
  padding: 0.5rem;
}

#resort-page .rates {
  width: auto;
  height: 280px;
  padding: 0.5rem;
}

#resort-page .rates h1 {
  font-size: 30px;
  font-family: "Alkatra";
  color: blue;
}

#resort-page .rates h5 {
  font-size: 18px;
  text-align: center;
}

#resort-page .rates p {
  font-size: 16px;
  margin: 0;
  text-align: center;
}

#resort-page .rates .card-body {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#resort-page .rates .card-body .data-container:last-child {
  grid-column: span 2;
}

#resort-page .cottagesEntertainment {
  width: auto;
  height: 320px;
  display: flex;
  flex-direction: column;
}

#resort-page .cottagesEntertainment .card-body {
  padding: 0.5rem;
}

#resort-page .cottagesNotes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

#resort-page .entertainmentContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

#resort-page .cottagesEntertainment h1 {
  font-size: 20px;
  font-family: "Alkatra";
  text-align: center;
  color: blue;
}

#resort-page .cottagesEntertainment li {
  font-size: 14px;
}

#resort-page .cottagesEntertainment p {
  font-size: 14px;
  text-align: center;
  line-height: 1;
}

#resort-page .cottagesEntertainment .note li {
  list-style: circle;
  text-transform: none;
}

#resort-page .schedLabel,
.cottagesFormLabel,
.entertainmentFormLabel,
.noOfPeopleLabel,
.purposeLabel,
.roomLabel,
.paymentLabel {
  text-align: center;
  margin: 0.5rem 0 0.5rem 0;
  font-weight: bold;
}

#resort-page .button-container {
  padding: 1rem;
}

#resort-page .additional-info-container ul {
  width: 100%;
  margin: 0;
  padding: 0;
}

#resort-page .additional-info-container li {
  font-size: 12px;
  text-transform: none;
  margin: 0.5rem;
  padding: 0.3rem;
  text-align: justify;
}

#hotel-page {
  background-image: unset;
  background-color: rgb(255, 220, 174) !important;
  margin: 0;
  padding: 0;
}

#hotel-page .hotelTitle {
  font-size: 2.5vw;
  font-family: "Lora";
  color: #000000;
  font-weight: bold;
}

#hotel-page .backToSelection {
  position: absolute;
  margin: 0 0 0 2.5rem;
}

#hotel-page .container-fluid {
  /* border: 2px solid pink; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
}

#hotel-page .hotelIconsContainer {
  width: 50%;
}

#hotel-page .availabilityIcons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

#hotel-page .availabilityIcon {
  display: flex;
  justify-content: center;
  align-items: center;
}

#hotel-page .availabilityIcon img {
  margin-right: 0.4vw;
}

#hotel-page .icons-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#hotel-page .avail {
  width: 50px;
  height: auto;
  margin-bottom: 8px;
}

#hotel-page .hotelIconContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2.5rem;
}

#hotel-page .hotelIconContainer img {
  width: 60px;
  height: auto;
  margin-bottom: 8px;
}

#hotel-page .hotelIconWithCaption {
  flex: 0 0 calc((100% - 3 * 2.5rem) / 4);
}

#hotel-page .hotel-card {
  width: 50% !important;
  height: 50%;
  padding: 1.5rem;
}

#hotel-page .checkInOut,
.hotelPeopleForm,
.paymentTimeDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  align-items: center;
}

#hotel-page .hotelPeopleForm .info-container p {
  font-size: 12px;
  color: #007bff;
}

#hotel-page .hotelPeopleForm .info-container {
  display: flex;
  gap: 0.2rem;
  height: 1rem;
}

#hotel-page .checkInOut,
.paymentTimeDiv {
  justify-content: space-evenly !important;
}

#hotel-page .checkIn-container,
.checkOut-container,
.arrivalTime {
  width: 50% !important  ;
}

#hotel-page .checkInOut,
.hotelPax,
.roomNumbers,
.paymentTimeDiv {
  margin: 0.5rem;
}

#hotel-page h5 {
  font-size: 18px;
  text-align: center;
  font-weight: 600;
}

#hotel-page .hotelRooms {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#hotel-page #selectedHotel .btn {
  color: #000000 !important;
}

/* .NumberOfHours {
    width: 30%;
  } */

#hotel-page #hotelBooking .btn {
  width: 100%;
  margin: auto;
  margin-top: 0.5rem;
}

#hotel-page .additional-info-container {
  margin: 0;
  margin-top: 0.5rem;
}

#hotel-page .additional-info-container li {
  text-transform: none !important;
  font-size: 14px;
  margin: 2px;
}

#hotel-page .wrapper {
  display: flex !important;
  gap: 2vw !important;
}

#hotel-page .content {
  display: flex;
  gap: 0.5rem !important;
  justify-content: center;
}

#hotel-page .checkbox-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  margin-top: 1vw;
}

#hotel-page #hotelDisplaySelection {
  display: grid !important;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

#event-page {
  background-image: unset;
  background-color: rgb(255, 220, 174) !important;
  margin: 0;
  padding: 0;
}

#event-page .eventTitle {
  font-size: 2.5vw;
  font-family: "Lora";
  color: #000000;
  font-weight: bold;
}

#event-page .backToSelection {
  position: absolute;
  margin: -1rem 0 0 4rem;
}

#event-page .container-fluid {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1.5rem;
  width: 100%;
  padding: 2vw;
}

#event-page .card {
  margin-top: 1rem;
  height: 90vh;
  padding: 2rem;
}

#event-page #eventBookingCard {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 6vw);
  gap: 8px;
}

#event-page .eventInfoLabel {
  font-family: "Poppins";
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 0.7vw;
  display: block;
  text-align: center;
}

#event-page .secondColumn {
  display: grid;
  width: 100%;
}

#event-page .noteContainer {
  margin-top: 1.5vw;
  width: 98%;
}

#event-page .note {
  color: #ff0000;
  text-align: justify;
}

#event-page #foodSelectionCard,
#event-page #additionalServicesCard {
  padding: 0 !important;
  margin: auto !important;
}

#event-page #foodSelectionCard,
#event-page #additionalServicesCard {
  display: flex !important;
  flex-direction: row !important;
  align-items: center;
  justify-content: center;
  height: 56vh !important;
  margin-top: 1vw !important;
}

#event-page #foodSelectionCover,
#event-page #additionalServicesCover {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

#event-page #additionalServicesCover {
  width: 51vh;
  aspect-ratio: 1;
}

#event-page .fw-bold {
  /* margin-top: -2vw; */
  font-family: "Poppins";
}

#event-page #calendar {
  width: 85%;
  height: 80vh;
  margin: auto;
  margin-top: 1vw !important;
  background-color: #fffefe;
  border-radius: 2.5rem;
}

#event-page .fc table {
  font-size: 18px;
}

#event-page .fc-scrollgrid,
td {
  /* border: 1px solid red !important; */
  border: none;
}

#event-page .fc a {
  text-decoration: none !important;
  color: black;
}

#event-page .fc-header-toolbar {
  /* margin-top: 1rem; */
  height: 5rem !important;
  padding: 2rem;
  border-top-left-radius: 3vw;
  border-top-right-radius: 3vw;
  margin-bottom: 0;
  background-color: #00bbff;
}

#event-page .fc-button {
  background-color: #ffffff !important;
  color: rgb(0, 0, 0) !important;
  border-radius: 5px;
  font-weight: bold;
}

#event-page .fc-toolbar-title {
  color: #fff;
}

#event-page .fc-daygrid-day-events {
  display: none;
}

#event-page .fc .fc-button-primary:disabled {
  background-color: #fdfdfd !important;
  opacity: 1 !important;
}

#event-page .fc .fc-button-primary:disabled:hover {
  background-color: #f2d8b7 !important;
  opacity: 1 !important;
}

#event-page .fc-direction-ltr .fc-button-group > .fc-button:not(:first-child) {
  margin-left: 1vw;
}

#event-page
  .fc-direction-ltr
  .fc-button-group
  > .fc-button:not(:first-child):hover {
  background-color: #91c6ff !important;
  color: #fff !important;
}
#event-page .fc-direction-ltr .fc-button-group > .fc-button:not(:last-child) {
  margin-left: 1vw;
}

#event-page
  .fc-direction-ltr
  .fc-button-group
  > .fc-button:not(:last-child):hover {
  background-color: #91c6ff !important;
  color: #fff !important;
}

#event-page .fc .fc-daygrid-day.fc-day-today {
  background-color: #5dccf5 !important;
}

#event-page .fc .fc-daygrid-day.fc-day-today .fc-daygrid-day-number {
  color: #fff !important;
}

/* di ko sure 'to test nalang pag may event na nalagay*/
#event-page .fc-event {
  background-color: #28a745;
  color: white;
  border-radius: 5px;
  padding: 5px;
}

#event-page .fc-event:hover {
  background-color: #218838;
}

#event-page #eventContainer {
  display: grid !important;
  grid-template-columns: repeat(2, 1fr) !important;
  grid-template-rows: repeat(2, 1fr) !important;
  gap: 8px !important;
  margin-top: 2vw !important;
}

#event-page .modal-body {
  display: grid !important;
  grid-template-columns: repeat(2, 1fr) !important;
  grid-template-rows: repeat(3, 1fr) !important;
  gap: 10px;
}

#event-page .eventButton-container {
  display: flex;
  justify-content: center;
  margin-top: -15vw !important;
}

#event-page .eventBox {
  display: flex;
}

#event-page .fa-solid {
  position: absolute;
  left: 45%;
  top: 32.1%;
}
