@font-face {
  font-family: "Poppins";
  src: url(../../Fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
  font-family: "Lora";
  src: url(../../Fonts/Lora/Lora-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Poppins Black";
  src: url(../../Fonts/Poppins/Poppins-Black.ttf);
}

@font-face {
  font-family: "Alkatra";
  src: url(../../Fonts/Alkatra/Alkatra-VariableFont_wght.ttf);
}

html,
body {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page-header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 0 40px;
  height: 10vh;
  margin-top: 1rem;
}

.page-header .btn {
  position: absolute;
  left: 4rem;
  top: 50%;
  transform: translateY(-50%);
}

.page-header-title {
  margin: 0;
  text-align: center;
  width: 100%;
  font-size: 32px;
  font-family: "Poppins Black" !important;
}

.container-fluid {
  width: 90% !important;
  display: flex;
  gap: 2rem;
  margin: 1rem auto;
  justify-content: center;
  align-items: center;
  font-family: "Poppins";
}

.booking-summary {
  align-items: start;
  padding: 1rem;
  border: none !important;
}

.card-info {
  /* border: 1px solid red !important; */
  padding: 0.2rem;
  width: 500px;
  display: flex;
}

.info-title {
  width: 40%;
  /* border: 1px solid red !important; */
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.info p {
  width: 50%;
  /* border: 1px solid red !important; */
  margin: 0;
  font-size: 16px;
}

.info input {
  border: none;
}

.payment-summary {
  padding: 1rem;
  border: none !important;
}

.cardHeader {
  font-weight: bold;
}

.list-group {
  border: none !important;
}

.list-group-item {
  display: flex !important;
}

.list-group-item h5 {
  font-size: 16px;
  margin: 0 1rem;
  width: 70%;
  font-weight: bold;
}

.list-group-item p {
  width: 30%;
  margin: 0;
  font-size: 16px;
}

.list-group .list-group-item:last-child,
.list-group-item p:last-child {
  font-weight: bold;
  /* border: 2px solid rgb(10, 7, 7); */
  /* background-color: rgb(90, 89, 89, 0.5); */
}

#downpaymentDiv {
  display: none !important;
}

.button-container {
  display: flex;
}

.button-container button {
  margin: 1rem auto;
}

.note {
  width: 50%;
  margin: auto;
  font-family: "Poppins";
  font-size: 16px;
}

.note ul {
  width: 100% !important;
}

.note li {
  list-style-type: none;
  margin: 0.5rem;
  color: blue;
}

/* Footer  */

footer {
  /* border: 1px solid black; */

  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 0.445) -50%,
    rgb(62, 132, 158) 95%
  );
}

.pb-1 {
  gap: 2vw;
  padding: 1vw 0 0 2vw;
}

.logo {
  width: 10vw;
  height: auto;
}
.mb-0 {
  font-family: "Lora";
  font-size: 1.5vw;
  font-weight: bold;
  color: #ffff;
}

.footerLine {
  width: 80%;
  margin: 0 auto;
  color: #fff;
  opacity: 1;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5vw;
}
.locationFooter {
  /* border: 1px solid black; */
  width: 30%;
}

.reservationTitle,
.locationTitle {
  font-family: "Poppins";
  font-weight: bold;
  font-size: 1.5vw;
  color: #fff;
}

.numberFooter,
.emailAddressTextFooter,
.addressTextFooter {
  font-family: "Poppins ExtraLight";
  color: #fff;
  font-size: 1vw;
}

.socialIcons {
  display: flex;
  justify-content: center;
  margin: 0.3vw;
}

.socialIcons a {
  text-decoration: none;
  padding: 0.8vw;
  background-color: rgb(255, 255, 255);
  margin: 5px;
  border-radius: 50%;
}

.socialIcons a i {
  font-size: 2vw;
  color: #3e849e;
  opacity: 0.9;
}

.socialIcons a:hover {
  background-color: white;
  transition: 0.5s;
}

.socialIcons a:hover i {
  color: #c1a534;
  transition: 0.5s;
}

/* Footer */
