@font-face {
  font-family: "Poppins";
  src: url(../../Fonts/Poppins/Poppins-Regular.ttf);
}
@font-face {
  font-family: "Plus Jakarta Sans";
  src: url(../../Fonts/PlusJakartaSans/PlusJakartaSans-VariableFont_wght.ttf);
}
@font-face {
  font-family: "Lora";
  src: url(../../Fonts/Lora/Lora-VariableFont_wght.ttf);
}
@font-face {
  font-family: "Agbalumo";
  src: url(../../Fonts/Agbalumo/Agbalumo-Regular.ttf);
}

@font-face {
  font-family: "Poppins Black";
  src: url(../../../Fonts/Poppins/Poppins-Black.ttf);
}

/* Footer  */

footer {
  /* border: 1px solid black; */

  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 0.445) -50%,
    rgb(62, 132, 158) 95%
  );
}

.pb-1 {
  gap: 2vw;
  padding: 1vw 0 0 2vw;
}

.logo {
  width: 10vw;
  height: auto;
}
.mb-0 {
  font-family: "Lora";
  font-size: 1.5vw;
  font-weight: bold;
  color: #ffff;
}

.footerLine {
  width: 80%;
  margin: 0 auto;
  color: #fff;
  opacity: 1;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5vw;
}
.locationFooter {
  /* border: 1px solid black; */
  width: 30%;
}

.reservationTitle,
.locationTitle {
  font-family: "Plus Jakarta Sans";
  font-weight: bold;
  font-size: 1.5vw;
  color: #fff;
}

.numberFooter,
.emailAddressTextFooter,
.addressTextFooter {
  font-family: "Poppins ExtraLight";
  color: #fff;
  font-size: 1vw;
}

.socialIcons {
  display: flex;
  justify-content: center;
  margin: 0.3vw;
}

.socialIcons a {
  text-decoration: none;
  padding: 0.8vw;
  background-color: rgb(255, 255, 255);
  margin: 5px;
  border-radius: 50%;
}

.socialIcons a i {
  font-size: 2vw;
  color: #3e849e;
  opacity: 0.9;
}

.socialIcons a:hover {
  background-color: white;
  transition: 0.5s;
}

.socialIcons a:hover i {
  color: #c1a534;
  transition: 0.5s;
}

/* Footer */

.backButton-container {
  position: absolute;
  left: 2%;
  top: 1vw;
}

.container-fluid {
  /* border: 1px solid red; */
  width: 100%;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vw;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 2vw;
}

.container-header {
  text-align: center;
  margin-top: 4vw;
  text-align: center;
  font-size: 36px;
  font-family: "Poppins";
  font-weight: bold;
  margin-bottom: 2vw;
}

.container-body {
  display: grid;
  grid-template-columns: repeat(3, 20vw);
  grid-template-rows: repeat(3, 1fr);
  gap: 1vw;
  margin-right: 20vw;
  /* border: 1px solid red; */
  position: relative;
}

.info {
  display: flex;
  flex-wrap: wrap;
}

.form-control {
  margin-top: -5vw;
  height: 8vh;
  width: 25vw !important;
}

.card {
  margin-left: -20vw;
  height: 50vh !important;
  background-color: #f5f5f5 !important;
}

.list-group-flash {
  border-radius: 0 !important;
  border-bottom: none !important;
  border-top: none !important;
}
.list-group-item {
  background-color: #f5f5f5 !important;
}

.payment-info {
  display: flex !important;
  justify-content: flex-start !important;
  align-items: center;
  padding: 0.5rem 0.5rem;
  background-color: #f5f5f5;
  /* border: 1px solid red; */
  gap: 0.3rem;
}

.cardHeader {
  font-size: 25px !important;
  text-align: center;
  padding: 1vw;
}

.card-title {
  flex-shrink: 0;
}

.card-content {
  font-size: 18px;
  margin-left: auto;
  font-family: "Poppins Light";
}

/* #card-form {
  margin-top: 2vw;
  width: 25vw !important;
  height: 8vh !important; 
}*/
