@font-face {
  font-family: "Poppins";
  src: url(../../Fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
  font-family: "Lora";
  src: url(../../Fonts/Lora/Lora-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Poppins Black";
  src: url(../../Fonts/Poppins/Poppins-Black.ttf);
}

@font-face {
  font-family: "Alkatra";
  src: url(../../Fonts/Alkatra/Alkatra-VariableFont_wght.ttf);
}

html,
body {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eeeeeed2 !important;
}

.page-header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 0 40px;
  height: 10vh;
  margin-top: 1rem;
}

.page-header .btn {
  position: absolute;
  left: 4rem;
  top: 50%;
  transform: translateY(-50%);
}

.page-header-title {
  margin: 0;
  text-align: center;
  width: 100%;
  font-size: 32px;
  font-family: "Poppins Black" !important;
  color: rgb(23, 143, 235);
}

.container {
  display: flex;
  gap: 2rem;
  margin: 1rem auto 0 auto;
  justify-content: center;
  align-items: center;
  font-family: "Poppins";
}

.booking-summary {
  align-items: start;
  padding: 1rem;
  border: none !important;
}

.card-info {
  /* border: 1px solid red !important; */
  padding: 0.2rem;
  width: 100%;
  display: flex;
}

.info-title {
  width: 40%;
  /* border: 1px solid red !important; */
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-info p {
  width: 100%;
  /* border: 1px solid red !important; */
  margin: 0;
  font-size: 16px;
}

.card-info ul {
  width: 100%;
  margin: 0;
  font-size: 16px;
  list-style: none;
}

li .features {
  list-style: square;
}

.card-info input {
  border: none;
}

.payment-summary {
  /* border: 1px solid red; */
  padding: 1rem;
  border: none !important;
}

.cardHeader {
  font-weight: bold;
}

.list-group {
  border: none !important;
}

.list-group-item,
.fee-item {
  display: flex !important;
  justify-content: space-between;
}

#additionalFeesDiv {
  display: flex;
  flex-direction: column;
}

.list-group-item h5 {
  /* border: 1px solid red; */
  font-size: 16px;
  margin: 0 1rem;
  /* width: 70%; */
  font-weight: bold;
}

.list-group-item p,
.list-group-item span {
  /* width: 30%; */
  margin: 0;
  font-size: 14px;
}

.list-group .list-group-item:last-child,
.list-group-item p:last-child {
  font-weight: bold;
  /* border: 2px solid rgb(10, 7, 7); */
  /* background-color: rgb(90, 89, 89, 0.5); */
}

.button-container {
  display: flex;
}

.button-container button {
  margin: 1rem auto;
}

.note {
  width: 60%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  font-family: "Poppins";
  font-size: 16px;
}

.note ul {
  width: 100% !important;
}

.note li {
  list-style-type: none;
  margin: 0.5rem;
  color: blue;
  text-align: justify;
}

@media only screen and (min-width: 769px) and (max-width: 1024px) and (orientation: portrait) {
  .page-header {
    width: 100%;
    padding: 1rem;
  }

  .page-header .btn {
    top: 30%;
    left: 3%;
  }
  .page-header-title {
    margin-top: 6rem;
    text-align: center !important;
  }

  .container {
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    padding: 1rem !important;
  }

  .booking-summary,
  .payment-summary {
    width: 100% !important;
    padding: 0.5rem;
  }

  .card-info {
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
  }

  .card-info ul {
    width: unset !important;
    margin-top: 1rem;
  }

  p,
  .info-title {
    text-align: center;
  }

  .cardHeader {
    text-align: center;
  }

  .payment-info {
    flex-direction: column;
    align-items: center;
  }

  .list-group-item h5 {
    text-align: center;
  }

  .note {
    width: 70% !important;
  }

  .note ul {
    padding: 0 !important;
  }

  .note li {
    margin-top: 2rem;
  }
}

/* Tablet Landscape */
@media only screen and (min-width: 769px) and (max-width: 1024px) and (orientation: landscape) {
  .page-header {
    width: 100%;
    padding: 1rem;
  }

  .page-header .btn {
    top: 30%;
    left: 3%;
  }
  .page-header-title {
    margin-top: 6rem;
    text-align: center !important;
  }

  .container {
    margin-top: 3rem;
    padding: 0.5rem !important;
  }

  .booking-summary,
  .payment-summary {
    width: 100% !important;
    padding: 0.5rem;
  }

  .card-info {
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
  }

  .card-info ul {
    width: unset !important;
    margin-top: 1rem;
  }

  p,
  .info-title {
    text-align: center;
  }

  .cardHeader {
    text-align: center;
  }

  .list-group-item h5 {
    text-align: center;
  }

  .note {
    width: 70% !important;
  }

  .note ul {
    padding: 0 !important;
  }

  .note li {
    margin-top: 2rem;
  }
}

/* Tablet portrait only */
@media only screen and (min-width: 600px) and (max-width: 768px) {
  .page-header {
    width: 100%;
    padding: 1rem;
  }

  .page-header .btn {
    top: 30%;
    left: 3%;
  }
  .page-header-title {
    margin-top: 6rem;
    text-align: center !important;
  }

  .container {
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    padding: 1rem !important;
  }

  .booking-summary,
  .payment-summary {
    width: 100% !important;
    padding: 0.5rem;
  }

  .card-info {
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
  }

  .card-info ul {
    width: unset !important;
    margin-top: 1rem;
  }

  p,
  .info-title {
    text-align: center;
  }

  .cardHeader {
    text-align: center;
  }

  .payment-info {
    flex-direction: column;
    align-items: center;
  }

  .list-group-item h5 {
    text-align: center;
  }

  .note {
    width: 70% !important;
  }

  .note ul {
    padding: 0 !important;
  }

  .note li {
    margin-top: 2rem;
  }
}

/* Phone size */
@media screen and (max-width: 599px) {
  .page-header {
    width: 100%;
    padding: 1rem;
  }

  .page-header .btn {
    top: 30%;
    left: 3%;
  }
  .page-header-title {
    margin-top: 6rem;
    text-align: center !important;
  }

  .container {
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    padding: 1rem !important;
  }

  .booking-summary,
  .payment-summary {
    width: 100% !important;
    padding: 0.5rem;
  }

  .card-info {
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
  }
  p,
  .info-title {
    text-align: center;
  }

  .cardHeader {
    text-align: center;
  }

  .card-info ul {
    width: unset !important;
    margin-top: 1rem;
  }

  .payment-info {
    flex-direction: column;
    align-items: center;
  }

  .list-group-item h5 {
    text-align: center;
  }

  .note {
    width: 70% !important;
  }

  .note ul {
    padding: 0 !important;
  }

  .note li {
    margin-top: 2rem;
  }
}
