@font-face {
  font-family: "Poppins";
  src: url(../../Fonts/Poppins/Poppins-Regular.ttf);
}

/* @font-face {
  font-family: "Galada";
  src: url(../../Fonts/Galada/Galada-Regular.ttf);
} */
@font-face {
  font-family: "Lora";
  src: url(../../Fonts/Lora/Lora-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Alkatra";
  src: url(../../Fonts/Alkatra/Alkatra-VariableFont_wght.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
}

body {
  background-repeat: no-repeat;
  background-position-y: -2vw;
  background-size: cover;
  display: flex;
  max-height: 100vh;
}

.topSec {
  width: 98%;
  margin-top: 5rem !important;
  border-radius: 20px;
  margin: 0 auto;
  background-color: oklch(0.64 0.65 220 / 0.1) !important;
  /* background-image: linear-gradient(
      to left,
      rgba(255, 255, 255, 0) 0%,
      #6592ccdc 73%
    ),
    url(/Assets/Images/amenities/poolPics/poolPic2\ -\ Copy.jpg); */
  background-position: center;
  background-size: cover;
  /* background-color: oklch(0.64 0.65 220 / 0.5); */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}

.topLeft {
  width: 60%;
}

.mamyrTitle {
  /* border: 1px solid black; */
  width: 100%;
}

.welcome {
  color: #2a394c;
  font-family: "Alkatra";
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-xxl);
}

.subtext {
  font-family: "Poppins Light";
  color: #2a394c;
  text-align: justify;
  width: 80%;
  font-size: var(--font-size-md);
  margin-top: 0.5rem;
}

.topBtn-container {
  position: relative !important;
  min-height: 10rem !important;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  margin-top: 4rem;
}

.resort-booking-btn-base {
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  color: #ffffff !important;
  border-radius: 8px;
  font-size: 20px !important;
  font-weight: bold;
  font-family: "Poppins" !important;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
  border: none;
  transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1) !important;
  position: relative;
  overflow: hidden;
  width: 98%;
  height: 6rem;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  text-align: center;
  box-sizing: border-box;
  transform: scale(1);
  text-decoration: none;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.7);
}

.resort-booking-btn-base:hover {
  color: #ffffff !important;
  font-weight: bold;
  height: 10rem;
  transform: scale(1.02);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
  text-decoration: none;
}

.button-pool {
  background: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, #427bc5dc 90%),
    url("../../Images/amenities/poolPics/poolPic5.jpg");
}
.button-pool:hover {
  background: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, #427bc5dc 90%),
    url("../../Images/amenities/poolPics/poolPic5.jpg");
}

.button-hotel {
  background: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, #427bc5dc 90%),
    url("../../Images/amenities/hotelPics/hotel1.jpg");
}
.button-hotel:hover {
  background: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, #427bc5dc 90%),
    url("../../Images/amenities/hotelPics/hotel1.jpg");
}

.button-event {
  background: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, #427bc5dc 90%),
    url("../../Images/amenities/pavilionPics/pav1.jpg");
}
.button-event:hover {
  background: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, #427bc5dc 90%),
    url("../../Images/amenities/pavilionPics/pav1.jpg");
}

/* .resort-booking-btn-gradient {
  background: linear-gradient(
      to right,
      rgba(0, 123, 255, 0.7),
      rgba(0, 123, 255, 0)
    ),
    url("../../Images/amenities/poolPics/poolPic5.jpg");
  background-size: cover;
  background-position: center;
  color: #ffffff !important;
  border-radius: 8px;
  font-size: 20px !important;
  font-weight: bold;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
  border: none;
  transition: all 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
  width: 75%;
  height: 5rem;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  text-align: center;
  box-sizing: border-box;
  transform: scale(1);
}

.resort-booking-btn-gradient:hover {
  background: linear-gradient(
      to right,
      rgba(0, 123, 255, 0.8),
      rgba(0, 123, 255, 0.1)
    ),
    url("../../Images/amenities/poolPics/poolPic5.jpg");
  background-size: cover;
  background-position: center;
  color: #ffffff !important;
  border-radius: 8px;
  font-size: 20px !important;
  font-weight: bold;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
  border: none;
  transition: all 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
} */

.topRight {
  height: 100%;
  width: 39%;
}

.legends {
  background-color: #f5f5f5;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
  padding: var(--padding-sm);
}

.legend {
  color: rgb(22, 22, 22);
  font-size: var(--font-size-base) !important;
}

.legend:hover {
  color: #151515 !important;
}

.calendar-card {
  grid-column: span 4 / span 4;
  grid-row-start: 4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fc-bg-event {
  opacity: 1 !important;
}

.fc-daygrid-block-event .fc-event-time,
.fc-daygrid-block-event .fc-event-title {
  color: transparent !important;
}

.fc-daygrid-day:hover {
  filter: brightness(1.1);
  cursor: pointer;
}

#calendar {
  margin-top: var(--margin-md);
  padding: 0 var(--padding-sm);
  overflow: scroll;
}

/* Adjusting the Toolbar (Month/Year) title */
.fc .fc-toolbar-title {
  font-size: var(--font-size-lg);
}

.fc-toolbar .fc-button-group {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
}

.fc-toolbar-chunk {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fc-today-button.fc-button.fc-button-primary {
  background-color: #b2e0b2;
  width: 100%;
  color: var(--bg-dark);
}

.fc-toolbar .fc-button {
  font-size: var(--font-size-xs);
  padding: 2px 5px;
  background-color: #0d6dfc;
  color: white;
  border-radius: 4px;
}

.fc-toolbar .fc-button:hover {
  background-color: rgb(3, 87, 177);
}

.fc-day-grid-event {
  border-radius: 4px;
}

/*font size of day numbers */
.fc-daygrid-day-number,
.fc-col-header-cell-cushion,
.fc-daygrid-day-events {
  font-size: var(--font-size-base);
  text-decoration: none;
}

/*month and year view labels */
.fc-toolbar .fc-left,
.fc-toolbar .fc-right {
  font-size: 12px;
  font-weight: bold;
}

/* Make day cells (td) fit in the container */
.fc-daygrid-day {
  width: calc(100% / 7) !important;
  box-sizing: border-box;
}

.fc-daygrid-day .fc-daygrid-day-number {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.fc-daygrid-week-number {
  width: 30px;
}

.fc-day-today {
  background-color: #b2e0b2 !important;
  color: #333 !important;
  font-weight: bold;
}

a {
  color: #141414 !important;
  text-decoration: none !important;
}

.middle-container {
  margin-top: 2rem !important;
  padding: var(--padding-xl);
  border-radius: 20px;
  width: 98%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.embed-responsive {
  width: 100%;
  max-width: 800px;
  height: auto;
  margin: auto;
}

.embed-responsive video {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.videoTitle,
.bottom-header {
  font-size: var(--font-size-xl);
  font-family: "Alkatra";
}

.bottom-header {
  text-align: center;
}

.videoDescription {
  font-size: var(--font-size-md);
  font-family: "Poppins";
  text-align: justify;
  margin-top: var(--margin-lg);
}
.videoText-container {
  width: 90%;
  margin-top: 0;
}

.middle-btn-container a {
  margin-top: var(--margin-md);
  color: white !important;
}

.bottom-section {
  width: 98%;
  background-color: #f5f5f5;
  margin-top: 2rem !important;
  border-radius: 20px;
  margin: 0 auto;
  padding: 2rem;
}

.bottom-text-container {
  width: 75%;
  margin: 0 auto;
}

.bottom-subtext {
  font-family: "Poppins";
  font-size: var(--font-size-md);
  text-align: center;
  margin-top: var(--margin-sm);
}

.swiper {
  width: 100%; /* Let it fill the section */
  max-width: 1000px; /* Optional: cap its max width */
  margin: 2rem auto; /* Center horizontally */
  height: auto;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #444;
  border-radius: 10px;
  overflow: hidden;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  /* max-height: 350px; */
  object-fit: cover;
  border-radius: 10px;
}

.swiper-slide img {
  max-height: 400px !important;
  object-fit: contain;
}

.popup-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  z-index: 9999;
  opacity: 0;
  transform: scale(0.95);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.popup-container.show {
  display: flex;
  opacity: 1;
  transform: scale(1);
}

.popup-image {
  max-width: 90%;
  max-height: 90%;
  border-radius: 10px;
}

.close-popup {
  position: absolute;
  top: 20px;
  right: 20px;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
  z-index: 10000;
}

.rating-container {
  background-color: oklch(0.64 0.65 220 / 0.1) !important;
  margin-top: 2rem !important;
  padding: var(--padding-xl);
  border-radius: 20px;
  width: 98%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7rem;
}

.graph-header {
  display: flex;
  gap: 0.3rem;
}

.graph-header i,
.graph-header h6 {
  font-size: var(--font-size-lg);
  color: #0d6dfc;
}

.graph-header h6 {
  margin-top: 0.2rem;
  font-weight: var(--font-weight-bold);
}

.ratings-card {
  width: 20rem !important;
  height: 30rem !important;
  border: none !important;
  background-color: oklch(1 0 0 / 0.4) !important;
  /* display: block;
  margin-left: auto; */
}

.rating-categories {
  margin-top: var(--margin-xl);
}

.progress-bar {
  background-color: #14d2e5;
  border-radius: 8px;
}

.rating-row {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.rating-label {
  flex: 1;
  font-size: 18px;
  color: #333;
}

.rating-bar {
  flex: 2;
  margin: 0 8px;
}

.progress {
  height: 12px;
  border-radius: 8px;
  background: #d9d9d9;
}

.rating-value {
  font-weight: bold;
  font-size: 14px;
  color: #333;
}

.overall-rating {
  margin-top: var(--margin-xl);
}

.overall-rating-label,
.overall-rating-stars {
  text-align: center;
}

.overall-rating-stars {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 220px;
  margin: 5px auto;
}

.star {
  /* border: 1px solid red; */
  font-size: 30px !important;
  width: 25%;
  text-align: center;
}

.overall-rating-label {
  font-size: var(--font-size-md);
}

.overall-rating-value {
  font-weight: var(--font-weight-bold);
}

.overall-rating-stars i {
  color: #fdcc0d;
  font-size: var(--font-size-xl);
}

.bookNow-button-container {
  text-align: center;
  margin-top: var(--margin-lg);
  color: #ffffff !important;
}

.bookNow-button-container a {
  color: #ffffff !important;
}

.ctaContainer {
  margin-top: var(--margin-md) !important;
  padding: var(--padding-xl);
  width: 98%;
  margin: 0 auto;
}

.servicesIconContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 2.5rem;
  margin-top: var(--margin-lg) !important;
  width: 80%;
  margin: auto;
}

.resortContainer,
.eventContainer,
.hotelContainer {
  width: 90%;
  height: 20rem;
  padding: 1.5rem;
  margin: auto;
  text-align: center;
  background-color: #f5f5f5;
  border-radius: 20px;
  /* display: flex;
  flex-wrap: wrap; */
}

.numbering {
  font-size: var(--font-size-xxl);
  font-family: "Poppins Black";
  color: #0c8ce8;
  text-align: left;
  margin-top: 1rem;
}

.resortIcon,
.eventIcon,
.hotelIcon {
  width: 8vw;
  margin: auto;
  margin-top: -3.5rem !important;
}

.resortIconTitle,
.eventIconTitle,
.hotelIconTitle {
  font-weight: bold;
  text-align: center;
  font-family: "Poppins";
  font-size: var(--font-size-md);
  margin-top: 0.5vw;
}

.resortIconDescription,
.eventIconDescription,
.hotelIconDescription {
  text-align: justify;
  text-align-last: center;
  font-size: var(--font-size-base);
  margin-top: 1vw;
}

.firstParagraphtextContainer,
.topTextContainer,
.videoTextContainer {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.locationText-container {
  width: 50%;
  margin-top: 0;
}

#map {
  height: 300px; /* Set the height to 300px */
  width: 500px; /* Set the width to 500px (or any other desired value) */
  margin: 0 auto; /* Center the map horizontally in its container */
}

@media only screen and (min-width: 769px) and (max-width: 1024px) and (orientation: portrait) {
  .topSec {
    flex-direction: column;
  }

  .topLeft {
    width: 80%;
    text-align: center;
    margin-top: var(--margin-md);
  }

  .topText {
    font-family: "Alkatra";
    font-size: var(--font-size-md);
    text-transform: uppercase;
    margin-top: 8rem;
  }

  .swiper {
    width: 100%;
    max-width: 800px;
  }

  .headerText {
    font-family: "Poppins Light";
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-xl);
    margin-top: 1rem;
  }

  .subtext {
    font-family: "Poppins Light";
    width: 100%;
    font-size: var(--font-size-lg);
    margin-top: 1rem;
  }

  #topBookNow-btn {
    margin-top: var(--margin-xl);
    font-size: var(--font-size-md);
    width: 40%;
  }

  .topRight {
    width: 70%;
    margin-top: var(--margin-md);
  }

  .card-img {
    position: absolute;
    top: 0;
    left: 50%;
    width: 30%; /* smaller size */
    transform: translateX(-50%) scale(0.8);
    transition: all 0.7s ease;
    border-radius: 10px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25);
    opacity: 0;
    z-index: 0;
  }

  /* Center (active) */
  .card-img.active {
    opacity: 1;
    z-index: 3;
    transform: translateX(-50%) scale(1);
  }

  /* Peeking left */
  .card-img.behind-left {
    opacity: 0.8;
    z-index: 2;
    transform: translateX(-80%) rotate(-6deg) scale(0.85);
  }

  /* Peeking right */
  .card-img.behind-right {
    opacity: 0.8;
    z-index: 1;
    transform: translateX(-20%) rotate(6deg) scale(0.85);
  }

  .middle-container {
    flex-direction: column;
    padding: var(--padding-md);
    gap: 2rem;
  }

  .videoText-container,
  .bottom-text-container {
    width: 100%;
    text-align: center;
  }

  .videoTitle,
  .bottom-header {
    font-size: var(--font-size-xl);
    text-align: center !important;
  }

  .videoDescription {
    font-size: var(--font-size-lg);
    margin-top: var(--margin-md);
  }

  .middle-btn-container a {
    margin-top: var(--margin-xl);
    font-size: var(--font-size-md);
    width: 40%;
  }

  .bottom-section {
    padding: var(--padding-md);
    height: 50vh;
  }

  .bottom-text-container {
    margin-top: var(--margin-sm);
  }
  .bottom-subtext {
    font-size: var(--font-size-lg);
    margin-top: var(--margin-md);
    text-align: justify;
  }

  .swiper {
    margin-top: var(--margin-xl);
  }
  .rating-container {
    flex-direction: column-reverse;
    margin-top: 5rem !important;
    gap: 2rem;
  }

  .star {
    width: 20%;
  }

  .overall-rating-stars i {
    color: #fdcc0d;
    font-size: var(--font-size-xl) !important;
  }

  .graph-header {
    display: flex;
    gap: 0.3rem;
  }

  .graph-header i,
  .graph-header h6 {
    font-size: var(--font-size-lg);
    color: #0d6dfc;
  }

  .graph-header h6 {
    margin-top: 0.3rem;
    font-weight: var(--font-weight-bold);
  }

  .ratings-card {
    width: 22rem !important;
    height: 26rem !important;
    border: none !important;
    background-color: oklch(1 0 0 / 0.4) !important;
  }

  .rating-categories {
    margin-top: var(--margin-xl);
  }

  .progress-bar {
    background-color: #14d2e5;
    border-radius: 8px;
  }

  .rating-row {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
  }

  .rating-label {
    flex: 1;
    font-size: 20px;
    color: #333;
  }

  .rating-bar {
    flex: 2;
    margin: 0 8px;
  }

  .progress {
    height: 12px;
    border-radius: 8px;
    background: #d9d9d9;
  }

  .rating-value {
    font-weight: bold;
    font-size: 14px;
    color: #333;
  }

  .overall-rating {
    margin-top: var(--margin-md);
  }

  .overall-rating-label,
  .overall-rating-stars {
    text-align: center;
  }

  .overall-rating-label {
    font-size: var(--font-size-lg);
  }

  .overall-rating-value {
    font-weight: var(--font-weight-bold);
  }

  .overall-rating-stars i {
    color: #fdcc0d;
    font-size: var(--font-size-xl);
  }

  .locationText-container {
    width: 70%;
    text-align: center;
  }

  .location-container {
    flex-direction: column;
    padding-top: var(--padding-md) !important;
    gap: 2rem;
  }

  .ctaContainer {
    margin-top: var(--margin-md) !important;
    padding: var(--padding-xl);
    width: 100%;
    margin: 0 auto;
  }

  .resortContainer,
  .eventContainer,
  .hotelContainer {
    width: 100%;
    height: auto;
    padding: 1.5rem;
    margin: auto;
    text-align: center;
    background-color: #f5f5f5;
    border-radius: 20px;
  }

  .numbering {
    font-size: var(--font-size-xl);
    font-family: "Poppins Black";
    color: #0c8ce8;
    text-align: left;
    margin-top: 0.5rem;
  }

  .resortIcon,
  .eventIcon,
  .hotelIcon {
    width: 4.5rem;
    margin: auto;
    margin-top: -2rem !important;
  }

  .resortIconTitle,
  .eventIconTitle,
  .hotelIconTitle {
    font-weight: bold;
    text-align: center;
    font-family: "Poppins";
    font-size: var(--font-size-md);
    margin-top: 1rem;
  }

  .resortIconDescription,
  .eventIconDescription,
  .hotelIconDescription {
    text-align: justify;
    text-align-last: center;
    font-size: var(--font-size-base);
    margin-top: 1vw;
  }
}

/* Tablet Landscape */
@media only screen and (min-width: 769px) and (max-width: 1024px) and (orientation: landscape) {
  .topSec {
    gap: 3rem;
  }
  .topLeft {
    width: 80%;
    text-align: center;
    /* margin-top: var(--margin-md); */
  }

  .topText {
    font-family: "Alkatra";
    font-size: 1.5vw;
    text-transform: uppercase;
  }

  .headerText {
    font-family: "Poppins Light";
    font-weight: var(--font-weight-bold);
    font-size: 2.5vw;
    margin-top: 1rem;
  }

  .subtext {
    font-family: "Poppins Light";
    width: 100%;
    font-size: 2vw;
    margin-top: 1rem;
  }

  #topBookNow-btn {
    /* margin-top: var(--margin-xl); */
    font-size: var(--font-size-md);
    width: 40%;
  }

  .topRight {
    width: 100%;
    margin-top: var(--margin-md);
  }

  .card-img {
    position: absolute;
    top: 0;
    left: 50%;
    width: 30%; /* smaller size */
    transform: translateX(-50%) scale(0.8);
    transition: all 0.7s ease;
    border-radius: 10px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25);
    opacity: 0;
    z-index: 0;
  }

  /* Center (active) */
  .card-img.active {
    opacity: 1;
    z-index: 3;
    transform: translateX(-50%) scale(1);
  }

  /* Peeking left */
  .card-img.behind-left {
    opacity: 0.8;
    z-index: 2;
    transform: translateX(-80%) rotate(-6deg) scale(0.85);
  }

  /* Peeking right */
  .card-img.behind-right {
    opacity: 0.8;
    z-index: 1;
    transform: translateX(-20%) rotate(6deg) scale(0.85);
  }

  /* Buttons */
  .carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 3rem;
    padding: 1px 14px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
    z-index: 5;
  }

  .carousel-btn:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }

  .carousel-btn.prev {
    left: -40px; /* moves button outside image stack */
    height: 5rem;
  }

  .carousel-btn.next {
    right: -40px;
    height: 5rem;
  }

  .middle-container {
    flex-direction: column;
    padding: var(--padding-md);
    gap: 2rem;
  }

  .videoText-container,
  .bottom-text-container {
    width: 100%;
    text-align: center;
  }

  .videoTitle,
  .bottom-header {
    font-size: var(--font-size-xl);
    text-align: center !important;
  }

  .videoDescription {
    font-size: var(--font-size-lg);
    margin-top: var(--margin-md);
  }

  .middle-btn-container a {
    margin-top: var(--margin-xl);
    font-size: var(--font-size-md);
    width: 40%;
  }

  .bottom-section {
    padding: var(--padding-md);
  }

  .bottom-text-container {
    margin-top: var(--margin-sm);
  }
  .bottom-subtext {
    font-size: var(--font-size-lg);
    margin-top: var(--margin-md);
    text-align: justify;
  }

  .swiper {
    margin-top: var(--margin-xl);
  }
  .rating-container {
    /* flex-direction: column-reverse; */
    margin-top: 20rem !important;
    gap: 2rem;
  }

  .star {
    width: 20%;
  }

  .overall-rating-stars i {
    color: #fdcc0d;
    font-size: var(--font-size-xl) !important;
  }

  .graph-header {
    display: flex;
    gap: 0.3rem;
  }

  .graph-header i,
  .graph-header h6 {
    font-size: var(--font-size-lg);
    color: #0d6dfc;
  }

  .graph-header h6 {
    margin-top: 0.3rem;
    font-weight: var(--font-weight-bold);
  }

  .ratings-card {
    width: 22rem !important;
    height: 26rem !important;
    border: none !important;
    background-color: oklch(1 0 0 / 0.4) !important;
  }

  .rating-categories {
    margin-top: var(--margin-xl);
  }

  .progress-bar {
    background-color: #14d2e5;
    border-radius: 8px;
  }

  .rating-row {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
  }

  .rating-label {
    flex: 1;
    font-size: 20px;
    color: #333;
  }

  .rating-bar {
    flex: 2;
    margin: 0 8px;
  }

  .progress {
    height: 12px;
    border-radius: 8px;
    background: #d9d9d9;
  }

  .rating-value {
    font-weight: bold;
    font-size: 14px;
    color: #333;
  }

  .overall-rating {
    margin-top: var(--margin-md);
  }

  .overall-rating-label,
  .overall-rating-stars {
    text-align: center;
  }

  .overall-rating-label {
    font-size: var(--font-size-lg);
  }

  .overall-rating-value {
    font-weight: var(--font-weight-bold);
  }

  .overall-rating-stars i {
    color: #fdcc0d;
    font-size: var(--font-size-xl);
  }

  .locationText-container {
    width: 100%;
    text-align: center;
  }

  .location-container {
    flex-direction: column;
    height: 90vh !important;
    padding-top: var(--padding-md) !important;
    gap: 2rem;
  }

  .swiper {
    width: 100%;
    max-width: 800px;
  }
}

/* Tablet portrait only */
@media only screen and (min-width: 600px) and (max-width: 768px) {
  .topSec {
    flex-direction: column;
    /* height: 90vh; */
  }

  .topLeft {
    width: 80%;
    text-align: center;
    margin-top: var(--margin-md);
  }

  .topText {
    font-family: "Alkatra";
    font-size: var(--font-size-md);
    text-transform: uppercase;
  }

  .headerText {
    font-family: "Poppins Light";
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-xl);
    margin-top: 1rem;
  }

  .subtext {
    font-family: "Poppins Light";
    width: 100%;
    font-size: var(--font-size-lg);
    margin-top: 1rem;
  }

  #topBookNow-btn {
    margin-top: var(--margin-xl);
    font-size: var(--font-size-md);
    width: 40%;
  }

  .topRight {
    width: 70%;
    margin-top: var(--margin-md);
  }

  .card-img {
    position: absolute;
    top: 0;
    left: 50%;
    width: 30%; /* smaller size */
    transform: translateX(-50%) scale(0.8);
    transition: all 0.7s ease;
    border-radius: 10px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25);
    opacity: 0;
    z-index: 0;
  }

  /* Center (active) */
  .card-img.active {
    opacity: 1;
    z-index: 3;
    transform: translateX(-50%) scale(1);
  }

  /* Peeking left */
  .card-img.behind-left {
    opacity: 0.8;
    z-index: 2;
    transform: translateX(-80%) rotate(-6deg) scale(0.85);
  }

  /* Peeking right */
  .card-img.behind-right {
    opacity: 0.8;
    z-index: 1;
    transform: translateX(-20%) rotate(6deg) scale(0.85);
  }

  .middle-container {
    flex-direction: column;
    padding: var(--padding-md);
    gap: 2rem;
  }

  .videoText-container,
  .bottom-text-container {
    width: 100%;
    text-align: center;
  }

  .videoTitle,
  .bottom-header {
    font-size: var(--font-size-xl);
    text-align: center !important;
  }

  .videoDescription {
    font-size: var(--font-size-lg);
    margin-top: var(--margin-md);
  }

  .middle-btn-container a {
    margin-top: var(--margin-xl);
    font-size: var(--font-size-md);
    width: 40%;
  }

  .bottom-section {
    padding: var(--padding-md);
    height: 50vh;
  }

  .bottom-text-container {
    margin-top: var(--margin-sm);
  }
  .bottom-subtext {
    font-size: var(--font-size-lg);
    margin-top: var(--margin-md);
    text-align: justify;
  }

  .swiper {
    margin-top: var(--margin-xl);
  }
  .rating-container {
    flex-direction: column-reverse;
    margin-top: 5rem !important;
    gap: 2rem;
  }

  .star {
    width: 20%;
  }

  .overall-rating-stars i {
    color: #fdcc0d;
    font-size: var(--font-size-xl) !important;
  }

  .graph-header {
    display: flex;
    gap: 0.3rem;
  }

  .graph-header i,
  .graph-header h6 {
    font-size: var(--font-size-lg);
    color: #0d6dfc;
  }

  .graph-header h6 {
    margin-top: 0.3rem;
    font-weight: var(--font-weight-bold);
  }

  .ratings-card {
    width: 22rem !important;
    height: 26rem !important;
    border: none !important;
    background-color: oklch(1 0 0 / 0.4) !important;
  }

  .rating-categories {
    margin-top: var(--margin-xl);
  }

  .progress-bar {
    background-color: #14d2e5;
    border-radius: 8px;
  }

  .rating-row {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
  }

  .rating-label {
    flex: 1;
    font-size: 20px;
    color: #333;
  }

  .rating-bar {
    flex: 2;
    margin: 0 8px;
  }

  .progress {
    height: 12px;
    border-radius: 8px;
    background: #d9d9d9;
  }

  .rating-value {
    font-weight: bold;
    font-size: 14px;
    color: #333;
  }

  .overall-rating {
    margin-top: var(--margin-md);
  }

  .overall-rating-label,
  .overall-rating-stars {
    text-align: center;
  }

  .overall-rating-label {
    font-size: var(--font-size-lg);
  }

  .overall-rating-value {
    font-weight: var(--font-weight-bold);
  }

  .overall-rating-stars i {
    color: #fdcc0d;
    font-size: var(--font-size-xl);
  }

  .locationText-container {
    width: 100%;
    text-align: center;
  }

  .location-container {
    flex-direction: column;
    height: 80vh !important;
    padding-top: var(--padding-md) !important;
    gap: 2rem;
  }

  .swiper {
    width: 100%;
    max-width: 601px;
  }

  .servicesIconContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
  }

  .ctaContainer {
    margin-top: var(--margin-md) !important;
    padding: var(--padding-xl);
    width: 100%;
    margin: 0 auto;
  }

  .resortContainer,
  .eventContainer,
  .hotelContainer {
    width: 90%;
    height: auto;
    padding: 1.5rem;
    margin: auto;
    text-align: center;
    background-color: #f5f5f5;
    border-radius: 20px;
  }

  .numbering {
    font-size: var(--font-size-xl);
    font-family: "Poppins Black";
    color: #0c8ce8;
    text-align: left;
    margin-top: 0.5rem;
  }

  .resortIcon,
  .eventIcon,
  .hotelIcon {
    width: 4.5rem;
    margin: auto;
    margin-top: -2rem !important;
  }

  .resortIconTitle,
  .eventIconTitle,
  .hotelIconTitle {
    font-weight: bold;
    text-align: center;
    font-family: "Poppins";
    font-size: var(--font-size-base);
    margin-top: 1rem;
  }

  .resortIconDescription,
  .eventIconDescription,
  .hotelIconDescription {
    text-align: justify;
    text-align-last: center;
    font-size: var(--font-size-sm);
    margin-top: 1vw;
  }
}

/* Phone size */
@media screen and (max-width: 599px) {
  .topSec {
    flex-direction: column;
  }

  .topLeft {
    width: 90%;
    text-align: center;
    margin-top: var(--margin-md);
  }

  .topText {
    font-family: "Alkatra";
    font-size: var(--font-size-sm);
    text-transform: uppercase;
    margin-top: var(--margin-md);
  }

  .headerText {
    font-family: "Poppins Light";
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-lg);
    margin-top: 1rem;
  }

  .subtext {
    font-family: "Poppins Light";
    width: 100%;
    font-size: var(--font-size-base);
    margin-top: 1rem;
  }

  .legend {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 0.5rem;
  }

  #topBookNow-btn {
    margin-top: var(--margin-sm);
    font-size: var(--font-size-sm);
    width: 40%;
  }

  .topRight {
    width: 85%;
  }

  .card-img {
    position: absolute;
    top: 0;
    left: 50%;
    width: 30%; /* smaller size */
    transform: translateX(-50%) scale(0.8);
    transition: all 0.7s ease;
    border-radius: 10px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25);
    opacity: 0;
    z-index: 0;
  }

  .middle-container {
    flex-direction: column;
    padding: var(--padding-md);
    gap: 2rem;
    width: 100%;
  }

  .videoText-container,
  .bottom-text-container {
    width: 100%;
    text-align: center;
  }

  .videoTitle,
  .bottom-header {
    font-size: var(--font-size-lg);
  }

  .videoDescription {
    font-size: var(--font-size-sm);
    margin-top: var(--margin-md);
  }

  .middle-btn-container a {
    margin-top: var(--margin-sm);
    font-size: var(--font-size-sm);
  }

  .bottom-section {
    padding: var(--padding-md);
  }

  .bottom-text-container {
    margin-top: var(--margin-sm);
  }
  .bottom-subtext {
    font-size: var(--font-size-sm);
    margin-top: var(--margin-md);
    text-align: justify;
  }

  .rating-container {
    flex-direction: column-reverse;
    margin-top: 2rem !important;
    gap: 2rem;
  }

  .graph-header {
    display: flex;
    gap: 0.3rem;
  }

  .graph-header i,
  .graph-header h6 {
    font-size: var(--font-size-md);
    color: #0d6dfc;
  }

  .graph-header h6 {
    margin-top: 0.2rem;
    font-weight: var(--font-weight-bold);
  }

  .ratings-card {
    width: 18rem !important;
    height: 22rem !important;
    border: none !important;
    background-color: oklch(1 0 0 / 0.4) !important;
  }

  .rating-categories {
    margin-top: var(--margin-xl);
  }

  .star {
    width: 20%;
  }

  .overall-rating-stars i {
    color: #fdcc0d;
    font-size: var(--font-size-md) !important;
  }

  .progress-bar {
    background-color: #14d2e5;
    border-radius: 8px;
  }

  .rating-row {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
  }

  .rating-label {
    flex: 1;
    font-size: 16px;
    color: #333;
  }

  .rating-bar {
    flex: 2;
    margin: 0 8px;
  }

  .progress {
    height: 12px;
    border-radius: 8px;
    background: #d9d9d9;
  }

  .rating-value {
    font-weight: bold;
    font-size: 14px;
    color: #333;
  }

  .overall-rating {
    margin-top: var(--margin-md);
  }

  .overall-rating-label,
  .overall-rating-stars {
    text-align: center;
  }

  .overall-rating-label {
    font-size: var(--font-size-md);
  }

  .overall-rating-value {
    font-weight: var(--font-weight-bold);
  }

  .star {
    width: 20%;
  }

  .overall-rating-stars i {
    color: #fdcc0d;
    font-size: var(--font-size-md) !important;
  }

  .locationText-container {
    width: 100%;
    text-align: center;
  }

  .location-container {
    flex-direction: column;
    height: auto;
    padding-top: var(--padding-md) !important;
    gap: 2rem;
  }

  .topBtn-container {
    position: relative !important;
    min-height: 10rem !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin-top: 4rem;
  }

  .swiper-slide {
    aspect-ratio: 4 / 3;
  }

  .swiper {
    width: 100%;
    max-width: 401px;
  }

  .servicesIconContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
  }

  .ctaContainer {
    margin-top: var(--margin-md) !important;
    padding: var(--padding-xl);
    width: 100%;
    margin: 0 auto;
  }

  .resortContainer,
  .eventContainer,
  .hotelContainer {
    width: 90%;
    height: auto;
    padding: 1.5rem;
    margin: auto;
    text-align: center;
    background-color: #f5f5f5;
    border-radius: 20px;
  }

  .numbering {
    font-size: var(--font-size-xl);
    font-family: "Poppins Black";
    color: #0c8ce8;
    text-align: left;
    margin-top: 0.5rem;
  }

  .resortIcon,
  .eventIcon,
  .hotelIcon {
    width: 4.5rem;
    margin: auto;
    margin-top: -2rem !important;
  }

  .resortIconTitle,
  .eventIconTitle,
  .hotelIconTitle {
    font-weight: bold;
    text-align: center;
    font-family: "Poppins";
    font-size: var(--font-size-base);
    margin-top: 1rem;
  }

  .resortIconDescription,
  .eventIconDescription,
  .hotelIconDescription {
    text-align: justify;
    text-align-last: center;
    font-size: var(--font-size-sm);
    margin-top: 1vw;
  }
}

/* Smaller phone size */
@media screen and (max-width: 599px) {
  .swiper {
    width: 100%;
    max-width: 350px;
  }
}
