@font-face {
  font-family: "Poppins";
  src: url(../../Fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
  font-family: "Galada";
  src: url(../../Fonts/Galada/Galada-Regular.ttf);
}
@font-face {
  font-family: "Lora";
  src: url(../../Fonts/Lora/Lora-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Alkatra";
  src: url(../../Fonts/Alkatra/Alkatra-VariableFont_wght.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
}

body {
  background-image: url(../../Images/landingPage/landingPageBg.png);
  /* background-image: url(../images/BookNowPhotos/bookNowBg.jpg); */
  background-repeat: no-repeat;
  background-position: fixed;
  background-size: cover;
  display: flex;
  max-height: 100vh;
}

.topContainer {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
  padding: 2vw;
  margin-top: 7vw;
  gap: 2vw;
}

.titleContainer {
  /* border: 1px solid black; */
  width: 50%;
  margin-left: 2vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mamyrTitle {
  /* border: 1px solid black; */
  width: 100%;
}

.welcome {
  color: #65f2f2;
  text-align: center;
  font-family: Galada;
  font-size: 5vw;
  font-style: normal;
  line-height: normal;
}

.nameOfUserContainer {
  width: 100%;
  margin-top: -2vw;
  /* border: 1px solid black; */
}

.nameOfUser {
  color: #ffffff;
  font-family: "Galada";
  font-size: 8vw;
  text-align: center;
  font-weight: 400;
  line-height: normal;
  font-style: italic;
}

.legends {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 0.8vw auto;
}

.legend {
  background-color: whitesmoke !important;
  color: rgb(22, 22, 22);
  font-size: 1.3vw !important;
}

.legend:hover {
  color: #151515 !important;
}

.calendar-container {
  width: 48%;
}

a {
  color: #141414 !important;
  text-decoration: none !important;
}

#calendar {
  width: 95%;
  margin: 0 auto;
  /* background-color: #fffefe; */
  border: none;
}

.fc-scroller {
  overflow: hidden !important;
}

.fc-header-toolbar {
  background-color: #00bbff;
  padding: 2vw;
  height: 7.5vw;
  border-top-left-radius: 3vw;
  border-top-right-radius: 3vw;
}

.fc-button {
  background-color: #ffffff !important;
  color: rgb(0, 0, 0) !important;
  border-radius: 5px;
  font-weight: bold;
}

.fc .fc-toolbar.fc-header-toolbar {
  margin-bottom: 0;
}

thead {
  font-size: clamp(1.1vw, calc(1.1vw + 3px), 1.5vw);
}

.fc .fc-toolbar-title {
  font-family: "Poppins" !important;
  font-weight: bold;
  color: #fff;
  font-size: clamp(2vw, calc(2.2vw + 2px), 2.4vw);
}

.fc .fc-button-primary:disabled {
  background-color: #fdfdfd !important;
  opacity: 1 !important;
  font-size: clamp(1vw, 1.3vw, 1.5vw);
}

.fc .fc-button-primary:disabled:hover {
  background-color: #f2d8b7 !important;
  opacity: 1 !important;
}

.fc-button-group {
  font-size: clamp(0.9vw, 1vw, 1.3vw);
}

.fc-button-primary {
  height: 3vw;
}

.fc-direction-ltr .fc-button-group > .fc-button:not(:first-child) {
  margin-left: 1vw;

  &:hover {
    background-color: #91c6ff !important;
    color: #fff !important;
  }
}

.fc-direction-ltr .fc-button-group > .fc-button:not(:last-child) {
  margin-left: 1vw;

  &:hover {
    background-color: #91c6ff !important;
    color: #fff !important;
  }
}

.fc .fc-daygrid-day.fc-day-today {
  background-color: #20c028 !important;
  color: #fff;
}

.fc-daygrid-day-top a {
  font-size: 1.3vw;
}

.fc .fc-daygrid-day-frame {
  padding: 0.4vw;
}

.fc .fc-view-harness {
  margin-top: -1.7vw;
  background-color: #fffefe;
  border-bottom-left-radius: 5vw;
  border-bottom-right-radius: 5vw;
}

.fc .fc-scrollgrid-section-liquid > td {
  border: none;
  /* border sa bottom ng calendar */
}

.fc .fc-scrollgrid-liquid {
  border: none;
  /* border sa bottom ng calendar */
}
/* di ko sure 'to test nalang pag may event na nalagay*/
.fc-event {
  background-color: #2ec852;
  color: white;
  border-radius: 5px;
  padding: 5px;
}

.fc .fc-bg-event .fc-event-title {
  height: 90%;
  font-family: "Poppins";
  margin: 0;
  display: flex;
  align-items: center;
  overflow: visible;
  justify-content: center;
  text-align: center;
  font-style: normal;
  font-size: 0.9vw;
}

.fc-event:hover {
  background-color: #218838;
}

.welcomeSection {
  display: flex;
  margin-top: clamp(10vw, 12vw, 14vw);
  width: 100%;
}

.resortPic1 {
  margin-top: 5vw !important;
  margin: auto;
}

.pic1 {
  width: 40vw;
  height: auto;
}

.wsText {
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 5vw;
  width: 50%;
}

.line {
  border: none;
  border-top: 5px solid #d48d31;
  width: 40%;
  height: 2vw;
  opacity: 1;
  /* margin: 20px auto; */
}

.wsTitle {
  font-family: "Poppins";
  font-size: clamp(2vw, 1.8vw, 1.6vw);
  text-align: center;
  color: rgb(0, 0, 0);
}

.wsDescription {
  font-family: "Poppins";
  text-align: justify;
  margin-top: 30px;
  font-size: clamp(1.6vw, 1.4vw, 1.2vw);
}

.contact {
  display: flex;
  justify-content: space-around;
  margin-top: 7vh;
  background-color: #7dcbf2;
  padding: 5vw;
}

.contactText {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 45%;
}

.contacts h5 {
  font-size: clamp(1.5vw, 1.3vw, 1vw);
}

.contactTitle {
  font-size: clamp(2vw, 1.8vw, 1.6vw);
}

.location,
.number,
.email {
  display: flex;
  align-items: center;
  gap: 3vw;
}

.locationIcon,
.emailIcon,
.phoneIcon {
  height: 4vw;
  width: auto;
  margin-bottom: 1vw;
}

.contactTitle {
  margin-bottom: 2vw;
  font-family: "Poppins";
}
.locationText {
  margin-top: 0.1vw;
}

.googleMap {
  /* border: 1px solid black; */
  width: 45%;
  height: 30vw;
}

.gallery {
  /* border: 1px solid black; */
  margin: 2vw;
  padding: 2vw;
}

.galleryTitle {
  font-family: "Poppins";
  font-size: clamp(2vw, 1.8vw, 1.6vw);
}

.galleryPictures {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2vw;
  margin-top: 2vw;
  img {
    height: 100%;
  }
}

.seeMore {
  margin: auto;
  margin-top: 2.5vh;
  width: 15vw;
}

.seeMore .btn-primary {
  font-size: clamp(1.5vw, 1.7vw, 1.9vw) !important;
  color: white !important;
}

/* Tablet size */
@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .topContainer {
    justify-content: start;
  }
  .titleContainer {
    height: calc(100vh - 15vh);
    width: 40%;
  }

  .calendar-container {
    width: 60%;
  }

  .fc .fc-toolbar.fc-header-toolbar {
    padding-bottom: 2vw;
  }

  .mamyrTitle {
    width: 100%;
  }

  .name {
    font-size: clamp(40px, calc(3.5vw + 4px), 45px) !important;
    text-align: left;
  }

  .description {
    margin: auto;
  }
  .descriptionText {
    text-align: justify;
    font-size: clamp(23px, calc(3vw + 4px), 35px);
  }

  .containerBook {
    width: 95%;
    padding: 2vw;
    margin-top: 7vw;
    margin-top: 3vw;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.3);
  }
  .label {
    display: flex;
    gap: clamp(5vw, 4vw, 3vw);
    margin-top: 3vw;
  }

  .formBoxes {
    gap: 4vw;
    display: flex;
    justify-content: center;
  }

  .containerLabel {
    width: 100%;
    font-size: clamp(12px, calc(1.5vw + 4px), 20px);
  }

  .welcomeSection {
    display: flex;
    flex-direction: column-reverse;
    margin: 0 auto;
    width: 100%;
  }

  .resortPic1 {
    margin-top: 5vw !important;
  }

  .pic1 {
    width: 60vw;
  }

  .wsText {
    margin-top: 8vw !important;
    width: 80%;
    .line {
      width: 100%;
    }
  }

  .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
  }

  .contactText {
    justify-content: center;
    align-items: center;
    width: 80%;
    .line {
      width: 30%;
    }
    h4 {
      font-size: clamp(18px, calc(2vw + 4px), 12px) !important;
    }
    h5 {
      font-size: clamp(15px, calc(1.5vw + 4px), 12px) !important;
    }
  }

  .locationIcon,
  .emailIcon,
  .phoneIcon {
    height: clamp(4vh, calc(1.5vw + 4px), 2vh) !important;
    width: auto;
  }

  .emailAddressText {
    margin-top: 0.1vw;
  }

  .googleMap {
    height: 80vh;
    width: 70%;
    margin-top: 5vh;
  }

  .gallery {
    .line {
      width: 30%;
    }
  }

  .galleryTitle {
    font-size: 4vw;
  }

  .galleryImg {
    height: 40vh;
    width: auto;
  }

  .img5,
  .img6 {
    display: none;
  }

  .seeMore {
    margin: auto;
    margin-top: 2vh;
  }

  .announcements {
    height: clamp(300px, 90vh, 800px) !important;
  }

  .announcementTitleContainer {
    width: 80%;
  }

  .announcementLine {
    width: 50%;
  }

  .announcementTitle {
    margin-top: 1vw;
    font-size: 4vw;
  }

  .post {
    width: 70%;
    height: clamp(100px, 90vh, 450px) !important;
    margin-bottom: 10vw !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .sorryText {
    margin-top: 2vh;
    font-size: clamp(25px, calc(1.25vw + 4px), 35px) !important;
  }

  .closedText {
    font-size: clamp(35px, calc(2.5vw + 4px), 45px) !important;
    font-weight: bold;
  }

  .tomorrowText {
    font-size: clamp(25px, calc(1.25vw + 4px), 35px) !important;
  }

  .vr {
    height: 3.2vw;
    margin-top: 2.5vw;
  }

  .closedAdditionalText {
    font-size: clamp(20px, calc(1.5vw + 4px), 30px) !important;
  }

  #calendar {
    width: 100%;
    margin: 0 auto;
    border: none;
    height: 53vw;
  }

  .fc .fc-daygrid-day-frame {
    height: 3vw;
  }
}
/* Tablet portrait */
@media only screen and (min-width: 600px) and (max-width: 1024px) and (orientation: portrait) {
  .topContainer {
    margin-top: 13vh;
    display: flex;
    flex-direction: column;
    .mamyrTitle {
      margin-top: 0;
    }
  }

  .welcomeSection {
    margin-top: 10vh;
  }

  .titleContainer {
    height: calc(15vh);
    width: 90%;
  }

  .name {
    font-size: clamp(80px, calc(4vw + 10px), 60px) !important;
  }

  .descriptionText {
    font-size: clamp(30px, calc(3vw + 4px), 35px);
  }

  .btn-outline-light {
    font-size: clamp(25px, calc(2vw + 4px), 30px) !important;
  }

  .availBtn {
    .custom-btn {
      font-size: medium !important;
    }
  }

  .contact {
    height: 60vh;
  }

  .contacts {
    display: flex;
    justify-content: start;
    width: 100%;
  }

  .calendar-container {
    width: 80%;
    #calendar {
      margin-top: 4vw;
    }
  }

  div .legend {
    font-size: 2.7vw !important;
  }

  .fc-daygrid-day-top a {
    font-size: 2vw;
  }

  thead {
    font-size: 2.3vw;
  }

  .wsTitle {
    font-size: clamp(30px, calc(2.4vh + 4px), 28px);
  }

  .wsDescription {
    font-size: clamp(2.7vw, 2.5vw, 2.3vw);
  }

  .contactText {
    h4 {
      font-size: clamp(35px, calc(2vw + 4px), 20px) !important;
    }
    h5 {
      font-size: clamp(25px, calc(1.5vw + 4px), 15px) !important;
    }
  }

  .locationIcon,
  .emailIcon,
  .phoneIcon {
    height: clamp(3vh, calc(1.5vw + 4px), 2vh) !important;
  }

  .gallery {
    .line {
      width: 30%;
    }
  }

  .galleryTitle {
    font-size: 4vw;
  }

  .galleryImg {
    height: 40vh;
    width: auto;
  }

  .img5,
  .img6 {
    display: block;
  }

  .img1,
  .img2,
  .img3,
  .img4 {
    display: none;
  }

  .seeMore {
    margin: auto;
    margin-top: 2vh;
    width: 30%;
    .custom-btn {
      font-size: large !important;
    }
  }

  .announcements {
    height: clamp(300px, 90vh, 700px) !important;
  }
  .post {
    width: calc(100% - 30vw);
    height: clamp(100px, 90vh, 450px) !important;
    margin-bottom: 10vw !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
/* Tablet landscape */
@media only screen and (min-width: 600px) and (max-width: 1024px) and (orientation: landscape) {
  .img5,
  .img6,
  .img4 {
    display: none;
  }

  .img1,
  .img2,
  .img3 {
    display: block;
  }

  .post {
    width: calc(100% - 30vw);
    height: clamp(100px, 90vh, 400px) !important;
    margin-bottom: 10vw !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #calendar {
    width: 100%;
    margin: 0 auto;
    margin-top: 2vw;
  }

  .fc .fc-daygrid-day-frame {
    height: 3vw;
  }
}

/* for Nav Bar adjustment */
@media (max-width: 991.98px) {
  .fc-daygrid-day-top a {
    font-size: clamp(2vw, 1.8vw, 1.6vw);
  }
}

@media (max-width: 991.98px) and (orientation: portrait) {
  .topContainer {
    .mamyrTitle {
      margin-top: 10vh;
    }
  }
  .calendar-container {
    margin-top: 3vh;
  }
}

/* Phone size */
@media screen and (max-width: 600px) {
  body {
    background-position-y: -25vh;
    background-size: cover;
  }
  .contacts {
    width: 100%;
  }

  .contactTitle {
    font-size: 18px;
  }

  .notificationIcon {
    height: clamp(5vw, 4.5vw, 4vw);
  }

  .topContainer {
    flex-direction: column;
  }

  .titleContainer {
    margin-left: 0;
    width: 70%;
    h1 {
      font-size: clamp(7vw, 6vw, 5vw);
    }
  }

  .nameOfUser {
    font-size: clamp(9vw, 8vw, 7vw);
  }

  #calendar {
    /* background-color: #fffefe; */
    border: none;
    overflow-y: hidden;
  }

  div .legend {
    font-size: 2.4vw !important;
  }

  .fc .fc-button-primary:disabled {
    font-size: clamp(1.9vw, calc(2.1vw + 4px), 2.5vw);
    padding: 0.2vw;
    height: 5vw;
    width: 10vw;
    margin-left: -5vw;
  }

  .fc .fc-button {
    padding: 0 0.4em;
  }

  .fc .fc-daygrid-day-frame {
    height: 3vw;
    padding: 0;
  }

  .fc-daygrid-day-top a {
    font-size: clamp(1.9vw, calc(2vw + 4px), 2.5vw) !important;
  }

  .fc .fc-bg-event .fc-event-title {
    font-size: 1.5vw;
  }

  thead {
    font-size: clamp(1.8vw, calc(2vw + 2px), 2.4vw);
  }

  .fc-header-toolbar {
    padding: 1vw;
    height: 10vw;
  }

  .fc .fc-toolbar-title {
    font-size: clamp(2.4vw, calc(2.6vw + 2px), 2.9vw);
  }

  .fc-button-group {
    font-size: clamp(1.9vw, calc(2.1vw + 4px), 2.5vw);
    height: 5vw;
    padding: 0.2vw;
  }

  .fc-button-group > .fc-button {
    height: 5vw;
  }

  .mamyrTitle {
    width: 100%;
    margin-top: clamp(10vh, 6vh, 2vh) !important;
  }

  .calendar-container {
    width: 90%;
  }

  .legends {
    width: 80%;
  }

  .fc .fc-toolbar.fc-header-toolbar {
    padding-bottom: 3vw;
  }

  #calendar {
    width: 90%;
    margin: 2vw auto;
  }

  .name {
    font-size: clamp(35px, calc(3.5vw + 4px), 40px) !important;
    text-align: left;
  }

  .description {
    margin: auto;
  }

  .descriptionText {
    font-size: clamp(18px, calc(1.5vw + 4px), 35px) !important;
    text-align: justify;
  }

  .containerBook {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    justify-items: center;
    align-items: center;
    padding: 5vw;
    margin-top: clamp(5vh, calc(2.5vh + 4px), 12vh);
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.3);
  }

  .label {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 0;
  }

  .formBoxes {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .containerLabel {
    text-align: left !important;
    width: 100%;
    font-size: clamp(14px, calc(1.5vw + 4px), 20px) !important;
  }

  .form-control {
    font-size: clamp(8px, calc(1.5vw + 4px), 10px) !important;
  }

  .availBtn {
    grid-column: span 2;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .welcomeSection {
    display: flex;
    flex-direction: column-reverse;
    margin: 5vh auto 0 auto;
    width: 100%;
  }

  .resortPic1 {
    margin-top: 5vw !important;
  }

  .pic1 {
    width: 80vw;
  }

  .wsText {
    margin-top: 8vw;
    width: 80%;
    .line {
      width: 100%;
    }
  }

  .img5,
  .img6 {
    display: none;
  }

  .wsText {
    margin-top: 0;
  }

  .wsTitle {
    font-size: clamp(4vw, 3.8vw, 3.6vw);
  }
  .wsDescription {
    font-size: clamp(3.5vw, 3.2vw, 3vw);
    text-shadow: 2px 2px 4px rgba(245, 245, 245, 1);
  }

  .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10vh;
    height: 80vh;
    padding-bottom: 8vh;
    h5 {
      font-size: 15px;
    }
    img {
      height: 3vh;
    }
  }

  .contactText {
    justify-content: center;
    align-items: center;
    margin: 1vh 3vw 0 0;
    width: 80%;
    .line {
      width: 40%;
    }
  }

  .emailAddressText {
    margin-top: 0.1vw;
  }

  .googleMap {
    height: 40vh;
    width: 80%;
    margin-top: 5vh;
  }

  .gallery {
    .line {
      width: 30%;
    }
  }

  .galleryTitle {
    font-size: 6vw;
  }

  .galleryImg {
    height: 30vh;
    width: auto;
  }

  .seeMore {
    margin: auto;
    margin-top: 2vh;
    width: 30%;
  }

  .custom-btn {
    font-size: 10px !important;
  }

  .announcements {
    height: calc(100vh - 40vh);
  }

  .announcementLine {
    width: 60%;
  }

  .announcementTitle {
    margin-top: 1.5vw;
    font-size: clamp(20px, calc(1.5vh + 4px), 25px);
  }

  .post {
    width: 70%;
    height: calc(75vh - 30vh);
    margin-bottom: 10vw !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .sorryText {
    margin-top: 2vh;
    font-size: clamp(12px, calc(1.5vh + 4px), 20px);
  }

  .closedText {
    font-size: clamp(25px, calc(2.5vh + 4px), 30px);
    font-weight: bold;
  }

  .tomorrowText {
    font-size: clamp(12px, calc(1.5vh + 4px), 20px);
  }
  .date,
  .time {
    font-size: clamp(12px, calc(1.5vh + 4px), 20px);
  }
  .vr {
    height: 3.5vw;
    margin-top: 2.5vw;
  }

  .closedAdditionalText {
    font-size: clamp(8px, calc(1.5vh + 4px), 12px);
  }

  .pb-1 {
    gap: 3vw;
  }

  .seeMore .btn-primary {
    font-size: clamp(3vw, 2.7vw, 2.9vw) !important;
    color: white !important;
  }
}
@media (max-width: 500px) {
  .wsText {
    margin-top: 10vh;
  }
}

@media (max-width: 400px) {
  .legend.btn {
    padding: 0.3rem 0.3rem;
  }

  .seeMore .btn-primary {
    font-size: clamp(3.5vw, 3.7vw, 3.9vw) !important;
    color: white !important;
  }
}
