@font-face {
  font-family: "Poppins";
  src: url(../../Fonts/Poppins/Poppins-Regular.ttf);
}
@font-face {
  font-family: "Poppins Black";
  src: url(../../Fonts/Poppins/Poppins-Black.ttf);
}
@font-face {
  font-family: "Lora";
  src: url(../../Fonts/Lora/Lora-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Alkatra";
  src: url(../../Fonts/Alkatra/Alkatra-VariableFont_wght.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
  text-decoration: none;
}

body {
  background-color: #f5f5f5 !important;
}

.backToSelection {
  position: absolute;
  top: 2%;
  left: 3%;
}

.titleContainer {
  margin-top: 2rem;
}

.eventTitle {
  font-family: "Poppins Black";
  font-size: 36px;
  text-align: center;
}

.mainCard {
  display: block;
  margin: auto;
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
  width: 80%;
  border-radius: 2rem !important;
}

.input-container {
  width: 100%;
}

/* Event Details */
section h4 {
  text-align: center;
  font-family: "Poppins";
  font-weight: bold !important;
  font-size: 20px;
  background-color: oklch(0.64 0.65 220 / 0.2);
  padding: 0.5rem;
}

#top-title {
  border-top-right-radius: 2rem !important;
  border-top-left-radius: 2rem !important;
}

.event-details {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.event-details,
.venue-details,
.date-details,
.food-container,
#addtionals,
.payment-details-container {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.event-details-container .input-container {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-top: 1rem;
}

.input-container label {
  display: block;
  margin: auto;
  font-size: 18px;
  margin-bottom: 0.55rem;
}

.input-container .form-control {
  width: 100%;
}
/* Event Details */

/* Venue details */

.venue-details {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.textareaContainer {
  display: flex;
  gap: 2rem;
}

.textareaContainer p {
  text-align: center;
  font-size: 18px;
  margin-bottom: 0.55rem;
}
/* Venue details */

/* Date details */
.date-container {
  margin-top: 1rem;
}

.date-details {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.date-details .input-container {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  /* margin-top: 1rem; */
}

textarea {
  width: 100% !important;
}
/* Date details */

/* Food details */

.food-main-container {
  margin-top: 1rem;
}
.food-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  /* border: 1px solid red; */
  padding: 1rem;
}

.food-info {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.5rem;
}

.foodCategory {
  font-size: 18px;
  font-weight: bold;
  font-family: "Poppins";
  text-align: center;
}

/* .foodName {
  display: block;
  text-align: right;
} */

.text-center {
  color: red;
  margin-top: 1rem;
  text-align: center;
  grid-column: span 4;
}
/* Food details */

/* Additional Services details */
.additional-container {
  margin-top: 1rem;
}

.form-group {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
/* Additional Services details */

/* Payment details */
.payment-container {
  margin-top: 1rem;
}

.payment-details-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
  margin-top: 1rem;
}
/* Payment details */

/* Note details */
.notes-container {
  margin-top: 2rem;
}

.button-container {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

.btn-primary {
  width: 25%;
}
/* Note details */

@media only screen and (min-width: 769px) and (max-width: 1024px) and (orientation: portrait) {
  .event-details {
    gap: 0.5rem;
    flex-wrap: wrap;
  }

  label {
    font-weight: bold;
  }

  .input-container {
    width: 45% !important;
  }

  .input-container label {
    display: block !important;
    margin: auto !important;
    text-align: center !important;
    font-size: 18px;
    margin-bottom: 0.55rem;
  }

  .textareaContainer p {
    font-weight: bold;
  }

  .food-info {
    width: 60%;
  }

  .payment-details-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }
}

/* Tablet Landscape */
@media only screen and (min-width: 769px) and (max-width: 1024px) and (orientation: landscape) {
  label {
    font-weight: bold;
  }

  .input-container label {
    display: block !important;
    margin: auto !important;
    text-align: center !important;
    font-size: 18px;
    margin-bottom: 0.55rem;
  }

  .textareaContainer p {
    font-weight: bold;
  }

  .food-info {
    width: 50%;
  }

  .payment-details-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 8px;
  }
}

/* Tablet portrait only */
@media only screen and (min-width: 600px) and (max-width: 768px) {
  .event-details {
    flex-direction: column;
    gap: 0.5rem;
  }

  label {
    font-weight: bold;
  }

  .input-container label {
    display: block !important;
    margin: auto !important;
    text-align: center !important;
    font-size: 18px;
    margin-bottom: 0.55rem;
  }

  .textareaContainer p {
    font-weight: bold;
  }

  .food-info {
    width: 60%;
  }

  .payment-details-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}

/* Phone size */
@media screen and (max-width: 599px) {
  .eventTitle {
    margin-top: 6rem;
  }

  label {
    font-weight: bold;
  }

  .card {
    width: 95%;
  }

  .event-details,
  .textareaContainer,
  .date-details {
    flex-direction: column;
    gap: 0.5rem;
  }

  .input-container label {
    display: block !important;
    margin: auto !important;
    text-align: center !important;
    font-size: 18px;
    margin-bottom: 0.55rem;
  }

  .textareaContainer p {
    font-weight: bold;
  }

  .food-info {
    display: flex;

    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 0.5rem;
  }

  .foodName,
  .additional-container label {
    font-weight: normal !important;
  }

  .payment-details-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .btn-primary {
    width: 50%;
  }
}
