@font-face {
  font-family: "Poppins";
  src: url(../../Fonts/Poppins/Poppins-Regular.ttf);
}
@font-face {
  font-family: "Poppins Black";
  src: url(../../Fonts/Poppins/Poppins-Black.ttf);
}
@font-face {
  font-family: "Lora";
  src: url(../../Fonts/Lora/Lora-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Alkatra";
  src: url(../../Fonts/Alkatra/Alkatra-VariableFont_wght.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
  text-decoration: none;
}

#event-page {
  background-image: unset;
  background-color: rgb(255, 220, 174) !important;
  margin: 0;
  padding: 0;
}

.eventTitle {
  font-size: clamp(3.5vw, 3.2vw, 3vw);
  font-family: "Lora";
  color: #000000;
  font-weight: bold;
  margin-top: 6vw;
}

.backToSelection {
  position: absolute;
  margin: -1rem 0 0 4rem;
}

.container-fluid {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1.5rem;
  width: 100%;
  padding: 2vw;
}

.card {
  margin-top: 1rem;
  height: 90vh !important;
  padding: 2rem;
}

#eventBookingCard {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 6vw);
  gap: 8px;
}

.eventInfoLabel {
  font-family: "Poppins";
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 0.7vw;
  display: block;
  text-align: center;
}

.secondColumn {
  display: grid;
  width: 100%;
}

.noteContainer {
  margin-top: 4rem !important;
  width: 98%;
}

.note {
  color: #ff0000;
  text-align: justify;
}

#foodSelectionCard,
#additionalServicesCard {
  padding: 0 !important;
  margin: auto !important;
}

#foodSelectionCard,
#additionalServicesCard {
  display: flex !important;
  flex-direction: row !important;
  align-items: center;
  justify-content: center;
  height: 56vh !important;
  margin-top: 1vw !important;
  padding: 0.8rem !important;
  overflow: hidden;
}

#foodSelectionCover,
#additionalServicesCover {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.card-img-top {
  width: 100%;
  height: 23vw;
  object-fit: cover;
}
.fw-bold {
  /* margin-top: -2vw; */
  font-family: "Poppins";
}

#calendar {
  width: 85%;
  height: 80vh;
  margin: auto;
  margin-top: 1vw !important;
  background-color: #fffefe;
  border-radius: 2.5rem;
}

.fc table {
  font-size: 18px;
}

.fc-scrollgrid,
td {
  /* border: 1px solid red !important; */
  border: none;
}

.fc a {
  text-decoration: none !important;
  color: black;
}

.fc-header-toolbar {
  /* margin-top: 1rem; */
  height: 5rem !important;
  padding: 2rem;
  border-top-left-radius: 3vw;
  border-top-right-radius: 3vw;
  margin-bottom: 0;
  background-color: #00bbff;
}

.fc-button {
  background-color: #ffffff !important;
  color: rgb(0, 0, 0) !important;
  border-radius: 5px;
  font-weight: bold;
}

.fc-toolbar-title {
  color: #fff;
}

.fc-daygrid-day-events {
  display: none;
}

.fc .fc-button-primary:disabled {
  background-color: #fdfdfd !important;
  opacity: 1 !important;
}

.fc .fc-button-primary:disabled:hover {
  background-color: #f2d8b7 !important;
  opacity: 1 !important;
}

.fc-direction-ltr .fc-button-group > .fc-button:not(:first-child) {
  margin-left: 1vw;
}

#event-page
  .fc-direction-ltr
  .fc-button-group
  > .fc-button:not(:first-child):hover {
  background-color: #91c6ff !important;
  color: #fff !important;
}
.fc-direction-ltr .fc-button-group > .fc-button:not(:last-child) {
  margin-left: 1vw;
}

#event-page
  .fc-direction-ltr
  .fc-button-group
  > .fc-button:not(:last-child):hover {
  background-color: #91c6ff !important;
  color: #fff !important;
}

.fc .fc-daygrid-day.fc-day-today {
  background-color: #5dccf5 !important;
}

.fc .fc-daygrid-day.fc-day-today .fc-daygrid-day-number {
  color: #fff !important;
}

/* di ko sure 'to test nalang pag may event na nalagay*/
.fc-event {
  background-color: #28a745;
  color: white;
  border-radius: 5px;
  padding: 5px;
}

.fc-event:hover {
  background-color: #218838;
}

#eventContainer {
  display: grid !important;
  grid-template-columns: repeat(2, 1fr) !important;
  grid-template-rows: repeat(2, 1fr) !important;
  gap: 8px !important;
  margin-top: 2vw !important;
}

.modal-body {
  display: grid !important;
  grid-template-columns: repeat(2, 1fr) !important;
  grid-template-rows: repeat(3, 1fr) !important;
  gap: 10px;
}

.eventButton-container {
  display: flex;
  justify-content: center;
  margin-top: -15vw !important;
}

.eventBox {
  display: flex;
}

.fa-solid {
  position: absolute;
  left: 45%;
  top: 32.1%;
}

#additionalServiceNote {
  padding: 0.7rem !important;
  text-align: center;
}

.note-container {
  padding: 0.7rem;
}

.note-container li {
  color: #0d6dfc;
}

@media only screen and (min-width: 769px) and (max-width: 1024px) and (orientation: portrait) {
  .backToSelection {
    top: 1%;
    left: 3%;
    margin: unset;
  }

  .titleContainer {
    border: 1px solid transparent;
  }

  .eventTitle {
    font-size: 36px;
    margin-top: 6rem !important;
  }
  #eventContainer {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    margin-top: -1rem !important;
  }

  .card {
    width: 100% !important;
  }

  #eventBookingCard {
    display: flex !important;
  }

  .eventBox {
    display: flex;
  }
  .fa-calendar-days {
    margin-top: -3rem;
    margin-left: 21.6rem;
  }

  .note {
    margin-top: -3rem;
    text-align: center;
  }

  .secondColumn {
    width: 100%;
  }
  #calendar {
    width: 100%;
    margin: 2vw auto;
  }

  #foodSelectionCard,
  #additionalServicesCard {
    flex-direction: column !important;
    align-items: center;
    padding-top: 2rem !important;
    width: 30rem !important;
    height: 35rem !important;
  }

  #foodSelectionCover {
    margin-top: -1.3rem;
    height: 17rem !important;
  }

  .card-img-top {
    height: 30vw;
    object-fit: cover;
  }

  #additionalServiceNote {
    padding: 0.7rem !important;
    text-align: center;
    margin-top: 0.5rem !important;
  }

  .modal-body.additionalService {
    display: flex !important;
    flex-direction: column;
    gap: 1rem;
  }

  .eventButton-container {
    margin-top: 1rem !important;
  }

  #bookNowBtn {
    width: 50% !important;
  }
}

/* Tablet Landscape */
@media only screen and (min-width: 769px) and (max-width: 1024px) and (orientation: landscape) {
  .backToSelection {
    top: 1%;
    left: 3%;
    margin: unset;
  }

  .titleContainer {
    border: 1px solid transparent;
  }

  .eventTitle {
    font-size: 36px;
    margin-top: 6rem !important;
  }

  .card {
    width: 100% !important;
  }

  #eventBookingCard {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 8px;
  }

  .eventBox {
    display: flex;
  }
  .fa-calendar-days {
    margin-top: 0.6rem;
    margin-left: -1rem;
  }

  .note {
    margin-top: -3rem;
    text-align: center;
  }

  .secondColumn {
    width: 100%;
  }
  #calendar {
    width: 100%;
    margin: 2vw auto;
  }

  #foodSelectionCard,
  #additionalServicesCard {
    flex-direction: column !important;
    align-items: center;
    padding-top: 2rem !important;
    width: 30rem !important;
    height: 35rem !important;
  }

  #foodSelectionCover {
    margin-top: -1.3rem;
    height: 17rem !important;
  }

  .card-img-top {
    height: 30vw;
    object-fit: cover;
  }

  #additionalServiceNote {
    padding: 0.7rem !important;
    text-align: center;
    margin-top: 0.5rem !important;
  }

  .modal-body.additionalService {
    display: flex !important;
    flex-direction: column;
    gap: 1rem;
  }

  .eventButton-container {
    margin-top: 1rem !important;
  }

  #bookNowBtn {
    width: 50% !important;
  }

  .fc .fc-button-primary:disabled {
    font-size: clamp(1rem, calc(0.8rem + 4px), 1rem);
    padding: 0.2vw;
    height: 2rem;
    width: 5rem;
  }

  .fc-toolbar-chunk {
    display: flex;
  }

  .fc .fc-toolbar-title {
    text-align: center;
  }
}

/* Tablet portrait only */
@media only screen and (min-width: 600px) and (max-width: 768px) {
  .backToSelection {
    top: 1%;
    left: 3%;
    margin: unset;
  }

  .titleContainer {
    border: 1px solid transparent;
  }

  .eventTitle {
    font-size: 36px;
    margin-top: 6rem !important;
  }
  #eventContainer {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    margin-top: -1rem !important;
  }

  .card {
    width: 100% !important;
  }

  #eventBookingCard {
    display: flex !important;
  }

  .eventBox {
    display: flex;
  }
  .fa-calendar-days {
    margin-top: -3rem;
    margin-left: 21.6rem;
  }

  .note {
    margin-top: -3rem;
    text-align: center;
  }

  .secondColumn {
    width: 100%;
  }
  #calendar {
    width: 100%;
    margin: 2vw auto;
  }

  #foodSelectionCard,
  #additionalServicesCard {
    flex-direction: column !important;
    align-items: center;
    padding-top: 2rem !important;
    width: 30rem !important;
    height: 35rem !important;
  }

  #foodSelectionCover {
    margin-top: -1.3rem;
    height: 17rem !important;
  }

  .card-img-top {
    height: 30vw;
    object-fit: cover;
  }

  #additionalServiceNote {
    padding: 0.7rem !important;
    text-align: center;
    margin-top: 0.5rem !important;
  }

  .modal-body.additionalService {
    display: flex !important;
    flex-direction: column;
    gap: 1rem;
  }

  .eventButton-container {
    margin-top: 1rem !important;
  }

  #bookNowBtn {
    width: 50% !important;
  }
}

/* Phone size */
@media screen and (max-width: 599px) {
  .backToSelection {
    top: 1%;
    left: 3%;
    margin: unset;
  }

  .titleContainer {
    border: 1px solid transparent;
  }

  .eventTitle {
    font-size: 36px;
    margin-top: 6rem !important;
  }
  #eventContainer {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    margin-top: -1rem !important;
  }

  #eventBookingCard {
    display: flex !important;
    height: 55rem !important;
  }

  .card {
    width: 100% !important;
  }

  .eventBox {
    display: flex;
  }
  .fa-calendar-days {
    margin-top: -1.8rem;
    margin-left: 9.31rem;
  }

  .note {
    margin-top: -3rem;
  }

  .secondColumn {
    width: 100%;
  }

  .legends {
    width: 80%;
  }

  .fc .fc-toolbar.fc-header-toolbar {
    padding-bottom: 0.5rem;
  }

  #calendar {
    width: 100%;
    margin: 2vw auto;
  }

  #calendar {
    border: none;
    overflow-y: hidden;
  }

  .fc .fc-button-primary:disabled {
    font-size: clamp(1rem, calc(0.8rem + 4px), 1rem);
    padding: 0.2vw;
    height: 2rem;
    width: 5rem;
  }

  .fc .fc-button {
    padding: 0 0.4em;
  }

  .fc .fc-daygrid-day-frame {
    height: 3vw;
    padding: 0;
  }

  .fc .fc-bg-event .fc-event-title {
    font-size: 15px;
  }

  thead {
    font-size: clamp(14px, calc(16 + 4px), 16px);
  }

  .fc-header-toolbar {
    padding: 1vw;
    height: 10vw;
  }

  .fc .fc-toolbar-title {
    font-size: 18px;
    margin-left: 1rem;
  }

  .fc .fc-col-header-cell-cushion,
  .fc-daygrid-day-top a {
    font-size: 14px;
  }

  .fc-button-group {
    font-size: clamp(1.9vw, calc(2.1vw + 4px), 2.5vw);
    height: 5vw;
    padding: 0.2vw;
  }

  .fc-button-group > .fc-button {
    height: 5vw;
  }

  #foodSelectionCard,
  #additionalServicesCard {
    flex-direction: column !important;
    align-items: center;
    padding-top: 2rem !important;
  }

  #foodSelectionCover {
    /* margin-top: -1.3rem; */
    height: 17rem !important;
  }

  #foodSelectionCard,
  #additionalServicesCard {
    height: auto !important;
    padding: 1rem !important;
  }

  .card-img-top {
    height: 50vw;
    object-fit: cover;
  }

  #additionalServiceNote {
    padding: 0.7rem !important;
    text-align: center;
    margin-top: 0.5rem !important;
  }

  .modal-body.additionalService {
    display: flex !important;
    flex-direction: column;
    gap: 1rem;
  }

  .eventButton-container {
    margin-top: 1rem !important;
  }

  #bookNowBtn {
    width: 50% !important;
  }
}
