@font-face {
  font-family: "Poppins";
  src: url(../../Fonts/Poppins/Poppins-Regular.ttf);
}
@font-face {
  font-family: "Poppins Black";
  src: url(../../Fonts/Poppins/Poppins-Black.ttf);
}

@font-face {
  font-family: "Alkatra";
  src: url(../../Fonts/Alkatra/Alkatra-VariableFont_wght.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
  text-decoration: none;
}

#event-page {
  background-image: unset;
  background-color: rgb(255, 220, 174) !important;
  margin: 0;
  padding: 0;
}

.eventTitle {
  font-size: 35px;
  font-family: "Poppins";
  color: #000000;
  font-weight: bold;
  margin-top: 2rem;
}

.backToSelection {
  position: absolute;
  margin: 0 0 0 4rem;
}

.backToSelection i {
  font-size: 45px;
  font-weight: 900 !important;
}

.container-fluid {
  display: flex !important;
  justify-content: space-evenly !important;
  align-items: center;
  gap: 1.5rem;
  padding: 2vw;
}

.card {
  padding: 2rem;
}

#eventContainer {
  display: grid !important;
  gap: 8px !important;
  width: 90% !important;
}

#upperRow,
#lowerRow {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#additionalServicesCard,
#foodSelectionCard {
  width: 95%;
}

#eventBookingCard {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 6vw);
  gap: 8px;
}

#eventBookingCard .eventInfo,
#eventBookingCard .noteContainer {
  grid-column: span 2;
}

.eventInfoLabel {
  font-family: "Poppins";
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 0.5vw;
  display: block;
  text-align: center;
}

.noteContainer {
  margin: 0.5rem 0 0 0 !important;
  padding: 0;
  font-size: 14px;
}

.noteContainer ul {
  margin: 0;
  padding-left: 0.5rem;
  list-style: none;
}

.noteContainer li {
  color: rgb(13, 109, 252, 0.8);
}

.eventInfo textarea {
  width: 100%;
}

.secondColumn {
  display: grid;
  width: 100%;
}

#foodSelectionCard,
#additionalServicesCard {
  padding: 0 !important;
  margin: auto !important;
}

#selectedDishesContainer,
#selectedAdditionalServicesContainer {
  overflow-y: scroll;
  height: 30%;
  max-height: 15vh;
}

#foodSelectionCard,
#additionalServicesCard {
  display: flex !important;
  flex-direction: row !important;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-top: 1vw !important;
  padding: 0.8rem !important;
  overflow: hidden;
}

#foodSelectionCover,
#additionalServicesCover {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.card-img-top {
  width: 55% !important;
  height: 100%;
  object-fit: cover;
}
.card-body {
  width: 40%;
}
.fw-bold {
  font-family: "Poppins";
}

.selected-container {
  margin-top: 0.5rem;
}

.selected-inline {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.4rem;
}

.selected-label-inline {
  font-weight: 600;
  color: black;
  white-space: nowrap;
}
.selected-tag {
  background-color: #e5f4ff;
  border: 1px solid #b3daff;
  border-radius: 5px;
  padding: 0.25rem 0.75rem;
  font-size: 0.9rem;
  display: inline-flex;
  align-items: center;
  transition: background 0.2s;
  cursor: pointer;
  font-weight: 600;
}

.selected-tag:hover {
  background-color: #d0e9ff;
}

.calContainer {
  width: 90%;
  border-radius: 2px;
}

#calendar {
  width: 100%;
  margin: auto;
  background-color: #fffefe;
  padding: 1rem;
  border-radius: 2px;
}

#fc-dom-1 {
  font-size: 2.3vw;
}

.fc table {
  font-size: 16px;
}

.fc-scrollgrid,
td {
  /* border: 1px solid red !important; */
  border: none;
}

.fc a {
  text-decoration: none !important;
  color: black;
}

.fc-header-toolbar {
  padding: 1.5rem;
  margin-bottom: 0;
}

.fc-button {
  color: whitesmoke !important;
  border-radius: 5px;
  font-weight: bold;
}

.fc-toolbar-title {
  color: black;
}

.fc-toolbar .fc-button:hover {
  background-color: rgb(3, 87, 177);
}

.fc-daygrid-day-events {
  display: none;
}

.fc .fc-button-primary:disabled:hover {
  background-color: #f2d8b7 !important;
  opacity: 1 !important;
}

.fc-direction-ltr .fc-button-group > .fc-button:not(:first-child) {
  margin-left: 1vw;
}

#event-page
  .fc-direction-ltr
  .fc-button-group
  > .fc-button:not(:first-child):hover {
  background-color: #91c6ff !important;
  color: #fff !important;
}
.fc-direction-ltr .fc-button-group > .fc-button:not(:last-child) {
  margin-left: 1vw;
}

.fc-today-button.fc-button.fc-button-primary {
  background-color: #b2e0b2;
  color: black !important;
}

#event-page
  .fc-direction-ltr
  .fc-button-group
  > .fc-button:not(:last-child):hover {
  background-color: #91c6ff !important;
  color: #fff !important;
}

.fc .fc-daygrid-day.fc-day-today {
  background-color: #5dccf5 !important;
}

.fc .fc-daygrid-day.fc-day-today .fc-daygrid-day-number {
  color: #fff !important;
}

/* di ko sure 'to test nalang pag may event na nalagay*/
.fc-event {
  background-color: #28a745;
  color: white;
  border-radius: 5px;
  padding: 5px;
}

.fc-event:hover {
  background-color: #218838;
}

.legends {
  background-color: #f5f5f5;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 2px;
}

.legend {
  color: rgb(22, 22, 22);
  font-size: 16px !important;
}

.legend:hover {
  color: #151515 !important;
}

#dishMenuContainer {
  margin-top: -2rem !important;
}

.kid-category,
.adult-category,
.drink-dessert-category {
  margin: 1rem auto;
}

.mealLabel {
  background-color: rgb(190, 184, 184, 0.5);
  padding: 0.5rem;
  text-align: center;
  font-size: 20px;
}

.foodContainer {
  /* width: 80%;
  margin: auto; */
  display: grid !important;
  grid-template-columns: repeat(2, 1fr) !important;
  gap: 1rem;
  justify-content: center !important;
}

.foodContainer h4 {
  font-size: 18px;
  font-weight: bold;
}

input[type="checkbox"],
.adult-chickenCategory {
  font-size: 16px;
}

.eventButton-container {
  display: flex;
  justify-content: center;
  margin-bottom: 5vw;
}

.eventBox {
  display: flex;
  align-items: center;
}

.fa-calendar-days {
  margin-left: -2vw;
}

#additionalServiceNote {
  padding: 0.7rem !important;
  text-align: center;
}

.note-container {
  padding: 1rem;
}

.note-container ul {
  list-style: none;
}

.note-container li {
  color: #3888ff;
}

.foodCheck-container {
  margin-top: 0.5rem;
}

.foodCheck-label {
  font-size: 14px;
  text-align: center;
}

/* Tablet Landscape */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .backToSelection {
    top: 1%;
    left: 3%;
    margin: unset;
  }

  .titleContainer {
    border: 1px solid transparent;
  }

  .eventTitle {
    font-size: 36px;
    margin-top: 6rem !important;
  }

  #eventBookingCard {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 8px;
    margin: 0 auto;
    padding: 1vw !important;
  }

  .eventBox {
    display: flex;
  }

  .note {
    margin-top: -3rem;
    text-align: center;
  }

  .secondColumn {
    width: 98%;
  }

  #calendar {
    margin: 0 auto;
    height: 80%;
  }

  #foodSelectionCard,
  #additionalServicesCard,
  #eventBookingCard {
    align-items: center;
    padding-top: 2rem !important;
    height: 100%;
    width: 90%;
  }

  .card-body {
    width: 95%;
  }

  .fc-header-toolbar {
    padding: 1rem;
  }

  .fc .fc-button {
    padding: 0;
  }

  #additionalServiceNote {
    padding: 0.7rem !important;
    text-align: center;
    margin-top: 0.5rem !important;
  }

  .modal-body.additionalService {
    display: flex !important;
    flex-direction: column;
    gap: 1rem;
  }

  .eventButton-container {
    margin-top: 1rem !important;
  }

  #bookNowBtn {
    width: 50% !important;
  }

  .fc .fc-button-primary:disabled {
    font-size: clamp(1rem, calc(0.8rem + 4px), 1rem);
    height: 2rem;
    width: 5rem;
  }

  .fc-toolbar-chunk {
    display: flex;
  }

  .fc .fc-toolbar-title {
    text-align: center;
  }

  #lowerRow {
    grid-template-columns: repeat(1, 1fr) !important;
    grid-template-rows: repeat(2, 1fr) !important;
    gap: 1.5vw;
  }
}

/* Tablet portrait only */
@media only screen and (min-width: 600px) and (max-width: 768px) {
  .backToSelection {
    top: 1%;
    left: 3%;
    margin: unset;
  }

  .titleContainer {
    border: 1px solid transparent;
  }

  .eventTitle {
    font-size: 36px;
    margin-top: 6rem !important;
  }
  #eventContainer {
    display: flex !important;
    flex-direction: column;
    align-items: center;
  }

  #lowerRow,
  #upperRow {
    grid-template-columns: repeat(1, 1fr) !important;
    grid-template-rows: repeat(2, 1fr) !important;
    gap: 1.5vw;
  }
  #eventBookingCard {
    grid-template-rows: repeat(4, 1fr);
    column-gap: 12px;
  }

  .fa-calendar-days {
    margin-left: -4vw;
  }

  .card-body {
    width: 95%;
  }

  .eventBox {
    display: flex;
  }

  .note {
    margin-top: -3rem;
    text-align: center;
  }

  .secondColumn {
    width: 100%;
  }
  #calendar {
    width: 80%;
    margin: 2vw auto;
  }
  #fc-dom-1 {
    font-size: 3.5vw;
  }

  #foodSelectionCard,
  #additionalServicesCard {
    flex-direction: column !important;
    align-items: center;
    padding: 4vw 2vw 2vw 2vw !important;
  }
  #additionalServiceNote {
    padding: 0.7rem !important;
    text-align: center;
    margin-top: 0.5rem !important;
  }

  .modal-body.additionalService {
    display: flex !important;
    flex-direction: column;
    gap: 1rem;
  }

  .eventButton-container {
    margin-top: 1rem !important;
  }

  #bookNowBtn {
    width: 50% !important;
  }

  .card-img-top {
    height: 60%;
  }

  .fc .fc-daygrid-day-top {
    flex-direction: unset;
  }

  .foodCheck-container {
    text-align: center !important;
    width: 70%;
    margin: auto;
  }
}

/* Phone size */
@media screen and (max-width: 599px) {
  .backToSelection {
    margin-left: 1rem !important;
  }

  .backToSelection i {
    font-size: 30px;
  }

  .eventTitle {
    font-size: 30px;
    margin-bottom: 2.5rem;
  }
  #eventContainer {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    margin-top: -1rem !important;
  }

  #eventBookingCard {
    margin-top: 5vw;
    display: flex !important;
  }

  .note {
    margin-top: -3rem;
  }

  .secondColumn {
    width: 100%;
  }

  .fc .fc-toolbar.fc-header-toolbar {
    padding-bottom: 0.5rem;
  }

  #calendar {
    width: 100%;
  }

  .legends {
    padding: 0.5rem;
  }

  .legend {
    font-size: 12px !important;
  }

  .fc .fc-button-primary:disabled {
    font-size: clamp(1rem, calc(0.8rem + 4px), 1rem);
    padding: 0.2vw;
    height: 2rem;
    width: 5rem;
  }

  .fc .fc-button {
    padding: 0 0.4em;
  }

  .fc .fc-daygrid-day-frame {
    height: 3vw;
    padding: 0;
  }

  .fc .fc-bg-event .fc-event-title {
    font-size: 15px;
  }

  thead {
    font-size: clamp(14px, calc(16 + 4px), 16px);
  }

  .fc-header-toolbar {
    padding: 1vw;
    height: 10vw;
  }

  .fc .fc-toolbar-title {
    font-size: 18px;
    margin-left: 1rem;
  }

  .fc .fc-col-header-cell-cushion,
  .fc-daygrid-day-top a {
    font-size: 14px;
  }

  .fc-button-group {
    font-size: clamp(1.9vw, calc(2.1vw + 4px), 2.5vw);
    height: 5vw;
    padding: 0.2vw;
  }

  .fc-button-group > .fc-button {
    height: 5vw;
  }

  #foodSelectionCard,
  #additionalServicesCard {
    flex-direction: column !important;
    align-items: center;
    padding-top: 2rem !important;
  }

  #foodSelectionCard,
  #additionalServicesCard {
    height: auto !important;
    padding: 1rem !important;
  }

  #additionalServiceNote {
    padding: 0.7rem !important;
    text-align: center;
    margin-top: 0.5rem !important;
  }

  .modal-body.additionalService {
    display: flex !important;
    flex-direction: column;
    gap: 1rem;
  }

  .eventButton-container {
    margin-top: 1rem !important;
  }

  #bookNowBtn {
    width: 50% !important;
  }

  #lowerRow {
    grid-template-columns: repeat(1, 1fr) !important;
    grid-template-rows: repeat(2, 1fr) !important;
    gap: 1.5vw;
  }
  #upperRow {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
  }

  .card-body {
    width: 95%;
  }

  .fc .fc-daygrid-day-top {
    flex-direction: unset;
  }

  #fc-dom-1 {
    font-size: 18px;
  }

  .foodCheck-container {
    text-align: center !important;
    width: 70%;
    margin: auto;
  }
}
