@font-face {
  font-family: "Poppins";
  src: url(../../Fonts/Poppins/Poppins-Regular.ttf);
}
@font-face {
  font-family: "Poppins Black";
  src: url(../../Fonts/Poppins/Poppins-Black.ttf);
}

@font-face {
  font-family: "Alkatra";
  src: url(../../Fonts/Alkatra/Alkatra-VariableFont_wght.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
  text-decoration: none;
}

body {
  background-image: url(../../Images/BookNowPhotos/bookNowBg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-color 0.5s ease;
}

#resortBookingForm {
  margin-top: 2rem;
}

.resortTitle {
  font-size: 35px;
  color: #000000;
  font-weight: bold;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  gap: 1rem;
  margin-top: 2rem;
}

.backToSelection {
  position: absolute;
  margin: 0.2rem 0 0 5rem;
  width: 4.5rem;
  border: none !important;
  /* background-color: transparent !important; */
}

.backToSelection i {
  font-size: 30px;
}

.resort-card {
  padding: 2rem 2rem 0 2rem;
  margin-bottom: 1rem;
  font-family: "Poppins";
  width: 50%;
}

.scheduleInputContainer {
  display: flex;
  align-items: center;
  width: 100%;
}

#calendarIcon {
  position: absolute;
  right: 57%;
}

.scheduleForm,
.peopleForm,
.cottageRoomForm,
.purposeForm {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 0.5rem;
}

.peopleForm input {
  height: 2.5rem;
}

.peopleForm .info-container p {
  font-size: 12px;
  color: #007bff;
}

.peopleForm .info-container {
  display: flex;
  gap: 0.2rem;
  height: 1rem;
}

.cottagesForm,
.roomNumbers,
.videokeForm {
  width: 100%;
}

.modal-body {
  display: flex;
  flex-direction: column;
}

.modal-text {
  color: rgb(15, 127, 255) !important;
}

.modal-text i {
  gap: 1rem;
}

.selected-container {
  margin-top: 0.5rem;
}

.selected-inline {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.4rem;
}

.selected-label-inline {
  font-weight: 600;
  color: black;
  white-space: nowrap;
}
.selected-tag {
  background-color: #e5f4ff;
  border: 1px solid #b3daff;
  border-radius: 5px;
  padding: 0.25rem 0.75rem;
  font-size: 0.9rem;
  display: inline-flex;
  align-items: center;
  transition: background 0.2s;
  cursor: pointer;
  font-weight: 600;
}

.selected-tag:hover {
  background-color: #d0e9ff;
}

#entertainmentContainer,
#cottagesContainer {
  /* border: 1px solid red; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

#roomsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.checkbox-item label {
  margin-left: 1vw;
}

#entertainmentContainer label,
#cottagesContainer label {
  margin-left: 0.5rem;
  font-size: 15px;
}

.entrance-rates {
  display: flex;
  flex-direction: column;
  width: 600px;
  padding: 0.5rem;
  gap: 1rem;
}

.entrance-rates .card-body {
  padding: 0.5rem;
}

.rates {
  top: -5rem;
  width: auto;
  padding: 1rem 0.5rem;
}

.rates h1 {
  font-size: 25px;
  font-family: "Alkatra";
  color: blue;
}

.rates h5 {
  font-size: 16px;
  text-align: center;
}

.rates p {
  font-size: 14px;
  margin: 0;
  text-align: center;
}

.rates .card-body {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.rates .card-body .data-container:last-child {
  grid-column: span 2;
}

.cottagesEntertainment {
  top: -5rem;
  width: auto;
  height: 320px;
  display: flex;
  flex-direction: column;
}

.cottagesEntertainment .card-body {
  padding: 0.5rem;
}

.cottagesNotes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.entertainmentContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.cottagesEntertainment h1 {
  font-size: 20px;
  font-family: "Alkatra";
  text-align: center;
  color: blue;
}

.cottagesEntertainment li {
  font-size: 14px;
}

.cottagesEntertainment p {
  font-size: 14px;
  text-align: center;
  line-height: 1;
}

.cottagesEntertainment .note li {
  list-style: circle;
  text-transform: none;
}

.schedLabel,
.cottagesFormLabel,
.entertainmentFormLabel,
.noOfPeopleLabel,
.purposeLabel,
.roomLabel,
.paymentLabel {
  text-align: center;
  margin: 0.5rem 0 0.5rem 0;
  font-weight: bold;
}

.button-container {
  padding: 1rem;
}

.additional-info-container ul {
  width: 100%;
  margin: 0;
  padding: 0;
}

.additional-info-container li {
  font-size: 12px;
  text-transform: none;
  margin: 0.5rem;
  padding: 0.3rem;
  text-align: justify;
}

/* Tablet Portrait */
@media only screen and (min-width: 600px) and (max-width: 1025px) and (orientation: portrait) {
  .backToSelection {
    top: 3%;
    left: -5%;
  }

  .titleContainer {
    margin-top: 6rem;
  }

  .resortTitle {
    font-size: 30px;
  }
  .container {
    flex-direction: column;
  }

  .resort-card {
    width: 100%;
  }

  .entrance-rates {
    width: 100%;
  }

  .scheduleForm,
  .peopleForm,
  .cottageRoomForm,
  .purposeForm {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 1rem;
  }
  .purposeLabel {
    margin-top: 1rem;
  }

  .rates .card-body {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .cottagesEntertainment,
  .rates {
    top: 0;
  }
}

/* Tablet Landscape */
@media only screen and (min-width: 600px) and (max-width: 1025px) and (orientation: landscape) {
  .backToSelection {
    top: 3%;
    left: -5%;
  }

  .titleContainer {
    margin-top: 6rem;
  }

  .resortTitle {
    font-size: 30px;
  }
  .container {
    flex-direction: column !important;
  }

  .resort-card {
    width: 100%;
  }

  .entrance-rates {
    width: 100%;
  }
}

@media (max-width: 991.98px) {
  .backToSelection {
    top: 3%;
    left: -5%;
  }

  .titleContainer {
    margin-top: 6rem;
  }

  .resortTitle {
    font-size: 30px;
  }

  .container {
    flex-direction: column !important;
  }

  .resort-card {
    width: 100%;
  }

  .entrance-rates {
    width: 100%;
  }

  .scheduleForm,
  .peopleForm,
  .cottageRoomForm,
  .purposeForm {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 1rem;
  }
  .purposeLabel {
    margin-top: 1rem;
  }

  .scheduleInputContainer {
    display: flex;
    align-items: center;
    width: 100%;
  }

  #calendarIcon {
    position: absolute;
    right: 57%;
  }

  .rates .card-body {
    gap: 2rem;
  }

  .cottagesNotes,
  .entertainmentContainer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}

/* Phones */
@media only screen and (max-width: 600px) {
  .backToSelection {
    top: 3%;
    left: -15%;
  }

  .cottagesEntertainment,
  .rates {
    top: 0;
  }

  .titleContainer {
    margin-top: 6rem;
  }

  .resortTitle {
    font-size: 30px;
  }
  .container {
    flex-direction: column;
  }

  .resort-card {
    width: 100%;
  }

  .entrance-rates {
    width: 100%;
  }

  .scheduleInputContainer {
    display: flex;
    align-items: center;
    width: 100%;
  }

  #calendarIcon {
    position: absolute;
    right: 12.5%;
  }

  .peopleForm .input-container {
    width: 100%;
  }
  .scheduleForm,
  .peopleForm,
  .cottageRoomForm,
  .purposeForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .purposeLabel {
    margin-top: 1rem;
  }

  .rates .card-body {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .cottagesNotes,
  .entertainmentContainer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  #entertainmentContainer,
  #cottagesContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .backToSelection i {
    font-size: 20px;
  }
}
