@font-face {
  font-family: "Poppins";
  src: url(../../../Fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
  font-family: "Poppins Black";
  src: url(../../../Fonts/Poppins/Poppins-SemiBold.ttf);
}

@font-face {
  font-family: "Lora";
  src: url(../../../Fonts/Lora/Lora-VariableFont_wght.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#amenitiesDropdown,
.show {
  width: 100%;
}

ul.dropdown-menu {
  margin-top: -3vw !important;
}

a.dropdown-item {
  font-size: 1.6vw;
}

.backIcon {
  padding: 1vw;
}

/* sidebar CSS */

.container-fluid {
  /* border: 1px solid red; */
  height: auto;
}

#newBlogBtn {
  top: 8.5vw;
  right: 7vw;
  font-size: 1.8vw;
}

.backButtonContainer {
  position: absolute;
  top: 8%;
  left: 4%;
}

i.backButton {
  font-size: 2.2vw;
}

.titleContainer {
  margin-top: 4vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#title {
  margin-bottom: 0 !important;
}

.fa-regular {
  font-size: 3vw !important;
  margin-left: 2vw;
}

#saveButton {
  position: absolute;
  right: 4%;
  top: 7%;
}
.pageTitle {
  text-align: center;
  font-family: "Poppins";
  font-size: 36px;
  font-weight: bold;
}

.pagesContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 18px;
  width: 80%;
  margin: auto;
  margin-top: 7vw !important;
}

.btn-info {
  height: 15vh;
  font-size: 22px;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
}

.buttonIcon {
  width: 3.5vw;
  margin-right: 1vw;
}

iframe {
  /* border: 2px solid black; */
  border-radius: 2vw;
  padding: 1vw;
  display: block;
  margin: 2vw auto 4vw auto;
}

#landingPageContainer {
  /* border: 1px solid red; */
  margin-top: 1vw;
}

.explanation {
  width: 90%;
  text-align: center;
  margin: 2vw auto;
}

.modal-header {
  font-weight: bold;
  font-family: "Poppins";
}

label {
  font-family: "Poppins";
  margin: 0.5vw 0 0.5vw 0;
  display: flex;
  justify-content: center;
}

.form-control {
  font-family: "Poppins";
}
