@font-face {
  font-family: "Poppins";
  src: url(../../Fonts/Poppins/Poppins-Regular.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

.main-content {
  margin: 2.5rem 0 0 290px;
  padding: 1rem;
  overflow-y: auto;
  width: 75%;
}

.card {
  width: 100%;
  padding: 1rem;
  border: none;
  border-radius: 2rem;
}

.account-info {
  display: flex;
  align-items: center;
}

.profile-image {
  display: flex;
  flex-direction: column !important;
  align-items: center;
}

.changePfpBtn {
  font-size: 14px;
  border: none;
  padding: 0.5rem;
  border-radius: 0.5rem;
  text-align: center;
  margin-top: 0.5rem;
  /* background-color: rgb(33, 148, 209); */
  color: rgb(255, 255, 255);
}

.changePfpBtn img {
  height: 35px;
}

#picModal .btn-close {
  height: 6vh;
  width: 40px;
  border-radius: 3rem;
}

#picModal .modal-body {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

#picModal .modal-header {
  font-family: "Poppins Black";
  border-bottom: none !important;
}

#picModal .modal-button {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 0.5rem;
}

.profile-pic {
  height: 9vw;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 50%;
}

.profile-info {
  display: flex;
  flex-direction: column !important;
  margin-left: 1rem;
  padding: 1rem;
}

.account-name {
  font-size: 19px;
}

.account-contact,
.roleName {
  font-size: 18px;
}

.customer-details,
.partner-details-container,
.partner-type {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-top: 1rem;
}

.info {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 1rem;
}

.roleName {
  text-transform: uppercase;
  font-weight: bold;
}

.partner-details-label {
  font-weight: bold;
}

.info label,
.partner-info-label {
  font-size: 16px;
}

.partner-type-container {
  padding-top: 1rem;
}

/* #validIDInfo {
  position: relative;
  max-width: 350px;
} */

#validIDInfo .form-floating {
  position: relative;
}

#validIDInfo button {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  border: none;
  background: none;
  color: #007eec;
  cursor: pointer;
  padding: 4px;
}

#validIDInfo i {
  font-size: 1.5rem;
}

#validIDInfo button:hover {
  color: #000;
}

#validIDImage {
  width: 300px;
  height: 300px;
}

.info input,
.partner-details-label {
  font-size: 18px;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  margin-top: 0.5rem;
}

.edit {
  width: 25%;
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.edit:hover {
  background-color: #0056b3;
}

.change-info {
  width: 150px;
}

.swal-custom-title {
  font-size: 18px;
  font-weight: bold;
}

.swal-custom-text {
  font-size: 16px;
}

.swal2-actions {
  width: 100% !important;
  display: flex !important;
  justify-content: center !important;
}

.swal2-confirm {
  margin-right: 2vw !important;
}

#phoneNumber {
  position: relative;
}

.custom-tooltip {
  position: absolute;
  color: #ff0000;
  padding: 6px 8px;
  border-radius: 4px;
  font-size: 12px;
  white-space: nowrap;
  top: -30px;
  left: 0;
  z-index: 10;
  display: none;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.custom-tooltip.show {
  display: block;
  opacity: 1;
}

/* Tablet portrait */
@media only screen and (min-width: 600px) and (max-width: 1025px) {
  .main-content {
    margin-left: 34vw;
  }

  .customer-details {
    display: flex;
    flex-wrap: wrap;
  }

  .profile-image {
    width: 30%;
  }

  .profile-pic {
    height: 11vw;
  }

  .changePfpBtn {
    font-size: clamp(1.8vw, 1.6vw, 1.4vw);
  }

  .profile-info {
    width: 70%;
  }
  .account-name,
  .swal2-html-container {
    font-size: clamp(2.5vw, 2.3vw, 2.1vw);
  }

  .account-contact,
  .roleName {
    font-size: clamp(1.8vw, 1.6vw, 1.4vw);
  }

  .info {
    width: 100%;
  }

  .info input:focus + label,
  .info input:not(:placeholder-shown) + label {
    font-size: clamp(1.9vw, 1.7vw, 1.5vw);
  }

  .info input {
    font-size: clamp(2.2vw, 2vw, 1.9vw);
    padding-top: 2rem;
  }

  .edit,
  .swal2-confirm,
  #saveBtn,
  #cancelBtn {
    font-size: clamp(1.8vw, 1.6vw, 1.4vw);
  }

  .swal2-title {
    font-size: clamp(3.3vw, 3vw, 2.8vw);
  }
}

/* Tablet landscape */
@media only screen and (min-width: 600px) and (max-width: 1025px) and (orientation: landscape) {
  .card-header {
    margin-top: 2vw;
    font-size: clamp(3.4vw, 3.2vw, 2.9vw);
  }

  .profile-image {
    width: 30%;
  }

  .card {
    padding: 0;
    width: 100%;
  }

  .main-content {
    margin-left: 34vw;
  }

  .profile-pic {
    height: 11vw;
  }

  .changePfpBtn {
    font-size: clamp(1.8vw, 1.6vw, 1.4vw);
  }

  .profile-info {
    width: 70%;
  }

  .account-name,
  .swal2-html-container {
    font-size: clamp(2.5vw, 2.3vw, 2.1vw);
  }

  .account-contact,
  .roleName {
    font-size: clamp(1.8vw, 1.6vw, 1.4vw);
  }

  .info {
    width: 100%;
  }

  .info input:focus + label,
  .info input:not(:placeholder-shown) + label {
    font-size: clamp(1.9vw, 1.7vw, 1.5vw);
  }

  .info input {
    font-size: clamp(2.2vw, 2vw, 1.9vw);
  }

  .edit,
  .swal2-confirm,
  #saveBtn,
  #cancelBtn {
    font-size: clamp(1.8vw, 1.6vw, 1.4vw);
  }

  .swal2-title {
    font-size: clamp(3.3vw, 3vw, 2.8vw);
  }
}

/* Phone size */
@media screen and (max-width: 600px) {
  .main-content {
    margin-left: 16vw;
    width: 85%;
  }

  .customer-details {
    display: flex;
    flex-wrap: wrap;
  }

  .profile-image {
    width: 35%;
  }

  .profile-pic {
    height: 18vw;
  }

  .changePfpBtn {
    font-size: clamp(2.6vw, 2.4vw, 2.2vw);
  }

  .profile-info {
    width: 65%;
  }

  .account-name,
  .swal2-html-container {
    font-size: clamp(3.7vw, 3.5vw, 3.3vw);
  }

  .account-contact,
  .roleName {
    font-size: clamp(2.5vw, 2.2vw, 2vw);
  }

  .info {
    width: 100%;
  }

  .info input:focus + label,
  .info input:not(:placeholder-shown) + label {
    font-size: clamp(2.6vw, 2.4vw, 2.2vw);
  }

  .info input {
    font-size: clamp(3vw, 2.8vw, 2.6vw);
    padding-top: 4.5vw;
  }

  .edit,
  .swal2-confirm,
  #saveBtn,
  #cancelBtn {
    font-size: clamp(2.9vw, 2.7vw, 2.5vw);
  }

  .swal2-title {
    font-size: clamp(3.8vw, 3.6vw, 3.4vw);
  }
  .info input:focus + label,
  .info input:not(:placeholder-shown) + label {
    top: 0.7rem;
    left: 0.8rem;
  }
}

@media screen and (max-width: 400px) {
  .changePfpBtn {
    padding: 1vw 1.3vw !important;
  }

  .btn-success,
  .btn-danger,
  .modal-body label {
    font-size: clamp(3.2vw, 3.6vw, 3.4vw);
  }

  .modal-title {
    font-size: clamp(4.2vw, 4.6vw, 4.4vw);
  }

  .modal-body img {
    width: 22vw;
    height: 22vw;
  }
}
