@font-face {
  font-family: "Poppins";
  src: url(../../Fonts/Poppins/Poppins-Regular.ttf);
}
@font-face {
  font-family: "Lora";
  src: url(../../Fonts/Lora/Lora-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Agbalumo";
  src: url(../../Fonts/Agbalumo/Agbalumo-Regular.ttf);
}

.sidebar {
  width: 25vw;
  background-color: #cee4f2;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  border-right: 2px solid #cee4f2;
  border-top-right-radius: 30px;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.sidebar.collapsed {
  width: 15vw;
  justify-content: flex-start !important;
}

.sidebar .sidebar-text {
  display: inline-block;
  transition: opacity 0.2s ease;
}

.sidebar.collapsed .sidebar-text {
  display: none;
  width: 0;
  overflow: hidden;
}

.sidebar-icon {
  font-size: 2vw;
  min-width: 3vw;
  text-align: center;
  margin-right: 10px;
}

/* Sidebar toggle button */
.toggle-button {
  background: none;
  border: none;
  margin: 10px;
}

.sidebar-item,
.list-group-item {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100%;
}

.home {
  /* border: 1px solid red; */
  padding: 2vw;
}

.homeIcon {
  float: right;
}

.sidebar-header {
  color: black !important;
  display: flex;
  flex-direction: column;
  margin: 1vw auto;
  width: 100%;
  padding-top: 0.5rem;
}

.sidebar-header h5 {
  font-family: "Lora" !important;
  margin: 0;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
}

.profileImage {
  margin: auto;
  padding: 1rem;
}

.profileImage img {
  height: clamp(8vw, 6.5vw, 4vw);
  border-radius: 50%;
  aspect-ratio: 1;
  object-fit: cover;
}

.list-group {
  font-family: "Poppins";
  font-size: clamp(1.4vw, 1.3vw, 1.2vw);
  border: none;
  list-style: none;
  margin-top: 0.5rem;
}

.list-group a {
  text-decoration: none;
  color: rgb(0, 0, 0) !important;
  background-color: #cee4f2;
}

.list-group-item {
  border: none;
  margin-top: 1vw;
}

.sidebar li:hover a,
.list-group-item.active {
  color: #0000;
  background-color: rgb(255, 255, 255);
}

#logoutBtn {
  text-align: center;
  color: black;
  padding: 10px;
  font-size: clamp(1.6vw, 1.4vw, 1.3vw);
}

#logoutBtn:hover {
  background-color: rgb(219, 53, 69);
  color: white;
}

.main-content {
  /* border: 1px solid red; */
  margin-left: 27vw;
  margin-top: 5rem;
  padding: 1rem;
  overflow-y: auto;
  width: 75%;
}

.card {
  font-family: "Poppins";
  width: 95%;
  padding: 1rem;
  border: none;
  border-radius: 2rem;
}

.account-info {
  display: flex;
  align-items: center;
}

.profile-image {
  display: flex;
  flex-direction: column !important;
  align-items: center;
}

.profile-info {
  display: flex;
  flex-direction: column !important;
  margin-left: 1rem;
  margin-top: -0.5rem;
}

.changePfpBtn {
  font-family: "Lora" !important;
  font-size: clamp(1.1vw, 0.9vw, 0.7vw);
  border: none;
  padding: 0.5rem;
  border-radius: 0.5rem;
  text-align: center;
  margin-top: 0.5rem;
  /* background-color: rgb(33, 148, 209); */
  color: rgb(255, 255, 255);
}

.changePfpBtn img {
  height: 35px;
}

.btn-close {
  height: 6vh;
  width: 40px;
  border-radius: 3rem;
}

.modal-body {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.modal-header {
  font-family: "Poppins Black";
  border-bottom: none !important;
}

.custom-file-button {
  font-family: "Lora" !important;
  font-size: 18px;
  width: 150px;
  color: black;
}

.modal-button {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 0.5rem;
}

.account-name {
  font-size: clamp(2vw, 1.8vw, 1.7vw);
}

.account-contact,
.roleName {
  font-size: clamp(1.5vw, 1.3vw, 1.1vw);
}

.profile-pic {
  height: 9vw;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 50%;
}

.customer-details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-top: 2rem;
}

.info {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 1rem;
}

.info input {
  padding: 0.5vw 0.5vw 0.5vw;
  padding-top: 1.8rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  font-size: clamp(1.4vw, 1.3vw, 1.1vw);
  background-color: #fff;
  text-indent: 1rem;
  width: 100%;
  color: black !important;
}

.roleName {
  text-transform: uppercase;
  font-weight: bold;
}

.info label {
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
  color: #aaa;
  pointer-events: none;
  transition: 0.3s ease all;
}

.info input:focus + label,
.info input:not(:placeholder-shown) + label {
  top: 1rem;
  left: 1rem;
  font-size: clamp(1.2vw, 1vw, 0.9vw);
  color: #796565;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  margin-top: 0.5rem;
}

.edit {
  width: 25%;
  padding: 0.5rem;
  font-size: 20px;
  border: none;
  border-radius: 0.5rem;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.edit:hover {
  background-color: #0056b3;
}

.change-info {
  width: 150px;
}

.swal-custom-title {
  font-family: "Poppins";
  font-size: 18px;
  font-weight: bold;
}

.swal-custom-text {
  font-family: "Poppins";
  font-size: 16px;
}

.swal2-actions {
  width: 100% !important;
  display: flex !important;
  justify-content: center !important;
}

.swal2-confirm {
  margin-right: 2vw !important;
}

/* Tablet portrait */
@media only screen and (min-width: 600px) and (max-width: 1025px) and (orientation: portrait) {
  .sidebar {
    width: 35vw;
  }

  .list-group {
    font-size: clamp(2.5vw, 2.2vw, 2vw);
  }

  .sidebar-icon {
    font-size: clamp(2.6vw, 2.3vw, 2vw);
  }

  .sidebar-header h5 {
    margin-top: 2vw !important;
    font-size: clamp(3.4vw, 3.2vw, 2.9vw);
  }

  .profileImage {
    margin: 1vw auto;
  }

  .profileImage img {
    height: clamp(13vw, 11vw, 10vw);
  }

  .main-content {
    margin-left: 34vw;
  }

  .customer-details {
    display: flex;
    flex-wrap: wrap;
  }

  .profile-image {
    width: 30%;
  }

  .profile-pic {
    height: 11vw;
  }

  .changePfpBtn {
    font-size: clamp(1.8vw, 1.6vw, 1.4vw);
  }

  .profile-info {
    width: 70%;
  }
  .account-name,
  .swal2-html-container {
    font-size: clamp(2.5vw, 2.3vw, 2.1vw);
  }

  .account-contact,
  .roleName {
    font-size: clamp(1.8vw, 1.6vw, 1.4vw);
  }

  .info {
    width: 100%;
  }

  .info input:focus + label,
  .info input:not(:placeholder-shown) + label {
    font-size: clamp(1.9vw, 1.7vw, 1.5vw);
  }

  .info input {
    font-size: clamp(2.2vw, 2vw, 1.9vw);
    padding-top: 2rem;
  }

  .edit,
  .swal2-confirm,
  #saveBtn,
  #cancelBtn {
    font-size: clamp(1.8vw, 1.6vw, 1.4vw);
  }

  .swal2-title {
    font-size: clamp(3.3vw, 3vw, 2.8vw);
  }
}

/* Tablet landscape */
@media only screen and (min-width: 600px) and (max-width: 1025px) and (orientation: landscape) {
  .homeIcon {
    width: 4vw;
  }

  .sidebar-header h5,
  .card-header {
    margin-top: 2vw;
    font-size: clamp(3.4vw, 3.2vw, 2.9vw);
  }

  .profile-image {
    width: 30%;
  }

  .card {
    padding: 0;
    width: 100%;
  }

  .main-content {
    margin-left: 34vw;
  }

  .sidebar {
    width: 35vw;
  }

  .profile-pic {
    height: 11vw;
  }

  .changePfpBtn {
    font-size: clamp(1.8vw, 1.6vw, 1.4vw);
  }

  .profile-info {
    width: 70%;
  }

  .profileImage {
    margin: 1vw auto;
  }

  .profileImage img {
    height: clamp(13vw, 11vw, 10vw);
  }

  .account-name,
  .swal2-html-container {
    font-size: clamp(2.5vw, 2.3vw, 2.1vw);
  }

  .account-contact,
  .roleName {
    font-size: clamp(1.8vw, 1.6vw, 1.4vw);
  }

  .info {
    width: 100%;
  }

  .list-group {
    font-size: clamp(2.5vw, 2.2vw, 2vw);
  }

  .info input:focus + label,
  .info input:not(:placeholder-shown) + label {
    font-size: clamp(1.9vw, 1.7vw, 1.5vw);
  }

  .info input {
    font-size: clamp(2.2vw, 2vw, 1.9vw);
  }

  .edit,
  .swal2-confirm,
  #saveBtn,
  #cancelBtn {
    font-size: clamp(1.8vw, 1.6vw, 1.4vw);
  }

  .swal2-title {
    font-size: clamp(3.3vw, 3vw, 2.8vw);
  }
}

/* Phone size */
@media screen and (max-width: 600px) {
  .sidebar {
    width: 45vw;
  }
  .main-content {
    margin-left: 16vw;
    width: 85%;
  }

  .customer-details {
    display: flex;
    flex-wrap: wrap;
  }

  .list-group-item {
    justify-content: flex-start;
  }

  .sidebar-icon {
    font-size: clamp(4.5vw, 4.2vw, 4vw);
    margin-right: 0 !important;
  }

  .sidebar-text {
    font-size: clamp(2.9vw, 2.7vw, 2.5vw);
    margin-left: 2vw;
  }

    #toggle-btn {
    font-size: clamp(4.5vw, 4.2vw, 4vw);
  }

  .home {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .profile-image {
    width: 35%;
  }

  .profile-pic {
    height: 18vw;
  }

  .changePfpBtn {
    font-size: clamp(2.6vw, 2.4vw, 2.2vw);
  }

  .profile-info {
    width: 65%;
  }

  .account-name,
  .swal2-html-container {
    font-size: clamp(3.7vw, 3.5vw, 3.3vw);
  }

  .account-contact,
  .roleName {
    font-size: clamp(2.5vw, 2.2vw, 2vw);
  }

  .info {
    width: 100%;
  }

  .info input:focus + label,
  .info input:not(:placeholder-shown) + label {
    font-size: clamp(2.6vw, 2.4vw, 2.2vw);
  }

  .info input {
    font-size: clamp(3vw, 2.8vw, 2.6vw);
    padding-top: 4.5vw;
  }

  .edit,
  .swal2-confirm,
  #saveBtn,
  #cancelBtn {
    font-size: clamp(2.9vw, 2.7vw, 2.5vw);
  }

  .swal2-title {
    font-size: clamp(3.8vw, 3.6vw, 3.4vw);
  }
  .info input:focus + label,
  .info input:not(:placeholder-shown) + label {
    top: 0.7rem;
    left: 0.8rem;
  }
}
