@font-face {
  font-family: "Poppins";
  src: url(../../Fonts/Poppins/Poppins-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

.main-content {
  margin: 3vw 0 0 290px;
  padding: 1rem;
  overflow-y: auto;
  width: 85%;
}

.title {
  text-align: center;
  font-size: 30px;
  font-family: "Poppins";
  font-weight: bold;
  margin-bottom: 2vw;
}

a {
  text-decoration: none;
}

.table-striped {
  text-align: center;
  width: 100%;
  margin: auto;
  /* margin-top: 3vw !important; */
}

th {
  background-color: #cee4f2 !important;
  font-size: 14px;
}

td,
#bookingHistory_info,
#paymentHistory,
.btn {
  font-size: 13px;
}

table.dataTable > tbody > tr > th,
table.dataTable > tbody > tr > td {
  padding: 0.5vw 0.6vw !important;
}

/* .btn {
  padding: 0.5vw 0.8vw;
} */

td.dt-type-numeric {
  text-align: center !important;
}
.dt-column-title {
  text-align: center;
}

label {
  margin-left: 1vw;
  margin-right: 1vw;
  font-size: 14px;
}

#cancel-content {
  padding: 2vw !important;
}

.fa-star.checked {
  color: gold;
}

#cancelModalDesc {
  font-size: 16px;
}
#cancelButtonModal {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vw;
  margin-top: 2vw;
}

.dt-input {
  font-size: 14px;
}

.modal-title {
  font-size: 18px;
}

/* View Payment Modal */
.paymentListContainer {
  margin-top: 1rem;
}

.downpayment-container,
.payment-container {
  display: flex;
  justify-content: space-around;
  font-family: "Poppins";
  margin-top: 0.5rem;
}

.payment-container {
  display: flex;
  justify-content: space-between;
  padding: 0 1.3rem 0 1.3rem;
  font-family: "Poppins";
  margin-top: 0.5rem;
}

.payment-container-title {
  text-align: center;
  font-weight: bold;
}

.dp-title,
.dp-amount {
  font-size: 16px;
}

.date,
.mode {
  color: #575656;
  font-size: 12px;
}

.view-dp-btn {
  border-radius: 3rem !important;
  width: 5rem;
}

.dp-hr {
  width: 90%;
  margin: 1rem auto;
}

#view-dp .modal-body {
  display: block;
  margin: auto;
}

#view-dp .modal-content {
  width: auto !important;
  margin: auto;
}

.downpaymentPic {
  width: 300px;
  height: auto;
}

/* View Payment Modal */

/* rate modal */

#rate-modal-header {
  display: flex;
  justify-content: center;
}

.rateSubtitle {
  text-align: center;
}

.d-flex {
  justify-content: center;
}
.fa-star {
  font-size: 3vw;
  padding: 10px;
  color: grey;
  cursor: pointer;
}
.fa-star.orange {
  color: orange;
}
/* rate modal */

/* Colors */

.badge {
  font-weight: initial;
  line-height: normal;
  font-size: 12px;
  padding: 0.2rem !important;
  width: 10rem;
  border-radius: 3rem !important;
}

/* Fully Paid */
.badge.bg-bright-green {
  background-color: rgba(75, 192, 75, 0.4) !important;
  color: rgb(75, 192, 75) !important;
}

/* Partially Paid */
.badge.bg-light-blue {
  background-color: rgba(54, 162, 235, 0.4) !important;
  color: rgb(54, 162, 235) !important;
}

/* Awaiting Payment */
.badge.bg-orange {
  background-color: rgba(255, 159, 64, 0.4) !important;
  color: rgb(247, 127, 8) !important;
}

/* Pending */
.badge.bg-warning {
  background-color: rgba(255, 193, 7, 0.4) !important;
  color: rgb(190, 114, 0) !important;
}

/* Approved */
.badge.bg-green {
  background-color: rgba(40, 167, 69, 0.4) !important;
  color: rgb(40, 167, 69) !important;
}

/* Reserved */
.badge.bg-success {
  background-color: rgba(83, 243, 169, 0.4) !important;
  color: rgb(0, 129, 69) !important;
}

/* Cancelled */
.badge.bg-danger {
  background-color: rgba(219, 53, 69, 0.4) !important;
  color: rgb(219, 53, 69) !important;
}

/* Rejected */
.badge.bg-red {
  background-color: rgba(204, 30, 20, 0.4) !important;
  color: rgb(204, 30, 20) !important;
}

/* Expired */
.badge.bg-muted {
  background-color: rgba(73, 80, 87, 0.4) !important;
  color: rgb(73, 80, 87) !important;
}

/* Finished */
.badge.bg-light-green {
  background-color: rgba(99, 201, 9, 0.4) !important;
  color: rgb(71, 139, 10) !important;
}

div.action-button-container {
  display: flex !important;
  justify-content: center;
  flex-direction: row;
  gap: 1rem;
  margin: auto;
}

.viewBooking,
.cancelBooking,
.rateBtn {
  width: 100px;
}

.custom-tooltip {
  position: absolute;
  color: #ff0000;
  padding: 6px 8px;
  border-radius: 4px;
  font-size: 12px;
  white-space: nowrap;
  top: -30px;
  left: 0;
  z-index: 10;
  display: none;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.custom-tooltip.show {
  display: block;
  opacity: 1;
}

@media only screen and (min-width: 600px) and (max-width: 1025px) and (orientation: portrait) {
  .title {
    font-size: clamp(5.5vw, 5vw, 4.5vw);
  }

  div.dt-container div.dt-layout-row:not(.dt-layout-table) {
    display: flex !important;
  }

  .main-content {
    margin-left: 15vw;
    padding: 0.4rem;
    width: 82%;
  }

  .account-name,
  .swal2-html-container {
    font-size: clamp(2.5vw, 2.3vw, 2.1vw);
  }

  .account-contact,
  .roleName {
    font-size: clamp(1.8vw, 1.6vw, 1.4vw);
  }

  th {
    background-color: #cee4f2 !important;
    font-size: clamp(1.7vw, 1.5vw, 1.3vw);
  }

  td,
  #bookingHistory_info,
  .btn {
    font-size: clamp(1.8vw, 1.6vw, 1.4vw);
  }

  .bookingStatus {
    font-size: clamp(2.6vw, 2.4vw, 2.2vw);
  }

  table.dataTable > thead > tr > th,
  table.dataTable > thead > tr > td {
    padding: 0.9vw 0.3vw !important;
  }

  .dt-input {
    font-size: clamp(2.1vw, 1.9vw, 1.7vw);
  }

  .btn {
    padding: 0.5vw 0.8vw;
  }

  .edit,
  .swal2-confirm,
  #saveBtn,
  #cancelBtn {
    font-size: clamp(1.8vw, 1.6vw, 1.4vw);
  }

  .swal2-title {
    font-size: clamp(3.3vw, 3vw, 2.8vw);
  }

  table.dataTable > thead > tr > th,
  table.dataTable > thead > tr > td {
    padding: 0.9vw 0.3vw !important;
  }

  .dt-layout-cell {
    width: 50%;
  }
}

/* Tablet landscape */
@media only screen and (min-width: 600px) and (max-width: 1025px) and (orientation: landscape) {
  div.dt-container div.dt-layout-row:not(.dt-layout-table) {
    display: flex !important;
  }

  .dt-layout-cell {
    width: 50%;
  }

  label {
    margin-left: 1vw;
    margin-right: 1vw;
    font-size: clamp(1.8vw, 1.6vw, 1.4vw);
  }

  .dt-input {
    font-size: clamp(2.1vw, 1.9vw, 1.7vw);
  }

  th {
    background-color: #cee4f2 !important;
    font-size: clamp(1.7vw, 1.5vw, 1.3vw);
  }

  td,
  #bookingHistory_info {
    font-size: clamp(1.8vw, 1.6vw, 1.4vw);
  }

  .card-header {
    margin-top: 2vw;
    font-size: clamp(3.4vw, 3.2vw, 2.9vw);
  }

  .main-content {
    margin-left: 16vw;
    width: 85%;
    margin-top: 3rem;
  }

  .card {
    padding: 0;
  }

  .profile-image {
    width: 30%;
  }

  .profile-pic {
    height: 11vw;
  }

  #changeEmailBtn,
  #changePasswordBtn {
    font-size: clamp(1.8vw, 1.6vw, 1.4vw);
    margin: 1.5vw auto 1vw auto;
  }

  .profile-info {
    width: 70%;
  }

  .swal2-html-container {
    font-size: clamp(2.5vw, 2.3vw, 2.1vw);
  }

  .card-text {
    font-size: clamp(1.8vw, 1.6vw, 1.4vw);
  }

  .edit,
  .swal2-confirm,
  #saveBtn,
  #cancelBtn {
    font-size: clamp(1.8vw, 1.6vw, 1.4vw);
  }

  .swal2-title {
    font-size: clamp(3.3vw, 3vw, 2.8vw);
  }

  table.dataTable > thead > tr > th,
  table.dataTable > thead > tr > td {
    padding: 0.9vw 0.3vw !important;
  }

  table.dataTable > thead > tr > td {
    word-break: break-all;
  }
}

/* Phone size */
@media screen and (max-width: 600px) {
  .main-content {
    margin-left: 16vw;
    width: 85%;
    margin-top: 3rem;
    padding: 0.3rem;
  }

  .title {
    font-size: clamp(5vw, 4.7vw, 4.5vw);
  }

  .card-body {
    padding: 0;
  }

  #toggle-btn {
    font-size: clamp(4.5vw, 4.2vw, 4vw);
  }

  div.dt-container div.dt-layout-row:not(.dt-layout-table) {
    display: flex !important;
  }

  .dt-layout-cell {
    width: 50%;
    display: flex;
    justify-content: start;
  }

  .card-text {
    font-size: clamp(2vw, 1.8vw, 1.6vw);
  }

  label {
    font-size: clamp(2.2vw, 2vw, 1.8vw);
  }

  .current {
    font-size: 2.5vw;
  }

  .home {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .profile-image {
    width: 35%;
  }

  .profile-pic {
    height: 18vw;
  }

  #changeEmailBtn,
  #changePasswordBtn {
    font-size: clamp(2.6vw, 2.4vw, 2.2vw);
    margin-left: 2vw;
  }

  .profile-info {
    width: 65%;
  }

  .swal2-html-container {
    font-size: clamp(3.7vw, 3.5vw, 3.3vw);
  }

  .card-header {
    margin-top: 2vw;
    font-size: clamp(3.7vw, 3.5vw, 3.2vw);
  }

  table.dataTable > thead > tr > th,
  table.dataTable > thead > tr > td {
    padding: 0.9vw 0.3vw !important;
  }

  table.dataTable > thead > tr > td {
    word-break: break-all;
  }

  th {
    font-size: clamp(1.9vw, 1.7vw, 1.5vw);
  }

  .dt-column-order {
    font-size: clamp(1.3vw, 1.2vw, 1.1vw);
  }

  td,
  #bookingHistory_info,
  .btn {
    font-size: clamp(2vw, 1.9vw, 1.8vw);
  }

  .dt-input {
    font-size: clamp(2.1vw, 1.9vw, 1.7vw);
  }

  .edit,
  .swal2-confirm {
    font-size: clamp(2.9vw, 2.7vw, 2.5vw);
  }

  .swal2-title {
    font-size: clamp(3.8vw, 3.6vw, 3.4vw);
  }

  .table-striped {
    text-align: left;
  }

  div.dt-container .dt-paging .dt-paging-button {
    padding: 0.8vw 1.2vw !important;
  }
  table.dataTable thead > tr > th div.dt-column-header {
    justify-content: start !important;
    gap: 1px !important;
  }
}

@media screen and (max-width: 400px) {
  .card {
    padding: 0;
  }
  .card-header {
    margin-top: 1vw;
    font-size: clamp(4vw, 3.8vw, 3.6vw);
  }
  .card-text {
    font-size: clamp(2.5vw, 2.3vw, 2.1vw);
  }

  .input-box label,
  .input-box input {
    width: 80%;
  }

  .btn {
    font-size: clamp(2.5vw, 2.3vw, 2.1vw);
  }

  .form-container {
    margin-top: 1.5rem;
  }

  div.dt-container .dt-paging .dt-paging-button {
    padding: 0.5vw 1vw !important;
  }

  .dt-input {
    font-size: clamp(2vw, 1.9vw, 1.8vw);
  }

  label {
    font-size: clamp(2.6vw, 2.5vw, 2.4vw);
  }

  th {
    font-size: clamp(1.5vw, 1.4vw, 1.3vw);
  }

  .current {
    font-size: 3vw;
  }
}
