@font-face {
  font-family: "Poppins";
  src: url(../../Fonts/Poppins/Poppins-Regular.ttf);
}
@font-face {
  font-family: "Alkatra";
  src: url(../../Fonts/Alkatra/Alkatra-VariableFont_wght.ttf);
}
@font-face {
  font-family: "Lora";
  src: url(../../Fonts/Lora/Lora-VariableFont_wght.ttf);
}
.sidebar {
  width: 25vw;
  background-color: #cee4f2;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  border-right: 2px solid #cee4f2;
  border-top-right-radius: 30px;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.sidebar.collapsed {
  width: 15vw;
  justify-content: flex-start !important;
}

.sidebar .sidebar-text {
  display: inline-block;
  transition: opacity 0.2s ease;
}

.sidebar.collapsed .sidebar-text {
  display: none;
  width: 0;
  overflow: hidden;
}

.sidebar-icon {
  font-size: 2vw;
  min-width: 3vw;
  text-align: center;
  margin-right: 10px;
}

/* Sidebar toggle button */
.toggle-button {
  background: none;
  border: none;
  margin: 10px;
}

.sidebar-item,
.list-group-item {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100%;
}

.home {
  /* border: 1px solid red; */
  padding: 2vw;
}

.homeIcon {
  float: right;
}

.sidebar-header {
  color: black !important;
  display: flex;
  flex-direction: column;
  margin: 1vw auto;
  width: 100%;
  padding-top: 0.5rem;
}

.sidebar-header h5 {
  font-family: "Lora" !important;
  margin: 0;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
}

.profileImage {
  margin: auto;
  padding: 1rem;
}

.profileImage img {
  height: clamp(8vw, 6.5vw, 4vw);
  border-radius: 50%;
  aspect-ratio: 1;
  object-fit: cover;
}

.list-group {
  font-family: "Poppins";
  font-size: clamp(1.4vw, 1.3vw, 1.2vw);
  border: none;
  list-style: none;
  margin-top: 0.5rem;
}

.list-group a {
  text-decoration: none;
  color: rgb(0, 0, 0) !important;
  background-color: #cee4f2;
}

.list-group-item {
  border: none;
  margin-top: 1vw;
}

.sidebar li:hover a,
.list-group-item.active {
  color: #0000;
  background-color: rgb(255, 255, 255);
}

#logoutBtn {
  text-align: center;
  color: black;
  padding: 10px;
  font-size: clamp(1.6vw, 1.4vw, 1.3vw);
}

#logoutBtn:hover {
  background-color: rgb(219, 53, 69);
  color: white;
}

.main-content {
  margin-left: 27vw;
  margin-top: 5rem;
  padding: 1rem;
  overflow-y: auto;
  width: 75%;
}

/* sidebar */

.welcomeText {
  font-size: 36px;
  font-family: "Poppins Black";
  font-style: italic;
  margin-top: 1vw;
}

.cardContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 1rem;
  margin-top: 3vw;
}

.card {
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2);
  width: 14rem;
}

/* table css */
.tableContainer {
  margin-top: 4vw;
  width: 100%;
}

.table-striped {
  text-align: center;
  width: 100%;
  margin: auto;
}

th {
  background-color: #cee4f2 !important;
}

th,
td {
  font-size: 18px;
}

.dt-column-title {
  text-align: center;
}
.dt-type-numeric {
  text-align: center !important;
}

.btn-red {
  background-color: rgb(204, 30, 20);
  color: white;
}

.btn-red:hover {
  background-color: rgb(150, 10, 3);
  color: white;
}

.btn-light-green {
  background-color: rgb(71, 139, 10);
  color: white;
}

.btn-light-green:hover {
  background-color: rgb(58, 112, 10);
  color: white;
}

/* table css */

/* modal */
.modal-dialog {
  max-width: 50% !important;
}

.booking-info-name-pic-btn {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.booking-info-contact p {
  font-size: 18px;
}

.card-text.name {
  font-weight: bold;
}

.user-info {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.img-fluid {
  height: 90px;
  width: 90px;
  object-fit: cover;
  border-radius: 4rem;
}

.booking-info-container {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
}

label {
  font-weight: bold;
  display: block;
  text-align: center;
}

.additionalServiceContainer {
  margin-top: 1rem;
}

.additionalService-info {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 0.5rem;
}

.additionalService-info p {
  font-size: 18px;
}

textarea {
  width: 100% !important;
}

.btnContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.btnContainer button {
  width: 25%;
}
/* modal */
/* Tablet portrait */
@media only screen and (min-width: 600px) and (max-width: 1025px) and (orientation: portrait) {
  .sidebar {
    width: 35vw;
  }

  .list-group {
    font-size: clamp(2.5vw, 2.2vw, 2vw);
  }

  .sidebar-icon {
    font-size: clamp(2.6vw, 2.3vw, 2vw);
  }

  .sidebar-header h5 {
    margin-top: 2vw !important;
    font-size: clamp(3.4vw, 3.2vw, 2.9vw);
  }

  .profileImage {
    margin: 1vw auto;
  }

  .profileImage img {
    height: clamp(13vw, 11vw, 10vw);
  }

  .main-content {
    margin-left: 34vw;
  }
}

/* Tablet landscape */
@media only screen and (min-width: 600px) and (max-width: 1025px) and (orientation: landscape) {
  .homeIcon {
    width: 4vw;
  }

  .sidebar-header h5,
  .card-header {
    margin-top: 2vw;
    font-size: clamp(3.4vw, 3.2vw, 2.9vw);
  }

  .profile-image {
    width: 30%;
  }
}

/* Phone size */
@media screen and (max-width: 600px) {
  .sidebar {
    width: 45vw;
  }
  .main-content {
    margin-left: 16vw;
    width: 85%;
  }

  .customer-details {
    display: flex;
    flex-wrap: wrap;
  }

  .list-group-item {
    justify-content: flex-start;
  }

  .sidebar-icon {
    font-size: clamp(4.5vw, 4.2vw, 4vw);
    margin-right: 0 !important;
  }

  .sidebar-text {
    font-size: clamp(2.9vw, 2.7vw, 2.5vw);
    margin-left: 2vw;
  }
  #toggle-btn {
    font-size: clamp(4.5vw, 4.2vw, 4vw);
  }
  .home {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .profile-image {
    width: 35%;
  }
}
