@font-face {
  font-family: "Poppins";
  src: url(../../Fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
  font-family: "Poppins Black";
  src: url(../../Fonts/Poppins/Poppins-Black.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

.main-content {
  /* border: 1px solid red; */
  margin-left: 23vw;
  margin-top: 5rem;
  margin: 3rem 0 0 20rem;
  padding: 1rem;
  overflow-y: auto;
  width: 100%;
}

.title {
  text-align: center;
  font-size: 30px;
  font-family: "Poppins";
  font-weight: bold;
}

.topSection {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 0.5rem;
  place-items: center;
  margin-top: var(--margin-lg);
  width: 100%;
}

.statCard {
  width: 95% !important;
}

.header {
  display: flex;
  gap: 0.3rem;
}

.header h6 {
  font-size: var(--font-size-base);
  color: #a5a5a5;
}

.header h6 {
  margin-top: 0.1rem;
}

.rightSide i {
  font-size: 1.1vw;
  color: #a5a5a5;
}

.leftSide {
  width: 75%;
}

.rightSide {
  width: 20%;
}

.data-container {
  margin-top: var(--margin-xs);
}

.customer {
  display: flex;
  gap: 1rem;
}

.card-data {
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-bold);
}

.card {
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2);
  width: 14rem;
}

/* table css */
.tableContainer {
  margin-top: 4vw;
  width: 100%;
}

.table-striped {
  text-align: center;
  width: 100%;
  margin: auto;
  /* margin-top: 3vw !important; */
}

th {
  background-color: #cee4f2 !important;
  font-size: 14px;
}

td,
#bookingHistory_info,
#paymentHistory,
table .btn {
  font-size: 13px;
}

table.dataTable > tbody > tr > th,
table.dataTable > tbody > tr > td {
  padding: 0.5vw 0.6vw !important;
}

/* .btn {
  padding: 0.5vw 0.8vw;
} */

td.dt-type-numeric {
  text-align: center !important;
}
.dt-column-title {
  text-align: center;
}

.badge.bg-red {
  background-color: rgba(204, 30, 20, 0.3) !important;
  color: rgb(204, 30, 20) !important;
}

.badge.bg-light-green {
  background-color: rgba(99, 201, 9, 0.3) !important;
  color: rgb(71, 139, 10) !important;
}

.badge.badge.bg-success {
  background-color: rgba(83, 243, 169, 0.5) !important;
  color: rgb(0, 129, 69) !important;
}

.badge.bg-primary {
  background-color: rgba(12, 100, 232, 0.3) !important;
  color: rgb(11, 90, 209) !important;
}

.badge.bg-danger {
  background-color: rgba(219, 53, 69, 0.3) !important;
  color: rgb(219, 53, 69) !important;
}

.badge.bg-warning {
  background-color: rgba(255, 193, 8, 0.5) !important;
  color: rgb(187, 140, 0) !important;
}

.badge.bg-info {
  background-color: rgba(12, 202, 240, 0.3) !important;
  color: rgb(28, 155, 180);
}

/* table css */

/* modal */
.modal-dialog {
  max-width: 50% !important;
}

.booking-info-name-pic-btn {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.booking-info-contact p {
  font-size: 18px;
}

.card-text.name {
  font-weight: bold;
}

.user-info {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.img-fluid {
  height: 90px;
  width: 90px;
  object-fit: cover;
  border-radius: 4rem;
}

.booking-info-container {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
}

label {
  display: block;
  text-align: center;
}

.additionalServiceContainer {
  margin-top: 1rem;
}

.additionalService-info {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 0.5rem;
}

.additionalService-info p {
  font-size: 18px;
}

textarea {
  width: 100% !important;
}

.btnContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.btnContainer button {
  width: 25%;
}

/* Tablet portrait */
@media only screen and (min-width: 600px) and (max-width: 1025px) and (orientation: portrait) {
  .main-content {
    padding: 0 !important;
  }

  .topSection {
    width: 100% !important;
    display: grid;
    grid-template-columns: repeat(2, 1fr) !important;
    grid-template-rows: repeat(2, 1fr) !important;
    justify-content: center;
    align-items: center;
  }

  .topSection > .statCard:nth-child(5) {
    grid-column: span 2;
  }
  .statCard {
    width: 100% !important;
    height: 8rem !important;
  }

  .header-text {
    font-size: 15px !important;
  }

  .rightSide i {
    font-size: var(--font-size-md) !important;
  }

  .headerText {
    font-family: "Poppins Light";
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-lg);
    margin-top: 1rem;
  }

  .dt-length {
    display: flex;
    gap: 1rem;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .dt-search {
    display: flex;
    gap: 1rem;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .dt-layout-row {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    width: 100% !important;
    margin: 0.75em 0 !important;
    flex-wrap: wrap;
  }
  .dt-column-title {
    white-space: nowrap;
  }
}

/* Tablet landscape */
@media only screen and (min-width: 600px) and (max-width: 1025px) and (orientation: landscape) {
  .main-content {
    margin-left: 21vw !important;
    padding: 0 !important;
  }

  .statCard {
    width: 100% !important;
    height: 8rem !important;
  }

  .header-text {
    font-size: 12px !important;
  }

  .rightSide i {
    font-size: var(--font-size-md) !important;
  }

  .dt-length {
    display: flex;
    gap: 1rem;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .profileImage {
    padding: 0 !important;
  }
  .profileImage img {
    height: 40px !important;
  }
  .dt-search {
    display: flex;
    gap: 1rem;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .dt-layout-row {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    width: 100% !important;
    margin: 0.75em 0 !important;
    flex-wrap: wrap;
  }
  .dt-column-title {
    white-space: nowrap;
  }
}

/* Phone size */
@media screen and (max-width: 600px) {
  .main-content {
    margin-left: 16vw;
    width: 85%;
  }

  .topSection {
    width: 100% !important;
    display: grid;
    grid-template-columns: repeat(2, 1fr) !important;
    grid-template-rows: repeat(3, 1fr) !important;
    justify-content: center;
    align-items: center;
  }

  .topSection > .statCard:nth-child(5) {
    grid-column: span 2;
  }

  .topSection h5 {
    font-size: 12px;
  }

  .secondRow-graph {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .topLeft {
    width: 100%;
    text-align: center;
    margin-top: var(--margin-md);
  }

  .welcomeText {
    font-size: var(--font-size-md);
    text-align: center;
  }
  .statCard {
    width: 100% !important;
    height: 5rem !important;
    padding: 0 !important;
  }

  .header-text {
    font-size: 10px !important;
  }

  .rightSide i {
    font-size: var(--font-size-xs) !important;
  }

  .dt-length {
    display: flex;
    gap: 1rem;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .profileImage {
    padding: 0 !important;
  }
  .dt-search {
    display: flex;
    gap: 1rem;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .dt-layout-row {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    width: 100% !important;
    margin: 0.75em 0 !important;
    flex-wrap: wrap;
  }
  .dt-column-title {
    white-space: nowrap;
  }

  .customer-details {
    display: flex;
    flex-wrap: wrap;
  }

  #toggle-btn {
    font-size: clamp(4.5vw, 4.2vw, 4vw);
  }

  .profile-image {
    width: 35%;
  }
  .cardContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    justify-items: center;
    justify-content: center;
  }
}

@media only screen and (max-width: 400px) {
  .main-content {
    margin-left: 14vw;
    padding: 0.5rem;
  }

  .welcomeText {
    font-size: 20px;
  }

  .topSection {
    width: 100% !important;
    display: grid;
    grid-template-columns: repeat(2, 1fr) !important;
    grid-template-rows: repeat(3, 1fr) !important;
    justify-content: center;
    align-items: center;
  }

  .topSection > .statCard:nth-child(5) {
    grid-column: span 2;
  }

  .topSection h5 {
    font-size: 12px;
  }

  .secondRow-graph {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .topLeft {
    width: 100%;
    text-align: center;
    margin-top: var(--margin-md);
  }

  .welcomeText {
    font-size: var(--font-size-md);
    text-align: center;
  }
  .statCard {
    width: 100% !important;
    height: 5rem !important;
  }

  .header-text {
    font-size: 10px !important;
  }

  .rightSide i {
    font-size: var(--font-size-xs) !important;
  }

  .btnContainer button {
    width: 100%;
  }

  th,
  td {
    font-size: 14px;
  }

  .booking-info-container {
    grid-template-columns: 1fr;
  }
}
