@font-face {
  font-family: "Poppins";
  src: url(../../Fonts/Poppins/Poppins-Regular.ttf);
}
@font-face {
  font-family: "Alkatra";
  src: url(../../Fonts/Alkatra/Alkatra-VariableFont_wght.ttf);
}
@font-face {
  font-family: "Lora";
  src: url(../../Fonts/Lora/Lora-VariableFont_wght.ttf);
}

.main-content {
  margin-left: 27vw;
  margin-top: 3rem;
  padding: 1rem;
  overflow-y: auto;
  width: 75%;
}

/* sidebar */

.page-title {
  text-align: center;
  font-size: 30px;
  font-family: "Poppins";
  font-weight: bold;
}

.cardContainer {
  margin-top: 2vw;
}

.revenue-chart {
  /* border: 1px solid rgb(37, 11, 139); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2vw;
  width: 100%;
  height: 350px;
}

.revenuePie,
.revenueBar {
  /* border: 1px solid rgb(37, 11, 139);  */
  background-color: rgb(237, 255, 252);
  border-radius: 5rem;
  padding: 5rem;
  width: 40%;
  height: 350px;
  /* display: none; */
}

.card-body {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.btn-primary {
  height: 3vw;
}

/* table css */
/* Tablet portrait */
@media only screen and (min-width: 600px) and (max-width: 1025px) and (orientation: portrait) {
  .main-content {
    margin-left: 34vw;
  }
}

/* Tablet landscape */
@media only screen and (min-width: 600px) and (max-width: 1025px) and (orientation: landscape) {
  .card-header {
    margin-top: 2vw;
    font-size: clamp(3.4vw, 3.2vw, 2.9vw);
  }

  .profile-image {
    width: 30%;
  }
}

/* Phone size */
@media screen and (max-width: 600px) {
  .customer-details {
    display: flex;
    flex-wrap: wrap;
  }

  .list-group-item {
    justify-content: flex-start;
  }

  #toggle-btn {
    font-size: clamp(4.5vw, 4.2vw, 4vw);
  }
  .home {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .profile-image {
    width: 35%;
  }
}
