@font-face {
  font-family: "Poppins";
  src: url(../../Fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
  font-family: "Poppins Black";
  src: url(../../Fonts/Poppins/Poppins-Black.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

.main-content {
  margin-left: 20vw;
  margin-top: 5rem;
  padding: 1rem;
  overflow-y: auto;
  width: 80%;
}
/* sidebar */

.page-title {
  text-align: center;
  font-size: 30px;
  font-family: "Poppins";
  font-weight: bold;
}

.btnContainer {
  padding-bottom: 0.5vw;
  margin-top: 2vw;
}

.add-service-btn {
  float: right;
  width: 20%;
}

/* .tableContainer {
  margin-top: 3vw;
  width: 100%;
}

.table-striped {
  text-align: center;
  width: 100%;
  margin: auto;
}

th {
  background-color: #cee4f2 !important;
}

th,
td {
  font-size: 18px;
}

.dt-column-title {
  text-align: center;
} */

/* label {
  margin-bottom: 1vw;
} */

.infoContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 5vw);
  gap: 0.3rem 1rem;
}

/* .info-container {
  margin-top: 0.5rem;
} */

/* label {
  font-size: 18px;
  font-family: "Poppins";
  margin-bottom: -1rem !important;
} */

.info-container .form-control,
.info-container .form-select,
.descContainer .form-control {
  border: 1px solid rgb(107, 117, 125, 0.5);
  padding: 0.3rem;
  font-size: 14px !important;
}

.serviceContainer {
  margin: 2rem auto;
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.service-card {
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
}

.modal-btn-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  border-top: none;
  justify-content: center;
  padding: 0.5rem 1rem;
  gap: 1rem;
}

/* .info-container label,
.descContainer label {
  font-weight: bolder;
} */

.descContainer label {
  font-size: 18px;
}

input:read-only,
select:disabled {
  background-color: rgb(233, 236, 240, 0.3) !important;
  cursor: not-allowed;
}

input:read-only:hover,
select:disabled:hover {
  background-color: rgba(233, 236, 240, 0.3);
}

.descContainer {
  margin-top: 1rem;
}

.form-group input {
  margin: 0.5rem;
}

.serviceDesc {
  height: 4rem;
  line-height: 1.5;
  text-align: justify;
  resize: none;
  padding: 0.5rem;
  font-size: 14px;
  border: 1px solid #ccc;

  overflow-y: auto;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.note {
  color: red;
  font-size: 12px;
  font-family: "Poppins";
  text-align: center;
}

.serviceInputContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 1rem;
  height: 45vh;
  margin-top: 1vw;
}
.addServiceLabel {
  /* display: block; */
  font-weight: 500;
  font-size: 18px;
  font-family: "Poppins";
}

.submitBtnContainer {
  margin-top: 7rem !important;
  text-align: center;
}

.no-data-container {
  width: 100%;
  height: 40vh;
  display: flex;
  text-align: center;
  justify-content: center;
  margin: auto;
}

.empty-card .card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.badge {
  font-weight: initial;
  line-height: normal;
  font-size: 14px;
  padding: 0.3rem 0.5rem !important;
  width: 7rem;
  height: fit-content; /*para magpantay height ng view at span*/
  border-radius: 5rem !important;
}

.badge.bg-light-green {
  background-color: rgba(99, 201, 9, 0.3) !important;
  color: rgb(71, 139, 10) !important;
}

.badge.badge.bg-success {
  background-color: rgba(83, 243, 169, 0.5) !important;
  color: rgb(0, 129, 69) !important;
}

.badge.bg-danger {
  background-color: rgba(219, 53, 69, 0.3) !important;
  color: rgb(219, 53, 69) !important;
}

.badge.bg-warning {
  background-color: rgba(255, 193, 8, 0.5) !important;
  color: rgb(187, 140, 0) !important;
}

.badge.bg-info {
  background-color: rgba(12, 202, 240, 0.3) !important;
  color: rgb(28, 155, 180);
}

.badge.bg-secondary {
  background-color: rgba(107, 117, 125, 0.3) !important;
  color: rgb(107, 117, 125);
}

.badge.bg-light-blue {
  border: 1px solid rgba(54, 163, 235, 0.74) !important;
  background-color: rgba(37, 157, 238, 0.822) !important;
  color: rgb(255, 255, 255) !important;
}

.badge.bg-light-blue:hover {
  background-color: rgba(29, 120, 180, 0.815) !important;
  color: #ffff !important;
}

.card.service-card {
  width: 18rem;
  height: auto !important;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.281);
}

.card-img-top {
  width: 100%;
  max-height: 225px;
  object-fit: cover;
  display: block;
}

.card-title {
  font-weight: bold;
}

.card-subtitle {
  font-family: "Poppins Light";
}

.cardHeaderContainer {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-top: 1rem;
}

/* .service-image-display {
  height: 120px;
  width: auto;
} */

/* Phone size */
@media screen and (max-width: 767px) {
  .add-service-btn {
    white-space: nowrap;
    width: 50%;
  }
  .serviceInputContainer {
    gap: 4.5rem;
    white-space: nowrap;
  }
  .descContainer {
    margin-top: 0;
  }
  .w-25 {
    width: 50% !important;
  }
  .nav-item {
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0;
    position: relative;
  }
  .nav-item .nav-link {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
  }

  .nav-item .nav-link i {
    font-size: 1.8rem;
  }

  .sidebar {
    width: 45vw;
  }
  .sidebar-custom section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
  }

  .sidebar-custom .profileContainer {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-right: 10px;
  }

  .profileContainer .profilePic {
    width: 40px;
    height: 40px;
    margin-right: 5px;
  }

  .logOutContainer {
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .logOutContainer a.btn {
    padding: 10px;
    font-size: 1.8rem;
    display: flex;
    justify-content: center;
  }
}
/* Tablet portrait */
@media only screen and (min-width: 600px) and (max-width: 1025px) and (orientation: portrait) {
  .main-content {
    margin-left: 34vw;
  }
  .serviceInputContainer {
    margin-left: 3rem;
  }

  .sidebar {
    width: 45vw;
  }
  .sidebar-custom section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
  }

  .sidebar-custom .profileContainer {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-right: 10px;
  }

  .profileContainer .profilePic {
    width: 40px;
    height: 40px;
    margin-right: 5px;
  }

  .logOutContainer {
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .logOutContainer a.btn {
    padding: 10px;
    font-size: 1.8rem;
    display: flex;
    justify-content: center;
  }
}

/* Tablet landscape */
@media only screen and (min-width: 600px) and (max-width: 1025px) and (orientation: landscape) {
  .card-header {
    margin-top: 2vw;
    font-size: clamp(3.4vw, 3.2vw, 2.9vw);
  }

  .profile-image {
    width: 30%;
  }
}
