@font-face {
  font-family: "Poppins";
  src: url(../../Fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
  font-family: "Poppins Black";
  src: url(../../Fonts/Poppins/Poppins-Black.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

.main-content {
  /* border: 1px solid red; */
  margin-left: 290px;
  margin-top: 20vh;
  padding: 1rem;
  overflow-y: auto;
  width: 75%;
}

.card {
  border: none;
  width: 90%;
  margin: auto;
}

.card-title {
  text-align: center;
  font-size: 30px;
  font-family: "Poppins";
  font-weight: bold;
  background-color: transparent;
  border: none;
}

.card-text {
  width: 100%;
  margin: auto;
  text-align: center;
  line-height: 2;
  font-size: 16px;
}

.delete-button {
  margin-top: 2rem;
  text-align: center;
}

#confirmationModal {
  .image {
    padding: 1rem;
  }
  .modal-title {
    font-family: "Poppins Black";
    font-size: 16px;
  }

  .modal-text {
    font-size: 14px;
  }

  .button-container {
    margin: 1vw auto;
    width: 70%;
    display: flex;
    justify-content: space-around;
    button {
      width: 10vw;
      font-size: 14px;
    }
  }
}

#deleteModal {
  .modal {
    .modal-title {
      margin-left: 2rem;
    }
    .button-container {
      margin-top: 1rem;
      display: flex;
      justify-content: center;
      gap: 1rem;
      button {
        width: 100px;
      }
    }
    .modal-title {
      margin-bottom: 12px;
      font-weight: bold;
    }

    .modal-header {
      position: relative;
      border: none;
    }

    .modal-header::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 85%;
      border-bottom: 2px solid #dadad6;
    }
  }
}
.swal-custom-title {
  font-size: 18px;
  font-weight: bold;
}

.swal-custom-text {
  font-size: 16px;
}

.swal2-actions {
  width: 100% !important;
  display: flex !important;
  justify-content: center !important;
}

.swal2-confirm {
  margin-right: 2vw !important;
}

#confirmationBtn {
  font-size: clamp(1.4vw, 1.2vw, 1.1vw);
}

@media only screen and (min-width: 600px) and (max-width: 1025px) and (orientation: portrait) {
  .card-title {
    font-size: clamp(4vw, 3.9vw, 3.8vw);
  }

  div.dt-container div.dt-layout-row:not(.dt-layout-table) {
    display: flex !important;
  }

  .card-text {
    font-size: clamp(2vw, 1.8vw, 1.6vw);
  }

  .main-content {
    margin-left: 37vw;
    margin-top: 10vh;
    padding: 0.4rem;
    width: 82%;
  }

  #confirmationModal {
    .modal-title {
      font-size: clamp(3vw, 2.9vw, 2.8vw);
    }
    .modal-text {
      font-size: clamp(2.7vw, 2.5vw, 2.3vw);
    }
    .button-container button {
      width: 9vw !important;
      font-size: clamp(2.7vw, 2.5vw, 2.3vw);
    }
  }

  .card-body {
    .button-container {
      display: flex;
      justify-content: space-around;
      margin-top: 3.5vw;
    }
    .btn-primary,
    .btn-secondary {
      width: 30%;
    }
  }
  .swal2-html-container {
    font-size: clamp(2.5vw, 2.3vw, 2.1vw);
  }

  .edit,
  .swal2-confirm,
  #saveBtn,
  #cancelBtn {
    font-size: clamp(1.8vw, 1.6vw, 1.4vw);
  }

  .swal2-title {
    font-size: clamp(3.3vw, 3vw, 2.8vw);
  }

  #confirmationBtn {
    font-size: clamp(2.4vw, 2.2vw, 2vw);
  }

  .modal-header {
    h5 {
      font-size: clamp(2.8vw, 2.6vw, 2.4vw);
    }
    h6 {
      font-size: clamp(2.2vw, 2vw, 1.8vw);
    }
  }

  .modal-body {
    p,
    input,
    button {
      font-size: clamp(2.2vw, 2vw, 1.8vw);
    }
  }
}

/* Tablet landscape */
@media only screen and (min-width: 600px) and (max-width: 1025px) and (orientation: landscape) {
  .card-title {
    font-size: clamp(5.5vw, 5vw, 4.5vw);
  }

  .card-header {
    margin-top: 2vw;
    font-size: clamp(3.4vw, 3.2vw, 2.9vw);
  }
  .modal-header {
    h5 {
      font-size: clamp(2.8vw, 2.6vw, 2.4vw);
    }
    h6 {
      font-size: clamp(2.2vw, 2vw, 1.8vw);
    }
  }

  .modal-body {
    p,
    input,
    button {
      font-size: clamp(2.2vw, 2vw, 1.8vw);
    }
  }
  .swal2-html-container {
    font-size: clamp(2.5vw, 2.3vw, 2.1vw);
  }

  .card-text {
    font-size: clamp(2vw, 1.8vw, 1.6vw);
  }

  .main-content {
    margin-left: 37vw;
    margin-top: 10vh;
    padding: 0.4rem;
    width: 82%;
  }

  #confirmationModal {
    .modal-title {
      font-size: clamp(3vw, 2.9vw, 2.8vw);
    }
    .modal-text {
      font-size: clamp(2.2vw, 2vw, 1.8vw);
    }
    button {
      width: 9vw !important;
      font-size: clamp(2.2vw, 2vw, 1.8vw);
      margin-top: 1vw;
    }
  }

  .card-body {
    .button-container {
      display: flex;
      justify-content: space-around;
      margin-top: 3.5vw;
    }
    button {
      width: 60%;
    }
  }

  .swal2-title {
    font-size: clamp(3.3vw, 3vw, 2.8vw);
  }
  #confirmationBtn {
    font-size: clamp(1.7vw, 1.5vw, 1.3vw);
  }
}

/* Phone size */
@media screen and (max-width: 600px) {
  .main-content {
    margin-left: 17vw;
    width: 85%;
    margin-top: 10vh;
    padding: 0.3rem;
  }

  .card-title {
    font-size: clamp(5.1vw, 5vw, 4.8vw);
  }

  #confirmationBtn {
    font-size: clamp(2.6vw, 2.4vw, 2.2vw);
  }

  #toggle-btn {
    font-size: clamp(4.5vw, 4.2vw, 4vw);
  }

  .card-text {
    font-size: clamp(2.8vw, 2.7vw, 2.6vw);
  }

  .sidebar-icon {
    font-size: clamp(4.5vw, 4.2vw, 4vw);
    margin-right: 0 !important;
  }

  label {
    font-size: clamp(2.2vw, 2vw, 1.8vw);
  }

  .current {
    font-size: 2.5vw;
  }

  .sidebar-text {
    font-size: clamp(2.9vw, 2.7vw, 2.5vw);
    margin-left: 2vw;
  }

  #confirmationModal {
    & .button-container {
      justify-content: space-between;
      button {
        width: 40%;
      }
    }
  }

  .swal2-html-container {
    font-size: clamp(3.7vw, 3.5vw, 3.3vw);
  }

  .button-container {
    display: flex;
    justify-content: space-around;
  }

  .sidebar-header h5,
  .card-header {
    margin-top: 2vw;
    font-size: clamp(3.7vw, 3.5vw, 3.2vw);
  }

  .edit,
  .swal2-confirm {
    font-size: clamp(2.9vw, 2.7vw, 2.5vw);
  }

  .swal2-title {
    font-size: clamp(3.8vw, 3.6vw, 3.4vw);
  }
}

@media screen and (max-width: 400px) {
  .card {
    padding: 0;
  }
  .card-header {
    margin-top: 1vw;
    font-size: clamp(4vw, 3.8vw, 3.6vw);
  }
  .card-text {
    font-size: clamp(2.5vw, 2.3vw, 2.1vw);
  }
}
