@font-face {
  font-family: "Poppins";
  src: url(../../Fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
  font-family: "Poppins Black";
  src: url(../../Fonts/Poppins/Poppins-Black.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

.main-content {
  /* border: 1px solid red; */
  margin-left: 290px;
  margin-top: 5rem;
  padding: 1rem;
  overflow-y: auto;
  width: 75%;
}

.card {
  display: flex;
  font-family: "Poppins";
  border-radius: 2rem;
  border: none;
  padding: 1rem;
}

.card-header {
  font-family: "Poppins Black";
  font-size: 25px;
  background-color: transparent;
  border: none;
  text-transform: capitalize;
}

.card-text {
  width: 95%;
  margin: auto;
  text-indent: 3rem;
  text-align: justify;
  line-height: 2;
  font-size: 16px;
}

.form-container {
  margin-top: 3rem;
  /* border: 1px solid rgb(0, 0, 0); */
}

.form-container .message-container {
  text-align: center;
  width: 80%;
  margin: auto;
}

.input-box {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: auto;
  align-items: center;
  margin-bottom: 1.5rem;
}

.input-box label {
  /* border: 1px solid rgb(207, 25, 198); */
  width: 20%;
  font-size: 16px;
}

#changeEmailBtn,
#changePasswordBtn {
  font-size: 14px;
}

.input-box input {
  border: 1px solid rgb(92, 82, 82);
  border-radius: 0.5rem;
  width: 55%;
  color: black !important;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  font-size: 16px;
}

/* Modal CSS */

.modal-content {
  font-family: "Poppins";
  padding: 1rem;
}

.modal-header {
  border: none;
  border-bottom: 2px solid #dadad6;
}

.modal-header .btn {
  width: 40px;
  height: 40px;
  border-radius: 3rem;
}

.closeButtonContainer {
  /* border: 1px solid red; */
  position: absolute;
  right: 2%;
  top: 13%;
}

.modal-title {
  text-align: center;
  font-size: 16px;
  margin-left: 5rem;
}

.modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal-body #togglePassword {
  position: absolute;
  right: 20%;
  top: 45%;
  transform: translateY(-40%);
  font-size: 18px;
}

.modal-body .button-container {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  justify-content: space-around !important;
  width: 60% !important;
}

.modal-body .btn {
  width: 100px;
}

.modal-body input {
  width: 70%;
  height: 2.5rem;
  border-radius: 0.5rem;
  border: 1px solid rgb(92, 82, 82);
  padding-left: 1rem;
}

input[type="password"]::-ms-reveal,
input[type="password"]::-webkit-contacts-auto-fill-button,
input[type="password"]::-webkit-search-cancel-button {
  display: none;
}

#passwordModal {
  color: black;
  .modal-header {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-bottom: 0;
    border: none;
    .modal-title {
      font-family: "Poppins Black";
      font-size: 18px;
      margin-left: 0;
      margin-bottom: 0.5rem;
    }
    .modal-text {
      font-size: 14px;
      line-height: 2;
      text-align: center;
    }
  }

  .modal-body {
    display: flex;
    font-size: 18px;
    padding-top: 0.5rem;
    .input-container {
      /* border: 1px solid red; */
      width: 100%;
      margin: 0.5rem;
      input {
        border: 1px solid rgb(92, 82, 82);
        width: 100%;
        height: 50px !important;
        padding: 10px 40px 10px 10px;
        font-size: 16px;
        border: 2px solid #ccc;
        box-sizing: border-box;
      }
      label {
        font-size: 16px;
      }
    }
    .error {
      text-align: center;
      width: 80%;
      margin: auto;
    }
  }
  .message-container {
    font-size: 16px;
    margin: 0;
  }
}

.password {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.password i {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 20px;
  transition: right 0.3s ease;
}

.errorMsg {
  color: red;
  font-size: 15px;
  padding: 3px;
}

.swal-custom-title {
  font-family: "Poppins";
  font-size: 18px;
  font-weight: bold;
}

.swal-custom-text {
  font-family: "Poppins";
  font-size: 16px;
}

.swal2-actions {
  width: 100% !important;
  display: flex !important;
  justify-content: center !important;
}

.swal2-confirm {
  margin-right: 2vw !important;
}

/* Tablet portrait */
@media only screen and (min-width: 600px) and (max-width: 1025px) and (orientation: portrait) {
  .card-header {
    margin-top: 2vw;
    font-size: clamp(3.4vw, 3.2vw, 2.9vw);
  }

  .profileImage {
    img {
      height: clamp(10vw, 11vw, 10vw);
    }
    margin: 1vw auto;
  }

  .main-content {
    margin-left: 34vw;
  }

  .card {
    padding: 0;
  }

  .profile-image {
    width: 30%;
  }

  .profile-pic {
    height: 11vw;
  }

  #changeEmailBtn,
  #changePasswordBtn {
    font-size: clamp(1.8vw, 1.6vw, 1.4vw);
    margin: 1.5vw auto 1vw auto;
  }

  .profile-info {
    width: 70%;
  }

  .swal2-html-container {
    font-size: clamp(2.5vw, 2.3vw, 2.1vw);
  }

  .card-text {
    font-size: clamp(1.8vw, 1.6vw, 1.4vw);
  }

  .input-box {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 90%;
    height: auto;
    gap: 10px;
  }

  .info input:focus + label,
  .info input:not(:placeholder-shown) + label {
    font-size: clamp(1.9vw, 1.7vw, 1.5vw);
  }

  .input-box label {
    width: 25%;
    font-size: clamp(2.2vw, 2vw, 1.9vw);
    text-align: center;
  }

  .input-box input {
    font-size: clamp(2.2vw, 2vw, 1.9vw);
    width: 75%;
  }

  .edit,
  .swal2-confirm,
  #saveBtn,
  #cancelBtn {
    font-size: clamp(1.8vw, 1.6vw, 1.4vw);
  }

  .swal2-title {
    font-size: clamp(3.3vw, 3vw, 2.8vw);
  }
}

/* Tablet landscape */
@media only screen and (min-width: 600px) and (max-width: 1025px) and (orientation: landscape) {
  .profile-image {
    width: 30%;
  }

  .card-header {
    margin-top: 2vw;
    font-size: clamp(3.4vw, 3.2vw, 2.9vw);
  }

  .main-content {
    margin-left: 36vw;
  }

  .card {
    padding: 0;
  }

  .profile-image {
    width: 30%;
  }

  .profile-pic {
    height: 11vw;
  }

  #changeEmailBtn,
  #changePasswordBtn {
    font-size: clamp(1.8vw, 1.6vw, 1.4vw);
    margin: 2px auto 1vw 1vw;
  }

  .profile-info {
    width: 70%;
  }

  .swal2-html-container {
    font-size: clamp(2.5vw, 2.3vw, 2.1vw);
  }

  .card-text {
    font-size: clamp(1.8vw, 1.6vw, 1.4vw);
  }

  .input-box {
    width: 90%;
    flex-wrap: nowrap;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
  }

  .info input:focus + label,
  .info input:not(:placeholder-shown) + label {
    font-size: clamp(1.9vw, 1.7vw, 1.5vw);
  }

  .input-box label {
    width: 25%;
    text-align: center;
  }

  .input-box input {
    font-size: clamp(2.2vw, 2vw, 1.9vw);
    width: 75%;
  }

  .edit,
  .swal2-confirm,
  #saveBtn,
  #cancelBtn {
    font-size: clamp(1.8vw, 1.6vw, 1.4vw);
  }

  .swal2-title {
    font-size: clamp(3.3vw, 3vw, 2.8vw);
  }
}

/* Phone size */
@media screen and (max-width: 600px) {
  .main-content {
    margin-left: 16vw;
    width: 85%;
    margin-top: 3rem;
  }

  .card-body {
    padding: 0;
  }

  .card-text {
    font-size: clamp(2vw, 1.8vw, 1.6vw);
  }

  .profile-image {
    width: 35%;
  }
  .profileImage img {
    height: 9vw;
  }

  .profile-pic {
    height: 18vw;
  }

  #changeEmailBtn,
  #changePasswordBtn {
    font-size: clamp(2.6vw, 2.4vw, 2.2vw);
    margin-left: 2vw;
  }

  .profile-info {
    width: 65%;
  }

  .swal2-html-container {
    font-size: clamp(3.7vw, 3.5vw, 3.3vw);
  }

  .sidebar-header h5,
  .card-header {
    margin-top: 2vw;
    font-size: clamp(3.7vw, 3.5vw, 3.2vw);
  }

  .input-box {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: nowrap;
    height: auto;
    gap: 10px;
  }

  .input-box label {
    font-size: clamp(2.3vw, 2.1vw, 1.9vw);
    width: 18%;
  }

  .input-box input {
    width: 50%;
    font-size: clamp(2.3vw, 2.1vw, 1.9vw);
  }

  .edit,
  .swal2-confirm {
    font-size: clamp(2.9vw, 2.7vw, 2.5vw);
  }

  .swal2-title {
    font-size: clamp(3.8vw, 3.6vw, 3.4vw);
  }
}

@media screen and (max-width: 400px) {
  .card {
    padding: 0;
  }
  .card-header {
    margin-top: 1vw;
    font-size: clamp(4vw, 3.8vw, 3.6vw);
  }
  .card-text {
    font-size: clamp(2.5vw, 2.3vw, 2.1vw);
  }

  .input-box label,
  .input-box input {
    width: 80%;
  }

  .form-container {
    margin-top: 1.5rem;
  }

  .input-box label {
    text-align: center;
    font-size: clamp(3vw, 2.8vw, 2.6vw);
  }

  .input-box input {
    font-size: clamp(3vw, 2.8vw, 2.6vw);
    margin: 3vw auto;
  }

  #changeEmailBtn,
  #changePasswordBtn {
    font-size: clamp(3vw, 2.8vw, 2.6vw);
    margin-left: 0;
  }
}
