@font-face {
  font-family: "Poppins";
  src: url(../../Fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
  font-family: "Lora";
  src: url(../../Fonts/Lora/Lora-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Poppins Black";
  src: url(../../Fonts/Poppins/Poppins-Black.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

body {
  background-color: #e3e3e3;
}

.container {
  margin: 2rem auto;
  /* border: 1px solid red; */
}
.statusContainer {
  width: 100%;
  display: flex;
  margin: 1rem;
  justify-content: space-around;
}

.leftStatusContainer {
  width: 30%;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.btn {
  font-size: 0.8rem !important;
}

.statusTitle,
.rightContainerTitle {
  font-weight: bolder;
}

.rightStatusContainer {
  padding: 0.5rem;
  width: 50%;
}

.rightStatusContainer .header {
  font-family: "Poppins";
  font-size: 16px !important;
}

.rightStatusContainer .content {
  text-indent: 0.5rem;
}

.rightStatusContainer .content,
.cardHeader {
  font-family: "Poppins";
  font-size: 14px !important;
  font-weight: bold;
}

.rightStatusContainer .firstRow {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  padding: 0.5rem;
}

.rightStatusContainer .card {
  /* border: 1px solid red; */
  margin: auto;
  width: 35rem !important;
}

.list-group-item {
  /* border: 1px solid red !important; */
  display: flex !important;
  align-items: center !important;
  /* padding: 0.5rem 0.5rem; */
  background-color: #f5f5f5;
  gap: 0.5rem;
  height: 3rem !important;
}
.list-group-item p {
  margin-top: 1rem;
}
.cardContent,
#venue {
  font-family: "Poppins";
  font-size: 14px;
  margin-left: auto;
  width: 220px;
}

.venues {
  width: 100%;
}

.cardContentBill {
  font-size: 14px;
}

/* .infoIcon {
  height: 1.3vw;
  aspect-ratio: 1;
} */

#totalAmountSection,
#promoSection,
#totalBillSection {
  display: flex;
  justify-content: end !important;
  /* gap: 1.5vw; */
}

#downPaymentAmount,
#totalBill {
  color: #09b800;
}

.downpayment {
  display: flex;
  justify-content: center;
  gap: 5vw;
  margin-top: 1.5vw;
}

.note {
  width: 90%;
  position: relative;
  margin: 0 auto;
  margin-top: 1.5vw !important;
  color: #d70b0b;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#modeofPaymentModalBody {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1vw;
}

.form-group {
  margin-top: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 6vw;
}

#gcashPaymentModal {
  font-family: "Poppins";
  font-size: 14px;
}

#gcashPaymentModal .modal-title,
.modal-title {
  font-size: 18px;
}

#gcashModalBody {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

#gcashModalBody img {
  width: 20vw;
  height: auto;
  margin-top: 1vw;
}

.time-container {
  display: flex;
  justify-content: space-between;
  text-align: center;
  gap: 4rem;
}

.iModalBtn {
  border: none;
  margin-left: 0.2rem;
  background-color: transparent;
}

.infoIcon {
  width: 20px;
  aspect-ratio: 1;
}

/* #foodListModal {
  display: none;
  position: absolute;
  top: 13.5%;
  left: 75%;
  margin-left: 10px;
  width: 300px;
} */

/* .modal-body {
  padding: 15px;
  overflow-y: auto;
  flex-grow: 1;
  max-height: 60vh;
} */

/* #service-info-button {
  background-color: transparent !important;
  border: none !important;
} */

.cardContent i {
  font-size: 1rem;
  font-weight: 900;
}

#payment-amount {
  position: relative;
}

.custom-tooltip {
  position: absolute;
  color: #ff0000;
  background-color: rgb(222, 222, 227);
  padding: 3px 2px;
  border-radius: 4px;
  font-size: 12px;
  white-space: nowrap;
  bottom: -1rem;
  left: 16rem;
  z-index: 10;
  display: none;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  z-index: 1000;
}

input:read-only {
  background-color: rgb(204, 204, 204);
  cursor: default;
}

input:read-only:hover {
  background-color: rgb(204, 204, 204);
}

.custom-tooltip.show {
  display: block;
  opacity: 1;
}

.upload-photo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.downpaymentPic {
  width: 50vw;
}

@media only screen and (min-width: 769px) and (max-width: 1024px) and (orientation: portrait) {
  .container {
    width: 100% !important;
  }

  .statusContainer {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin: unset !important;
  }

  .rightContainerTitle {
    text-align: center;
  }

  .leftStatusContainer,
  .rightStatusContainer {
    width: 100%;
  }

  .rightStatusContainer .firstRow {
    margin-top: 1rem;
  }

  h6,
  p {
    text-align: center;
  }

  .rightStatusContainer .card {
    margin: auto;
    width: 100% !important;
  }

  .cardContent,
  .cardHeader,
  #venue {
    width: 100%;
  }

  .cardContent,
  .cardContentBill {
    margin-top: -1rem !important;
    width: 100%;
  }

  p {
    margin-bottom: unset !important;
  }
  .foodModalBtn {
    border: none;
    background-color: transparent;
    margin-left: 0.2rem;
  }

  .infoIcon {
    width: 15px;
    aspect-ratio: 1;
  }

  #foodListModal {
    display: none;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-left: 10px;
  }

  .modal-body {
    padding: 15px;
    overflow-y: auto;
    flex-grow: 1;
    max-height: 60vh;
  }
}

/* Tablet Landscape */
@media only screen and (min-width: 769px) and (max-width: 1024px) and (orientation: landscape) {
  .container {
    width: 100% !important;
  }

  .leftStatusContainer {
    width: 100%;
  }

  .statusContainer {
    justify-content: center;
    align-items: center;
  }
  p {
    margin-bottom: unset !important;
  }
  .foodModalBtn {
    border: none;
    background-color: transparent;
    margin-left: 0.2rem;
  }

  .infoIcon {
    width: 15px;
    aspect-ratio: 1;
  }

  #foodListModal {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-left: 10px;
  }

  .modal-body {
    padding: 15px;
    overflow-y: auto;
    flex-grow: 1;
    max-height: 90vh;
  }

  .downpaymentPic {
    width: 200px !important;
    height: auto !important;
  }
}

/* Tablet portrait only */
@media only screen and (min-width: 600px) and (max-width: 768px) {
  .container {
    width: 100% !important;
  }

  .statusContainer {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin: unset !important;
  }

  .rightContainerTitle {
    text-align: center;
  }

  .leftStatusContainer,
  .rightStatusContainer {
    width: 100%;
  }

  .rightStatusContainer .firstRow {
    margin-top: 1rem;
  }

  h6,
  p {
    text-align: center;
  }

  .rightStatusContainer .card {
    margin: auto;
    width: 100% !important;
  }

  .cardContent,
  .cardHeader,
  #venue {
    width: 100%;
  }

  .cardContent,
  .cardContentBill {
    margin-top: -1rem !important;
    width: 100%;
  }

  p {
    margin-bottom: unset !important;
  }

  .foodModalBtn {
    border: none;
    background-color: transparent;
    margin-left: 0.2rem;
  }

  .infoIcon {
    width: 15px;
    aspect-ratio: 1;
  }

  #foodListModal {
    display: none;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-left: 10px;
  }

  .modal-body {
    padding: 15px;
    overflow-y: auto;
    flex-grow: 1;
    max-height: 60vh;
  }

  .time-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 1rem;
  }

  .downpaymentPic {
    width: 200px !important;
    height: auto !important;
  }
}

/* Phone size */
@media screen and (max-width: 599px) {
  .container {
    width: 100% !important;
  }

  .statusContainer {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin: unset !important;
  }

  .rightContainerTitle {
    text-align: center;
  }

  .leftStatusContainer,
  .rightStatusContainer {
    width: 100%;
  }

  .rightStatusContainer .firstRow {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem;
  }

  h6,
  p {
    text-align: center;
  }

  .rightStatusContainer .card {
    margin: auto;
    width: 100% !important;
  }

  .cardContent,
  .cardHeader,
  #venue {
    width: 100%;
  }

  .cardContent,
  .cardContentBill {
    margin-top: -1rem !important;
  }

  .list-group-item {
    flex-direction: column;
    align-items: center !important;
    text-align: center;
    height: 3.3rem !important;
  }

  .foodModalBtn {
    border: none;
    background-color: transparent;
    margin-left: 0.2rem;
  }

  .infoIcon {
    width: 15px;
    aspect-ratio: 1;
  }

  #foodListModal {
    display: none;
    position: absolute;
    top: 87%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-left: 10px;
  }

  .modal-body {
    padding: 15px;
    overflow-y: auto;
    flex-grow: 1;
    max-height: 100vh;
  }

  .time-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 1rem;
  }

  .upload-photo-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .downpaymentPic {
    width: 200px !important;
    height: auto !important;
  }

  .fw-bold {
    display: block !important;
    margin: auto !important;
    text-align: center;
  }
}
